/* Set Foundation base font to theme font
   (without this Foundation overrides body */
$body-font-family: $font-family;
$body-font-weight: $font-weight-medium;

/* Base styles */
@import 'base/zindex';
@import 'base/helper-mixins';
@import 'base/base';
@import 'base/form';
@import 'base/helper-classes';
@import 'base/elements';
@import '~zurb-foundation-5/scss/foundation/components/grid';
@import 'base/helper-classes-after-foundations';
@import 'base/spacing';

// Some of these files override sass variables Foundation uses,
// so they must be loaded before the relevant foundation modules
@import '../app/component/stop-cards';
@import '../app/component/alert-banner';
@import '../app/component/map/map';
@import '../app/component/map/popups/marker-popup';
@import '../app/component/front-page';
@import '../app/component/navigation';
@import '../app/component/bike-park-rental-station';
@import '../app/component/rental-vehicle-content';
@import '../app/component/routepage/route';
@import '../app/component/checkbox';
@import '../app/component/toggle';
@import '../app/component/stops-near-you';
@import '../app/component/disruption';
@import '../app/component/departure';
@import '../app/component/stop';
@import '../app/component/util';
@import '../app/component/city-bike';
@import '../app/component/favourite-icon-table';
@import '../app/component/nolocation-panel';
@import '../app/component/timetable';
@import '../app/component/visual/index';
@import '../app/component/bubble-dialog';
@import '../app/component/select-maplayers-dialog';
@import '~zurb-foundation-5/scss/foundation/components/forms';
@import '../app/component/zone-icon';
@import '../app/component/date-select';
@import '../app/component/routepage/route-schedule-dropdown';
@import '../app/component/embedded-search';
@import '../app/component/embedded-search-generator';
@import '../app/component/from-map-modal';
@import '../app/component/app-bar-hsl';
@import '../app/component/itinerary/itinerary';
@import '../app/component/itinerary/customize-search';
@import '../app/component/itinerary/search-settings-dropdown';
@import '../app/component/itinerary/itinerary-summary';
@import '../app/component/itinerary/itinerary-page';
@import '../app/component/itinerary/origin-destination-bar';
@import '../app/component/itinerary/alt-travel-bar';
@import '../app/component/itinerary/itinerary-profile';
@import '../app/component/itinerary/street-mode-selector';
@import '../app/component/itinerary/street-mode-selector-button';
@import '../app/component/itinerary/street-mode-selector-shimmer';
@import '../app/component/itinerary/itinerary-list-header';
@import '../app/component/itinerary/weather-details';
@import '../app/component/itinerary/settings-panel';
@import '../app/component/itinerary/mobile-ticket-purchase-information';
@import 'base/button';
@import '../app/component/itinerary/navigator';
@import '../app/component/itinerary/NavigatorIntro/navigator-intro';

/* Modal */
@import '~foundation-apps/scss/helpers/breakpoints';
@import '~foundation-apps/scss/components/modal';

// And these application specific styles use Foundation variables,
// so they have to be loaded afterwards
