/* Set Foundation base font to theme font
   (without this Foundation overrides body */
$body-font-family: $font-family;
$body-font-weight: $font-weight-medium;

/* Base styles */
@import 'base/helper-mixins';
@import 'base/base';
@import 'base/form';
@import 'base/helper-classes';
@import 'base/elements';

@import '../node_modules/zurb-foundation-5/scss/foundation/components/grid';
@import 'base/helper-classes-after-foundations';

// Some of these files override sass variables Foundation uses,
// so they must be loaded before the relevant foundation modules
@import '../app/component/stop-cards/stop-cards';
@import '../app/component/map/map';
@import '../app/component/map/popups/terminal-marker-popup';
@import '../app/component/front-page/front-page-panel';
@import '../app/component/navigation/navigation';
@import '../app/component/itinerary/itinerary';
@import '../app/component/itinerary-feedback/itinerary-feedback';
@import '../app/component/route/route';
@import '../app/component/trip/trip';
@import '../app/component/summary/customize-search';
@import '../app/component/summary/no-route-popup';
@import '../app/component/summary/summary-row';
@import '../app/component/summary/summary';
@import '../app/component/summary/time-navigation-buttons';
@import '../app/component/summary/origin-destination-bar';
@import '../app/component/disruption/disruption';
@import '../app/component/departure/departure';
@import '../app/component/stop/stop';
@import '../app/component/util/util';
@import '../app/component/util/not-implemented';
@import '../app/component/city-bike/city-bike';
@import '../app/component/map/non-tile-layer/terminal-marker';
@import '../app/component/feedback/feedback-panel';
@import '../app/component/feedback/score-table';
@import '../app/component/util/table/generic-table';
@import '../app/component/util/DesktopWrapper';
@import '../app/component/favourites/favourite-icon-table';
@import '../app/component/splash/splash';

@import '../node_modules/zurb-foundation-5/scss/foundation/components/forms';
@import '../node_modules/zurb-foundation-5/scss/foundation/components/top-bar';

/* Modal */
@import '../node_modules/foundation-apps/scss/helpers/breakpoints';
@import '../node_modules/foundation-apps/scss/components/modal';

// And these application specific styles use Foundation variables,
// so they have to be loaded afterwards
@import '../app/component/search/search';
@import '../app/component/favourites/add-favourite-container';
@import '../app/component/favourites/favourite-location';
