/* Set Foundation base font to theme font
   (without this Foundation overrides body */
$body-font-family: $font-family;
$body-font-weight: $font-weight-medium;

/* Base styles */
@import 'base/helper-mixins';
@import 'base/base';
@import 'base/form';
@import 'base/helper-classes';
@import 'base/elements';

@import '../node_modules/zurb-foundation-5/scss/foundation/components/grid';
@import 'base/helper-classes-after-foundations';

// Some of these files override sass variables Foundation uses,
// so they must be loaded before the relevant foundation modules
@import '../app/component/stop-cards';
@import '../app/component/map/map';
@import '../app/component/map/popups/marker-popup';
@import '../app/component/map/non-tile-layer/terminal-marker';
@import '../app/component/front-page';
@import '../app/component/navigation';
@import '../app/component/itinerary';
@import '../app/component/itinerary-feedback';
@import '../app/component/route';
@import '../app/component/trip';
@import '../app/component/customize-search';
@import '../app/component/no-favourites-panel';
@import '../app/component/no-route-popup';
@import '../app/component/summary-row';
@import '../app/component/summary';
@import '../app/component/time-navigation-buttons';
@import '../app/component/origin-destination-bar';
@import '../app/component/disruption';
@import '../app/component/departure';
@import '../app/component/stop'; 
@import '../app/component/util';
@import '../app/component/not-implemented';
@import '../app/component/city-bike';
@import '../app/component/feedback-panel';
@import '../app/component/score-table';
@import '../app/component/generic-table';
@import '../app/component/favourite-icon-table';
@import '../app/component/splash';
@import '../app/component/documentation';

@import '../node_modules/zurb-foundation-5/scss/foundation/components/forms';

/* Modal */
@import '../node_modules/foundation-apps/scss/helpers/breakpoints';
@import '../node_modules/foundation-apps/scss/components/modal';

// And these application specific styles use Foundation variables,
// so they have to be loaded afterwards
@import '../app/component/search';
@import '../app/component/add-favourite-container';
@import '../app/component/favourite-location';
