$small-map-height: 10rem;
$stop-thin-opacity: 0.2;

div.map {
  max-height: 100%;
  position: relative;
  .leaflet-container .leaflet-control-attribution {
    //background: rgba(255, 255, 255, 0.4);
    //color: $dark-gray;
    //margin: 0px 10px 20px 0px;
    width: 107px;
    height: 22px;
    opacity: 0.7;
    border-radius: 11px;
    background-color: #ffffff;
    margin: 0px 10px 10px 10px;
    position: relative;
    top: -5px;
    left: 10px;
  }
  .leaflet-container .leaflet-popup-close-button {
    width: 32px;
    height: 32px;
  }
  .leaflet-container .leaflet-control-attribution a {
    width: 94px;
    height: 11px;
    font-family: $font-family;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.7px;
    text-align: right;
    color: #666666;
    vertical-align: -3px;
  }
}

.below-map {
  overflow: auto;
}

.summary-map {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  position: relative;

  .summary-map-buttons {
    bottom: 36px;
    display: flex;
    left: 20px;
    max-height: 36px;
    position: absolute;
    z-index: index($zindex, map-buttons);

    & [role='button'] {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
      max-height: 36px;
      max-width: 36px;
    }
  }
}
.mobile {
  .map.full {
    z-index: 1;
  }
  .location-popup-wrapper {
    .zone-icon-container {
      margin-top: 10px;
    }
  }
}
div.map.small {
  min-height: $small-map-height;
}
div.map.full {
  position: relative;
  min-height: $small-map-height;
  max-height: 100%;
  flex-grow: 1;
  flex-basis: 0;
}

div.below-map {
  height: calc(100% - #{$small-map-height});
}

div.leaflet-bottom.leaflet-right div.leaflet-control-zoom {
  width: 36px;
  height: 73px;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  margin-right: 30px;
  margin-bottom: 30px;
  .icon {
    font-size: 18px;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 36px;
    height: 36px;
    line-height: 18px;
    font-size: 18px;
    color: $primary-color;
  }
}

.map .leaflet-bottom {
  z-index: $leaflet-overlay;
  bottom: 0.5em;

  @media print {
    display: none;
  }
}

div.leaflet-container {
  position: absolute;
  flex: 1;
  width: 100%;
  height: 100%;
  background: none;
  z-index: index($zindex, map-container);
  @include font-map-container;

}

div.current-location-marker > span > svg.icon {
  font-size: 40px;
  color: $current-location-color;
}

.tripMap div.leaflet-marker-icon.place,
.summary-map div.leaflet-marker-icon.place {
  display: none;
}

div.leaflet-marker-icon.from,
div.leaflet-marker-icon.place,
div.leaflet-marker-icon.to,
div.leaflet-marker-icon.via {
  > span {
    > svg.icon {
      height: auto;
      width: auto;
    }
  }
}

div.leaflet-marker-icon.via {
  color: $black;
}

div.leaflet-marker-icon.vehicle-icon {
  border: none;
  background: none;
  > span > svg.icon {
    width: 1.5em;
    height: 1.5em;
    top: -0.25em;
  }
}

div.leaflet-marker-icon.vehicle-icon.small-map-icon {
  > span > svg.icon {
    stroke-width: 40px;
    stroke: white;
    width: 0.78em;
    height: 0.78em;
    top: -0.2em;
    left: -0.2em;
  }
}

.bp-large .map-with-tracking-buttons {
  bottom: 32px;
}

.map-with-tracking-buttons {
  bottom: 18px;
  display: flex;
  left: 1em;
  max-height: 36px;
  max-width: calc(100% - 2em);
  position: absolute;

  [role='button'] {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    max-height: 36px;
    max-width: 36px;
  }

  & > * {
    z-index: index($zindex, map-buttons);
  }

  & > *:not(:first-child) {
    margin-left: 0.5em;
  }
  // DT-3470
  &.roomForZoomControl {
    margin-left: 48px;
  }
}

.toggle-positioning-container {
  background-color: $white;
  padding: 6px;
  border-radius: $border-radius;
  line-height: 0.5;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.icon-mapMarker-toggle-positioning-online {
  color: $hilight-color;
  font-size: 24px;
}

.icon-mapMarker-toggle-positioning-offline {
  color: $gray-blue;
  font-size: 24px;
}

.vehicle-popup {
  left: -19px !important;

  .route-header {
    height: auto;
    border: none;

    h1 {
      display: flex;
      padding: 0.5em;
    }
  }

  .leaflet-popup-content-wrapper {
    border-radius: $border-radius;
    padding: 0;
    margin-bottom: 5px;
  }
  .leaflet-popup-content {
    margin: 0;
    width: 18rem !important;
    &.leaflet-popup-scrolled {
      overflow: inherit;
    }
    .card-sub-header {
      display: flex;
    }
  }
  .card {
    border: none;
    > a {
      display: block;
    }
    hr {
      height: 1px;
      color: #ddd;
      background: #ddd;
      font-size: 0;
      border: 0;
    }

    .card-row .no-margin:last-child hr {
      display: none;
    }
  }
  .card-header {
    border-radius: $border-radius;
  }

  .bottom {
    @include font-medium;
    font-size: $font-size-small;
    line-height: $line-height-normal;
    color: $link-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: $background-color;
    border-top: solid 1px #ddd;

    div,
    a {
      display: block;
      padding: 0.5em 12px;
      flex-grow: 1;
      text-align: center;
      text-decoration: none;

      &:first-child {
        border-right: 1px solid $light-gray;
      }
    }
  }

  .leaflet-popup-tip-container {
    margin: -5px 0px;
    left: 0px;
    .leaflet-popup-tip {
      background: $background-color;
    }
  }
}

.location-popup-wrapper {
  display: flex;
  .zone-icon-container {
    margin-top: 25px;
  }
}

.popup {
  left: -21px !important;
  .route-header {
    height: auto;
    border: none;
  }

  .leaflet-popup-content-wrapper {
    border-radius: $border-radius;
    padding: 0;
    margin-bottom: 5px;
  }
  .leaflet-popup-content {
    margin: 0;
    width: 20rem !important;
    &.leaflet-popup-scrolled {
      overflow: inherit;
      height: auto !important;
    }
  }
  .card {
    border: none;
    > a {
      display: block;
    }
    hr {
      height: 1px;
      color: #ddd;
      background: #ddd;
      font-size: 0;
      border: 0;
    }

    .card-row .no-margin:last-child hr {
      display: none;
    }
  }
  .card-header {
    border-radius: $border-radius;
  }

  .bottom {
    @include font-medium;
    font-size: $font-size-xsmall;
    line-height: $line-height-normal;
    color: $link-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: $white;
    border-top: solid 1px #ddd;

    div,
    a {
      display: block;
      padding: 1em;
      flex-grow: 1;
      text-align: center;
      text-decoration: none;
      border-left: 1px solid $light-gray;

      &:first-child {
        border-right: none;
      }
    }
  }

  .leaflet-popup-tip-container {
    margin: -5px 0px;
    left: 0px;
    .leaflet-popup-tip {
      background: $background-color;
    }
  }
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 14px rgba(0, 0, 0, 0.4);
}

div.origin-popup {
  font-size: $font-size-xxsmall;
  cursor: pointer;
  width: 15em;
  left: -21px !important;

  .origin-popup-header {
    @include font-bold;
    text-transform: uppercase;
    color: $link-color;

    .icon {
      margin: 0 0 -2px 8px;
      font-size: $font-size-small;
    }
  }

  .leaflet-popup-content-wrapper {
    border-radius: $border-radius;
    padding: 0;
    overflow: hidden;

    .leaflet-popup-content {
      margin: 8px;
      svg.right-arrow {
        height: 9px;
      }
    }
  }

  .origin-popup-name {
    @include font-book;
    height: 1.3em;
    width: 200px;
    text-transform: none;
    color: $black;
    font-size: $font-size-small;
    overflow: hidden;
  }

  .shade-to-white {
    background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0));
    width: 2em;
    height: 1.5em;
    position: absolute;
    right: 0;
    top: 2em;
  }

  .leaflet-popup-tip-container {
    position: relative;
    left: 0px;
    margin: 0px 0px;
  }
}

.route-header {
  .route-header-trip {
    top: 0.7em;
    height: 1.5em;
    margin-top: 0.2em;
    margin-left: 0.5em;
    font-size: 70%;
    padding: 0.1em 0.4em;
    border: solid 1px $light-gray;
    border-radius: $border-radius;
    color: $gray;
  }
}

.map .stop-halo {
  fill: #fff;
  fill-opacity: 1;
}

.map .stop {
  stroke: currentColor;
  stroke-opacity: 1;
  fill: #fff;
  fill-opacity: 1;
}

.map .icon.stop-marker {
  width: auto;
  height: auto;
}

.leaflet-marker-icon.call {
  width: auto;
  height: auto;
  margin-right: 0.75em;
  font-size: 1.5em;
}

/* BEWARE! This is an ugly hack.
 * It so happens that firefox will not allow SVG clicks to bubble to DOM if pointer-events: none is not set.
 * If we set pointer-events: none for all browsers, then we lose "pointer cursor" for all browsers.
 * This css selector targets only firefox: https://css-tricks.com/snippets/css/css-hacks-targeting-firefox/
 */
@-moz-document url-prefix() {
  .map .stop {
    pointer-events: none;
  }

  .map .stop-halo {
    pointer-events: none;
  }
}

.map .thin .stop,
.map .thin .stop-small {
  stroke-opacity: $stop-thin-opacity;
  fill-opacity: $stop-thin-opacity;
}

.map .stop-small {
  stroke: #fff;
  stroke-opacity: 1;
  fill: currentColor;
  fill-opacity: 1;
}

.map .icon.mode-icon {
  height: 100%;
  width: 100%;
}

.map svg use {
  pointer-events: none;
}

.map .thin .stop-small {
  stroke-opacity: $stop-thin-opacity;
  fill-opacity: $stop-thin-opacity;
}

.map .legmarker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > div {
    @include font-narrow-medium;
    background-color: $white;
    border-width: 2px;
    border-style: solid;
    border-radius: $border-radius;
    padding: 0 2px;
    text-align: center;
    flex-shrink: 0; /* work around iOS bug with flex sizes */
    white-space: nowrap;
    margin-left: -50%;
    margin-right: 50%;
    margin-top: -9px;
  }
}

.map .leg-halo.call {
  stroke: gray;
  //    stroke-opacity: 0.8;
}
.map .leg-halo {
  stroke: #fff;
  stroke-opacity: 1;
  color: #ccc;
  &.walk,
  &.bicycle_walk,
  &.citybike_walk {
    stroke-linecap: round;
    stroke-dasharray: 0.1, 7;
  }
  &.bicycle,
  &.citybike {
    stroke-linecap: round;
    stroke-dasharray: 10, 5;
  }
}

.map .leg {
  stroke-opacity: 1;
  &.walk,
  &.bicycle_walk,
  &.citybike_walk {
    stroke-linecap: round;
    stroke-dasharray: 0.1, 7;
  }
  &.bicycle,
  &.citybike {
    stroke-linecap: round;
    stroke-dasharray: 10, 5;
  }
}

.map .thin {
  stroke-opacity: 0.5;
}

/* Fix to default leaflet behavior */
.leaflet-map-pane svg {
  position: relative;

  &.icon-badge {
    transform: translate(-0.5em, -2.5em);
    > .badge-circle {
      stroke-width: 2;
    }
  }
}

.leaflet-marker-icon > svg {
  position: absolute;
}

div.map-click-prevent-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 801;
}

div.leaflet-control-scale.leaflet-control {
  //front page
  margin-right: 10px;
  margin-bottom: 20px;
  cursor: grab;
}

.bp-large .leaflet-control-scale.leaflet-control {
  //front page desktop
  right: calc(100px + 28vw);
  bottom: 24px;
  cursor: grab;
}

.map.full .leaflet-control-scale.leaflet-control {
  //stop & ininerary page mobile
  margin-right: 60px;
  margin-bottom: 20px;
  cursor: grab;
}

.desktop .map.full .leaflet-control-scale.leaflet-control {
  //stop & ininerary page mobile
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: grab;
}

div.leaflet-control-scale-line {
  text-align: right;
  margin-bottom: -4px;
  cursor: grab;
  background: rgba(255, 255, 255, 0);
  border: none;
}

.leaflet-control-scale::after {
  content: '';
  display: block;
  border-bottom: 1px solid #888888;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
  height: 4px;
  background: none;
  cursor: grab;
}

.activeAreaLarge {
  position: absolute;
  top: 50px;
  bottom: 20px;
  left: 0px;
  right: 370px;
}

.activeAreaSmall {
  position: absolute;
  top: 95px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.smallspinner {
  div.spinner-loader {
    width: $spinner-size * 0.5;
    height: $spinner-size * 0.5;
  }
}

.leaflet-tooltip.geoJsonText {
  direction: 'center';
  box-shadow: none;
  border: none;
  background: transparent;
  cursor: none;
// interactive: false;
  font-size: 50px;
  color: $primary-color;
}

.leaflet-popup.geoJsonPopup {
  @include font-medium;
  .leaflet-popup-content-wrapper {
    border-radius: $border-radius;
  }
}
