@import '../../../node_modules/leaflet/dist/leaflet';

div.map {
  background-color: gray;
}

@media #{$small-up} { 
  div.map {
    height: 155px;
  }
  div.leaflet-container {
    height: 155px;
  }
}

@media #{$medium-up} { 
  div.map {
    height: 300px;
  }
  div.leaflet-container {
    height: 300px;
  }
}

@media #{$large-up} { 
  div.map {
    height: 500px;
  }
  div.leaflet-container {
    height: 500px;
  }
}

div.leaflet-container {
  position: absolute;
  width: 100%;
} 