$small-map-height: 120px;
$medium-map-height: 300px;
$large-map-height: 500px;
$stop-thin-opacity: 0.2;

div.map {
  position: relative;
}

.map.fullscreen, .map.fullscreen .leaflet-container {
  height: 100%;
}

div.map.summaryMap {
  height: calc(100% - 12em);
  min-height: 200px;
}

div.map.summaryMap div.leaflet-container {
  height: 100%;
  min-height: 200px;
}
.below-map  {
  overflow: auto;
}

@media #{$small-only} {
  div.map, div.map div.leaflet-container {
    height: $small-map-height;
  }
  div.background-gradient {
    height: $small-map-height;
  }
  div.map:not(.fullscreen) div.leaflet-container div.leaflet-control-container div div.leaflet-control-attribution {
    display: none;
  }
  div.below-map {
    height: calc(100% - #{$small-map-height});
  }
}

@media #{$medium-only} {
  div.map, div.map div.leaflet-container {
    height: $medium-map-height;
  }
  div.background-gradient {
    height: $medium-map-height * 0.5;
  }
  div.below-map {
    height: calc(100% - #{$medium-map-height});
  }
}

@media #{$large-up} {
  div.map, div.map div.leaflet-container {
    height: $large-map-height;
  }
  div.background-gradient {
    height: $large-map-height * 0.3;
  }
  div.below-map {
    height: calc(100% - #{$large-map-height});
  }
}

/* Hide top container for small screens.
 * When we are demoing application on a desktop browser in "narrow mobile width"
 * Leaflet top bar icons are always in a way of something.
 * Note that only checking if we are on mobile device using Leaflet.Browser.touch is not enough.
 */
@media #{$small-only} {
  div.leaflet-control-container div.leaflet-top {
    display: none;
  }
}

div.leaflet-container {
  position: absolute;
  width: 100%;
}

div.leaflet-container {
  background: rgb(230, 229, 217);
}

div.current-location-marker > span > svg.icon {
  font-size: 40px;
}

div.leaflet-marker-icon.place {
  > span {
    > svg.icon {
      width: 24px;
      height: 24px;
      fill: $viewpoint-marker-color;
    }
  }
}

div.leaflet-marker-icon.place.halo {
  > span {
    > svg.icon {
      width: 24px;
      height: 24px;
      fill: #fff;
      stroke: #fff;
      stroke-width: 50px;
    }
  }
}

.tripMap div.leaflet-marker-icon.place,
.summaryMap div.leaflet-marker-icon.place {
    display: none;
}

div.leaflet-marker-icon.from, div.leaflet-marker-icon.to {
  > span {
    &::before {
      color: white;
      position: absolute;
      left: 6.0pt;
      z-index: 1000;
    }

    > svg.icon {
      width: 24px;
      height: 24px;
      stroke: white;
      stroke-width: 60px;
    }
  }
}

div.leaflet-marker-icon.from > span::before {
  content: "A";
}

div.leaflet-marker-icon.to > span::before {
  content: "B";
}

div.leaflet-marker-icon.vehicle-icon {
  border: none;
  background: none;
  > span > svg.icon {
    width: 20px;
    height: 20px;
  }
}

.popup {
  .route-header {
    height:auto;
    border: none;
    & h1 {
      font-size: 12pt;
    }
    .route-header-name {
      display:none;
    }
    .route-header-direction {
      color: $dark-color;
      font-size: $font-size-small;
    }
  }

  .leaflet-popup-content-wrapper {
    border-radius: $border-radius;
    padding: 0;
  }
  .leaflet-popup-content {
    margin: 0;
  }
  .card {
    border: none;
  }
  .card-header {
    border-radius: $border-radius;
  }

  .bottom {
    font-family: $body-font-family;
    font-size: 13px;
    font-weight: $font-weight-normal;
    line-height: $line-height-normal;
    color: $gray;
    margin: 0px auto 0px;
    padding: 0.5em 1em;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: $background-color;
    text-align: center;
    columns: 2 auto;
    column-rule: 1px solid $light-gray;
    border-top: solid 1px #ddd;
    a {
      color: $gray;
      text-decoration: none;
    }
  }

  .leaflet-popup-tip-container {
    margin: -6px 0px;
    .leaflet-popup-tip  {
      border: 1px solid $gray;
      background: $background-color;
    }
  }
}
.route-header {
  .route-header-trip {
    position: absolute;
    top: 0.7em;
    margin-left: 1em;
    font-size: 70%;
    padding: 0.1em 0.4em;
    border: solid 1px $light-gray;
    border-radius: $border-radius;
    color: $gray;
  }
}

div.stop-name-marker {
  font-family: $font-family;
  font-size: 8.5pt;
  font-weight: $font-weight-bold;
  text-shadow: 0 0 0 $white, 1px 0 0 $white, 0 1px 0 $white, -1px 0 0 $white, 0 -1px 0 $white, 0 0 0.2em $white;
  text-transform: uppercase;
  color: $gray;
}

.map .stop-halo {
  stroke: #333;
  stroke-opacity: $stop-thin-opacity;
  fill: #fff;
  fill-opacity: 1;
}

.map .stop {
  stroke: currentColor;
  stroke-opacity: 1;
  fill: #fff;
  fill-opacity: 1;
}

.map .thin .stop, .map .thin .stop-small {
  stroke-opacity: $stop-thin-opacity;
  fill-opacity: $stop-thin-opacity;
}

.map .stop-small {
  stroke: #fff;
  stroke-opacity: 1;
  fill: currentColor;
  fill-opacity: 1;
}

.map svg use { pointer-events:none; }

.map .thin .stop-small {
  stroke-opacity: $stop-thin-opacity;
  fill-opacity: $stop-thin-opacity;
}

.map .leg-halo {
  stroke: #fff;
  stroke-opacity: 1;
  &.walk, &.bicycle_walk, &.citybike_walk {
    stroke-linecap: round;
    stroke-dasharray: 0.1, 7;
  }
  &.bicycle, &.citybike{
    stroke-linecap: round;
    stroke-dasharray: 10, 5;
  }
}

.map .leg {
  stroke-opacity: 1;
  &.walk, &.bicycle_walk, &.citybike_walk {
    stroke-linecap: round;
    stroke-dasharray: 0.1, 7;
  }
  &.bicycle, &.citybike{
    stroke-linecap: round;
    stroke-dasharray: 10, 5;
  }
}

.map .thin {
  stroke-opacity: 0.5;
}

/* Fix to default leaflet behavior */
.leaflet-map-pane svg.icon {
  position: relative;
}

div.background-gradient {
  width: 100%;
  position: absolute;
  top: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 801;
}

div.map-click-prevent-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 801;
}

div.map {
  background-size:100%;
  background-image: url('data:image/jpg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAAwAAD/4QMxaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLwA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA1LjYtYzAxNCA3OS4xNTY3OTcsIDIwMTQvMDgvMjAtMDk6NTM6MDIgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE0IChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkU3M0I2ODQyREEzMzExRTQ4NkYzQTQ3NTVGMkRDN0I1IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkU3M0I2ODQzREEzMzExRTQ4NkYzQTQ3NTVGMkRDN0I1Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6RTczQjY4NDBEQTMzMTFFNDg2RjNBNDc1NUYyREM3QjUiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6RTczQjY4NDFEQTMzMTFFNDg2RjNBNDc1NUYyREM3QjUiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz7/7gAOQWRvYmUAZMAAAAAB/9sAhAAJBgYGBwYJBwcJDQgHCA0PCwkJCw8RDg4PDg4REQ0ODg4ODRERFBQWFBQRGhocHBoaJiYmJiYrKysrKysrKysrAQkICAkKCQwKCgwPDA4MDxMODg4OExUODg8ODhUaExERERETGhcaFhYWGhcdHRoaHR0kJCMkJCsrKysrKysrKyv/wAARCAEsAoADASIAAhEBAxEB/8QAbAAAAwEBAQEAAAAAAAAAAAAAAAECAwQFBwEAAwEBAQAAAAAAAAAAAAAAAAEDAgQFEAEBAQEAAwEBAQEAAAAAAAAAAQIRIRIDMRNBIhEBAQEBAAMBAQADAQEAAAAAAAECESExAxIEQTITIhT/2gAMAwEAAhEDEQA/APqNKErMRVaYWnMWbNTYitKjUQ3lLeUxrhkvFZx7Zz7a88Mvo1/xnuK6nYpfTnv6eVXIzlGZvU5m9VBxUgq0nFZ4TwWH0rYLYLqI1lnctulYjvPUtTrCxnp0ayy3lG54lY59K+f6dwv548nmeRPbq+X426y+c5F2uvPiLeoWqzuj1Uq4+d0hvY6BwOnPwiV2BwwrPlIz1PCsWQ18pYOosJdia87+j488t5qLE1dTY4Z4quaUXERUdnzvh04vhpFxnGma3a11XCuV5quCXolc+sp/G+ssrkNwSq6jh8APpwuH+GFwcTKuAikM06AK0pBxeYDOeBd8K3jLWgS7sus+qlBnUrKwBMXKnhwBpBSlFoIWl7FSBr6VTKqUEXDMqAmmOBnV8M6qNIq9VlXPc9qX56vNbRhmtsVvHhqeBrKLhvJ0eq08qysPQ+NvQrg5B1PoqZ409UavBwdHeH7MNbKbLo46OlUZ0drGqxocVlHTzpiWdYlnW0pUpVKzzFIj1HF8Icg4SNVdZbZ3eRnXpGtpu0aqOua7vULqtptU055VTYmxNN/1Nz1M2qala7Kfip/mvHzXmStc5azjycyWc8idNbPDLdXPfiM6Qodvwnhx7vkwA6GQADAABAqirqa5f6c9jWUpsUVePqc0rE8OARf5V0fOqipUwK79Ka9Nc6a505pV52jN8qX65W9nU3IzpXer51KrnTK4Hq1sTWm+oqLT1WdopxpmtJXPNNJsujjbpfqJpeTI5kXwpnumE6qOC04yY9T4qQ+GEKhWFKAvg9Tyqgmd8J6rSAaio6AC4cp8KwBUp/qDlBK4nVX1nqJfRLfWeqhdifVKUs0o2xUTLTMa90W9rXNXOMu8Huvn0pmN5Idyyz9GnvG4dK/jH6NZUbnRRHJqlK03llZxOttcaadc+a2zWdTrGodGb5AkQssrnssrbK4yw1i+L4Vz6MqCrbZVl9GtZ7jO54Z1PDm2jjTcQ49zlc2p5SXV2JsY6yn24rP0Rpn3y1Kcru+f066saed8dO353w6PnVM1tq+GG601fDHVV75L6UgUU9H4zw5NewAFiAAAAAAIqpNR+0/8nElTpV4n1n/paJpSi1PWvlfKvzrSGmU66b5i/wDgWiaTaXXJ9JyobnltnbTO3NKqaGN8GdcdXsWqymz9uujP0lVzstIsafpXKntWVkqUXJ5yGl4jbPhOM8VfBxka0y1enqoo6OA4UqoDOVXU8HQR1PFQ+ACeBdFq8Za2A0t6VZzZ+4B2iaZ3Ryg2sp9Zyn0BdT0dLpBcqudZ5aSlZ1nWepuB6NJYqRj/AJp/hlMHzi7Geq1McazkrUdMcaUgmuH/AERU2jodOdL/AGMM6aZ02wneWG8uq+WW8lY1K5/xedJ1ClYadGaqRjnTXNY1lLWWmVxOVw8zhZMqZVttKNxonULXoq5txlW/0jDTk+k8ubYKl0dS4mnUZ2eWtZ2HIcafH9dvz/HH8p5dmPx0/OeFcq1WVXqs1cTuk/pRFFDen85yOagAKAAAAAAAJqk1L6/604mpqqivE+3+y0Rqo6vTK1n5+1Me22aplitP8ds9Oiek6pSjaJUPrlPeWhplNzWI2KlXKzhynLYc7G0qv1lK0zXRj6KY2fr1ecHmNJHRPK8pc4jS7WdpmVjPUadTYRoi8l6qLpWqLg6cOUuiQWqRozRqstSteD1IMOUr1vcJvzAZTrTMHpxeQB6ji4VgNAkVw5CAguhWdoDSba505pW2KcKxrpjqNf8AEagojKKFg4RpqK0sRYxdcY/SoqUiV61xrKdnWea0zejpcY7wxsdms9YbyVjUrKVrjTKxWayddWK1jn+db5ojHFFR0jATTKiisvpHNt1bc+45fo59sgr1FxUpOp8Z0TPWk+daY+SuPm3nI+WHRPEGccGl+cjdnIjVSLRFf552ub6UzI3pT0iAAYAAAAAACapNS+v+tOIqaqprxft/stlGmWmumWmMXypmjFb5/HPm+W+L4deL4dGancZd8t9zww1PJfSeGd+l5q+sc1pK5P8AKP8AlRwjh3h3i8tcZTjLfOeRrGRmHPB3aNXjO7X/AFxTvGtqLSmhfLc11TOi6qVNgNpRWl0Ja0lrRxUqRdHNcglX1NR7KlOfSHNnwjHG5etynBYR9M0ahKpcIzlVPKF5MK9U2caROgTHVTxdgkI0SNMFxWQGnU2is9UyWfGU2vOgKdyz1lt+p1Et5S1EDipDkVWRzi80WJ/AG08xG8dGdL/TZcusFMujWEenGb4PoxG0rOeD9mP1GbqNOl1ndl7s36Ri7jTpXTP3HszfoV2rVZ3PVTyqZYsumL5ZzCp8msyriuPm1nDKfNUzIup1VZJFJBbxnqlraLpnY1PB0Qjjf898uL6QzKG9OekQADAAAAAAATVI0j9v9TntNIUR4v1/2q8nhOoy3G9jPWUp7DCTy3+bP1aYdfyvh0Yq7PDHcbs9xTU7G9emMjTKOLy4958ufU8qi8Qsxt88FmXpSVp88tLeRM8ROtOrMki+ZC3WVirSLWenrJRpmo4qM57KxmWVfE3KpT4tfMV88Z8ORdym+ErlKxNqNU9VnanvbN0fVZqFRKavWP15ayqZyqldGPornaqk+heXq00QHBw2hIqeBIKAfsO9RaXQOL4PUpVwEiwZVYJABfxlutNMN0BNqs6RxeckbXOl/rORUos6zZ0pVSspVStU40TqHKdhGiXjTGmdgzeCFXR+o1Dzo75LU7GNMam1pvLKxyb7ENdK6Lo4cyn5rHkRWcnnDTOVcYtbzm0s5aTIkProziRWZPhWn1Gq3bxstaZa0eqztc+/pyp63wrSBib7D/fYDhKi/wAP9nN9TMjenn05wAGgAAAAAASdKTpD7/6nn2ilBaXXjfWeXRJ4Wmw5RUSZWHBopXT8qt860haglOui+lmNh5VqFmeXN9PaOm3zjozORj8o2/wZKFrXGOtj6Vl1nW+Uv1ytOqlZSrlUxvqud9WKILFZIpJBNNM6YVeK1GuN4nUVk7Os7nYlqObUZ10bwx1OOPeb1z6lScqbR7McZaSnKzmlTTUtOVfTmmfsXsrjdimdN4rjLOmkrpzrq2dCptPVR1puKKw5RSNMXKngAayq4xmmudGSdxz6jq1OxhuAM5GuYzi5QayHS6AmGXB0yVK0lYytM0gqxFjSFYDLNaSse8VjQKxrZ1Fw0zeq4zr5ypay5/5nMNrC4xPlGZhMyZ8LVUkkUmSui92e9M/cdb46PYXyxm2mddKlYncY6dFjHccv1jn3EGXDTz3qfeGqJio9P+bH+Ut0zAehEwADAAAAAAARpaNRL6zsOe2WiPUJ5H3nK6M68HFJhuUk6Q00zq3yvlTF8rypGWkdc9Oiek2FIqp75c/1iP0jf5trPDD510Z8wsemcub6xjY6/plz6yl9J5Z0mLiYqM5vks1eatnKfs7PnfDqxTsPMT7HKoo1zWkrDp+5lY01xzfVrdsPpeo/SRHeWOtI9z1EetS5EuRf9Dn0Z+tOZo5ByNPce6PWi5rUzDka426Ma648Sur5qZimY14ixcFisViJVdKwg0oqJT/QSWmKn1XnIC/8ZbjS+Iz1oEzsChYRyp6D4VM1WIqrU0dHBFyoijJpKdrOU/YjLQzRzqs5AaZrSVOYqRuMUxw5D4VCeI3G3Ebnhk3H9GNrf6xhpmtQ5ppjTBeaBXVL2J1E40u1PeexLeWNg4rRJYz/AOnLrwJFQop6/wAM8yhoAB0EAAAAAAAAACpkzZ2BlqIa6jKvM/qwpmiKiJVSvPuVeDTK1pqsNa8tYvk8+2ua1jmxpvmu3Pp059Hpn/q9I/1j6zwxuNfnXRjTlw2xpz5vKlLyttTrDeW0vRrPW9TsOzrm4I01lHEecrHOUFaaa6Pnp0fOjqppBxbq3V+xexHMmB2prSYFwxrPWdTrG5L1a3Jcc+5Y5954j0OYUcT6n1PoV+bWCr4nVsTrGY40z4FJaReZaTSpWXVZrR8acKw8q4ZMlSncp4A0i4xmmk0AN/jn1ry31exz7nkqR500jKNJShQ7EWNOlY01Gc8n6nmL4Rs+BdiDKg4JF5yfB085aScKeCugS/aKlc/svGh0cdENOaZ0j6jdF0z3pk2P1c+m+71jqE1EHBwQjaZrTrPK2N+k9+hSMF8Z3Ti+lOGUN6+JyIUABsAAAAAAAAAAAEEajHbosY7y5vv8+xrNZdVKjXgTTyfpnlXmvCtVz7bW9Z7ic9ie0Yvl04vhzSeW/wA3Z874dGPTSo/1aaf0ng9+lZrSVllcri14rmvtrnbWa65uqzo87Oab2dZayvOunZ1SyVr2wpVprKLGO2FLYnhyCReY3ndqk3RnDTODzlpI6cqypmBctOCxrjTDWWesujUZ6yh9J1Lc6wsEXcp45rLK57PJxRQ3R8nR802FYtNWWieNM5TGuIcFVnK+CcPw0SbEWNKmgMrDh2HIQFZ6jVno+BMhwlyEBAriaDH4fRUgHSmVSLmRCqZlX4L4Ta0Quk29H6qRk0cVinYUBujFUzxWn+NMI0x3W+ox3GacYWlxWoUJpFyONOF6kOlFdLgT3UvpfB9OJVG/5v8AZx7OGRvVz6RAAO0SdAAZ/Tf4AAH6H4AAH6L8gAx+h+SRqLKnZ2M+nPvDGzjr1ljvDz/6Pj/lTOmPRadymxwfnlWyn/W3zZzLXEdPz9OjMaf4mxcKxrXo76RFxKo4vpPLm3PJiUgxIzI0zptnXXNK0zpvOuNS8a2dTcKzpU4pyVr2x9F5yvkCmPm3nJxUT0dXk4rGhVPsV0Y6Kmi6T7MWFRYzsadTU785WLmJFp8Kw8541nwm0uq9T9G1JUxpnXC9C5YZtfc/dj2iWn0cbexWpipAQkVwSHTJNZ6XpFASqVNLpVpr7Fajp9INedHovEX6tcZ6zmeHaNXiLQBanh8PhGUiuAugCpO1NBtcVtPxz4b5ajNLTLTXTHVZojPSF1PGbTtVD9Sytn9Rn9JsRV1FS+lT+lJUScW/l9uTajI3q59JAAHYcoADH5b/AGAAPyP2CMD8j9AAHMldAANMUqnWVlWd5lglYawzuHTYi5eb9vly9X+emUwuZVIfCy7M+iKmVavo6k4So4/rPLn3ARhLrEoioUVADlXNsy6c1wdbe49mUqpVsfVuaaexXSeptU/7NftfsXsjpdZv2L/ou6L2T0M/9aX7V7DqQf8A0o/a+hJnN0/2vPGkkYyrztr/AKNT6NPVGsLmlc6pnUqmdMLgTLa5L1a431EyZ3wzuwGnRay/oc2Ojh6Z2rtZ0wOnxMXCCeGrhzA4fXRhWvxOfA1WmWW6iVW0cZpxco6mHwugdBzJzJhPDmV8HgAYy2kRmrlahUtOfbo0w2xq8LvGRlR1De2NbPo9k9K1K7qP7qrpNLps3XSuug4Rx1fzXylpUMob183wkAA0AAAAAAAAAAAAAAAAACBVPFlxH647GsXlTILDFcdxyu7567EUqdIlU8VIDc/1iP0hEouOWxADpBvMbzFdBQ4VhWCKhSKEzSgTVFxSfPVFQZ8Pimf5tVm0uDiuDi+f5C/SeHxXBxWfywv2ng4rg41/8sH7SJT4OI/T+az0c0rOmuNOdedcc3nNVzp0zyWkZ2q3sXzrsXzrrHdYa02+kYah1WF7KzpCskbTqacFjTJReU5jXOQDzGsymTh+zRC64i7LVR0rTkafpXJZq+savhnV4jhwrU+yP/Tyn+/LXsK6ZXSbtbOvCufLa7KbYey8n1rjfNayscrt5GozVa0597H03XNv6VP6TwnppdQe7nv0qf6ue5qVldPtCumH9B7s/hnjeaP2c82r3L8Djb2P2c/9B/RX5dlK5dM1FTTln0aY29X5b7EtYbmjNWunQADAAAAAAAAAAAAAAAAABUEVUmub65dXxqLU9Gk2uZ1RXVdZyqynvHWNzwo+CRXGP/ntc19osLjTg4P/AJ9NTSJFSHw+N5/mtK6Lh8MOjH80Yuy4OGF8/DMYuy4OGFZiRntIwGuQugAAAAAAuGCuZRKVhKTY4f6Pj/mK50edNc66w/F404Zq5vFs6aaz1jr5ujPlX8+ujPmOnOnF/Orz866v4qnya411y+g9HVfmm441wusc4aScVwWAM9VF0rUqfUjKlwdNkyi5UU5Ss6zqdFTWnOlcoXF6jc+WVTY1sL1WzPC2fTORriCZVPDTTTIsTNLnkyrHeLXNv5V6Hr1nv5wa9J6ebrFR6127+cZXDk1vlQtYzNP1rX1OZY/6F+mMxT9a29R6n+x1h60etb+g9Gs78j9MZitcZq5hcy9L+eWxPWhmLKQ3ZEaAAYAAAAAAAAAAAAAAAAALoCaoqh9LF/l7ZaiLGuojjlrtnpMjTMKLyILPByGA6vnJY4vrOUwAp+InNAAH+YXQADhUABogAAAAAAAAAAAAAAAVMI/Wf+Wso0MnRI8f6z/0tlv863zXNhtNcX+fp049NuwdjG/Qv6q9U43tjLdE31G6C4cqudYy+W2aAVwX82sivUcPrz+DjW5L1Z4fWVh5jT0EyOA8w7k8w6OEysJWmd0DiupuiukWkbSaa4rnzW+KIK2hang8nfw76T05fpGOo6fpHPqOH6zy5txBwcNJgAhAFHIUVHV8Pn+qWqchiG9j5Y5ErQAFSAAAAAAAAAAAAAAABGmp71yCDo6m0uuHf9XK3MrlNErSMT7/AKX+WUaiGmozrXXVAvKFQGsCB0/KuX7QwA6HLAAAKAAAAA0QAAAAAAAAAAAAADNsg4AD45/r9PHFMYtTw5D4Vrz9Z7eunHzXLwXbO6TdKScdGc8Vr6FNs7Rmn1rjpxo9I+a9fjUZqZfLbDCfrfBhrlcTmLgJykZE0CtOs9UBU0rrKVUrPWaNRlY2/U3IOVlwrGvEaDSJ+tvnWP8ArTFEFdOapnmtI0zWf0jn3HVqOfcc32yhuMaVVU1yVEjhKh59kqKiYuPV/lxOJ6oMB6EYAAMAAAAAAAAAAAAAAAEmqTXP9/8AWnEUjpPF+vf0rFZbZjLMbZb+S/zTqMtNtMtOuOhJwjhhcMoa3yvlD7TwYAdf+HF/kAAQUAAAAAyAAMAAAAAFaAAfE9fSRqZtLh8OKjm39bV8fJPCt4qstaRttdGPnId0m1PTjK0nBSMqDKwSA4A2+a9fiPmu/jcZqJ+t/mwn63+Zk3ypOVQycXsc0x6c0x1rjW1no+poAHRCrNFXNKYyrzpmVjvKemeo150vRtuVj6rxF+gk4fD6vLSM5VzRxmqv4w+kb9ZfSJ/WeEtxzaibGmoiuHU8uep4cAKeyVFREqo9T+TSelgjejGAADAAAAAAAAAAAIreADpWjqN+s7w+Gmmm1P7bn5ORNEBx5H0vdKxWWsZ5axT5L/NOmWm2mGnVFyEI4YXlSMrU+d8p/SeAZG7M+nBr2AAZAAGQABgAAAAAqID4cgcv0+li2Pn0gVqbpzXVrqx8uK9jmmfVZJWZkXax0252J1gU2JxfoPQj6kq09C9AOszirkSGbT5tL+IxGlnhqM1l/rb5sueWvzNlvlcRlRh59KCiJtqI0mFQtCFoqEWnnSaMp32nrjozV+GWOtPKmfRwrU3Q11nem0v3PO2R56A6c66WvxOF38LfpPTn2yrb6MdOHftza9jpdATZHV5rNeXb/Ndd8RnTSGmG9fHeeUqYAbAAAAAAAAAATVJqf07zwIQIOLz+mz6mnSR+93z0c4DhHHDfakXlpGWWuXR8lvmWmO2+mG3TF2ZwjhheVxnlpGs+2N+gYDtx6cP09gANMAAGQABgAAAHCOM69Hn2qFqmnbi+vt3fLnGdoJURdELisgQBrlVhZUV6nrqfUepiseWf/SLB4Guo8nOnOneFweU+W1J1tji7+Mc+y/8ArjUKjnlrhj56vPs0TolUyz1pAH//2Q==');
}
