$small-map-height: 10rem;
$stop-thin-opacity: 0.2;
$top-bar-height: 64px;

div.map {
  max-height: 100%;
  position: relative;
  .leaflet-container .leaflet-control-attribution {
    height: 22px;
    opacity: 0.7;
    border-radius: 11px;
    background-color: #ffffff;
    margin: 10px;
    position: relative;
    top: -5px;
  }
  .leaflet-container .leaflet-popup-close-button {
    color: $primary-color;
    width: 32px;
    height: 32px;
    top: 12px;
    right: 4px;
    padding: 0;
  }
  .leaflet-container .leaflet-control-attribution a {
    height: 11px;
    font-family: $font-family;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.7px;
    text-align: right;
    color: #666666;
    vertical-align: -3px;
  }
}

.below-map {
  overflow: auto;
}

.summary-map {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  position: relative;

  .summary-map-buttons {
    bottom: 36px;
    display: flex;
    left: 20px;
    max-height: 36px;
    position: absolute;
    z-index: index($zindex, map-buttons);

    & [role='button'] {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
      max-height: 36px;
      max-width: 36px;
    }
  }
}
.mobile {
  .map {
    div.leaflet-control-scale.leaflet-control {
      margin-right: 15px;
    }
    z-index: index($zindex, map-container);
  }

  .drawer-container {
    overflow-y: scroll;
    height: 100%;
    position: absolute;
    width: 100%;
    .drawer-padding {
      height: 90%;
      width: 0;
    }
    .drawer-content {
      min-height: 50vh;
      background: white;
      position: relative;
      z-index: index($zindex, mobile-drawer);
      .drag-line {
        width: 30px;
        height: 4px;
        border-radius: 2px;
        background-color: #cccccc;
        display: block;
        z-index: index($zindex, mobile-drawer-drag-line);
        margin: auto;
        position: relative;
        top: -5px;
      }
      .content-container {
        position: relative;
        top: -15px;
        box-shadow: 0 0px 10px -2px rgba(0, 0, 0, 0.3);
        border-radius: 15px 15px 0 0;
        padding-top: 15px;
        background-color: white;
      }
    }
  }

  .overlay-mover {
    z-index: 401;
    position: absolute;
    width: 100%;
    bottom: 10%;
    transition: transform 0.1s;
  }
  .map .leaflet-bottom {
    bottom: 10%;
    transition: transform 0.1s;
    .leaflet-control-attribution {
      background-color: rgba(0, 0, 0, 0);
    }
  }
  .map-with-tracking-buttons {
    right: 15px;
    bottom: 45px;
  }

  .back-button {
    .icon-holder,
    .icon-holder:focus,
    .icon-holder:hover {
      padding: 0.55em 0.2em 0px 0px !important;
      font-size: 16px;
      z-index: index($zindex, map-buttons);
      background: white;
      height: 2.5em;
      width: 2.5em;
      border-radius: 50%;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
      left: 20px;
      top: 25px;
      button {
        outline: none;
      }
      .icon-container {
        height: inherit;
      }
    }
  }

  .location-popup-wrapper {
    .zone-icon-container {
      margin-bottom: 15px;
    }
  }
}
div.map.small {
  min-height: $small-map-height;
}
div.map.full {
  position: relative;
  min-height: $small-map-height;
  max-height: 100%;
  flex-grow: 1;
  flex-basis: 0;
}

div.below-map {
  height: calc(100% - #{$small-map-height});
}

div.leaflet-bottom.leaflet-right div.leaflet-control-zoom {
  width: 36px;
  height: 73px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-right: 30px;
  margin-bottom: 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  &.leaflet-bar {
    border: none;
  }
  .icon {
    font-size: 18px;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 36px;
    height: 36px;
    line-height: 18px;
    font-size: 18px;
    color: $primary-color;
  }
}

.map .leaflet-bottom {
  z-index: $leaflet-overlay;
  bottom: 0.5em;

  @media print {
    display: none;
  }
}

div.leaflet-container {
  position: absolute;
  flex: 1;
  width: 100%;
  height: 100%;
  background: none;
  z-index: index($zindex, map-container);
  @include font-map-container;

  .leaflet-marker-icon {
    @include font-narrow-medium;
  }
}

.select-from-map {
  height: calc(100vh - 36px);
}

div.current-location-marker > span > svg.icon {
  font-size: 40px;
  color: $current-location-color;
}

.tripMap div.leaflet-marker-icon.place,
.summary-map div.leaflet-marker-icon.place {
  display: none;
}

div.leaflet-marker-icon.from,
div.leaflet-marker-icon.place,
div.leaflet-marker-icon.to,
div.leaflet-marker-icon.via {
  > span {
    > svg.icon {
      height: auto;
      width: auto;
    }
  }
}

div.leaflet-marker-icon.via {
  color: $black;
}

div.leaflet-marker-icon.vehicle-icon {
  border: none;
  background: none;
  > span > svg.icon {
    width: 1.5em;
    height: 1.5em;
    top: -0.25em;
  }
}

div.leaflet-marker-icon.vehicle-icon.small-map-icon {
  > span > svg.icon {
    stroke-width: 40px;
    stroke: white;
    width: 0.78em;
    height: 0.78em;
    top: -0.2em;
    left: -0.2em;
  }
}

.bp-large .map-with-tracking-buttons {
  bottom: 32px;
}

.map-with-tracking-buttons {
  z-index: 401;
  bottom: 192px;
  display: flex;
  right: 30px;
  max-height: 36px;
  max-width: calc(100% - 2em);
  position: absolute;

  [role='button'] {
    max-height: 36px;
    max-width: 36px;
  }

  & > * {
    z-index: index($zindex, map-buttons);
  }

  & > *:not(:first-child) {
    margin-left: 0.5em;
  }
  // DT-3470
  &.roomForZoomControl {
    margin-left: 48px;
  }
}

.toggle-positioning-container {
  background-color: $white;
  padding: 6px;
  border-radius: 5px;
  line-height: 0.5;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.icon-mapMarker-toggle-positioning {
  font-size: 24px;
}

.vehicle-popup {
  left: -19px !important;

  .route-header {
    height: 5em;
    border: none;

    h1 {
      display: flex;
      padding: 0.5em;
    }
  }

  .leaflet-popup-content-wrapper {
    border-radius: $border-radius;
    padding: 0;
    margin-bottom: 5px;
  }
  .leaflet-popup-content {
    margin: 0;
    width: 18rem !important;
    &.leaflet-popup-scrolled {
      overflow: inherit;
    }
    .card-sub-header {
      display: flex;
    }
  }
  .card {
    border: none;
    > a {
      display: block;
    }
    hr {
      height: 1px;
      color: #ddd;
      background: #ddd;
      font-size: 0;
      border: 0;
    }

    .card-row .no-margin:last-child hr {
      display: none;
    }
  }
  .card-header {
    border-radius: $border-radius;
  }

  .bottom {
    @include font-medium;
    font-size: $font-size-small;
    line-height: $line-height-normal;
    color: $link-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: $background-color;
    border-top: solid 1px #ddd;

    div,
    a {
      display: block;
      padding: 0.5em 12px;
      flex-grow: 1;
      text-align: center;
      text-decoration: none;

      &:first-child {
        border-right: 1px solid $light-gray;
      }
    }
  }

  .leaflet-popup-tip-container {
    margin: -5px 0px;
    left: 0px;
    .leaflet-popup-tip {
      background: $background-color;
    }
  }
}

.location-popup-wrapper {
  display: flex;
  align-items: center;
}

.popup {
  .route-header {
    height: auto;
    border: none;
  }

  .leaflet-popup-content-wrapper {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    margin-bottom: 5px;
  }
  .leaflet-popup-content {
    margin: 0;
    &.leaflet-popup-scrolled {
      overflow: inherit;
      height: auto !important;
    }
  }
  .card {
    border: none;
    border-radius: 4px;
    > a {
      display: block;
    }
    hr {
      height: 1px;
      color: #ddd;
      background: #ddd;
      font-size: 0;
      border: 0;
    }

    .card-row .no-margin:last-child hr {
      display: none;
    }
  }
  .card-header {
    border-radius: $border-radius;
  }

  .bottom {
    @include font-medium;
    font-size: $font-size-xsmall;
    line-height: $line-height-normal;
    color: $link-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: $white;
    border-top: solid 1px #ddd;

    div,
    a {
      display: block;
      padding: 1em;
      flex-grow: 1;
      text-align: center;
      text-decoration: none;
      border-left: 1px solid $light-gray;

      &:first-child {
        border-right: none;
      }
    }
  }

  .leaflet-popup-tip-container {
    margin-top: -6px;
    .leaflet-popup-tip {
      width: 15px;
      height: 15px;
    }
  }
}

.single-popup {
  .leaflet-popup-content {
    width: 300px;
  }
}

.choice-popup {
  .leaflet-popup-content {
    min-width: 240px;
  }
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

div.origin-popup {
  font-size: $font-size-xxsmall;
  cursor: pointer;
  min-width: 15em;
  left: -21px !important;

  .origin-popup-header {
    @include font-bold;
    text-transform: uppercase;
    color: $link-color;
    width: 90%;
    margin-bottom: 3px;

    .icon {
      margin: 0 0 -2px 8px;
      font-size: $font-size-small;
    }
  }

  .leaflet-popup-content-wrapper {
    border-radius: $border-radius;
    padding: 0;
    overflow: hidden;

    .leaflet-popup-content {
      margin: 12px 8px 8px 8px;
      svg.right-arrow {
        height: 9px;
      }
      .card-code {
        margin-right: 5px;
        padding: 2px;
      }
    }
  }

  .origin-popup-name {
    @include font-book;
    height: 1.5em;
    width: 200px;
    text-transform: none;
    color: $black;
    font-size: $font-size-small;
    overflow: hidden;
  }

  .shade-to-white {
    background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0));
    width: 2em;
    height: 1.5em;
    position: absolute;
    right: 0;
    top: 2em;
  }

  .leaflet-popup-tip-container {
    position: relative;
    left: 0px;
    margin: 0px 0px;
  }
}
.vehicle-number-container-v-map {
  position: relative;
  bottom: 40px;
  left: 41px;
  .vehicle-number-map {
    margin-right: 1.5em;
    margin-left: 0.3em;
    mask-image: none;
    max-width: none;
  }
}

.route-header {
  .route-header-trip {
    position: relative;
    height: 1.5em;
    margin-top: 0.2em;
    margin-left: 1.5em;
    font-size: 70%;
    padding: 0.1em 0.4em;
    border: solid 1px $light-gray;
    border-radius: $border-radius;
    color: $gray;
  }
}

.map .stop-halo {
  fill: #fff;
  fill-opacity: 1;
}

.map .stop {
  stroke: currentColor;
  stroke-opacity: 1;
  fill: #fff;
  fill-opacity: 1;
}

.map .icon.stop-marker {
  width: auto;
  height: auto;
}

.leaflet-marker-icon.call {
  width: auto;
  height: auto;
  margin-right: 0.75em;
  font-size: 1.5em;
}

/* BEWARE! This is an ugly hack.
 * It so happens that firefox will not allow SVG clicks to bubble to DOM if pointer-events: none is not set.
 * If we set pointer-events: none for all browsers, then we lose "pointer cursor" for all browsers.
 * This css selector targets only firefox: https://css-tricks.com/snippets/css/css-hacks-targeting-firefox/
 */
@-moz-document url-prefix() {
  .map .stop {
    pointer-events: none;
  }

  .map .stop-halo {
    pointer-events: none;
  }
}

.map .thin .stop,
.map .thin .stop-small {
  stroke-opacity: $stop-thin-opacity;
  fill-opacity: $stop-thin-opacity;
}

.map .stop-small {
  stroke: #fff;
  stroke-opacity: 1;
  fill: currentColor;
  fill-opacity: 1;
}

.map .icon.mode-icon {
  height: 100%;
  width: 100%;
}

.map svg use {
  pointer-events: none;
}

.map .thin .stop-small {
  stroke-opacity: $stop-thin-opacity;
  fill-opacity: $stop-thin-opacity;
}

.map .legmarker {
  display: flex;
  align-items: center;
  min-width: 40px;
  height: 18px;
  &.speech-bubble {
    background-color: transparent;
    div {
      box-shadow: -3px 5px 8px 0 rgba(0, 0, 0, 0.3);
      @include font-medium;
      font-size: 15px;
      border-radius: 8px;
      height: 30px;
      padding: 0 7px;
      background-color: $white;
      margin: 0;
      line-height: 2;
      position: relative;
      left: 15%;
      top: -35px;
    }
    :before {
      content: '';
      width: 0px;
      height: 0px;
      position: absolute;
      border-left: 0px solid transparent;
      border-right: 15px solid #ffffff;
      border-top: 0px solid #ffffff;
      border-bottom: 15px solid transparent;
      left: -12px;
      bottom: -11px;
      transform: skewX(-60deg);
    }
    .shadow {
      top: -15px;
      box-shadow: -10px 6px 8px 0 rgba(0, 0, 0, 0.5);
      width: 5px;
      height: 5px;
      background-color: transparent;
      position: absolute;
      bottom: -11px;
    }
  }
  .map-route-icon {
    border: none;
    font-size: 18px;
  }
  div {
    @include font-narrow-medium;
    //background-color: currentColor;
    border-radius: 3px;
    height: 18px;
    width: 100%;
    margin-left: -50%;
    margin-top: -9px;
    display: flex;
    //flex-shrink: 0; /* work around iOS bug with flex sizes */
    white-space: nowrap;
    .map-route-number {
      width: calc(100% - 18px);
      display: flex;
      justify-content: center;
      padding-right: 3px;
      color: $white;
    }
  }
}

.map .leg-halo.call {
  stroke: gray;
  //    stroke-opacity: 0.8;
}
.map .leg-halo {
  stroke: #fff;
  stroke-opacity: 1;
  &.opaque {
    stroke: currentColor;
    stroke-opacity: 0.5;
  }
  &.walk,
  &.bicycle_walk,
  &.citybike_walk {
    stroke-linecap: round;
    stroke-dasharray: 0.1 11;
  }
}

.map .leg {
  stroke-opacity: 1;
  &.opaque {
    stroke: #fff;
    stroke-opacity: 0.4;
  }
  &.walk,
  &.bicycle_walk,
  &.citybike_walk {
    stroke: round;
    stroke-dasharray: 0.1 11;
  }
}

.map .thin {
  stroke-opacity: 0.5;
}

/* Fix to default leaflet behavior */
.leaflet-map-pane svg {
  position: relative;

  &.icon-badge {
    transform: translate(-0.5em, -2.5em);
    > .badge-circle {
      stroke-width: 2;
    }
  }
}

.leaflet-marker-icon > svg {
  position: absolute;
}

div.map-click-prevent-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 801;
}

div.leaflet-control-scale.leaflet-control {
  //front page
  margin-right: 30px;
  margin-bottom: 20px;
  cursor: grab;
}

.bp-large .leaflet-control-scale.leaflet-control {
  //front page desktop
  right: calc(100px + 28vw);
  bottom: 24px;
  cursor: grab;
}

.map.full .leaflet-control-scale.leaflet-control {
  //stop & ininerary page mobile
  margin-right: 60px;
  margin-bottom: 20px;
  cursor: grab;
}

.desktop .map.full .leaflet-control-scale.leaflet-control {
  //stop & ininerary page mobile
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: grab;
}

div.leaflet-control-scale-line {
  text-align: right;
  margin-bottom: -4px;
  cursor: grab;
  background: rgba(255, 255, 255, 0);
  border: none;
}

.leaflet-control-scale::after {
  content: '';
  display: block;
  border-bottom: 1px solid #888888;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
  height: 4px;
  background: none;
  cursor: grab;
}

.smallspinner {
  div.spinner-loader {
    width: $spinner-size * 0.5;
    height: $spinner-size * 0.5;
  }
}

.leaflet-tooltip.geoJsonText {
  direction: 'center';
  box-shadow: none;
  border: none;
  background: transparent;
  cursor: none;
  // interactive: false;
  font-size: 50px;
  color: $primary-color;
}

.leaflet-popup.geoJsonPopup {
  @include font-medium;
  .leaflet-popup-content-wrapper {
    border-radius: $border-radius;
  }
}

.select-from-map-confirm-button {
  position: absolute;
  z-index: 3000;
  height: 50px;
  width: calc(100% - 40px);
  border-radius: 25px;
  bottom: 15%;
  background-color: var(--color);
  font-family: $font-family;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  text-align: center;
  color: #ffffff;
  max-width: 300px;

  &:hover {
    border-color: var(--hover-color);
    background-color: var(--hover-color);
    color: #fff;
  }

  &.select-from-map-confirm-button[disabled]:hover {
    background-color: #bbbbbb;
    opacity: 1;
  }

  &.disabled {
    background-color: #bbbbbb;
    opacity: 1;
  }
}
