/* default theme */

/* General palette */
$white: #ffffff;
$black: #333;
$gray-blue: #7f929c;
$gray-blue-light: rgb(182, 193, 199);
$light-gray: #ddd;
$medium-gray: #ccc;
$dark-gray: #575757;
$gray: #888;

/* Palette */
$hsl-alert: #dc0451;

$livi-bus-blue: rgb(0, 136, 206);
$livi-logo-blue: rgb(61, 183, 228);
$livi-airplane-blue: rgb(0, 70, 173);
$livi-ferry-blue: rgb(53, 181, 179);
$livi-rail-purple: rgb(175, 141, 188);
$livi-subway-orange: rgb(237, 140, 0);
$livi-tram-green: rgb(106, 137, 37);
$livi-gold: rgb(233, 171, 0);
$hsl-tram-green: #00985f;
$hsl-metro-orange: #ff6319;
$hsl-rail-red: #8c4799;
$vr-rail-green: rgb(100, 190, 20);

$joensuu-purple: #5c4696;
$joensuu-dark-purple: #4e3c80;
$joensuu-bus-blue:  #009fe3;
$joensuu-orange: #ff7200;
$joensuu-rail-green: #64be14;


$primary-color: $joensuu-purple;
$primary-font-color: $white;
$secondary-color: $joensuu-dark-purple;
$secondary-font-color: $white;
$title-color: $white;
$favourite-color: $livi-gold;
$hilight-color: $joensuu-orange;
$action-color: $livi-logo-blue;
$cancelation-red: #dc0451;
$cancelation-black: #666;
$cancelation-background: #fbe0ea;
$disruption-color: $cancelation-red;

$standalone-btn-color: $primary-color;
$standalone-btn-hover-color: $gray-blue-light;

/* Markers */
$viewpoint-marker-color: $joensuu-orange;

/* Fonts */
$font-family: Lato, Arial, Georgia, Serif;
$font-weight-book: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;
$font-weight-map-container: $font-weight-book;
$letter-spacing: 0;

$font-family-narrow: 'PT Sans Narrow', 'Arial Condensed', Arial, Georgia, Serif;
$font-narrow-weight-book: 400;
$font-narrow-weight-medium: 500;
$narrow-letter-spacing: 0;

$line-height-normal: 1.2;

$font-size-xsmall: 12px;
$font-size-small: 13px;
$font-size-smallish: 14px;
$font-size-normal: 16px;
$font-size-large: 24px;
$font-size-xlarge: 32px;

/* Application base colors */
$background-color: #eef1f3;
$dark-color: $gray;

$link-color: $joensuu-purple;
$realtime-color: #46b32a;

/* Vehicle colors */
$airplane-color: $livi-airplane-blue;
$bus-color: $joensuu-bus-blue;
$tram-color: $livi-tram-green;
$metro-color: $livi-subway-orange;
$rail-color: $joensuu-rail-green;
$ferry-color: $livi-ferry-blue;
$citybike-color: #FBB800;
$from-color: $joensuu-rail-green;
$to-color: $joensuu-orange;
$walk-color: #6ba3af;
$wait-color: #979797;
$bicycle-color: #64be14;
$car-color: #333;

$nav-logo: url('/img/jojo-logo.png');

/* Borders */
$border-radius: 3px;

/* Slider colors */
$slider-warning-color: #FC7C08;
$slider-ok-color: #55B511;

/* Spinner */
div.spinner-loader {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIgAAACICAYAAAA8uqNSAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTExIDc5LjE1ODMyNSwgMjAxNS8wOS8xMC0wMToxMDoyMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6M0QyOTFFOTAxOUFCMTFFNkE3N0FCN0E4MjA4RTYyQjEiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6M0QyOTFFOEYxOUFCMTFFNkE3N0FCN0E4MjA4RTYyQjEiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKE1hY2ludG9zaCkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDozNzlDRTM4RDQ0NDQxMUU1QUE3NkFGRDM0OTY1REZCMCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDozNzlDRTM4RTQ0NDQxMUU1QUE3NkFGRDM0OTY1REZCMCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqdNIe0AABtpSURBVHja7F15eJTV1X8zM5lktmxkB5IJIYCACRECH4IsKtbyRwUFbQutCrW2Flu1Lq1Vv69aa1Va12pbi2AfbOuK+LSIogLKUgiYgOwEMkkgZN9mktlnvvN7cycMlCV33ncmM+E9z3PyZpKZdzm/35x777nnnhvn9/uFQS4a0jzSbNIs0kzSdFITaRI74j1qUh37jJ3US+ohtZJ2sWMLaRNpI2kDaS17z6CVOBAkbtWJQfEw/tuGAeiRpKNJR5GaSYcy8MMhINFJUgvpIdKDpNVkT+8gsaf4zYn1h8ihw0Sm40kTg//v8QlxFW0uw542t/FIl0df1+3VNdi9iR0un7bT5dd2uX1ap8+v8tL77F6/aA+dOs6jVgn+BFWcLyle5UrWxrlStCpXtk7tGG5Q20cmaXpK0+JtpWnabo1K9E7QGeySDrqnfXTcDSWynFI8SORJAUCuIp1OOiz4f7tbXYbPTjnTtja6Ug91upMtNq/JRQQIx31oiUBmo9o6Jjm+c1qWtv2anIS2iUO03We9DcbdQvol2bk21jxIzBCEbhZ9hVmk17GmQ5RTdm/8exZ7xsf1jgwiRWa7y5cwkPeZrFU5p2ZoW67LTWxaYNY1k8dxBf0bTdEnpJvI5laFIPLc5Ag63MC8hRZ/q+/xaldWdWevqXHkUvMxxEePEI33rooT/NQMtc7PT6y/faShIVffRxYX8ypryfbHFYKEdnMT6HAT6QSxN0i3+Y/jPekrjnbnbWlyZqNvEVNDKerTTM9MaFhaZKj9zgh9i5rIw/5VSfoeYVCpEKR/N1VMh8Wkl+F1m9OneXafdfjKqp6CRrtXPxhGB1k6dc/tI/XVD4w31aUlqALDZIyAVhMWexWCnPtm0K+4gxQEEWi0oX2soqvwHUtPXrfHHz8YYwx6TZxnoVlX80Rp8rGgvgoI8hfCpEYhSO9NIFi1iPQbiFeg0wlirD7WY3awYedgl0QaVi8u1FseL006lqNTu1l85WPSNwmbrkuWIHQDs+mwFJ1/GorGPV5pzX/+gHX0YPUYFxODJs5992XGI78uTbLQEBp9lE7SFYTPxkuKIHRhhLqXseCW8FZ1T/pDuzvH1di8JkERId+otj49MXn/LQX6lkB4h/Rlwqll0BOELjqNkcOI5uSH29rH/rvOMdyv8OIMwRBt7rDEE69NS93Pmh0bI8nWQUkQuhhiGD8inYPXK492Z91X3lncMcCBrWgXBN7+UJa8d0mRoZH9aQPpnwgz16AhCF0Is6gPk47ocvvUS7e2j33PYs/3R/DbmE1Dy6IkTVeBSd1tNmrsBUZNT5ZO5ULwKjNR5dbExfnTE3uHnC0On8bj98c1OXzxp3q82ga7T1tt8+gtNo/OYvMajnR6khpoyB3J+7+JRjsrpqUeSIpXoQOL4NpvCbfGmCcIXaSUDg+Qmr5qdRsWbGydRMYOa18DcyTFafGtU9K17bOyE1qvzknoDIo3yCKIz3x+ypm8qcE5ZEeLK3Vvm3tIuOZ8AkKktr4zO20Xm+9BqP5Zwq4iZglCF0Bzchep5nVqUn66o6OURihhGbpi1pWI0DA/X9cwLy+xlX3TzsBU6J0LwcMil6ORjRICuR4+skMPu28E5AB2IGckWejNJUFOCSYHEbNJCz45POMHtY4ha2vt2Z/WO7MxSxyu2MmLU1IqlxYZ8Awg/St03xtiiiB0YnhFRENvxut7dnaMfPGAbYzcLhnh66syExpuLzLU3VKga2ZDQ/EWSKtJ95DuJz1Ez9gp8zOCNGNIx5GW4AvOWgMBQ/a3qu0Zb1R1D9/cKP+0AE5Gw+FDL0xJqWJ/elvojcL6o54gjBzojM51ev1xN29qu/zDOnue3B23xSP0NQ9ebqrJM6id7M8eRgj08nfRM7VHeEiYSodJpNMYYURPWdvtTXjma2v+6uM9+Z0yd8i/NVxX+/astK8T1OIXYx3rvPqjliB0Qrjle0hnW91+9fUbmidua3JlynXDmMO4a4zh2M/HmeoMmjgf+zOajaiaQmepCTOF3ugwmiOBmlbV7/dbh79yqLtQzjmlKzO1TevnZOw2xcehSUVA7Xmygy/qCMI8B8hxdbvLp7lmfXNZBXXc5OpfIML4SImpNlEtEgPfku2kH9C9H4zmYSrZBZOO80inonVweP2qJ/da86jJHSVXP6WUOuSffiOjnHXEPyN9QQ5PIhtBgpsVkGPGR81T9rW7U6XeIKbEvztCX728LOUohqKMGF+Q/oPu+WQsxTPIRsiN/Y7Qm5ooDqHvL+8o+vvxngKvDPks41Pj2zdfn7GDkUSW5kZOgtxKhwXoyc8mz0HD2XSpDzwqSdP5lytT98zMTghMViHcvDIaZjkl2gr9sSUCm2bY3OBMunN7e8nhTk+y1HNfMSS+deP1GTvZCO5dstUbA04QOslcOvwYPfdZHzWXbW+W1ufAyOSu0cbDz5YlH2Ojkkb2bdglDCIhu01kXjcbtnugvLPwlcO20VJHPFMztE2fX5+xizXFr5Ld1kkhiEriQyLb6078vuiLtvFSyZGrV3evuzZ9K4ZvRA58C9aQ/mSwkUMcqq46AY+IOak1eFY8M559KNlAynmBweIv2saxl3ewBKzQ7zNUD8LC588hmHRfecfI5/bbxki5kWmZ2sb3r06vZH0NLE5aHu0dUJk7sveTZqJvcuPnLRO2NrmypJzz3nHGQ38oE+MkGNndR7ZsiJgHoQ9iPI+5FRMipM9LIAf86Z2jDUe/nJtZzsixDXGgS4UczJvgWe9GDAc2gC1gEyltDTD565FuRH4x5P4lw4xbQm1ifkg6AmtQED4PtatM/Q3f05OSK/80NfUwGQNt5krS3wVC3peSsGd+mvR12AI2gW1go5C+xIIYwZ4AjIBVoCsQdoKwfI7rMGJZuLFtUqhzKwnqOO+q6WnlD4w3oX1zkP6GjPS+3OHiGCOJnxT9rt+SumCbldPSymGrUM4HbBYQRsCKXs5h2IWPICwT7Cf4HVP2oc7KYsLpnzPTdiwaoW+mlx2kD5FhygVFAkTZQYf/BcaLC/XNsBWWg4ZyLgthBKzYy2UMw7B5EPS6TUj2QT5HqJ5j9Yy08nl5OsyuIoXuF9G8eGgASYL1vb8gbYOt3pwZuicBVsCMfjUyDOUnCDFvFoI7SBO8t7yzOJR2AO3pimmpu+bn6VqDyHFSocN5SWKhw4OwFWwG24XSJwFWwAzYAUOGpXwEYUsTsGZFuHNb+9hQZiXRI39mYsoe1qxg6v2RcGdEDRKSwEaPwGawHWwYyugGmN2xtT04PpIkpwfBupWkty329H/VOYaHNOyhYRuNzeEtMD3/qOI5uEhykpHECRuSLY+Ecp51JxzDsIJA6E2CWiQLQYhp6Gtcj3Dw/eUd40NpWhAEe5WGbULvUBZpctUK7CE1N8/ChmTLI9OzEri9L7B7YFfneOTpAFO2mlGyB0HTonq80mqu6/YaeW8K4fM1V6dXMLf4BuuhKxL66GYVbPn+7CEVuSGE5YHhE3usZob9DyQRhMXxSxqoc/PCQeuoEDql/lXTUysyerPFkem1RoFZsnwAW8KmsC1szHuC5w9YR7EOa8nF5mou5kGQVyo8WtFVaHPzL4fErOyc3ETEOTC38uKlHAST0YvAhi/CprDtT8YYD/OeA0tbsf45GGNugrDlCpdhlT0WUvPeBPI5fl+Wcoz1O5ZfiuHzMJIEtlwO2y6flHIMtuY9BzAFtsCYYc3tQVC8RQDTeFfZIxMMyT7M/a29lCbeIkgS2HQtbAxbBxWk6ZcA0yAvsoCLIKzsUwnSB1Gfg/fmF5r1FpYJhgp/bypwhk1g21Ow9S0Fegvvh4EtMKZfixnm/fYgqAkmPLXXyl28BQnGL0xJCYzTXyOmOxUcw+ZFYNvX8Ptzk1OOJGtVXOt1gS1hnB+M+UUJQkzCUHY6Emn/FkLfA9nnLK9jtzIBFxGSwMa7YfNlY4zcATRgzJKmp7PlGhf1ICjqokXBON71GzT0sj9cbKplMZnXFfgiJrC1H7YHBjwfJIx1wFrorSA5qz8EQR1SAdUEee9y2WXGKn3vgqbNsVY0Nsa9CGy9GbYHBryfD8L6ugsShIVezahDuqXJyZUTmaJVOe8dKyb/wHv8U4Et4gKb+4EBsOD5ILA+0TvkNbNlGef1IChvLayq6sGCY65cke8V6i1s+d9OZSJuQLwIbL4TGAALns8C6zeOifmrfRw4H0HElLQ1tfZcngsgR+H+8aZAk/KuAteAiWh7YMGbN4Kq1RckCNs1YShi9F+1urjW1E7PTGhkq+wtxORDCk4D5kVgewuwuCqTb7YXJc3RtQAHiAu55/IgKF0gvF1tz+StfY7y0uzXjxWYBlxEDJacxqRfAszfsdgz2MuJ5yLIFfixod6RwXNiBMYWmnVIH8SM7WYFnwEXYIAKzi3AhotZJx3nJgi5FKTFYzMeYWuTi4sgKPvECphUxsIWF5dAMwMMKoHJtbkJXKvptjf3YT+OcaLPg6B8UiIW2fCWpZyXpwvcxBYFnqgREYtvDddxEQTYs4VWiYwTfQQR1018Wu9M4zkhFh3fmC9mqMOD7FJwiRoBFn5gwxbB91uCODA2mCBF+LGtycVV9KU4Lb6NxT6q5C4Sp4ikZgZYVAGbEsKI57NBHBgdTBAxLwB7vPGcbEq6NnDxrxVYok5ETCafxqhfEsSBviYG0/m5KFxisfElJc/MTghUEjyg4BF1cuAsjPol4AArYoNYSDwIgsKw6so2l8Hl8/d7f1mc4ZqchI4A8RQ8ok5ETIART1ALHGAdVXBBLFspxuD3trsNPFdHSUpWMK1V6X9EbT+kFRihTj3PZ/d1uAMtSS4IIs7aVlk9XLkfo5I0geJyFgWOqBURm6LTWPVLjlk9gS3qM/s8SI2NLznIbOxbtHNCwSFqRcQGO1zwfCiIC1kgiDisqe/xJvKcpMCkCbgtZQF29Epj75dZw9XEEBcCHiQNBBFXeXe6+Kr+Fhg1gdS2JgWH6CbICJOGKw2RuBBIVDeBIOK4t8Pl5yJIrr5vIqhdwSFqRRxl5uj4Ju3aT3MhGQQRe6y8dcNpFBO4qDJBF71iPQur/nqQABeSQBDxhcPb/xgIJLt3oz2FIDFAkBxOggTFwzQgiBhu93Euq1YJfUv9fAoOUSviRJ2asySR9zQX1CCH2GO1c66/DWwAqCzKjl4hbMTOKe9+fUFrsRNVihkvDeFJYk4MKrkJgogs463Dia1DcWQbACoShULYBOIZwqik+H5Ph9CwONCvdKgCfQgVZzvlP6M7okiUSt/AY36err6/Hwp6rxfguphb4co8OmX3BoZCJgWHqJU+bB4uNtUUmi4+J0PeowvvZS89IIhNPBNnBnSjQpCYIgjW7X40J33nyAtM3IFA6+k9+tMbRnaBIGLblKqN4yJIfU9fMCVVwSFq5YwMwaIkjePrG7K2/LLYtH90sqYTrQYUv+Nv++ZlbcF7gj7SiY6myCje4iPVttNTwgoOUSvZ5xih+H57RXI1tB+ft8KDiHMpuXq1g4sgp/NHshQcolakfnnbQBBxxi/fyJd1ZLF5AxlowxQcolaGS/x8IwjSwDooXFPCR7o8gWLwZgWHqBWp2DT1EaQ4Nd7GOYrRtznFYNkQ/23DkhUsoksYJlJ3Pq8HQZCW5i1N03bzrMJCoOyzU84U9nKMAknUiVRMwIUTIAim7etRkNVsVHN5kc0NzsAQd6yCR9TJZVK9B7gRCJOLW4KNSY7nWr6ws8UVWMd5uYJH1EmxxM9b8CNAELG+5pWZWq70wT1t7jSrW0wuGan0Q6Ku/zFS4mkOBRNEXKZ3TQ7fMj1kHr1fY0dHCFN9kxRookYmMUykyMFggiCq5piUrrXxllD8sM4eCJRNV3CJGpkm8fOOQLdDJEjcqhPosWIbTmFqhraF50w0ksnGdmX064RzlXJWJOLNCzAolXia/YwTZ+RyfIUf3xiayLXOBbspvl1tRylnxERmKBANuMxgWEiR3YFfggkiVghaaNY1qzj3Hnn9dCnn6xV8BlzkwOC/CUIuBXu7nMzVq12ladpWnrN92eTMqu32orYZSjmPVjAasOYFwTGzxNOcJC7Un8uDQLbhx/z8xHqeM6KU8/J91oAXWaBANWAih+2/DH5xNkG+wI9bCw0NvLspYg80FhOZQkweqmAVce8Bm0+W4VRbzksQtnmvZZhB7ZqeyVdjs506q88dsA5j4+9vK5BFXL4tQ+wDpdRrLuRBIJ/gx1LOUs6QPx60jezx+HHOmWdvK6FIWL0HbD1ThlN9cvYfzkWQjaSu74zQt2Tp1Fw5Ik0On+6pr8W+CJi8RIEuYrJEBu+BlNNNFyUIuRjM6G7BNpvfL+TfSfGlg7ZRRBTUl5hIzC5TsAu794CNJ8rR9zhXKfXzLXpaix+/LDbVGDRxbp6roHTAvTs7Atu430EPkKDAGDZywLZ3yHS6tef64zkJQkxCHH5PqlblWWjWc/dF3qruMW9ucCIlEXvQLFKgDJssYjaWKnsZ5kJ/PQjkPfz4dWnS8UTOdbvYZvOH29pLWEHWG4jplylYyu49YNMbZDrdeXcJOy9BiFEVdDiI3YsWh9AXOdLlSf55eUchu8b9yiJvWckBW94vyLMu+iDDWuD1IJDV+PF4adIx3r4I5JXDttEb6h3IW8X6jLvpweIUeCWTAza8W5BvwdrqC/3zggQhZu1FXyRHp3bfM9bEvaszmpjbt7SXNveWikC+yDwFYskyT5Av92YPw1gI1YNA/krqe7TEZBlu4Etqhpzs8Rpu3tQ6gcXtb6NvwBQF45C9B2x3m0yn8zFsBUkEYeH39dji6tlJyftCaSM2NTizl/1HHPoG+iNmBW5ucphl7HdA1jNsBakeBPImadctBfqWucMSQyq9/eoh26jn9tswoYSKzk8Eb72pyEXJAVs9wWwnh3QxTAVZCEJMwwlfw++vTUvdn8yZtyo+JOmDuztK/nG8BxvnoeP6JD24Uhng4uSAjZ5kNpNLXmOYCnJ5EJBkEx12o8P6h7LkvaE0NcgbuX1r+6QPau1YT4M0xd8pqQEXbVaeZbaSS3YzLAVZCcLkZVLbkiJD401mXU0od+f0+tWLvmibzEiSwUgyQqHDf5EDqxWfIk2T8bQ2hqEQFoIQ81oCF1gxLfWA2agJqcpyj8ev+fbmtilBzc3TZJCJCi3OGK2gz2GU+dR/ZBgK4fIgIMlWOmxIild5352dtsug4QvDB3uS729pK1u+T0wyQufrMTLM/Es5mIZnhw3o14cFViJdRtlA2HHvbRzqkOnPpMcnDtF2Pz85pTJURNEneXBX54QfbW8f5e+9F+Q1PHQphuXZMz/EbCB3adHjDDMhIgQhJjpZ+2j7wShDwz3jjCFvaojRzZ8Pd4+a8VFzGYu4YlXYS5fSBB971pcE6SviztfveIphxo+13+8H4KE+GFZw/R+IdtPG1uL3a+yS0gyH6tXdK6enVszJTcQ+J1jZ9SHG66E+XAwQA83IYtJvCUFFb2UUREsfI/vtCfH+pLkyNgsouq43Z6Tt+58MraTdpxCWn/tpy7Sf7egY6fKJBeXRHr88GDuw7Jn+yJ5RHabL/DlUcsjiQYIe9lY6LOhy+9Sz1zdP/qrVLbX0kYDanX+5MnXPjKyEQEAHq71ep3utjXFi5LF+RrhJ/y7Z6g2J9yobQdBP/RHp3HaXT0P9iSn72t2SC+wiL/a7I/TVy8tSjmYmqtysy4Igz1t0zydjjBgICN5COkuQnmB8MfmI9FWykT8qCBJEkntIrwZJrlnfXFbRJt2TQGhI7frpWOORXxWbalEIlhFlO+kHdO8HY6ADiin6qREgBuQz0hekkkN2grATqhhJZmOV3XWfNE/8T7NLtvkW7Pa9bIyh6r5xphNB9cQtpB+Tbj5XVvYAkcLIPMV1pAURvDSWrDxPdvDJ9BzyEiTIk/yY9JtOrz/u5k1txR/W2YfLaYVUrcpJTU/Ng5ebapASGQirkFaSIpBXHunt4lnZJ1T2QTLPBEF6CYYBaVbCTpAgkmD4djNe06ik6KWDttF+mS2C9cMzsxIabh1pqLulQNesVcX5g8IrVaTIlkITdEhuwjBCjGFaIvTWBBuoKPDbpKvlJEdYCRJ0AbjYu9DfXHG0O/unOzomYB4mHNdCP+XqnISG+fm6hnl5ia2YCjjrLa2sOcLDNjLtZIpgkofs4GD3ncg8AJqKZKZZTDE1YBakF6mVQ/CMr9B9fxIm/MJLkKBg2gOkpt2tLsPCjW2Tqm2esJaqIk/iK06Lb52aoW2blZ3QNjsnoRNrfAZZKAWkfuZCGekxQRB2IXzzMAE1ArGSpVvbx75rsedHypLw+zl6dU9RkqbLbFR3Yy97bFeelahyoZLBkASVGymVMUQizK0gfN4QZtwiQxB2MS2LlczB69ePdmfdV95ZjBpn0WR5LBLDpn7Yt+2RElMNG1ZHk2wQeiOkzghgFjmCBF0UE1LL0L6fsnvj79jaPu7fJxxRuaUItu9ad236zrN2YRrIJuVllm4RKawiv2Mle0As/BHTF/91bXrlP2em/SffqI66Ld6rujxJ39zQMpnVPBlIwTTD3ZEkRx9ekfYgZzF0Nh1+gEEIaq0+8lVXwSuHbEXdHn98NBHlV8VJ+35zRZJlAC6Neai/Ej4bBwifgd3zlj04gmrraOTheWZS8vGjN2V/vqTIUMW7YDycsqbWHunEagxf18E2A0WOqPAgZ7EVictLBbZLQV23V/toRWfhOzTaCVfspL8ST8Nm1/eHrovQ5RDcW3G+cgyR9iBRQ5Cgm0JUEnUvxIwybAH/zD5r/t+O9Zgb7V7dQI1s7N8buj7Ml0HE902p+RuDniBBN4cA241C77yGWHPk78d7MlDVeUuTM4vVHomIjE2Jb98/LytcHUTMH70fzoCXFIJohCgVZrAK1vTcoI4Tpn+vUN8EPUHNz8qq7pwPau05lW3uIT5/eMnCs+99PwUF45BhvjYampKY6IP0g80Iz88SeqfQzYG/o6/yrsWe8Um9I3N7sytd7sAb9rLHbtVB6QVSBCMhzJtsipbUhJhtYi5y40jbu4rpGSOMXS0u46ennKnbm1ypBzvdyTU2r4mG0CGN1rCXPfa7lxgoQ+Ybylt/GWvpkjFLkLMeAkXckIeBcpBYrniGB0F8ZU+b20BqPNLl0ZPH0Z2izm6Hy6ftdPnjUZXR7fersEbH4fWrsZd9vlFtuzFfd+KxkqRQQu0O1uEsB1/ZJgmxatvYJ8hZD4Q+VRHpaHZENhdKJ4QraxzxCvRPsGMXKjBha7fjgc14BoE9ewkyyAVRWWS0ZQu9+Rw4YkE0ynSa2FHN3hfwPpgIczMCIJppZYqcEsygNrJjHXvfoJX/F2AAO3MRna6+038AAAAASUVORK5CYII=') !important;
}
