/* Joensuu theme */

/* General palette */
$white: #ffffff;
$light-gray: #ddd;
$medium-gray: #ccc;
$gray: #888;
$dark-gray: #575757;
$black: #333;
$gray-blue: #7f929c;
$gray-blue-light: rgb(182, 193, 199);

/* Operator palette */
$joensuu-purple: #5c4696;
$joensuu-dark-purple: #4e3c80;
$joensuu-orange: #ff7200;
$joensuu-bus-blue:  #009fe3;
$joensuu-rail-green: #64be14;
$livi-gold: rgb(233, 171, 0);
$livi-airplane-blue: rgb(0, 70, 173);
$livi-ferry-blue: rgb(53, 181, 179);
$livi-subway-orange: rgb(237, 140, 0);
$livi-tram-green: rgb(106, 137, 37);

/* Application palette */
$background-color: #eef1f3;
$primary-color: $joensuu-purple;
$primary-font-color: $white;
$secondary-color: $joensuu-dark-purple;
$secondary-font-color: $white;
$favourite-color: $livi-gold;
$hilight-color: $joensuu-orange;
$action-color: $joensuu-orange;
$cancelation-red: #dc0451;
$cancelation-black: #666;
$cancelation-background: #fbe0ea;
$disruption-color: $cancelation-red;
$realtime-color: #46b32a;
$dark-color: $gray;

/* Component palette */
$title-color: $white;
$standalone-btn-color: $primary-color;
$standalone-btn-hover-color: $gray-blue-light;
$standalone-btn-active-color: $gray-blue-light;
$viewpoint-marker-color: $joensuu-orange;
$link-color: $joensuu-purple;
$from-color: $joensuu-rail-green;
$to-color: $joensuu-orange;
$slider-warning-color: #FC7C08;
$slider-ok-color: #55B511;

/* Vehicle palette */
$airplane-color: $livi-airplane-blue;
$bus-color: $joensuu-bus-blue;
$tram-color: $livi-tram-green;
$metro-color: $livi-subway-orange;
$rail-color: $joensuu-rail-green;
$ferry-color: $livi-ferry-blue;
$citybike-color: #FBB800;
$walk-color: #6ba3af;
$wait-color: #979797;
$bicycle-color: #64be14;
$car-color: #333;

/* Fonts */
$font-family: Lato, Arial, Georgia, Serif;
$font-weight-book: 400;
$font-weight-medium: 400;
$font-weight-bold: 700;
$font-weight-map-container: $font-weight-book;
$letter-spacing: 0;

$font-family-narrow: 'PT Sans Narrow', 'Arial Condensed', Arial, Georgia, Serif;
$font-narrow-weight-book: 400;
$font-narrow-weight-medium: 500;
$narrow-letter-spacing: 0;

$line-height-normal: 1.2;

$font-size-xxsmall: 11px;
$font-size-xsmall: 12px;
$font-size-small: 13px;
$font-size-smallish: 13px;
$font-size-normal: 16px;
$font-size-large: 24px;
$font-size-xlarge: 32px;

/* Borders */
$border-radius: 3px;
$border-radius-bigger: 8px;

/* Navbar logo */
$nav-logo: url('/img/jojo-logo.png');
