/* Joensuu theme */

/* Base theme */
@import '../../base/waltti';

/* General palette */
$gray-blue: #7f929c;

/* Operator palette */
$joensuu-purple: #5c4696;
$joensuu-dark-purple: #4e3c80;
$joensuu-orange: #ff7200;
$joensuu-bus-blue:  #009fe3;
$joensuu-rail-green: #64be14;

/* Application palette */
$primary-color: $joensuu-purple;
$secondary-color: $joensuu-dark-purple;
$hilight-color: $joensuu-orange;
$action-color: $joensuu-orange;
$current-location-color: $primary-color;

/* Component palette */
$standalone-btn-color: $primary-color;
$viewpoint-marker-color: $joensuu-orange;
$link-color: $joensuu-purple;
$from-color: $joensuu-rail-green;
$to-color: $joensuu-orange;
$desktop-title-color: $primary-color;
$desktop-title-arrow-icon-color: $secondary-color;
$top-bar-color: $primary-color;

/* Vehicle palette */
$bus-color: $joensuu-bus-blue;
$rail-color: $joensuu-rail-green;
