$add-favourite-input-height: 35px;
$add-favourite-input-overlay-height: 27px;

.add-favourite-container {
  padding-top: 12px;
  padding-left: 17px;
  padding-right: 17px;
  height: 100%;
  background-color: $background-color;
  #add-favourite-close-icon {
    fill: $gray;
    width: 1em;
    height: 1em;
    font-size: $font-size-small;
  }

  .add-favourite-container__content {
    max-width: 500px;
    padding: 0px;

    .add-favourite-container__search {
      padding-top: 0px;
      position: relative;
    }

    h4 {
      margin: 20px 0 7px 7px;
    }

    .add-favourite-container__header {
      margin-top: 38px;
      padding-bottom: 10px;
      display: flex;
      align-items: center;
    }

    .add-favourite-star {
      padding-left: 0px;
      padding-top: 0px;
    }

    .add-favourite-star__icon {
      height: 24px;
      width: 24px;
      fill: $favourite-color;
      vertical-align: middle;
    }

    .add-favourite-container__input-placeholder {
      @include form-element();
      height: $add-favourite-input-height;
      line-height: $add-favourite-input-overlay-height;
      border-radius: $border-radius;
      border: 1px solid #e1e0e0;
      .add-favourite-container__input {
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        border: none;
        width: 100%;
        padding-left: 7px;
        &:focus {
          border: none;
          outline: none;
        }
      }
    }

    .add-favourite-container-button {
      @include font-medium;
      color: white;
      background: $standalone-btn-color;
      vertical-align: middle;
      border-radius: 1.5em;
      padding: 0.5em 1.5em;
      text-align: center;
      max-width: 500px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;

      &:active {
        background: $standalone-btn-active-color;
      }

      &.delete {
        background: $background-color;
        color: $gray-blue;
        border: 1.5px solid $gray-blue;
        &:active {
          background: $medium-gray;
        }
      }

      &.disabled {
        background: $medium-gray;
        &:active {
          background: $medium-gray;
        }
      }

      &.cancel {
        background: $background-color;
        color: $gray-blue;
        max-width: 200px;
        border-radius: 0;
        span {
          border-bottom: 2px dotted $gray-blue;
        }
      }

    }
  }
}
