.option-checkbox-container {
  display: flex;

  .option-checkbox {
    position: relative;
    margin-right: 2em;

    label {
      height: 20px;
      width: 20px;
      border: 1px solid #78909c;
      border-radius: 4px;
      background-color: $white;
      cursor: pointer;
      position: absolute;
      left: 0;

      &:hover {
        border: 1px solid $primary-color;
      }

      &.checked {
        border: #007ac9 1px solid;

        &:before {
          color: $primary-color;
          content: "#{'\2714 \fe0e'}";
          font-family: $font-family;
          font-size: 1.25em;
          font-weight: 700;
          line-height: 1;
          margin-left: 0.1em;
          margin-top: 0.2em;
          transform: rotateY(15deg);
        }

        &.disabled:before {
          color: $gray;
        }
      }

      &.disabled {
        background: $light-gray;
        border-color: currentColor;
        cursor: not-allowed;
        pointer-events: none;
      }
    }

    input[type='checkbox'] {
      height: 20px;
      left: 0;
      position: absolute;
      top: 0;
      visibility: hidden;
      width: 20px;
    }
  }

  > span {
    font-weight: 400;
    user-select: none;
  }
}
