$customizedSettings-padding: 1.5em 1em 1.5em 1em;

.customize-search-wrapper {
  height:100%;
}

.customize-search {
  background: #f4f4f5;
  height:100%;
  overflow-y: auto;
  position: relative;

  div {
    span {
      color: #333;
    }
  }

  .close-offcanvas {
    position: absolute;
    background-color: transparent;
    color: #007ac9;
    right: 1em;
    top: 1em;
    padding: 0;
  }

  .option-checbox {
    position: relative;
    margin-right: 1em;

    & input[type=checkbox] {
      visibility: hidden;
      height: 20px;
      width: 20px;
      &:checked + label {
        &:before {
          content: '✔';
          font-size: 1em;
          line-height: 1;
          color: $primary-color;
          font-weight: 700;
          font-family: $font-family;
          transform: rotateY(15deg);
          margin-left: 0.2em;
          margin-top: 0.2em;
        }
      }
      &:checked ~ label {
        border: #007ac9 1px solid;
      }
    }
    & label {
      height: 20px;
      width: 20px;
      border: 1px solid #78909c;
      border-radius: 4px;
      background-color: $white;
      cursor: pointer;
      position: absolute;
      left: 0;
      &:hover {
        border: 1px solid $primary-color;
      }
    }

  }
  }

  .settings-option-container {
    border-top: 1px solid #e3e3e4;
    padding: $customizedSettings-padding;

    h1 {
      text-transform: initial;
      font-size: $font-size-large;
      letter-spacing: -0.6pt;
      font-weight: $font-weight-bold;
      font-family: $font-family;
    }
  }

  .biketransport-option {
    display: flex;
    .option-checkbox {
      margin-top: 0.4em;
    }
    span {
      font-weight: 400;
    }
  }

  .transport-mode-header {
    h1 {
      text-transform: uppercase;
      letter-spacing: -0.6pt;
      font-size: $font-size-normal;
      font-weight: $font-weight-bold;
      font-family: $font-family;
    }
  }

  .mode-option-container {
    display: flex;

    .option-checbox {
      margin-top: 1em;
    }

    .mode-option-block {
      width: 100%;
      height: 3.5em;
      background-color: currentColor;
      margin-bottom: 0.1em;
      display: flex;
      cursor: pointer;

      span {
        color: #fff;
      }
      .icon {
        font-size: 2.5em;
        margin-top: 0.2em;
      }
      .mode-icon {
        margin-left: 1em;
        margin-right: 1em;
        .subicon-caution .icon {
          width: 16px;
          height: 16px;
          margin-left: 0.1em;
          margin-top: -0.8em;
        }
      }
      .mode-name {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        span {
          line-height: 1.1em;
        }
        .span-bike-not-allowed {
          font-size: $font-size-xxsmall;
        }
      }
    }
  }

.avoid-routes-container {
  button.noborder.clear-input {
    background-color: #007ac9;
    height: 4em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    .icon {
      color: #fff;
    }
}
}

.preferred-routes-input-container {

      .react-autosuggest__container input {
        border-radius: 4px;
        height: 3.5em;
        font-size: 1rem;
        font-weight: 700;
        border: 1px solid #dddddd;
        cursor: pointer;
      }
    button.noborder.clear-input {
        background-color: #007ac9;
        height: 4em;
        padding-right: 1.5em;
        padding-left: 1.5em;
        .icon {
          color: #fff;
        }
    }
  }

  .preferred-routes-list {
    color: rgb(51, 51, 51);

    .route-name {
      button {
        border-radius: 50%;
        background: white;
        border: 1px solid rgb(221,221,221);
        padding: 0;
        height: 17px;
        width: 17px;
        line-height: 0;
        margin-right: 0.5em;
        margin-bottom: 0;
        .icon {
          color: #007ac9;
          font-size: 0.4em;
        }
        &:hover {
          border: 1px solid #007ac9;
        }
      }
    }
  }

  .route-preferences-container {

    .routepreferences-option {
      display: flex;

      .checkbox-container .checkmark {
        border: rgb(136, 136, 136) 1px solid;
      }
      span {
        font-weight: 400;
      }
    }
  }

  .save-controls-container {
    text-align: center;
    button {
      border-radius: 100px;
      span {
        color: $white;
      }
    }
    .reset-settings {
      background-color: transparent;
      span {
        color: rgb(0, 122, 201);
      }
    }
  }

  .option-container {
    h1 {
      text-transform: initial;
      font-size: $font-size-large;
      letter-spacing: -0.6pt;
      font-weight: $font-weight-bold;
      font-family: $font-family;
    }
    .select-container {
      position: relative;

      .icon.fake-select-arrow {
        position: absolute;
        right: 1em;
        top: 0.5em;
        font-size: 1.5em;
        color: #007ac9;
        pointer-events: none;
      }

      select {
        border-radius: 4px;
        height: 3.5em;
        font-size: $font-size-normal;
        font-weight: $font-weight-bold;
        border: 1px solid rgb(221,221,221);
        cursor: pointer;

        &:hover {
          border: solid 1px #007ac9;
        }
      }
    }
  }
  .street-mode-selector-panel.customized-settings {
    flex-direction: column;

    .street-mode-selector-panel-header {
      padding-left: 0;
      span {
        color: rgb(51, 51, 51);
        text-transform: uppercase;
        letter-spacing: -0.6pt;
        font-size: $font-size-normal;
        font-weight: $font-weight-bold;
        font-family: $font-family;
      }
    }

    .street-mode-selector-panel-buttons {
      button {
        width: 7em;
        margin-bottom: 0;
      }
      .icon-holder {
        .icon {
          color: #007ac9;
        }
      }
      & .selected {
        .icon-holder .icon {
          color: #333;
        }
        .button-mode {
          span {
            color: rgb(51, 51, 51);
          }
        }
      }
    & > .btn:not(:first-child) {
        border: none;
        &::before {
            width: 1px;
            background-color: #ddd;
            height: 46%;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
        }
      }
    }

    .button-mode {
      max-height: 1em;
      margin-top: 0.5em;
      margin-bottom: 1.5em;
      line-height: 0.8em;
        span {
        font-size: $font-size-xxsmall;
        font-weight: $font-weight-bold;
        color: #007ac9;
      }
    }
  }
  .desktop .settings-option-container.street-mode-selector-panel-container {
    border-top: none;
    padding: $customizedSettings-padding;
    padding-bottom: 0;
  }
  .mobile {
    .street-mode-selector-panel.customized-settings {
      padding: $customizedSettings-padding;
      padding-bottom: 0;
    }
  }
