$customizedSettings-padding: 1.5em 1em 1.5em 1em;

.customize-search-wrapper {
  height:100%;
}

.customize-search {
  background: #f4f4f5;
  height:100%;
  overflow-y: auto;
  position: relative;

  div {
    span {
      color: #333;
    }
  }

  .close-offcanvas {
    position: absolute;
    background-color: transparent;
    color: #007ac9;
    right: 1em;
    top: 1em;
    padding: 0;
  }

  .option-checbox {
    position: relative;
    margin-right: 1em;

    & input[type=checkbox] {
      visibility: hidden;
      height: 20px;
      width: 20px;
      &:checked + label {
        &:before {
          content: '✔';
          font-size: 1em;
          line-height: 1;
          color: $primary-color;
          font-weight: 700;
          font-family: $font-family;
          transform: rotateY(15deg);
          margin-left: 0.2em;
          margin-top: 0.2em;
        }
      }
      &:checked ~ label {
        border: #007ac9 1px solid;
      }
    }
    & label {
      height: 20px;
      width: 20px;
      border: 1px solid #78909c;
      border-radius: 4px;
      background-color: $white;
      cursor: pointer;
      position: absolute;
      left: 0;
      &:hover {
        border: 1px solid $primary-color;
      }
    }

  }
  }

  .settings-option-container {
    border-top: 1px solid #e3e3e4;
    padding: $customizedSettings-padding;

    h1 {
      text-transform: initial;
      font-size: $font-size-large;
      letter-spacing: -0.6pt;
      font-weight: $font-weight-bold;
      font-family: $font-family;
    }
  }

  .desktop .settings-option-container.street-mode-selector-panel-container {
    border-top: none;
      padding: $customizedSettings-padding;
  }

  .biketransport-option {
    display: flex;
    .option-checkbox {
      margin-top: 0.4em;
    }
    span {
      font-weight: 400;
    }
  }

  .transport-mode-header {
    h1 {
      text-transform: uppercase;
      letter-spacing: -0.6pt;
      font-size: $font-size-normal;
      font-weight: $font-weight-bold;
      font-family: $font-family;
    }
  }

  .mode-option-container {
    display: flex;

    .option-checbox {
      margin-top: 1em;
    }

    .mode-option-block {
      width: 100%;
      height: 3.5em;
      background-color: currentColor;
      margin-bottom: 0.1em;
      display: flex;
      cursor: pointer;

      span {
        color: #fff;
      }
      .icon {
        font-size: 2.5em;
        margin-top: 0.2em;
      }
      .mode-icon {
        margin-left: 1em;
        margin-right: 1em;
        .subicon-caution .icon {
          width: 16px;
          height: 16px;
          margin-left: 0.1em;
          margin-top: -0.8em;
        }
      }
      .mode-name {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        span {
          line-height: 1.1em;
        }
        .span-bike-not-allowed {
          font-size: $font-size-xxsmall;
        }
      }
    }
  }

.avoid-routes-container {
  button.noborder.clear-input {
    background-color: #007ac9;
    height: 4em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    .icon {
      color: #fff;
    }
}
}

.preferred-routes-input-container {

      .react-autosuggest__container input {
        border-radius: 4px;
        height: 3.5em;
        font-size: 1rem;
        font-weight: 700;
        border: 1px solid #dddddd;
        cursor: pointer;
      }
    button.noborder.clear-input {
        background-color: #007ac9;
        height: 4em;
        padding-right: 1.5em;
        padding-left: 1.5em;
        .icon {
          color: #fff;
        }
    }
  }

  .preferred-routes-list {
    color: rgb(51, 51, 51);

    .route-name {
      button {
        border-radius: 50%;
        background: white;
        border: 1px solid rgb(221,221,221);
        padding: 0;
        height: 17px;
        width: 17px;
        line-height: 0;
        margin-right: 0.5em;
        margin-bottom: 0;
        .icon {
          color: #007ac9;
          font-size: 0.4em;
        }
        &:hover {
          border: 1px solid #007ac9;
        }
      }
    }
  }

  .route-preferences-container {

    .routepreferences-option {
      display: flex;

      .checkbox-container .checkmark {
        border: rgb(136, 136, 136) 1px solid;
      }
      span {
        font-weight: 400;
      }
    }
  }

  .save-controls-container {
    text-align: center;
    button {
      border-radius: 100px;
      span {
        color: $white;
      }
    }
    .reset-settings {
      background-color: transparent;
      span {
        color: rgb(0, 122, 201);
      }
    }
  }

  .option-container {
    h1 {
      text-transform: initial;
      font-size: $font-size-large;
      letter-spacing: -0.6pt;
      font-weight: $font-weight-bold;
      font-family: $font-family;
    }
    .select-container {
      position: relative;

      .icon.fake-select-arrow {
        position: absolute;
        right: 1em;
        top: 0.5em;
        font-size: 1.5em;
        color: #007ac9;
        pointer-events: none;
      }

      select {
        border-radius: 4px;
        height: 3.5em;
        font-size: $font-size-normal;
        font-weight: $font-weight-bold;
        border: 1px solid rgb(221,221,221);
        cursor: pointer;

        &:hover {
          border: solid 1px #007ac9;
        }
      }
    }
  }
  .street-mode-selector-panel.customized-settings {
    flex-direction: column;

    .street-mode-selector-panel-header {
      padding-left: 0;
      span {
        text-transform: uppercase;
        letter-spacing: -0.6pt;
        font-size: $font-size-normal;
        font-weight: $font-weight-bold;
        font-family: $font-family;
      }
    }

    .street-mode-selector-panel-buttons {
      button {
        width: 7em;
      }
      .icon-holder {
        .icon {
          color: #007ac9;
        }
      }
      & .selected {
        .icon-holder .icon {
          color: #333;
        }
      }
    }

    .button-mode span {
      font-size: $font-size-xxxsmall;
      color: #007ac9;
    }
  }
  .mobile {
    .street-mode-selector-panel.customized-settings {
      padding: $customizedSettings-padding;
    }
  }

  /*

  .sub-header-h5 {
    color: $medium-gray;
  }

  h4 {
    color: $medium-gray;
    font-size: $font-size-small;  // larger than normal
    margin: 10px 0 5px 0;
  }

  hr {
    margin: $padding-medium 0 0 0;
    height: 2px;
    border: 0;
    opacity: 0.1;
    background-color: #ffffff;
  }

  select, button {
    @include font-medium;
    font-size: $font-size-small;
    width: 100%;
    height: auto;
    margin: 0;
    background-color: $dark-gray;
    color: $white;
    &:hover {
      background-color: darken($dark-gray, 10%);
    }
    transition: background-color 300ms ease-out;
    border-radius: $border-radius;
    padding: $padding-medium;

    &.noborder {
      padding: 0;
    }

    &.btn {
      height: 53px;
      font-size: 1em;
    }
  }

  .save-settings {
    text-align: center;
    hr {
      height: 2px;
      opacity: 0.1;
      background-color: $white;
      margin-bottom: 1.7em;
    }
  }

  .save-settings-button {
    width: 80%;
    border-radius: 20px;
  }

  .reset-settings {
    max-width: 80%;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
    display: block;
    &:hover {
      background-color: transparent;
    }
  }

  .reset-settings-button {
    @include font-book;
    line-height: 1.5em;

    span {
      color: #aaaaaa;
      border-bottom: 2px dotted #aaaaaa;
      transition: all 300ms ease-out;
    }

    &:hover {
      span {
        color: $medium-gray;
        border-bottom: 2px dotted $medium-gray;
      }
    }
  }

  input[type="text"] {
    background-color: transparent;
    border: 1px solid $dark-gray;
    border-radius: $border-radius;
    color: $white;
    display: block;
    margin: 0;
    width: 100%;
    appearance: none;
    box-shadow: none;
    border-radius: none;
  }
  input[type="text"]:focus {
    color: $black;
    outline: none;
  }
}
*/
/*
.add-via-point-button-label {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;

  span:first-child {
    height: 1em;
  }
}

.via-point {
  width: 100%;
  display: flex;
  color: $light-gray;
  align-items: flex-end;

 button.link-name {
    @include font-book;
    overflow: hidden;
    flex: 1;
    border-bottom: solid 1px $dark-gray;
    padding-bottom: $padding-xsmall;
    padding-top: $padding-medium;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;

    span {
      @extend .overflow-fade;
      white-space: nowrap;
      width: 100%;
      flex: 1;
    }
  }

  button {
    background: transparent;
    width: auto;
    padding: 0;
  }

  .icon-button {
    margin-left: $padding-large;
    margin-right: $padding-small;
    margin-bottom: $padding-xsmall;
  }
}

.via-point-modal .search-modal-overlay {
  z-index: 1301;
}

.via-point-modal div.search-modal {
  z-index: 1302;
  top: -40px;
}

.mobile {
  .reset-settings {
    max-width: 100%;
  }
}
*/
