.offcanvas-mobile {
  width: 100%;
  height: 100%;
  background: #f4f4f5;
  .settings-option-container {
    padding: 8px 16px 0 16px;
    h2 {
      text-align: center;
      padding: 24px 12px 24px 12px;
      font-size: $font-size-large;
    }
    .mode-option-container {
      .mode-icon {
        margin-left: 0px
      }
    }
    .settings-dropdown-wrapper {
      .settings-dropdown-label {
        padding: 0px;
      }
    }
    .settings-header {
      padding-left: 0px;
    }
    .avoid-transfers-container {
      padding: 0px;
      height: 3.5em;
    }
    .accessibility-container {
      padding: 0px;
      height: 3.5em;
    }
  }
  .customize-search {
    box-shadow: none;
    .close-offcanvas {
      top: 1.5em;
      left: 0.9375em;
      border: solid 1px #dddddd;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      padding-top: 4px;
      padding-right: 2px;
      .close-icon {
        width: 1.3em;
        height: 1.3em;
      }
    }
    .toggle-container {
      .settings-header {
        padding-top: 0.5em;
      }
      span {
        padding-top: 0.5em;
      }
    }
  }
}

.settings-dropdown-wrapper {
  line-height: 1em;
  .settings-dropdown li {
    line-height: 2em;
  }
  .fake-select-arrow {
    height: 0.5em;
  }
}
.customize-search > .settings-option-container {
  border-bottom: 1px solid #e3e3e3;
}

.desktop {
  .customize-search {
    height: 100%;
    .scrollable-content-wrapper {
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-basis: 0px;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
      background: #f4f4f5;
      }
  }
  .offcanvas {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }
}
.customize-search {
  height: auto;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  color: $black;
  line-height: 35px;
  position: relative;
  box-shadow: inset 5px 0px 5px 0px #f4f4f5;
  margin: unset;

  fieldset {
    border: unset;
    padding: unset;
    margin: unset;
    legend {
      margin: unset;
    }
  }

  .close-offcanvas {
    position: absolute;
    background-color: transparent;
    color: $primary-color;
    right: 1em;
    top: 1em;
    padding: 0;
  }

  .react-autosuggest__suggestions-container--open {
    position: absolute;
    width: 100%;
    top: 4rem;
    z-index: index($zindex, autosuggest-suggestion-container)
  }

  .toggle-container {
    .settings-header {
      padding-top: 0.5em;
    }
    span {
      padding-top: 1em;
      width: 100%;
    }
    .icon-container {
      width: auto;
      margin: 0 1em 0 0;
    }
  }
  .walk-options-container {
    font-weight: $font-weight-medium;

    .walk-option-inner {
      padding: 0 16px 0 16px;
    }

    .settings-dropdown-wrapper {
      border-bottom: 1px solid #e3e3e3;
    }

    .toggle-container {
      display: flex;
      justify-content: space-between;
      height: 51px;
    }
    label.toggle-label {
      padding-top: 17px;
      line-height: 16px;
    }
  }
  .mode-option-block.citybike-network-container:nth-child(2) {
    border-bottom: 1px solid #e3e3e3;
  }
  .mode-option-block.citybike-network-container {
    margin-bottom: 0.75em;
    label.toggle-label {
      display: flex;
      flex-grow: 1;
      line-height: 35px;
      .network-name {
        margin-top: 4px;
      }
    }
    .option-toggle-container {
      .toggle {
        top: 0px;
      }
    }
    .icon-container {
      margin-right: 0.5em;
    }
  }
}

.settings-section {
  border-bottom: 10px solid #f4f4f5;
  background:#fff;
  padding-bottom: 0.5em;
  .settings-option-container:last-child {
    border-bottom: 0;
  }
  .settings-option-container:not(:last-child) {
    border-bottom: 1px solid #e3e3e3;
  }
  &.compact-settings-section {
    padding-bottom: 0;
  }
}

.settings-option-container {
  padding: 8px 16px 0 16px;
  font-weight: $font-weight-medium;

  h2 {
    text-transform: none;
    font-size: $font-size-xlarge;
    letter-spacing: -0.6pt;
    font-weight: $font-weight-medium;
    font-family: $heading-font-family;
    padding: 36px 12px 12px 12px;
    margin: 0;
  }

  .option-checkbox-container > span {
    margin-top: -0.4em;
  }

  .mode-option-container:last-child {
    border: none;
  }
}

.transport-mode-header {
  h1 {
    text-transform: uppercase;
    letter-spacing: -0.6pt;
    font-size: $font-size-normal;
    font-weight: $font-weight-medium;
    font-family: $heading-font-family;
  }
}

.settings-header {
  font-size: $font-size-normal;
  color: $gray;
  font-weight: normal;
  padding: 0 0 0 1em;
}

.settings-header-citybike {
  padding-left: 0;
  position: relative;
  top: 10px;
}

.mode-option-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e3e3e3;
  font-size: $font-size-small;
  flex-wrap: wrap;

  .icon-container {
    width: auto;
  }

  .option-checkbox {
    margin-top: 1em;
  }

  label.toggle-label {
    font-size: 0.92rem;
    font-weight: $font-weight-medium;
  }

  .mode-option-block {
    min-height: 51.5156px;
    margin-bottom: 0.1em;
    display: flex;
    cursor: pointer;

    .icon {
      font-size: 2.5em;
      margin-top: 0.2em;
    }

    .mode-icon {
      margin-left: 14.72px;
      margin-right: 14.72px;
      .subicon-caution .icon {
        width: 16px;
        height: 16px;
        margin-left: 0.1em;
        margin-top: -0.8em;
      }
    }
    .mode-name {
      display: flex;
      flex-direction: column;
      margin-top: 1.2em;
      width:100%;
      span {
        color: #000;
        line-height: 1.1em;
      }
      .span-bike-not-allowed {
        font-size: $font-size-xxsmall;
      }
    }

    &.subway svg.SUBWAY-icon {
      fill: $metro-color;
    }
  }
}

.option-container {
  h1 {
    text-transform: none;
    font-size: $font-size-normal;
    letter-spacing: -0.6pt;
    font-weight: $font-weight-medium;
    font-family: $heading-font-family;
  }
  h4 {
    display: none;
  }
  .select-container {
    position: relative;

    .icon.fake-select-arrow {
      position: absolute;
      right: 0.7em;
      top: 0.7em;
      font-size: 1.5em;
      color: $primary-color;
      pointer-events: none;
    }

    select {
      border-radius: 4px;
      height: 3.5em;
      font-size: $font-size-normal;
      font-weight: $font-weight-medium;
      border: 1px solid rgb(221, 221, 221);
      cursor: pointer;

      &:hover {
        border: solid 1px #007ac9;
      }
    }
  }
}

.avoid-transfers-container {
  padding: 0 0 0 1em;
  height: 3.5em;
  display: flex;
  justify-content: space-between;
  .settings-header {
    padding-left: 0px;
    line-height: inherit;
  }
}

.accessibility-container {
  padding: 0 0 0 1em;
  height: 3.5em;

  label.toggle-label {
    flex-grow: 1;
    display:flex;
    line-height: 35px;
    color: #333;
  }
}

.street-mode-selector-panel.customized-settings {
  flex-direction: column;

  .street-mode-selector-panel-header {
    margin-bottom: 0.5em;
    padding-left: 0;

    span {
      color: rgb(51, 51, 51);
      text-transform: uppercase;
      letter-spacing: -0.6pt;
      font-size: $font-size-normal;
      font-weight: $font-weight-medium;
      font-family: $font-family;
    }
  }

  .street-mode-selector-panel-buttons button {
    flex-grow: 1;
    margin-bottom: 0;
  }

  .toggle-button-title {
    margin-bottom: 1.5em;
  }
}

.street-modes-container {
  > div {
    border-bottom: 1px solid #e3e3e3;
  }

  :last-child {
    border: none;
  }
  .transport-mode-subheader {
    border: none;
  }
  .settings-dropdown-wrapper {
    margin-left: 3.2em;
    padding-bottom: 1em;
    padding-top: 0.2em;
  }
}
