.combobox-container {
  @media print {
    display: none;
  }
  background-color: #fff;
  border: solid #888888 1px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 3.125rem;
  justify-content: space-between;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  max-width: 200px;
  flex-basis: 200px;

  &:focus-within {
    border-color: $primary-color;
  }

  &.route-schedule-date {
    margin-right: 1em;
  }

  .icon-container {
    height: 100%;
    display: flex;
    width: 43px;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-shrink: 0;

    #route-schedule-date-icon {
      margin: auto;
      width: 24px;
      height: 24px;
    }
  }
  .left-column {
    width: calc(100% - 46px);
    padding-left: 6px;
    padding-right: 4px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $gray;

    .combobox-selected-value {
      color: $black;
      font-size: $font-size-small;
      font-weight: $font-weight-medium;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      background-color: none;
      & span {
        transition: all 0.2s ease-out;
        &:hover {
          color: $secondary-color;
        }
      }
    }

    & select {
      cursor: pointer;
      border-bottom: 2px none !important;
      transition: all 0.2s ease-out;
      height: 1.27em;
      line-height: 1.3em;
      &:hover {
        color: $secondary-color;
        border-bottom: 2px none !important;
      }
    }
    .showroutes-list {
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.date-select {
  @media print {
    display: none;
  }
  .icon-container {
    height: 100%;
    display: flex;
    width: 43px;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-shrink: 0;

    #route-schedule-date-icon {
      margin: auto;
      width: 24px;
      height: 24px;
    }
  }

  margin-right: 1em;
  background-color: #fff;
  border: solid #888888 1px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 3.125rem;
  justify-content: space-between;
  max-width: 200px;
  flex-basis: 200px;

  .route-schedule__control {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    margin: none;
    padding: none;

    .route-schedule__value-container {
      overflow: visible;
      .route-schedule__placeholder {
        width: 100%;
        display: flex;
        margin: 0px;
        padding: 0 3px 0 0;

        .left-column {
          color: #333;
          font-size: 0.92rem;
          font-weight: 500;
          text-align: left;
          overflow: visible;
          text-overflow: ellipsis;
          white-space: nowrap;
          background-color: none;
          width: calc(100% - 46px);
          padding-left: 4px;
          padding-right: 4px;
          display: flex;
          flex-direction: column;
          border-right: 1px solid $gray;
          .combobox-label {
            font-size: 0.87rem;
            white-space: nowrap;
            color: #666666;
            letter-spacing: -0.48px;
            font-weight: $font-weight-book;
          }

          .selected-value {
            line-height: normal;
            letter-spacing: normal;
          }

          & select {
            cursor: pointer;
            border-bottom: 2px none !important;
            transition: all 0.2s ease-out;
            height: 1.27em;
            line-height: 1.3em;
            &:hover {
              color: $secondary-color;
              border-bottom: 2px none !important;
            }
          }
          .showroutes-list {
            white-space: normal;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .route-schedule__option {
    display: flex;
    justify-content: space-between;
    font-weight: $font-weight-book;
    svg {
      position: relative;
    }
  }

  .route-schedule-select {
    .route-schedule__control {
      min-height: auto;
      .route-schedule__placeholder {
        color: $black;
        font-size: $font-size-small;
      }
    }
    .route-schedule__option {
      display: flex;
      justify-content: space-between;
      svg {
        position: relative;
      }
    }
  }
}
.combobox-label {
  font-size: $font-size-xsmall;
  white-space: nowrap;
  color: #666666;
  letter-spacing: -0.48px;
}

.mobile {
  .combobox-container {
  &.route-schedule-date {
      margin-right: 0.75em;
    }
  }
}
