.nearby-table-container {
    height: 90%;
    position: relative;
}

.nearby-departures-table {
    table-layout: fixed;
    width: 100%;
    height: 93.5%;
    border-spacing: 0;
    thead {
        background: $white;
        display: block;
    }
    .header-tr {
        padding-top: $padding-small;
        padding-bottom: $padding-small;
        display: block;
        border-bottom: 1px solid $light-gray;

    th {
        padding: 6px 14px;
        color: $gray;
        font-family: $font-family-narrow;
        font-weight: 400;
        letter-spacing: 0;
        font-size: $font-size-normal;
        white-space: nowrap;
        margin: 0;
        line-height: 1em;
        padding-left: 0;
        text-align: left;
        width: 14%;

        &:first-child {
            padding-left: 14px;
        }

        &.th-destination {
            width: 38%;
            padding-left: 0.5em;
            padding-right: 0;
        }
    }
}

    tbody {
        max-height: 100%;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        display: block;

        tr {
            padding: .6em 0;
            padding-right: 5px;
            border-bottom: 1px solid $light-gray;
            width: 100%;
            display: block;
            &.next-departure-row-tr {
                background: $white;
                line-height: 1.2;
                position: relative;
                overflow-y: visible;
                white-space: nowrap;
                margin: 0;
                padding-left: 0.8em;
                color: #333;
                font-family: "Gotham XNarrow SSm A", "Gotham XNarrow SSm B", Arial, Georgia, Serif;
                font-weight: 400;
                letter-spacing: 0;
                font-size: $font-size-normal;
            }
        }
    }
    td {
        max-width: 4em;
        padding-right: 1em;

        &.td-distance {
            min-width: 4.2em;
            max-width: 4.2em;
        }

        &.td-destination {
            width: 63%;
        }
        &.td-bikestation {
            max-width: 63%;
            min-width: 30%;
        }
        &.td-route-number {
            min-width: 3.5em;
            max-width: 3.5em;
        }
        .route-destination {
            width: 100%;
        }
        .city-bike-station-name {
            width: 100%;
        }
        .bikes-label {
            margin-right: 0.5em;
            font-size: $font-size-small;
            color: #888;
        }
        .bikes-available {
            font-weight: $font-weight-bold;
        }
        .bikes-total {
            margin-right: 0.4em;
        }
        .time {
            font-weight: $font-weight-bold;
        }
        .distance {
            color:#666666;
        }
    }
}

.mobile .nearby-departures-table {
    th {
        &.th-destination {
            text-align: left;
            width: 58%;
        }
    }
    td {
        &.td-bikestation {
            
        }
    }
}
