.nearby-table-container {
    position: relative;
    display: block;
    height: 100%;
}

table.nearby-departures-table {
    position: relative;
    display: block;
    height: 100%;
    border: 0;
    border-spacing: 0;
    table-layout: fixed;
    thead {
        display: block;
        .header-tr {
            display: flex;
            width: 100%;
            padding-left: 0.6em;
            th {
                text-align: left;
                color: $gray;
                @include font-narrow-book;
                font-size: $font-size-small;
                white-space: nowrap;
                margin: 0;
                line-height: 1em;
                padding-top: 0.6em;
                padding-bottom: 0.6em;
                flex: 0 0 4em;
                &.th-destination {
                    flex: 4em;
                }
            }
        }
    }

    tbody {
        overflow-y: scroll;
        overflow-x: hidden;
        display: block;
        width: 99.7%;
        background-color: #ffffff;
        max-height: calc(100% - 32px);
        tr {
            @include font-narrow-book;
            font-size: $font-size-small;
            margin: 0;
            line-height: 1em;
            display: flex;
            td {
                padding-top: 0.6em;
                padding-bottom: 0.6em;
                border-bottom: 1px solid #cbcbcb;
                display: block;
                flex: 0 0 4em;
                &.td-available-bikes {
                    font-size: $font-size-small;
                    text-align: center;
                    .city-bike-station-availability {
                        padding-right: 0.3em;
                    }
                    .bikes-total {
                        padding-right: 0.3em;
                    }
                }
                &.td-route-number {
                    .route-number {
                        white-space: nowrap;
                        min-width: 50px;
                        overflow: hidden;
                        max-width: 2em;
                        .vehicle-number {
                            -webkit-mask-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.2) 5px, black 7px, black);
                            mask-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.2) 5px, black 7px, black);
                            overflow: hidden;
                            max-width: 2em
                        }
                    }
                }
                &.td-distance {
                    color: $gray;
                    padding-left: 1em;
                }
                &.td-departure-times {
                    font-weight: $font-weight-bold;
                    font-family: $font-family;
                }
                &.td-destination, &.td-bikestation {
                    flex: 4em;
                    span {
                      margin-top: 2px;
                      font-size: $font-size-normal;
                      white-space: pre-line;
                      height: $font-size-normal;
                    }
                    .route-destination {
                        display: block;
                        width: auto;
                    }
                    span.city-bike-station-name {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.small {
    table.nearby-departures-table {
        background-color: $white;
        &.th-route {
            width: 15%;
            text-align: left;
        }
            tbody {
                position: relative;
                display:table;
                height: 100%;
            }
        }
}
