table.nearby-departures-table {

    thead {
        th {
            color: $gray;
            @include font-narrow-book;
            font-size: $font-size-small;
            white-space: nowrap;
            margin: 0;
            line-height: 1em;
            padding-top: 0.6em;
            padding-bottom: 0.6em;
        }
    }

    tbody {
        position: absolute;
        overflow-y: auto;
        max-height: 90%;
        width: 100%;
        tr {
            @include font-narrow-book;
            font-size: $font-size-small;
            white-space: nowrap;
            margin: 0;
            line-height: 1em;
            td {
                padding-top: 0.6em;
                padding-bottom: 0.6em;
                &.td-distance {
                    color: $gray;
                    padding-left: 1em;
                    min-width: 4.5em;
                }
                &.td-departure-times {
                    font-weight: $font-weight-bold;
                    font-family: $font-family;
                }
                &.td-destination, &.td-bikestation {
                    span {
                      margin-top: 2px;
                      font-size: $font-size-normal;
                    }
                }
            }
            &:after {
                border-bottom: 1px solid #cbcbcb;
                content: '';
                width: 100%;
                position: absolute;
                left: 0;
            }
        }
    }

    .next-departure-row {
        .td-route-number {
            min-width: 64px;
        }
    }
}
