@function drop_off_svg($color, $alpha: 0.9999999) {
  @return 'data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2713%27%20height%3D%2712%27%3E%3Cg%20stroke%3D%27none%27%20stroke-width%3D%271%27%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%3E%3Cpath%20fill%3D%27#{rgba($color, $alpha)}%27%20d%3D%27M6.06%2C0%20C9.38%2C0%2012.08%2C2.68%2012.08%2C6.02%20C12.08%2C9.34%209.38%2C12.02%206.06%2C12.02%20C2.74%2C12.02%200.04%2C9.34%200.04%2C6.02%20C0.04%2C2.68%202.74%2C0%206.06%2C0%20Z%20M7.2%2C9.2%20L7.2%2C5.94%20C7.2%2C5.3%206.78%2C4.8%206.14%2C4.8%20L5.04%2C4.8%20C4.5%2C4.8%204.18%2C5.16%204.18%2C5.62%20C4.18%2C6.02%204.44%2C6.44%205.28%2C6.44%20L5.28%2C9.2%20C5.28%2C9.84%205.62%2C10.34%206.24%2C10.34%20C6.88%2C10.34%207.2%2C9.84%207.2%2C9.2%20Z%20M7.36%2C2.78%20L7.36%2C2.68%20C7.36%2C2%206.8%2C1.56%206.06%2C1.56%20C5.32%2C1.56%204.76%2C2%204.76%2C2.68%20L4.76%2C2.78%20C4.76%2C3.46%205.32%2C3.92%206.06%2C3.92%20C6.8%2C3.92%207.36%2C3.46%207.36%2C2.78%20Z%27%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E';
}

@function last_stop_svg($color, $alpha: 0.9999999) {
  @return 'data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2719%27%20height%3D%2719%27%3E%3Cline%20x1%3D%272%27%20y1%3D%2710%27%20x2%3D%2710%27%20y2%3D%2710%27%20stroke%3D%27#{rgba($color, $alpha)}%27%20stroke-width%3D%273.5%27%20stroke-linecap%3D%27round%27%2F%3E%3Ccircle%20stroke-width%3D%272.5%27%20stroke%3D%27#{rgba($color, $alpha)}%27%20fill%3D%27white%27%20cx%3D%2711%27%20cy%3D%2710%27%20r%3D%274%27%2F%3E%3C%2Fsvg%3E';
}

.departure {
  // parent class for time, vehicle-number, destination
  background: $white;
  display: flex;
  justify-content: flex-start;
  line-height: $line-height-normal;
  margin: 0;
  overflow-y: visible;
  position: relative;
  white-space: nowrap;

  .vehicle-number {
    width: 3em;
  }

  & .route-number {
    width: 3em;
  }

  .icon {
    font-size: 1em;
    vertical-align: -1px;
  }

  .route-destination {
    flex: 1;
    padding-left: 0.5em;

    & .destination {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }

  .departure-canceled {
    color: $cancelation-red;
    .icon-container {
      padding-right: $padding-xsmall;
      .icon {
        color: white;
        fill: $cancelation-red;
      }
    }
  }
}

.route-detail-text {
  color: $black;
  @include font-narrow-book;
  font-size: $font-size-normal;
  .vehicle-number {
    mask-image: none;
  }
}

.time,
.vehicle-number,
.destination,
.platform-number,
.bicycle-rental-station,
.city-bike-station-name,
.city-bike-station-availability {
  display: inline-block;
}

.time {
  @include font-narrow-medium;
  width: 3.25em;
  padding-right: 0.25em;
  margin-right: 0.25em;
  text-align: right;
}

.vehicle-number {
  @include font-narrow-medium;
  padding: 0 5px;
  vertical-align: top;
  overflow: hidden;
  mask-image: linear-gradient(
    to left,
    transparent,
    rgba(0, 0, 0, 0.2) 5px,
    black 7px,
    black
  );
}
.departure > div,
.departure > span {
  vertical-align: middle;
}

.desktop .route-destination {
  width: calc(100% - 12.5em);
}

.route-destination {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 1.2em;

  .last-stop-icon {
    vertical-align: middle;
    display: inline-block;
    width: 19px;
    height: 22px;

    &::after {
      vertical-align: middle;
    }

    &.bus {
      background: url(last_stop_svg($bus-color));
    }
    &.tram {
      background: url(last_stop_svg($tram-color));
    }
    &.rail {
      background: url(last_stop_svg($rail-color));
    }
    &.subway {
      background: url(last_stop_svg($metro-color));
    }
    &.ferry {
      background: url(last_stop_svg($ferry-color));
    }
    &.citybike {
      background: url(last_stop_svg($citybike-color));
    }
  }

  .drop-off-stop-icon {
    margin-right: 0.5em;
    display: inline-block;
    width: 13px;
    height: 12px;
    background: url(drop_off_svg($gray));
  }
}

.popup .route-destination:last-child {
  width: calc(100% - 7.5em);
}

.popup .route-destination {
  width: calc(100% - 9.5em);
}

.distance {
  display: inline-block;
}

.platform-short {
  @include font-narrow-book;
  width: 3em;
  color: $gray;
  font-size: $font-size-small;
  text-align: right;
}

.platform-number {
  @include font-narrow-book;
  margin-left: 0.5em;
  color: $gray;
  font-size: $font-size-small;
  text-align: right;
}

// route-number component
.route-number {
  vertical-align: top;
  position: relative;
  display: inline-block;
  min-width: 64px;
  &.vertical {
    max-width: 100%;
    .vehicle-number {
      max-width: 100%;
    }
  }
}

.icon.realtime-icon {
  position: relative;
  top: -0.7em;
  left: 0.1em;
  height: 0.5em;
  width: 0.5em;
}

.card .canceled .time {
  margin-top: inherit;
  margin-bottom: inherit;
  padding-top: inherit;
  padding-bottom: inherit;
}

.next-departure-row {
  background: $white;
  line-height: $line-height-normal;
  position: relative;
  overflow-y: visible;
  white-space: nowrap;
  margin: 0;
  padding-left: 0;

  color: $black;
  @include font-narrow-book;
  font-size: $font-size-normal;

  a {
    color: inherit;
  }

  .route-number {
    padding-left: 0.35em;
    padding-bottom: 4px;
    width: 3.5em;
    vertical-align: middle;
    margin-bottom: -6px;
    overflow-x: hidden;
    overflow-y: visible;
  }

  .icon {
    font-size: 1.15em;
  }

  .distance {
    width: 3em;
    color: $gray;
    text-align: right;
    margin-right: 0.5em;
    font-size: $font-size-small;
  }
  .route-destination {
    width: 100%;
    padding-left: 0.5em;
    vertical-align: bottom;
  }
  .city-bike-station-name {
    width: calc(100% - 10.5em);
    vertical-align: middle;
    padding-left: 0.5em;
  }
  .bicycle-rental-station {
    display: inline-flex;
    position: relative;
    width: calc(100% - 3.5em);
    background-color: rgb(238, 241, 243);
    margin-top: -0.6em;
    margin-bottom: -0.5em;
    margin-left: -0.25em;
    padding: 0.3em 0.25em;
    border-radius: $border-radius;
  }
  .city-bike-station-availability {
    text-align: right;
    width: 7em;
    padding-right: 0.25em;
    .icon {
      margin-left: 0.5em;
      font-size: 12px;
    }
  }
  .bikes-label {
    font-size: $font-size-small;
    color: $gray;
  }
  .bikes-available {
    padding-left: 0.25em;
    font-weight: 700;
  }

  & > div,
  & > span {
    vertical-align: middle;
  }
}

.next-departures-list-header {
  color: $gray;
  @include font-narrow-book;
  font-size: $font-size-normal;
  white-space: nowrap;
  margin: 0;
  line-height: 1em;

  & > span {
    display: inline-block;
    vertical-align: top;
    & > span {
      font-size: $font-size-small;
    }
  }
  .distance-header {
    width: 3em;
    margin-right: 0.5em;
    text-align: right;
  }
  .route-number-header {
    width: 3.5em;
  }
  .route-destination-header {
    font-size: $font-size-xsmall;
  }
  .time-header {
    float: right;
    font-weight: inherit;
    width: 3.5em;
    margin-right: 0.5em;
    text-align: right;
  }
}

.departure-list-header {
  color: $gray;
  background-color: $white;
  @include font-narrow-book;
  font-size: $font-size-small;
  white-space: nowrap;
  padding-left: 1.5em;
  line-height: $line-height-normal;
  border-bottom: 1px solid $light-gray;

  & > span {
    display: inline-block;
    vertical-align: top;
  }
  .route-number-header {
    width: 4em;
  }
  .route-destination-header {
    padding-left: 1em;
  }
  .time-header {
    font-weight: inherit;
    text-align: right;
    width: 3.5em;
    padding-right: $padding-medium;
    margin-right: $padding-medium;
  }
}

.mobile {
  .departure-list-header {
    margin-top: 0em;
  }
}

.desktop .departure-list-header {
  .route-number-header {
    width: 50px;
  }
  .route-destination-header {
    padding-left: 1.5em;
  }
  .time-header {
    width: 50px;
    margin-right: 30px;
  }
}

.stop-page .departure {
  .time {
    width: 50px;
  }
}
.desktop .stop-page .departure {
  .time {
    margin-right: 30px;
  }
  & .route-number {
    width: 100px;
  }
}
