.disclaimer-container {
  background-color: $disclaimer-background-color;
  font-weight: $font-weight-disclaimer;
  border-radius: 0 $border-radius-disclaimer $border-radius-disclaimer 0;
  display: flex;
  font-size: $font-size-xsmall;
  padding: var(--space-s);
  white-space: normal;
  margin-bottom: 5px;
  margin-top: 9px;
  border-left: 4px solid $primary-color;
  box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.2);
  width: 100%;

  .icon-container {
    flex: 0;

    .icon {
      &.info {
        color: $primary-color;
        width: 16px;
        height: 16px;
      }
    }
  }

  .disclaimer {
    display: flex;
    flex-direction: column;
    margin-left: 0.7em;
    color: $black;
    width: 100%;

    .disclaimer-header {
      display: flex;
      width: 100%;
      font-size: $font-size-normal;
      font-weight: $font-weight-medium;
      line-height: 18px;
      margin-bottom: var(--space-xs);

      .disclaimer-close {
        margin-right: 0;
        margin-left: auto;

        &:hover {
          transform: scale(1.1);
          transition: transform 0.1s;
        }
      }
    }

    .disclaimer-content {
      display: flex;
      font-size: $font-size-normal;
      font-weight: $font-weight-book;
      margin-bottom: 8px;
      line-height: 18px;
      letter-spacing: -0.03em;
    }

    .external-link-button {
      display: flex;
      height: 28px;
      min-width: 60px;
      padding: 0 var(--space-m, 24px);
      justify-content: center;
      align-items: center;
      font-weight: $font-weight-medium;
      width: fit-content;
      color: #fff;
      margin-top: var(--space-xs);
      border-radius: var(--radius-radius-pill, 999px);
      background: $primary-color;

      .icon-container {
        padding-left: var(--space-xxs);

        .icon {
          width: 0.8em;
          height: 0.8em;
          vertical-align: middle;
        }
      }
    }

    .external-link {
      padding-top: 4px;
      color: $link-color;
      text-decoration: none;
      font-weight: $font-weight-medium;

      .arrow {
        vertical-align: middle;
      }

      &:hover .arrow {
        transform: translateX(4px);
        transition: transform 0.1s;
      }

      .icon-container {
        padding-left: 7px;
        margin-bottom: -3px;
      }
    }
  }
}
