.disruption-info .icon.disruption-info {
  padding-left: 2vh;
  width: 2em;
  fill: $disruption-color;
}

.disruption-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .stop-tab-container {
    flex: 0 0 auto;
  }

  .stop-tab-singletab, .stop-tab-singletab:hover {
    padding: 10px 0 10px 0;
    background-color: white;
    border-top-color: white;
  }

  .disruption-list-content {
    flex: 1;
    padding: 0 0.5em;

    &.disruption-list-content__large {
      padding: 0 1em;
    }

    h2 {
      margin: $padding-medium $padding-small $padding-small $padding-small;
    }

    .alert-row + .alert-row {
      border-top: none;
    }

    .route-number {
      min-width: 48px;
    }
  }
}

.alerts-content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: $white;
  padding: 0 20px 0 20px;
  &.bp-large {
    padding: 0 3.5rem 0 3.5rem;
  }

  @media print {
    display: block;
  }
}

.alerts-list-wrapper {
  margin-top: 14px;
  &.bp-large {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  @media print {
    display: block !important;
    overflow: auto !important;
  }
}

.alerts-list {
  background: $white;
  padding-bottom: 0.7em;
  flex: 1;
  flex-basis: 0;

  &.bp-large {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .alert-row {
    display: flex;
    padding: 0.8em 0.8em 0.8em 0.8em;
    position: relative;

    .icon.stop-disruption {
      width: 2em;
      color: #fff;
      &.warning {
        fill: $disruption-color;
      }
      &.info {
        fill: $gray-blue;
      }
    }

    .alert-row-link {
      display: contents;
      padding-right: 1px;
      padding-left: 1px;
    }
    + .alert-row {
      border-top: 1px solid $light-gray;
    }
    .alert-contents {
      flex-grow: 1;
      vertical-align: bottom;

      .alert-top-row {
        display: inline-flex;
        align-items: center;
        font-size: 15px;
        .route-alert-entityid {
          font-family: $font-family-narrow;
          font-size: 21px;
          font-weight: $font-weight-medium;
          margin-right: 15px;
        }
      }
    }

    .route-number {
      padding-top: 0.2em;
      padding-right: 0.8em;
      flex-shrink: 0;

      .icon {
        width: 2.5em;
        height: 2.5em;
        position: relative;
        .subicon-info,
        .subicon-caution {
          bottom: -5px;
          left: -5px;
          .icon {
            height: 1.5em;
            width: 1.5em;
          }
        }
      }
      .vehicle-number {
        margin-top: -0.3em;
        font-size: $font-size-xsmall;
      }
    }

    .alert-body {
      font-size: $font-size-small;
      font-weight: 200;

      .alert-url {
        color: $primary-color;
        margin-left: 5px;

        .external-link {
          color: $primary-color;
        }
      }
    }

    &.expired {
      filter: grayscale(1);

      .route-number {
        filter: brightness(1.5);
      }

      .caution {
        filter: contrast(0.6) brightness(1.5);
      }
    }
  }
}
