.dropdown-wrapper {
  margin-bottom: 1em;
  .dropdown {
    list-style-type: none;
    display: inline-block;
    padding: 0px 1em 0 1em;
    width: 100%;

    li {
        cursor: pointer;
        color: $primary-color;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #f4f4f5;
        padding: 0.25em 0.25em 0.25em 1em;
    }

    li.selected {
        border: 1px solid #888888;
        background-color: #ffffff;
        .selected-checkmark {
          color: $primary-color;
          float: right;
          margin: 0.6em 1em 0px 0px;
        }
        .icon-container {
          float: right;
          margin: 0px 1em 0px 0px;
          transform: rotate(-35deg); //Turn dropdown arrow into checkmark
        }
    }
  }

  .dropdown-label {
      height: 2em;
      cursor: pointer;
      display: flex;
      padding: 0px 0px 0px 1em;
      outline: none !important;

      .dropdown-label-text {
        float: left;
        width: 70%;
      }
      .dropdown-label-value {
        float: right;
        color: $primary-color;
        width: 30%;
      }
  }

  .icon-container {
      float: right;
      margin: 0.75em;
      color: $primary-color;
  }
}
