.embedded-seach-container {
    padding: 10px;
    .embedded-search-button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .search-button {
            background-color: $primary-color;
            font-family: $button-font-family;
            border: 2px solid $primary-color;
            color: white;
            border-radius: 40px;
            font-weight: 500;
            width: 128px;
            height: 40px;
            font-size: $font-size-small;
        }
        .brand-logo {
            height: 40px;
        }
    }
}
