.embedded-route-search-container {
    padding-left: 1em;
    padding-right: 1em;
}
.embedded-route-search-container-heading {
    line-height: 1.5em;
}
.embedded-route-search-container-heading-logo {
    height: 1.5em;
}
