$favourite-icon-border-radius: 5px;

.favourite-icon-table-column {
  flex: 1;
  padding: 0;
  background: $white;
  float: left;
  height: 48px;
  margin-bottom: 0;
  text-align: center;

  @include font-medium;

  font-size: 17px;
  border-top: solid 1px $light-gray;
  border-bottom: solid 1px $light-gray;
  border-right: solid 1px $light-gray;
  border-left: none;
  color: $white;
}

.favourite-icon-table-column:active {
  background: $black;
  color: $white;
}

.favourite-icon-table-column:hover {
  background: $black;
  color: $white;
}

.favourite-icon-table-column:focus {
  background: $black;
  color: $white;
}

.favourite-icon-table-column:first-child {
  border-left: solid 1px $light-gray;
  border-top-left-radius: $favourite-icon-border-radius;
  border-bottom-left-radius: $favourite-icon-border-radius;
}

.favourite-icon-table-column:last-child {
  border-top-right-radius: $favourite-icon-border-radius;
  border-bottom-right-radius: $favourite-icon-border-radius;
}

.selected-icon {
  background: $black;
  color: $white;
}
