$favourite-icon-column-border-color: #d9d9d9;
$favourite-icon-border-radius: 5px;

$selected-icon-font-color: #fff;
$not-selected-icon-font-color: #007ac9;

$selected-icon-background-color: #333;
$not-selected-icon-background-color: #fff;

.favourite-icon-table-column {
  flex: 1;
  padding: 0;
  background: $not-selected-icon-background-color;
  float: left;
  height: 48px;
  margin-bottom: 0;
  text-align: center;
  @include font-medium;
  font-size: 17px;
  border-top: solid 1px $favourite-icon-column-border-color;
  border-bottom: solid 1px $favourite-icon-column-border-color;
  border-right: solid 1px $favourite-icon-column-border-color;
  border-left: none;
  color: $not-selected-icon-font-color;
}

.favourite-icon-table-column:active {
  background: $selected-icon-background-color;
  color: $selected-icon-font-color;
}

.favourite-icon-table-column:hover {
  background: $selected-icon-background-color;
  color: $selected-icon-font-color;
}

.favourite-icon-table-column:focus {
  background: $selected-icon-background-color;
  color: $selected-icon-font-color;
}

.favourite-icon-table-column:first-child {
  border-left: solid 1px $favourite-icon-column-border-color;
  border-top-left-radius: $favourite-icon-border-radius;
  border-bottom-left-radius: $favourite-icon-border-radius;

}

.favourite-icon-table-column:last-child {
  border-top-right-radius: $favourite-icon-border-radius;
  border-bottom-right-radius: $favourite-icon-border-radius;
}

.selected-icon {
  background: $selected-icon-background-color;
  color: $selected-icon-font-color;
}
