.feedback-modal {
  #feedback-close-icon {
    fill: $gray;
    vertical-align: sub;
    width: 1em;
    height: 1em;
    font-size: $font-size-small;
  }

  .feedback-close-container {
    margin-top: 8px;
  }

  .feedback-modal__body {
    max-height: 100% !important;
    padding-top: 0px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-bottom: 15px !important;
    background: #EEF1F3 !important;
  }

  .feedback-modal__body--post-first-question {
    @extend .feedback-modal__body;
    padding-bottom: 0px !important;
  }

  .feedback-question {
    @include font-medium;
    font-size: $font-size-normal;
    color: $black;
    line-height: 1.2;
    margin-top: 0px;
    clear: both;
  }

  .feedback-question--text-area {
    @extend .feedback-question;
    clear: none !important;
    float: left;
  }

  .auxiliary-feedback-question {
    margin-top: 40px;
  }

  .send-feedback-button {
    @include font-medium;
    color: white;
    background: linear-gradient(#{#069DD8}, #{#0057B9});
    vertical-align: middle;
    border-radius: 1.5em;
    padding: 0.5em 1.5em;
    text-align: center;
    max-width: 450px;
    margin-top: 25px;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;

    &:active {
      background: linear-gradient(#{#0057B9}, #{#069DD8});
    }

  }

}

.feedback-modal__container {
  height: auto !important;
  overflow: auto;
  width: 100% !important;
  max-width: none !important;
  position: absolute !important;
  bottom: 0px;
  transform: none !important;
  border-top: 1px solid rgba(51, 51, 51, 0.3);
}

.feedback-modal__container--post-first-question {
  @extend .feedback-modal__container;
  top: 0px;
}

.feedback-modal__container--post-first-question > :first-child {
  background: #EEF1F3 !important;
  width: 100%;
  height: 100%;
}

.open-feedback-text-area {
  border: solid 1px #E1E0E0;
}

.open-feedback-counter-text {
  @extend .inline-block;
  @extend .right;
  margin-top: 43px;
  color: $gray;
  font-size: $font-size-xxsmall;
}
