$tab-color: $gray-blue;
$tab-selected-color: $black;
$tab-separator-color: $light-gray;
$tab-min-width: 100px;
$close-color: #79919D;
$heading-color: #858585;

.frontpage-panel-wrapper {
  position: absolute;
  top: 0;
  height: calc(100% - 48px);
  z-index: 1000;
  width: 100%;
  overflow: hidden;
  background-color: $background-color;

  .frontpage-panel {
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
  }

  .panel-top {
    display: flex;
    margin: 0.5em 1em 0 1em;

    .panel-heading {
      display: inline-block;
      h2 {
        margin: 0;
        color: $heading-color;
        text-transform: uppercase;
        font-size: $font-size-large;
      }
    }
    .close-icon {
      margin-left: auto;
      color: $close-color;
      display: inline-block;
      line-height: 2;
      cursor: pointer;
    }
  }
}

.content-marker > div:nth-child(3) {
    height:100%;
    > div {
      height:100%;
    }
    #scrollable-routes {
      min-height: 200px;
      height:calc(100% - 110px);
    }
}

.fpccontainer {
  position:absolute;
  top: 30px;
  right: 30px;
  z-index: 802;
  height: 100%;
  max-height: calc(100% - 60px);
  min-width: 340px;
  width: 30%;
  max-width: 600px;
}

.fpcfloat {
  height: 100%;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  box-shadow: 1.5px 2.6px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: $border-radius-bigger;

  .frontpage-panel.nearby-routes {
    background: #fff;
  }

  .frontpage-panel {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: $border-radius-bigger;
    overflow: hidden;
    background: #eef1f3;
    border-bottom-right-radius: $border-radius-bigger;
    border-bottom-left-radius: $border-radius-bigger;

    .row {
      padding-top:10px;
      background: #eef1f3;
    }

    .nofavs.row {
      background: $white;
      font-size: 13px;
    }

    .next-departures-list-header {
      background: #eef1f3;
      padding: 6px 14px;
    }
    .next-departure-row {
      padding-left:20px;
      padding-right:5px;
    }
    .scrollable.nearby::before {
      background-image: linear-gradient(0deg, white, rgba(255, 255, 255, 0));
      content: '';
      width: 100%;
      height: 1em;
      position: absolute;
      right:0;
      bottom: $border-radius-bigger;
      z-index:1
    }
    .scrollable.favourites {
      position: relative;
    }
  }
}

.tabs-row {
  z-index: 1000;
  background: $light-gray;
  position: relative;
  display: flex;
  padding: 0px;
  margin: 0px;
  height: 50px;
  outline: 1px solid rgba(0, 0, 0, 0.1);

  &.bp-large {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: none;
    outline: none;
  }

  li {
    background: $white;
    list-style: none;
    height: 100%;
    width: 100%;
    color: $primary-color;
    position: relative;
    text-align: center;
    font-size: $font-size-normal;
    line-height: 50px;

    &:nth-child(2) {
      border-left: 1px solid $light-gray;
    }

    .icon {
      color: $primary-color;
      vertical-align: middle;

      &.nearby-icon {
        width: 31px;
        height: 27px;
        margin-top: 2px;
      }

      &.favourites-icon {
        width: 23px;
        height: 23px;
        margin-top: 0px;
      }
    }

    &.bp-large {
      border-bottom: 1px solid $light-gray;

      &:nth-child(1) {
        border-top-left-radius: 8px;
      }

      &:nth-child(2) {
        border-top-right-radius: 8px;
      }

      &.selected:before {
        background: $primary-color;
        content: '';
        height: 3px;
        position: absolute;
        top: 0px;
        left: 10%;
        width: 80%;
        z-index: 1;
      }

      .icon {
        vertical-align: middle;

        &.nearby-icon {
          width: 26px;
          height: 26px;
          margin-top: 0px;
        }

        &.favourites-icon {
          width: 20px;
          height: 20px;
          margin-top: -4px;
        }
      }
    }

    &.selected:before {
      background: $primary-color;
      content: '';
      height: 3px;
      position: absolute;
      top: -1px;
      left: 0px;
      width: 100%;
      z-index: 1;
    }

    &.selected {
      background-color: $background-color;
      color: $black;
      border-bottom: none;
      .icon {
        color: $black;
      }
    }
  }
}

.frontpage-panel-wrapper-enter {
  top: 100%;
  height: 0;
}

.frontpage-panel-wrapper-enter.frontpage-panel-wrapper-enter-active {
  top: 0;
  height: 100%;
  transition: top 300ms, height 300ms;
}

.frontpage-panel-wrapper-leave {
  top: 0;
  height: 100%;
}

.frontpage-panel-wrapper-leave.frontpage-panel-wrapper-leave-active {
  top: 100%;
  height: 0;
  transition: top 300ms, height 300ms;
}

.front-page { //small, mid
  display: flex;
  flex-direction: column;
}

.map-container {
    display: flex;
    flexBasis: 50%;
}

// <Tab> component
.tabs-navigation {
   width:100%;
   overflow:hidden;
   position:relative;
   text-transform: uppercase;
   padding: 10px 0;
}
.tabs-navigation ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
.tabs-navigation ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
   border-right: 1px solid $tab-separator-color;
   min-width: $tab-min-width;
   @include font-medium;
   font-size: 9pt;
}

.tabs-navigation li:last-child {
  border-right: none;
}

.tabs-navigation ul li a {
   color: $tab-color;
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   text-decoration:none;
   line-height:1.3em;
}

.tabs-navigation ul li a:hover {
   color: $tab-selected-color;
}
.tabs-navigation ul li.is-active a,
.tabs-navigation ul li a.selected:hover {
  color: $tab-selected-color;
}

div.route-tabs .tabs-navigation.bp-large {
  display: flex;
  margin: 0 20px;
  width: calc(100% - 40px);

  .route-number {
    flex: 1;
    width: auto;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 10px;

    .icon {
      font-size: 48px;
    }

    .vehicle-number {
      vertical-align: text-bottom;
      padding-left: 0.4em;
    }
  }

  a {
    font-size: 13px;
    min-width: 100px;
    padding: 20px 0 10px;

    .icon {
      width: 2em;
      height: 2em;
    }
  }

  a.is-active {
    border-bottom-width: 4px;
  }

  .route-page-header.favourite-icon {
    position: relative;
    width: auto;
    height: 30px;
    right: 0;
    top: 0;
    padding: 30px 10px 25px 20px;

    .icon {
      width: 30px;
      height: 30px;
    }
  }

}

.flex-grow {
  flex-grow: 1;
  flex-basis: 0;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

#page-footer-container {
  position:absolute;
  bottom:0px;
  z-index:800;
}

#page-footer {
  display:flex;
  align-items: center;
  flex-direction: row;
  background-color: rgba(255,255,255,0.7);

  height:30px;
}

.footer-item {
  cursor: pointer;
  font-size: $font-size-small;
  button {
    display:inline-block;
    @include font-medium;
    font-size: $font-size-small;
  }
  color: $primary-color;
  margin-left:10px;
  margin-right:10px;
  a {
    text-decoration:none;
    color: $primary-color;
  }
}

.footer-text {
  @include font-book;
  color: $gray;
}

.footer-separator {
  width: 1px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-right: 1px solid $medium-gray;
}

svg.icon.footer-icon {
  position: relative;
  top: 2px;
  margin-right: 6px;
}

#footer-link-to-old {
    @include font-book;
}

.front-page.bp-large .toggle-positioning-container{
  bottom: 40px;
}

.front-page.bp-large div.leaflet-bottom.leaflet-left div.leaflet-control-zoom {
  margin-bottom: 80px;
}

.front-page.bp-large .leaflet-container .leaflet-control-attribution {
  bottom: 40px;
  left: 70px;
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > div {
    max-width: 600px;
  }
}

.favourites {
  background: $white;
}
