@import '~@hsl-fi/sass/mixins/screen';

$tab-color: $gray-blue;
$tab-selected-color: $black;
$tab-separator-color: $light-gray;
$tab-min-width: 100px;
$close-color: #79919d;
$heading-color: #858585;

.front-page.blurred {
  .flex-grow .leaflet-container {
    filter: blur(6px);
  }
}

.front-page {
  //small, mid
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 35px;
  .datetimepicker-container {
    margin: 9px 0 9px 0;
    .datetimepicker-bottom-row-open {
      margin-bottom: 9px
    }
  }
}

.control-panel-separator-line {
  display: block;
  width: auto;
  margin: 0 auto;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  border-top: 1px solid #ddd;
  background: $background-color-lighter;
}

.stops-near-you-text {
  h2 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 17px;
  }
}

.near-you-buttons-container {
  margin-bottom: 31px;
}
.stop-route-search-container {
  margin-bottom: 5px;
}

.map-container {
  display: flex;
  flex-basis: 50%;
  min-height: 320px; // Stop near you/favorites tabs from taking up all the space
}

.flex-grow {
  flex-grow: 1;
  flex-basis: 0;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.menu-item {
  cursor: pointer;
  font-size: $font-size-small;
  button {
    display: inline-block;
    @include font-medium;
    font-size: $font-size-small;
  }
  margin-left: 10px;
  margin-right: 10px;
  a {
    text-decoration: none;
    color: white;
  }
}

.menu-text {
  @include font-book;
  color: $gray;
}

svg.icon.menu-icon {
  position: relative;
  top: 2px;
  margin-right: 6px;
}
.front-page.bp-large {
  margin-top: 0;
  padding-top: 47px;
  .datetimepicker-container {
    margin-bottom: 11px;
  }
  .scrollable-content-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-basis: 0px;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
  }
}
.front-page.bp-large .toggle-positioning-container {
  bottom: 40px;
}

.front-page.bp-large div.leaflet-bottom.leaflet-left div.leaflet-control-zoom {
  margin-bottom: 80px;
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > div {
    max-width: 600px;
  }
}

.favourites {
  background: $white;
}
