@import '~@hsl-fi/sass/mixins/screen';

$tab-color: $gray-blue;
$tab-selected-color: $black;
$tab-separator-color: $light-gray;
$tab-min-width: 100px;
$close-color: #79919d;
$heading-color: #858585;

.frontpage-panel-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 50px;
  background: $white;
  transition: flex-grow 500ms cubic-bezier(0.215, 0.61, 0.355, 1),
    flex-basis 500ms cubic-bezier(0.215, 0.61, 0.355, 1);

  &:empty {
    flex-basis: 0;
    flex-grow: 0;
  }
}
.expanded.frontpage-panel-container {
  display: none;
}

.frontpage-panel-wrapper {
  //overflow: scroll;
  &.expanded-panel {
    flex-grow: 0;
    flex-basis: 300px;
    z-index: 1000;
  }

  &.modal-open-panel {
    height: 0px;
  }
}
.small {
  &.frontpage-panel-wrapper {
    table.nearby-departures-table .header-tr {
      overflow-y: hidden;
    }
    table.nearby-departures-table > tbody {
      overflow-y: hidden;
    }
    table.nearby-departures-table > tbody > a:last-child > tr {
      padding-bottom: 50px;
    }
  }
}

.content-marker > div:nth-child(3) {
  height: 100%;
  > div {
    height: 100%;
  }
  #scrollable-routes {
    min-height: 200px;
    height: calc(100% - 110px);
  }
}

.fpccontainer {
  position: absolute;
  top: 16px;
  right: 30px;
  z-index: index($zindex, context-panel);
  height: calc(100% - 100px);
  max-height: 1000px;
  min-width: 340px;
  width: 30%;
  max-width: 600px;

  &:after {
    content: '';
    position: absolute;
    width: 96%;
    height: 3em;
    background: linear-gradient(
      rgba(255, 255, 255, 0) 3px,
      rgba(255, 255, 255, 1)
    );
    bottom: 0;
    pointer-events: none;
    border-bottom-left-radius: $border-radius-bigger;
  }
}

.front-page.blurred {
  .flex-grow .leaflet-container {
    filter: blur(6px);
  }
}

.fpcfloat {
  display: flex;
  flex-direction: column;

  .frontpage-panel.nearby-routes {
    background: #fff;
  }

  .frontpage-panel {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: $white;
    border-bottom-right-radius: $border-radius-bigger;
    border-bottom-left-radius: $border-radius-bigger;

    .row {
      padding-top: 10px;
      background: #eef1f3;
    }

    .nofavs.row {
      background: $white;
      font-size: 13px;
    }

    .next-departures-list-header {
      background: #eef1f3;
      padding: 6px 14px;
    }
    .next-departure-row {
      padding-left: 20px;
      padding-right: 5px;
    }
    .scrollable.favourites {
      position: relative;
    }
  }
}

.tabs-row {
  background: $light-gray;
  position: relative;
  display: flex;
  top: 0px;
  padding: 0px;
  margin: 0px;
  height: 50px;
  outline: 1px solid rgba(0, 0, 0, 0.1);

  &.bp-large {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: none;
    outline: none;
  }
  &.expanded {
    // top: 45px;
  }

  li {
    background-color: $background-color;
    list-style: none;
    height: 100%;
    width: 100%;
    color: $link-color;
    position: relative;
    text-align: center;
    font-size: $font-size-normal;
    line-height: 50px;

    &:nth-child(2) {
      border-left: 1px solid $light-gray;
    }

    .icon {
      color: $link-color;
      vertical-align: middle;

      &.nearby-icon {
        width: 31px;
        height: 27px;
        margin-top: 2px;
      }

      &.favourites-icon {
        width: 23px;
        height: 23px;
        margin-top: 0px;
      }
    }

    &.bp-large {
      border-bottom: 1px solid $light-gray;

      &:nth-child(1) {
        border-top-left-radius: 8px;
      }

      &:nth-child(2) {
        border-top-right-radius: 8px;
      }

      &.selected:before {
        background: $link-color;
        content: '';
        height: 3px;
        position: absolute;
        top: 0px;
        left: 10%;
        width: 80%;
      }

      .icon {
        vertical-align: middle;

        &.nearby-icon {
          width: 26px;
          height: 26px;
          margin-top: 0px;
        }

        &.favourites-icon {
          width: 20px;
          height: 20px;
          margin-top: -4px;
        }
      }
    }

    &.selected:before {
      background: $link-color;
      content: '';
      height: 3px;
      position: absolute;
      top: -1px;
      left: 0px;
      width: 100%;
    }

    &.selected {
      background-color: $white;
      color: $black;
      border-bottom: none;
      .icon {
        color: $black;
      }
    }
  }
}

.frontpage-panel-wrapper-enter {
  top: 100%;
  height: 0;
}

.frontpage-panel-wrapper-enter.frontpage-panel-wrapper-enter-active {
  transition: top 300ms, height 300ms;
}

.frontpage-panel-wrapper-leave {
  top: 0;
  height: 100%;
}

.frontpage-panel-wrapper-leave.frontpage-panel-wrapper-leave-active {
  top: 100%;
  height: 0;
  transition: top 300ms, height 300ms;
}

.front-page-map-wrapper {
  width: calc(100% - 600px); // 600px is from control-panel-container left's width.
  display: flex;
  flex: 1;
  left: auto; // Allows shrinking map from left side instead of right.
  right: 0; //
  background: none;
  align-self: flex-end;
}

.front-page {
  //small, mid
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 35px;
  .datetimepicker-container {
    margin: 20px 0 9px 0;
    .datetimepicker-bottom-row-open {
      padding-bottom: 30px;
      border-bottom: 1px solid rgb(221, 221, 221);
    }
  }
}
.control-panel-container-left {
  display: flex;
  order: 1;
  flex-direction: column;
  align-items: stretch;
  background-color: #ffffff; // // DT-3381: TODO Placeholder values!
  position: absolute;
  height: 100%;
  width: 600px;  // DT-3381: TODO Placeholder values!
  min-width: 600px;  // DT-3381: TODO Placeholder values!
  z-index: 20; // DT-3381: TODO Placeholder values!
}

.control-panel-container-bottom {
  width: 100%;
  background-color: #ffffff;
}
.control-panel-separator-line {
  display: block;
  width: auto;
  margin: 0 auto;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  border-top: 1px solid #ddd;
  background: $background-color-lighter;
}

.stops-near-you-text {
  h2 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 17px;
  }
}

.near-you-buttons-container {
  margin-bottom: 31px;
}
.stop-route-search-container {
  margin-bottom: 5px;
}

.map-container {
  display: flex;
  flex-basis: 50%;
  min-height: 320px; // Stop near you/favorites tabs from taking up all the space
}

// <Tab> component
.tabs-navigation {
  width: 100%;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  padding: 10px 0;
}

.tabs-navigation ul {
  clear: left;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}

.tabs-navigation ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  right: 50%;
  border-right: 1px solid $tab-separator-color;
  min-width: $tab-min-width;
  @include font-medium;
  font-size: 9pt;
}

.tabs-navigation li:last-child {
  border-right: none;
}

.tabs-navigation ul li a {
  color: $tab-color;
  display: block;
  margin: 0 0 0 1px;
  padding: 3px 10px;
  text-decoration: none;
  line-height: 1.3em;
}

.tabs-navigation ul li a:hover {
  color: $tab-selected-color;
}

.tabs-navigation ul li.is-active a,
.tabs-navigation ul li a.selected:hover {
  color: $tab-selected-color;
}

div.route-tabs .tabs-navigation.bp-large {
  display: flex;
  margin: 0 20px;
  width: calc(100% - 40px);

  .route-number {
    flex: 1;
    width: auto;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 10px;

    .icon {
      font-size: 48px;
    }

    .vehicle-number {
      vertical-align: text-bottom;
      padding-left: 0.4em;
    }
  }

  a {
    font-size: 13px;
    min-width: 100px;
    padding: 20px 0 10px;

    .icon {
      width: 2em;
      height: 2em;
    }
  }

  a.is-active {
    border-bottom-width: 4px;
  }

  .route-page-header.favourite-icon {
    position: relative;
    width: auto;
    height: 30px;
    right: 0;
    top: 0;
    padding: 30px 10px 25px 20px;

    .icon {
      width: 30px;
      height: 30px;
    }
  }
}

.flex-grow {
  flex-grow: 1;
  flex-basis: 0;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.menu-item {
  cursor: pointer;
  font-size: $font-size-small;
  button {
    display: inline-block;
    @include font-medium;
    font-size: $font-size-small;
  }
  color: $link-color;
  margin-left: 10px;
  margin-right: 10px;
  a {
    text-decoration: none;
    color: $link-color;
  }
}

.menu-text {
  @include font-book;
  color: $gray;
}

svg.icon.menu-icon {
  position: relative;
  top: 2px;
  margin-right: 6px;
}
.front-page.bp-large {
  margin-top: 0;
  padding-top: 47px;
  border-right: 1px solid #ccc;
  .datetimepicker-container {
    margin-bottom: 11px;
  }
  .scrollable-content-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-basis: 0px;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    }
}
.front-page.bp-large .toggle-positioning-container {
  bottom: 40px;
}

.front-page.bp-large div.leaflet-bottom.leaflet-left div.leaflet-control-zoom {
  margin-bottom: 80px;
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > div {
    max-width: 600px;
  }
}

.favourites {
  background: $white;
}

.usermenu-wrapper {
  user-select: none;
  display: flex;
  position: relative;
  flex-direction: column;
}

.usermenu-header {
  display: flex;
  flex-direction: row;
  z-index: 1;
  padding: 0.625rem 0;
  cursor: pointer;
  align-items: center;
  text-align: center;
  line-height: normal;
}

.usermenu-title {
  display: flex;
  flex-direction: row;
}

.usermenu-title-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0.625rem;
  padding-left: 0.5rem;
  color: #fff;
  max-width: 4.5rem;
  font-size: 1rem;
  @include min-width(tablet) {
    font-size: $font-size-normal;
  }
}

.usermenu-container {
  z-index: 0;
  opacity: 0;
  position: absolute;
  min-width: 200px;
  background-color: $primary-color;
  transition: opacity .1s linear;

  &.open {
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: none;//0 2px 0 0 rgba(0,0,0,.06);
    top: 50px;
    right: -25px;
    opacity: 1;
    @include min-width(tablet) {
      right: 0;
      top: 61px;
    }
  }
}

.usermenu-list {
  list-style-type: none;
  padding: 10px 0 15px;
  margin: 0;
  .usermenu-list-item {
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
    width: 100%;
    line-height: normal;
    font-weight: $font-weight-medium;
    border-top: 1px solid transparent;
    color: #fff;
    font-size: $font-size-normal;
    > a {
      position: relative;
      display: block;
      width: 100%;
      text-decoration: none;
      color: #fff;
      line-height: 2.4;
      letter-spacing: -0.6px;
      text-align: start;
      margin: 0 15px;
    }
  }
  .usermenu-list-item:not(:last-child) > a {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    @include min-width(tablet) {
      border-bottom: none;
    }
  }
  .usermenu-list-item:hover {
    background: darken($primary-color, 5%);
  }
}
