.generic-table > .row {
  display: flex;
}

.generic-table__label-container{
  font-size: $font-size-xxsmall;
  margin-top: 3px;
  color: $gray;
  height: 16px;
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto;
}
