.itinerary-profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
  font-size: 15px;
  line-height: 18px;
  margin-top: 7px;

  &.small {
    font-size: 10pt;
  }

  .itinerary-profile-item-title {
    @include font-book;
    color: $gray;
    display: inline-block;
  }

  .itinerary-profile-item-value {
    color: $black;
    display: inline-block;
    margin-left: 0.25rem;
  }
  @media print {
    margin-bottom: 16px;
  }
  button {
    display: none;
    @include min-width(tablet) {
      display: flex;
    }
  }
}
