@charset "UTF-8";

$topbar-height: 40px;
$itinerary-summary-height: 40px;
$itinerary-tab-switch-height: 48px;

@mixin getCircleSvg($stroke, $fill) {
  svg {
    stroke: $stroke;
    fill: $fill;
  }
    //content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='28' height='28'><circle stroke-width='2' stroke='#{rgba($stroke, 0.9999999)}' fill='#{$fill}' cx='11' cy='10' r='4'/></svg>");
}

@mixin setModeCircles($fill) {
    &.bus { @include getCircleSvg($bus-color, $fill); }
    &.airplane { @include getCircleSvg($airplane-color, $fill); }
    &.tram { @include getCircleSvg($tram-color, $fill); }
    &.subway { @include getCircleSvg($metro-color, $fill); }
    &.rail { @include getCircleSvg($rail-color, $fill); }
    &.ferry { @include getCircleSvg($ferry-color, $fill); }
    &.citybike { @include getCircleSvg($citybike-color, $fill); }
    &.walk { @include getCircleSvg($walk-color, $fill); }
    &.wait { @include getCircleSvg($wait-color, $fill); }
    &.bicycle { @include getCircleSvg($bicycle-color, $fill); }
    &.car { @include getCircleSvg($car-color, $fill); }
    &.via { @include getCircleSvg($walk-color, $fill); }
    &.call { @include getCircleSvg($bus-color, $fill); }
}


.itinerary-swipe-views-root {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  // min-height: 300px; // TODO: This is required in IE due to ???
  & > div {
    display:flex;
    flex-grow: 1;
    >div {
      display: flex;
      flex-direction: column;
    }
  }

  &.itinerary-container-content-enter {
    flex-grow: 0;
    will-change: flex-grow;
  }

  &.itinerary-container-content-enter.itinerary-container-content-enter-active {
    flex-grow: 20;
    transition: flex-grow 300ms;
  }

  &.itinerary-container-content-leave {
    flex-grow: 20;
  }

  &.itinerary-container-content-leave.itinerary-container-content-leave-active {
    flex-grow: 0;
    will-change: flex-grow;
    transition: flex-grow 300ms;
  }
}

.itinerary-tabs__scroll {
  background: $white;
  flex-grow: 1;
}

.itinerary-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 15px;

  div {
    flex-grow: 1;
    flex-shrink: 0;
  }

  div.itinerary-ticket-information {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

@media print {
  .itinerary-main {
    display:block;
    height:auto;
  }
}

.itinerary-summary {
  flex-grow: 0;
  flex-shrink: 0; //for ie mobile
  color: $gray;
  font-weight: $font-weight-book;
  font-size: 10pt;
  padding: 10px;
  height: $itinerary-summary-height;
  border-top: solid 1px $light-gray;
  border-bottom: solid 1px $light-gray;
  background: transparent;
}

.itinerary-icon-container {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 2px;
    z-index: 10;
}

.itinerary-icon {
  position: absolute;
  margin-left: -21px;
  margin-top: 2px;
  fill: currentColor;

    @mixin itineraryTableIcons() {
      margin: 0 auto;
      font-size: $font-size-normal;
      //font-size: $font-size-large;
      width: 20px;
      height: 20px;
      margin-left: -0.1em;
      background-color: $white;
    }
    &.to-it {
      @include itineraryTableIcons();
      top: 4px;
    }
    &.from-it {
      @include itineraryTableIcons();
      top: -4px;
    }
    &.via-it {
      @include itineraryTableIcons();
    }
}

.bp-large {
  .from {
  margin-left: -8.2%;
  }
}

.itinerary-search-icon {
  color: $medium-gray;
}

.duration {
  font-weight: $font-weight-bold;
}

.duration--itinerary-summary,
.timeframe--itinerary-summary {
  padding-right: 10px;
}

.itinerary-ticket-information {
  display: flex;
  color: $gray;
  font-weight: $font-weight-book;
  font-size: $font-size-xxsmall;
  margin: 0;
  border: 0px;
  border-top: 1px solid #ddd;
  padding: $padding-medium;
  .itinerary-ticket-layout-left {
    display: inline-block;
    font-size: 2.4em;
    padding-right: 10px;
  }

  .itinerary-ticket-layout-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .itinerary-ticket-external-link {
    flex-shrink: 0;
    .external-link-container {
      margin-top: 0;
      margin-right: 0;
    }
    a {
      color: $link-color;
      text-decoration: none;
      @include font-medium;
    }
    .external-link-icon-outer {
      color: white;
    }

    .external-link-icon {
      color: $primary-color;
    }

  }

  .itinerary-ticket-type {
    white-space:normal;
    flex-shrink: 1;
    display: inline;
    margin-left: 0.3em;
    padding-right: 1em;

    .ticket-type-group, .ticket-type-zone {
      @include font-book;
      color: $gray;
    }

    .ticket-type-fare {
      font-weight: $font-weight-bold;
      color: $black;
    }
  }
}

.desktop {
  .itinerary-ticket-information{
    font-size: 15px;
  }
}
.call-agency {
  background-color: yellow;
}

.row.itinerary-row {
  position:relative;
  line-height: 1.1;
  color: $medium-gray;
  width: 100%;
  max-width: 100%;
  display: flex;

  .leg-before {
    min-width: 15px;
    max-width: 25px;
    position: relative;
  }

  .leg-before-circle {
    position: absolute;
    z-index: 9;
    @include setModeCircles(#fff);
    &.circle-fill {
    &.bus { @include setModeCircles($bus-color); }
    &.airplane { @include setModeCircles($airplane-color); }
    &.tram { @include setModeCircles($tram-color); }
    &.subway { @include setModeCircles($metro-color); }
    &.rail { @include setModeCircles($rail-color); }
    &.ferry { @include setModeCircles($ferry-color); }
    &.citybike { @include setModeCircles($citybike-color); }
    & { @include setModeCircles($walk-color); }
    &.wait { @include setModeCircles($wait-color); }
    &.bicycle { @include setModeCircles($bicycle-color); }
    &.car { @include setModeCircles($car-color); }
    &.via { @include setModeCircles($walk-color); }
    &.call { @include setModeCircles($bus-color); }
  }
  }

  .leg-before-line {
    height: 94%;
    top: 0.7em;
    position: absolute;
    left: 8px;
    border-left: 6px solid;

    &.walk {
      background-image: url('../default/dotted-line-bg.png');
      background-size: 100% auto;
      background-position-y: -3px;
      background-position-x: 0px;
      background-repeat: no-repeat repeat;
      border: none;
      width: 8px;
      left: 7px;
    }
    &.call {
      border-left: dashed 1px;
      border-right: dashed 1px;
      border-color: #aaaaaa;
      width: 6px;
      height: 100%;
      background: $white;
    }
  }

  .itinerary-time-column {
    @include font-narrow-medium;
    font-size: 1em;
    text-align: center;
    color: $black;
    margin-bottom: 0.5em;
    flex-grow: 0;

    a {
        text-decoration: none;
    }

    &.call {
      .route-number {
        padding-top: 2em;
      }
    }

    .itinerary-time-column-time {
      margin-bottom: 0.3em;
      color: $black;
      text-decoration: none;
      span {
        position: relative;
      }
    }
    .icon {
      &.realtime-icon.realtime {
        top: -0.3em;
        left: -0.4em;
        position: absolute;
      }
      font-size: 14pt;
    }
    .leg-call {
      .icon {
        font-size: 1.8em;
      }
    }
    .original-time {
      text-decoration: line-through;
      color: $gray;
    }
    .route-number {
      padding-top: 0.25em;
      &.call {
        padding-top: 1.5em;
        padding-left: 0.8em;
      }
    }
    .vehicle-number.long {
      overflow: hidden;
      width: inherit;
    }
  }
  .special-icon {
    &.call, &.disruption {
      min-height: 24px;
      min-width: 24px;
      margin-left: 1em;
      position: absolute;
      margin-top: -1em;
    }
  }

  .itinerary-instruction-column.start::before {
     content: "";
  }

 .itinerary-instruction-column.end::before {
    content: "";
 }

  .itinerary-instruction-column.via::before {
     content: "";
  }

 .itinerary-main > div:nth-child(1)::after {
   content: "";
 }
  .itinerary-instruction-column.intermediate:not(.to)::after {
    top: 0px;
  }

  .itinerary-instruction-column.walk:not(.to)::after{
    border-left-style: dotted;
  }
  .itinerary-instruction-column.bicycle_walk:not(.to)::after{
    border-left-style: dotted;
  }
  .itinerary-instruction-column.citybike_walk:not(.to)::after{
    border-left-style: dotted;
  }
  .itinerary-instruction-column.via:not(.to)::after{
    border-left-style: dotted;
  }

  .itinerary-instruction-column {
    cursor: pointer;
    @include font-book;
    font-size: 10pt;
    padding-left: 0.5em;
    margin-bottom: 0.5em;
    min-height: 4.15em;

    &.intermediate {
      min-height:5px;
    }

    &.via {
      min-height: 5em;
    }

    &.end {
      min-height: 3em;
    }

    .itinerary-leg-first-row {
      display: flex;
      flex-direction: row;
      white-space: normal;
      color: $black;
      @include font-medium;

      .itinerary-leg-first-row__arrow {
        @include font-medium;
        font-size: 0.6em;

      }
      span.itinerary-stop-code {
        vertical-align: 2px;
      }

      > :first-child {
        flex-grow: 1;
        max-width: calc(100% - 20px);
      }
    }

    .itinerary-leg-text-gray {
      @include font-book;
      color: $gray;
    }

    .itinerary-transit-leg-route, .itinerary-via-leg-duration {
      @extend .itinerary-leg-text-gray;
      margin-top: 1px;
      overflow: hidden;
    }

    .itinerary-leg-action {
      margin-top: 12px;
      @extend .itinerary-leg-text-gray;
    }

    .itinerary-leg-intermediate-stops {
      margin-top: 12px;
      padding-bottom: 0px;
      @extend .itinerary-leg-text-gray
    }

    .intermediate-stop-info-container {
      margin-top: 6px;
    }

    .intermediate-stops-link {
      @include font-bold;
      color: $gray-blue;
      border-bottom: 2px dotted $gray-blue;
    }

    .intermediate-stops-duration {
      color: $gray;
    }

  }
}

.bp-large .row.itinerary-row .itinerary-instruction-column:not(.to)::after {
    left: 3px;
}

.bp-large .row.itinerary-row {
  padding-right: 3px;
  margin-left: 0;

 .itinerary-time-column {
    @include font-narrow-medium;
    font-size: 10pt;
 }

  .itinerary-time-column {
    .itinerary-time-column-time {
      font-size: 21px;
    }

    .icon {
      font-size: 24px;
    }
    .vehicle-number {
      font-size: $font-size-normal;
    }
  }

  .itinerary-instruction-column {
    font-size: $font-size-normal;
    min-height: 75px;

    &.via {
      min-height: 100px;
    }

    &.intermediate {
      min-height: 10px;
      margin-bottom: 7px;
    }

    &.end {
      min-height: 0;
    }

    .itinerary-icon {
      font-size: 13px;
      margin-left: -24px;
    }

    .itinerary-search-icon {
      font-size: 20px;
    }
  }
}

.row.itinerary-route-information {
  text-align: center;
  left: 2em;
  right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: solid 1px $light-gray;
  border-bottom: solid 1px $light-gray;
  width: calc(100% - 2em);
  div {
    border-right: solid 1px $light-gray;

    &.noborder {
      border-right: none;
    }
  }
}

span.itinerary-stop-code {
  @include font-medium;
  color: $gray;
  border: solid 1px $light-gray;
  border-radius: $border-radius-small;
  padding: 1px 4px;
  margin-right: 2px;
  margin-left: 3px;
  font-size: 10px;
}

div.itinerary-container-content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  transition: height 500ms;

  &:empty {
    height: 0;
  }
}

.itinerary-slide-container {
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  position: absolute;
  width: 100%;
}

.itinerary-leg-agency {
  @extend .itinerary-leg-text-gray;
  .agency-link-container {
    max-width:calc(100% - 1em);
    white-space: nowrap;
    margin-top: 0.7em;
    margin-bottom: 0.80em;
    .agency-link {
      font-size: 10px;
      .external-link-container { max-width: calc(100% - 1em);}
      a {
        font-weight:$font-weight-bold;
        color: $link-color;
        max-width: 100%;
      }
      .external-link-icon-outer {
        color: white;
      }
      .external-link-icon {
        color: $link-color;
      }
    }
  }
}


.itinerary-tabs-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  height: $itinerary-tab-switch-height;
  &.itinerary-container-content-enter {
    height: 0;
    will-change: height;
  }

  &.itinerary-container-content-enter.itinerary-container-content-enter-active {
    height: $itinerary-tab-switch-height;
    transition: height 300ms;
  }

  &.itinerary-container-content-leave {
    height: $itinerary-tab-switch-height;
    will-change: height;
  }

  &.itinerary-container-content-leave.itinerary-container-content-leave-active {
    height: 0;
    transition: height 300ms;
  }
}

.itinerary-tab-root {
  margin: 0px;
  opacity: 1.0;
}

.itinerary-tab-root--selected {
  @extend .itinerary-tab-root;
  opacity: 0.75;
}

.itinerary-no-route-found {
    margin: 1em;
}

.itinerary-tab {
  @include font-medium;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  //for ie mobile
  min-height: 100%;
  //for ie mobile
  max-height: 100%;
}

@media print {
  .itinerary-tab {
    display: block;
    height: auto;
  }
}

.intermediate-stop-no-stops {
  color: $gray;
  font-weight: $font-weight-book;
  font-size: 10pt;
}

.desktop .itinerary-intermediate-stop-name {
  font-size: 15px;
}

.itinerary-tab .itinerary-timeframe {
  padding-top: 15px;
}

.timeframe-nextday {
  background-color: $gray;
  line-height: 1;
  @include font-narrow-medium;
  color: $white;
  border-radius: $border-radius-small;
  padding: $padding-xsmall $padding-small;
}

.date-warning {
  display: inline-block;
  background-color: $gray;
  line-height: 1;
  @include font-narrow-medium;
  color: $white;
  border-radius: $border-radius;
  padding: 4px 7px;
}

.itinerary-heading {
  padding-left: 25px;
  padding-top: 12px;
}

.icon.via {
  color: $black;
}

.row.itinerary-row .itinerary-time-column .itinerary-time-column-time.via-arrival-time {
  margin-bottom: 0;
}

.itinerary-time-column.via-time-column {
  margin-top: -12px;
}

.via-divider {
  text-align: center;
  overflow: hidden;
  line-height: 1px;
}

.via-divider > .via-divider-line {
  display: inline-block;
  border-top: 1px solid $gray;
  width: 2em;
  height: 1px;
}

.itinerary-call-agency-warning {
  width: calc(100% - 50px);
  height: calc(100% - 3em);
  background-color: rgba(254, 209, 0, 0.3);
  position:absolute;
  top:0;
  left:4%;
  margin-top: 2em;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: $border-radius;
  height: calc(100% - 2.3em);
  top: -0.4em;
}

.itinerary-instruction-column.call {
  .itinerary-transit-leg-route {
    padding-top: $padding-medium;
    &.call, &.disruption {
      padding-top: 2em;
      padding-right: 1em;
      width: 90%;
    }
  }
  .warning-message {
    white-space: normal;
    color: $black;
    .route-name {
      @include font-bold;
    }
  }
}

.call-button {
  width: calc(100% - 13px);
  @include font-medium;
  color: white;
  background: $standalone-btn-color;
  vertical-align: middle;
  border-radius: 1.5em;
  padding: 0.6em 1.5em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 1.5em;
  margin-right: auto;
  cursor: pointer;
  @include font-medium;
  font-weight: 600;
  a {
    text-decoration: none;
    color: white;
  }
}

.itinerary-warning-agency-container {
  display: flex;
  justify-content: center;
  .agency-link-container {
    padding:0;
  }
}

.itinerary-leg-container {
  margin-left: calc(100% / 6);
  }

.vehicle-number-container-v {
        margin-top: 4px;
  }

.print-itinerary {
    min-width: 4.3em;
    max-width: 7em;
    margin-bottom: 1.2em;
    margin-right: 0.6em;
    padding: 0px 6px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #222;
    float: right;
  }

  .print-itinerary-container {
    background-color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
  }

  .print-itinerary-allLegs {
    width: 100%;
  }

  .print-itinerary-leg {
    display: block;

    .print-itinerary-leg-container {
      width: 100%;
      display: flex;
    }

  .itinerary-left {
    width: 4.3em;
    margin-right: 1em;
    text-align: center;
  }

    .itinerary-icon {
      position: initial;
      margin-left: 0;
      margin-top: 0;

      .vehicle-number {
        margin-top: -0.6em;
      }
          .icon {
            width: 1.75em;
            height: 1.75em;
           }
    }

    .itinerary-timestamp {
      color: $black;
      font-weight: 500;
      font-size: $font-size-large;
    }

    .itinerary-circleline {
      position: relative;
      width: 2em;

      .from {
        width: 1.8em;
        height: 1.8em;
      }
      .to {
        width: 1.8em;
        height: 1.8em;
      }
    }

    .leg-before-line {
      height: 83%;
      top: 2.4em;
      position: absolute;
      left: 0.8em;
      border-left: 6px solid;

        &.walk {
        background-image: url('../default/dotted-line-bg.png');
        background-size: 100% auto;
        background-position-y: -3px;
        background-position-x: 0px;
        background-repeat: no-repeat repeat;
        border: none;
        width: 8px;
        left: 7px;
      }
    }

    .intermediate-stops {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .itinerary-leg-stopname {
      font-family: $font-family;
      font-weight: 700;
      font-size: $font-size-large;
      color: $black;

      .stop-code {
        font-weight: $font-weight-medium;
      }
    }

    .itinerary-center {
      margin-left: 1em;
      width: 100%;
      border-bottom: 2px dotted #1b1a18;
      margin-bottom: 1em;
      &.end {
        border-bottom: none;
      }
    }

    .itinerary-instruction {
      color: $black;
    }

    .intermediate-stops-count {
      font-weight: 700;
      font-size: 0.8em;
    }
    .intermediate-stops-duration {
      font-weight: $font-weight-medium;
      font-size: 1em;
    }

    .intermediate-stop-single {
      font-size: 0.7em;
    }
  }

.mobile {
  .itinerary-main {
    margin: 0 $padding-small;
  }
  .itinerary-row {
   .leg-before-line {
    &.call {
      height: 105%;
    }
  }
  .special-icon {
    &.call, &.disruption {
      margin-left: 5px;
    }
    }
  }
  .itinerary-transit-leg-route {
    &.call, &.disruption {
      max-width: auto;
    }
  }
  .vehicle-number-container-v {
      margin-top: 0;
    }
    .print-itinerary {
      margin-right: 1em;
    }
}
