@charset "UTF-8";

$topbar-height: 40px;
$itinerary-summary-height: 40px;
$itinerary-tab-switch-height: 48px;
$itinerary-route-max-width: 500px;


.itinerary-swipe-views-root {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  // min-height: 300px; // TODO: This is required in IE due to ???
  & > div {
    display:flex;
    flex-grow: 1;
    >div {
      display: flex;
      flex-direction: column;
    }
  }

  &.itinerary-container-content-enter {
    flex-grow: 0;
    will-change: flex-grow;
  }

  &.itinerary-container-content-enter.itinerary-container-content-enter-active {
    flex-grow: 20;
    transition: flex-grow 300ms;
  }

  &.itinerary-container-content-leave {
    flex-grow: 20;
  }

  &.itinerary-container-content-leave.itinerary-container-content-leave-active {
    flex-grow: 0;
    will-change: flex-grow;
    transition: flex-grow 300ms;
  }
}

.itinerary-tabs__scroll {
  background: $white;
  flex-grow: 1;
}

.itinerary-main {
  width: 100%;
  padding-top: 20px;

  flex-grow: 1;
  display: flex;
  flex-direction: column;

  div {
    flex-grow: 1;
    flex-shrink: 0;
  }

  div.itinerary-ticket-information {
    flex-grow: 0;
    flex-shrink: 0;
  }
}

@media print {
  .itinerary-main {
    display:block;
    height:auto;
  }
}

.itinerary-main.bp-large {
  padding-top: 15px;
}

.itinerary-summary {
  flex-grow: 0;
  flex-shrink: 0; //for ie mobile
  color: $gray;
  font-weight: $font-weight-book;
  font-size: 10pt;
  padding: 10px;
  height: $itinerary-summary-height;
  border-top: solid 1px $light-gray;
  border-bottom: solid 1px $light-gray;
  background: transparent;
}

.itinerary-icon {
  position: absolute;
  margin-left: -21px;
  margin-top: 2px;
  fill: currentColor;
  font-size: $font-size-xxsmall;
}

.itinerary-search-icon {
  position: absolute;
  right: 15px;
  top: 0px;
  color: $medium-gray;
}

.duration {
  font-weight: $font-weight-bold;
}

.duration--itinerary-summary,
.timeframe--itinerary-summary {
  padding-right: 10px;
}

.itinerary-ticket-information {
  color: $gray;
  font-weight: $font-weight-book;
  font-size: 10pt;
  margin: 0 auto;
  padding: 0 1.3em 1em 1.3em;
  border: 0px;
  max-width: 500px;
  .itinerary-ticket-information-class {
    font-weight: $font-weight-bold;
    color: $black;
    display: inline;
    margin-left: 0.3em;
  }
  .itinerary-ticket-information-buy {
    font-weight: $font-weight-bold;
    margin-top: 0.5em;
    a {
      color: $primary-color;
      text-decoration: none;
    }
  }
}

.call-agency {
  background-color: yellow;
}

.row.itinerary-row {
  position:relative;
  line-height: 1.1;
  color: $medium-gray;
  width: 100%;
  max-width: $itinerary-route-max-width;
  .itinerary-time-column {
    @include font-narrow-medium;
    font-size: 10pt;
    text-align: center;
    color: $black;
    margin-bottom: 0.5em;

    &.call {
      .route-number {
        padding-top: 2em;
      }
    }

    .itinerary-time-column-time {
      margin-bottom: 0.3em;
      span {
        position: relative;
      }
    }


    .icon {
      &.realtime-icon.realtime {
        top: -0.3em;
        left: -0.4em;
        position: absolute;
      }
      font-size: 14pt;
    }

    .leg-call {
      .icon {
        font-size: 1.8em;
      }
    }

    .original-time {
      text-decoration: line-through;
      color: $gray;
    }
    .route-number {
      padding-top: 0.25em;
      &.call {
        padding-top: 1.5em;
        padding-left: 0.8em;
      }
    }
    .vehicle-number.long {
      overflow: hidden;
      width: inherit;
    }
  }
  .itinerary-instruction-column::before {
    content: "⚬";
    font-size: 24px;
    position: absolute;
    left: -2px;
    top: -6px;
  }

  .itinerary-instruction-column.intermediate::before {
    content: "●";
  }

  &:last-child .itinerary-instruction-column::before {
    content: "⚬";
    font-size: 24px;
    position: absolute;
    left: -2.5px;
    top: -6px;
  }
  &:last-child .itinerary-instruction-column.intermediate::before {
    content: "●";
  }

  .itinerary-instruction-column.start::before {
     content: "";
  }

 .itinerary-instruction-column.end::before {
    content: "";
 }

  .itinerary-instruction-column.via::before {
     content: "";
  }

 .itinerary-main > div:nth-child(1)::after {
   content: "";
 }

 .itinerary-instruction-column:not(.to)::after {
    content: "";
    position: absolute;
    top: 17px;
    bottom: -10px;
    left: 3px;
    border-left: solid 4px;
  }

  .itinerary-instruction-column.call:not(.to)::after {
     content: "";
     position: absolute;
     top: 17px;
     bottom: -10px;
     left: 3px;
     border-left: dashed 1px;
     width: 4px;
     border-right: dashed 1px;
   }

  .itinerary-instruction-column.intermediate:not(.to)::after {
    top: 0px;
  }

  .itinerary-instruction-column.walk:not(.to)::after{
    border-left-style: dotted;
  }
  .itinerary-instruction-column.bicycle_walk:not(.to)::after{
    border-left-style: dotted;
  }
  .itinerary-instruction-column.citybike_walk:not(.to)::after{
    border-left-style: dotted;
  }
  .itinerary-instruction-column.via:not(.to)::after{
    border-left-style: dotted;
  }

  .itinerary-instruction-column {
    cursor: pointer;
    @include font-book;
    font-size: 10pt;
    padding-left: 1.5em;
    margin-bottom: 0.5em;
    min-height: 4.15em;

    &.intermediate {
      min-height:5px;
    }

    &.via {
      min-height: 5em;
    }

    .itinerary-leg-first-row {
      display: block;
      white-space: normal;
      width: 90%;
      color: $black;
      @include font-medium;

      .itinerary-leg-first-row__arrow {
        @include font-medium;
        font-size: 0.6em;

      }
      span.itinerary-stop-code {
        vertical-align: 2px;
      }
    }

    .itinerary-leg-text-gray {
      @include font-book;
      color: $gray;
    }

    .itinerary-transit-leg-route, .itinerary-via-leg-duration {
      @extend .itinerary-leg-text-gray;
      margin-top: 1px;
      overflow: hidden;
    }

    .itinerary-leg-action {
      margin-top: 12px;
      @extend .itinerary-leg-text-gray;
    }

    .itinerary-leg-intermediate-stops {
      margin-top: 12px;
      padding-bottom: 0px;
      @extend .itinerary-leg-text-gray
    }

    .intermediate-stop-info-container {
      padding-top:6px;
    }

    .intermediate-stops-link {
      @include font-bold;
      color: $gray-blue;
      border-bottom: 2px dotted $gray-blue;
    }

    .intermediate-stops-duration {
      color: $gray;
    }

  }
}



.bp-large .row.itinerary-row .itinerary-instruction-column:not(.to)::after {
    left: 3px;
}

.bp-large .row.itinerary-row {
  .itinerary-time-column {
    .itinerary-time-column-time {
      font-size: 21px;
    }

    .icon {
      font-size: 24px;
    }

    .vehicle-number {
      font-size: $font-size-normal;
    }
  }

  .itinerary-instruction-column {
    font-size: $font-size-normal;
    min-height: 75px;

    &.via {
      min-height: 100px;
    }

    &.intermediate {
      min-height: 10px;
      margin-bottom: 7px;
    }
    .itinerary-icon {
      font-size: 13px;
      margin-left: -24px;
    }

    .itinerary-search-icon {
      font-size: 20px;
    }
  }
}

.row.itinerary-route-information {
  text-align: center;
  left: 2em;
  right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: solid 1px $light-gray;
  border-bottom: solid 1px $light-gray;
  width: calc(100% - 2em);
  max-width: $itinerary-route-max-width;
  div {
    border-right: solid 1px $light-gray;

    &.noborder {
      border-right: none;
    }
  }
}

span.itinerary-stop-code {
  @include font-medium;
  color: $gray;
  border: solid 1px $light-gray;
  border-radius: $border-radius-small;
  padding: 1px 4px;
  margin-right: 2px;
  margin-left: 3px;
  font-size: 10px;
}

div.itinerary-container-content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  transition: height 500ms;

  &:empty {
    height: 0;
  }
}

.itinerary-slide-container {
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  position: absolute;
  width: 100%;
}

.itinerary-leg-agency {
  @extend .itinerary-leg-text-gray;
  padding-top: 10px;
  .agency-link-container {
    max-width:calc(100% - 1em);
    white-space: nowrap;
    padding-top: 15px;
    padding-bottom: 10px;
    .agency-link {
      font-size: 10px;
      .external-link-container { max-width: calc(100% - 1em);}
      a {
        font-weight:$font-weight-bold;
        color: $primary-color;
        max-width: 100%;
      }
      .external-link-icon-outer {
        color: white;
      }
      .external-link-icon {
        color: $primary-color;
      }
    }
  }
}


.itinerary-tabs-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  height: $itinerary-tab-switch-height;
  &.itinerary-container-content-enter {
    height: 0;
    will-change: height;
  }

  &.itinerary-container-content-enter.itinerary-container-content-enter-active {
    height: $itinerary-tab-switch-height;
    transition: height 300ms;
  }

  &.itinerary-container-content-leave {
    height: $itinerary-tab-switch-height;
    will-change: height;
  }

  &.itinerary-container-content-leave.itinerary-container-content-leave-active {
    height: 0;
    transition: height 300ms;
  }
}

.itinerary-tab-root {
  margin: 0px;
  opacity: 1.0;
}

.itinerary-tab-root--selected {
  @extend .itinerary-tab-root;
  opacity: 0.75;
}

.itinerary-no-route-found {
    margin: 1em;
}

.itinerary-tab {
  @include font-medium;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  //for ie mobile
  min-height: 100%;
  //for ie mobile
  max-height: 100%;
}

@media print {
  .itinerary-tab {
    display: block;
    height: auto;
  }
}

.intermediate-stop-no-stops {
  color: $gray;
  font-weight: $font-weight-book;
  font-size: 10pt;
}

.desktop .itinerary-intermediate-stop-name {
  font-size: 15px;
}

.itinerary-tab .itinerary-timeframe {
  padding-top: 15px;
}

.timeframe-nextday {
  background-color: $gray;
  line-height: 1;
  @include font-narrow-medium;
  color: $white;
  border-radius: $border-radius-small;
  padding: $padding-xsmall $padding-small;
}

.date-warning {
  display: inline-block;
  background-color: $gray;
  line-height: 1;
  @include font-narrow-medium;
  color: $white;
  border-radius: $border-radius;
  padding: 4px 7px;
}

.itinerary-heading {
  padding-left: 25px;
  padding-top: 12px;
}

.icon.via {
  color: $black;
}

.row.itinerary-row .itinerary-time-column .itinerary-time-column-time.via-arrival-time {
  margin-bottom: 0;
}

.itinerary-time-column.via-time-column {
  margin-top: -12px;
}

.via-divider {
  text-align: center;
  overflow: hidden;
  line-height: 1px;
}

.via-divider > .via-divider-line {
  display: inline-block;
  border-top: 1px solid $gray;
  width: 2em;
  height: 1px;
}

.itinerary-call-agency-warning {
  width: calc(100% - 20px);
  height: calc(100% - 3em);
  background-color: rgba(254, 209, 0, 0.3);
  position:absolute;
  top:0;
  left:0;
  margin-top: 2em;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: $border-radius;
}

.itinerary-instruction-column.call {
  .itinerary-transit-leg-route {
    padding-top: $padding-medium;
    &.call {
      padding-top: 2em;
      padding-right: 1em;
    }
  }
  .warning-message {
    white-space: normal;
    color: $black;
    .route-name {
      white-space: nowrap;
      @include font-bold;
    }
  }
}

.call-button {
  width: calc(100% - 13px);
  @include font-medium;
  color: white;
  background: $standalone-btn-color;
  vertical-align: middle;
  border-radius: 1.5em;
  padding: 0.6em 1.5em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 1.5em;
  margin-right: auto;
  cursor: pointer;
  @include font-medium;
  font-weight: 600;
  a {

    text-decoration: none;
    color: white;
  }
}

.itinerary-warning-agency-container {
  display: flex;
  justify-content: center;
  .agency-link-container {
    padding:0;
  }
}
