/* foundation override */
$menu-slide: 'transform 200ms ease';
$offcanvas-background: #333333;
$offcanvas-background-hover: scale-color($gray, $lightness: -30%);
$offcanvas-background-active: scale-color($gray, $lightness: -30%);

/* top bar */
$topbar-height: 40px;

$top-navigation-icon-color: $primary-font-color;
$top-navigation-title-color: $title-color;

/* offcanvas */
$offcanvas-profile-icon-size: 60px;
$offcanvas-profile-icon-color: $white;
$offcanvas-lead-text-color: $gray;
$offcanvas-lead-text-font-family: $font-family;
$offcanvas-lead-text-font-weight: $font-weight-book;
$offcanvas-lead-text-letter-spacing: $letter-spacing;
$offcanvas-lead-text-font-size: 15px;
$offcanvas-login-text-font-family: $font-family;
$offcanvas-login-text-font-weight: $font-weight-book;
$offcanvas-login-text-letter-spacing: $letter-spacing;
$offcanvas-login-text-font-size: $font-size-small;
$offcanvas-login-arrow-icon-size: 14px;
$offcanvas-link-color: $white;
$offcanvas-link-text-font-size: 15px;

/* Content */
$content-background-color: $background-color;

#mainContent .desktop {
  // so that the layer selector bubble doesn't cause scroll bars
  overflow: hidden;
}

.top-bar-login {
  display: flex;
  flex-direction: row;
  color: $white;
  padding-right: 1.25rem;
  align-items: center;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.top-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $primary-color;
  text-align: center;
  overflow: visible; // Show drawer menu
  z-index: 1008;

  // Fixed navbar height for now, as dynamic height leads to Safari issues
  // height: $topbar-height;
  // min-height: $topbar-height;

  &.bp-large {
    height: 60px;
    align-items: center;
    line-height: 1.8em;
    // DT-3470 removed: box-shadow: 2px 0px 2px #575757;

    @media print {
      display: none;
    }
  }

  .icon-holder {
    padding: $padding-medium;
    align-self: stretch;
  }
  .icon {
    color: $top-navigation-icon-color;
    vertical-align: middle;
  }
  section.title {
    padding-left: $padding-medium;
    display: flex;
    align-items: center;
    align-self: stretch;
    text-align: center;
    color: $top-navigation-title-color;
  }
  .logo {
    height: 100%;
    min-height: 40px;
    min-width: 8em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
  }
  .navi-logo {
    margin-left: 32px;
    width: $nav-logo-width;
    height: $nav-logo-height;
    min-width: 130px; //for ff
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
  }
}

#skip-to-content-link {
  height: 0px;

  @media print {
    display: none;
  }
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

#lang-select {
  color: white;
  border-bottom: 1px solid #262626;
  padding: 0px 5px;
  .lang {
    @include font-medium;
    font-size: $font-size-small;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    padding: 2px 8px;
    margin: 0px 2px;
    &.selected {
      border-radius: 3px;
      background-color: hsla(0, 0%, 100%, 0.15);
    }
  }
}

.navi-languages {
  //desktop
  #lang-select {
    border-bottom: 0px;
    .lang.selected {
      background: $selected-lang-background;
    }
  }
}

.navi-info{
  //desktop
  ul {
    margin: 0 5px;
    li {
      list-style-type: none;
      display: inline;
      margin: 0 10px;
      a, a:visited, span {
        color: white;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

.right-border {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.login-icon {
  .icon {
    font-size: 1.8em;
    color: $primary-color;
    fill: $top-navigation-icon-color;
    &.caution-topbar {
      fill: $caution-icon-color;
      color: $caution-icon-font-color;
    }
  }
  margin-right: 0.5rem;
  width: 100%;
}

.navi-icons {
  .icon {
    font-size: 1.8em;
    color: $primary-color;
    fill: $top-navigation-icon-color;
    &.caution-topbar {
      fill: $caution-icon-color;
      color: $caution-icon-font-color;
    }
  }
  width: 50px;
}
.main-menu-toggle {
  .icon {
    font-size: $font-size-large;
  }

  align-items: center;
  display: flex;
  right: 0;
}

.back-button {
  button {
    font-size: 15px;
    position: absolute;
    left: -2px;
    top: 4px;
    .icon {
      height: 1.3em;
      width: 1.3em;
    }
  }
  .h2 {
    font-size: 1.2em;
    margin: 0 0 0 2.5em;
    font-weight: 500;
  }
}

.select-from-map-nav-container {
  display: flex;
  align-items: center;
  height: 55px;
  background-color: #ffffff;
}

.select-from-map-nav-title {
  flex-grow: 1;
  font-size: 18px;
  font-weight: 500px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.6;
  text-align: center;
  vertical-align: text-top;
  color: #333333;
  position: relative;
  white-space: nowrap;
}

.select-from-map-confirm-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.main-menu {
  padding: 0;
  background: $black;
  color: $offcanvas-link-color;
  height: 100%;
  overflow-y: auto;
  text-align: left;
  @include font-medium;

  i.icon-profile {
    font-size: $offcanvas-profile-icon-size;
    color: $offcanvas-profile-icon-color;
  }
  a {
    color: $offcanvas-link-color;
    text-decoration: none;
  }

  span {
    cursor: pointer;
    color: $offcanvas-link-color;
    text-decoration: none;
  }
  .icon {
    fill: $offcanvas-link-color;
    &.small {
      width: 10px;
      height: 10px;
    }

    &.medium {
      width: 16px;
      height: 16px;
    }
  }
  .close-button {
    &.mobile-bar-close {
      width: 15px;
      margin: 2px -10px 0px 0px;
    }
    padding: 5px 20px;
    float: right;
    background: none;
  }

  button.noborder {
    @include font-medium;
  }
}

.offcanvas-section {
  line-height: 35px;
  padding: 0.5em $padding-large;
  .footer-item {
    margin: 0px;
    display: inline-block;
    font-size: $font-size-normal;
    button {
      font-size: $font-size-normal;
    }
    .icon {
      display: none;
    }
  }
}

section.content {
  background-color: $content-background-color;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;

  .mobile {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    .back-button {
      left: 0;
    }
  }

  .desktop {
    display: flex;
    flex-direction: row;
    height: 100%;

    @media print {
      display: block;
    }
    .desktop-title {
      background: #ffffff; // DT-3358: was $desktop-title-color
      &-bordered {
        position: relative;
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 1px;
          background-color: $light-gray;
        }
      }
      a {
        color: $desktop-title-arrow-icon-color; // DT-3358: was $primary-font-color
      }
      .title-container {
        @include font-medium;
        color: #333333; // DT-3358: was $primary-font-color
        margin: 50px 0 16px 0;
        line-height: 1;
        .back-button {
          position: static;
          button {
            left: 0.5em;
            top: auto;
          }
        }
      }
      h1 {
        @include font-medium;
        color: #333333; // DT-3358: was $primary-font-color
        // line-height: 1;
        display: inline;
      }
      .home-icon {
        font-size: 0.8em;
      }
      .arrow-icon {
        margin: 2px 1em;
        color: $desktop-title-arrow-icon-color;
      }
    }
    .back-button {
      position: absolute;
      left: 1.5em;
    }
    .main-content {
      width: 520px;
      height: 100%;
      display: flex;
      flex-direction: column;

      @media print {
        height: auto;
        width: 100%;
        display: inline;
      }

      .scrollable-content-wrapper {
        display: flex;
        flex-basis: 0px;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;

        @media print {
          display: inline;
          height: auto;
          width: 100%;
        }
      }
    }

    .map-content {
      width: calc(100% - 520px);
      height: 100%;
      display: flex;
      position: relative;

      @media print {
        page-break-before: always;
        width: 100%;
        min-height: 27cm;
      }
    }
  }
}

@media print {
  section.content {
    height: auto;
    display: block;

    .desktop {
      height: auto;
      display: block;
    }
  }
}

.content.bp-large {
  height: calc(100% - 100px);
  position: relative;
}

.content:nth-child(5) {
  height: calc(100% - #{$topbar-height} - 100px - 18px);
  // 100px and 18px are the height of the message bar, but is specified in js
}

.message-bar {
  @media print {
    display: none;
  }
  position: relative;
  z-index: 802;
  width: 100%;
  height: 70px;
  display: block;
  @include font-book;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.42px;
  color: $black;
  text-align: left;
  cursor: pointer;
  &.mobile-bar {
    height: 110px;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  .banner-container {
    display: flex;
    max-height: 100%;

    .message-bar-content {
      flex-basis: auto;
      flex-grow: 1;
      width: 60%;
    }

    &.banner-disruption {
      background: $disruption-color;

      .icon {
        color: $disruption-color;
        fill: white;
      }

      .message-bar-content,
      a,
      h2 {
        color: white;
      }
    }
  }

  span {
    width: 45px;
  }

  h2 {
    font-size: 15px;
    letter-spacing: -0.42px;
    margin-top: 12px;
    line-height: 9px;
    margin-bottom: 6px;
  }

  .message-bar-error {
    h2 {
      color: red;
    }
  }

  a {
    @include font-medium;
    padding: 0px 4px;
  }

  svg.message-bar-link-icon {
    margin: 0 0 0 $padding-small;
    position: relative;
    top: 0.125em;
  }
}

#close-message-bar {
  span {
    margin: -3px -5px 0px 0px;
  }
}
.message-bar-fade {
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 80px, rgba(0, 0, 0, 0));
}
// Need more specific selector to override
.message-bar .icon {
  margin: 17px;
}

.message-bar .icon.message-icon {
  float: left;
  fill: $primary-color;
  height: 35px;
  width: 35px;
  padding-right: 10px;
}

.message-bar .icon.close {
  float: right;
  fill: $gray;
  height: 12px;
  width: 12px;
}

.external-top-bar {
  .external-link-icon-outer {
    color: $primary-color;
  }

  .external-link-icon {
    color: $primary-font-color;
  }
}

.external-link-decoration {
  position: absolute;
  top: -1px;
  right: -1px;
  font-size: 7px;
}
.external-link-container {
  position: relative;
  display: inline-block;
  line-height: 22px;
  font-size: 18px;
  margin: 0px;
  padding: 0px 6px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  a.external-link {
    display: inline-block;
    vertical-align: text-top;
    color: $white;
    font-size: $font-size-xxsmall;
    text-decoration: none;
  }
}
