.nearby-table-container {
    height: 90%;
}
.nearby-departures-table {
    table-layout: fixed;
    width: 100%;
    height: 93.5%;
    thead {
        background: #eef1f3;
        display: block;
    }
    th {
        padding: 6px 14px;
        color: #888;
        font-family: Gotham XNarrow SSm A,Gotham XNarrow SSm B,Arial,Georgia,Serif;
        font-weight: 400;
        letter-spacing: 0;
        font-size: 1rem;
        white-space: nowrap;
        margin: 0;
        line-height: 1em;
    }

    tbody {
        max-height: 100%;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        display: block;

        tr {
            padding: .6em 0;
            padding-left: 20px;
            padding-right: 5px;
            border-bottom: 1px solid #ddd;
            width: 100%;
            display: block;
        }
    }
    td {

        .distance {

        }
        .route-number {

        }
        .route-destination {
            width: 100%;
        }
        .time {

        }
    }
}
