 /* No favourites image*/

.front-page {
  .nofavs-img {
    height: 80px;
    width: 100%;
    max-width: 160px;
    margin: 0 auto;
    margin-top: 4.5em;
  }

  .no-favourites-icon {
    fill: transparent;
    stroke: $link-color;
    stroke-width: 25px;
    width: 56px;
    height: 56px;
  }

  .nofavs-p {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: $font-size-small;
  }
}
