.origin-destination-bar {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: initial;
  &.bp-large {
    margin: 0 60px;
  }
}

.mobile {
  .origin-destination-bar {
    z-index: 999;
  }
}
