.origin-destination-bar {
  background-color: $background-color-darker;
  width: 100%;
  padding-top: calc(#{$padding-large} - 15px);
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: initial;
  padding-left: 1.2em;

  .field-link{
    @include font-book;
    font-size: $font-size-small;
    cursor: pointer;
    color: $link-color;
    display: inline-block;
    padding-left: 17px;
    position: relative;
    min-width: 0;
    margin: 0 $padding-medium;
    box-sizing: content-box;

    &:hover {
      .link-name {
        color: $secondary-color;
        border-bottom: 1px solid $secondary-color;
        transition: color 300ms ease-out;
        transition: border-bottom 300ms ease-out;
      }
    }

    .link-name {
      @extend .overflow-fade;
      border-bottom: 1px solid transparent;
      transition: color 200ms ease-out;
      transition: border-bottom 200ms ease-out;
    }

    .from-link span:first-child::before {
        content: "A";
    }

    .to-link span:first-child::before {
        content: "B";
    }

    span:first-child {
      text-size: 20px;

      &::before {
        position: absolute;
        margin-top: 4px;
        margin-left: -14px;
        z-index: 1;
        font-size: 9px;
        color: $white;
      }
    }

    .icon.itinerary-icon {
      font-size: 19px;
      margin-left: -20px;
      margin-top: 3px;
    }

    span:last-child {
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      height: 23px;
      line-height: 23px;
      width: 100%;

    }
  }

  &.bp-large {
    flex-wrap: wrap;
    padding-right: 20px;

    .field-link {
      width: 95%;
      padding-left: 30px;
      margin-bottom: 5px;

      .icon.itinerary-icon {
        font-size: 30px;
        margin-left: -37px;
        margin-top: -3px;
      }

      span:first-child::before {
        margin-top: 0px;
        margin-left: -27px;
        font-size: 14.4px;
      }

      span:last-child {
        height: auto;
        padding-bottom: 2px;
        font-size: $font-size-normal;
      }
    }
  }
}
.mobile {
  .origin-destination-bar {
    padding-left: 0;
  }
}
