/* Use this file to override hslfi-styles */

.override-hsl-buttons {
    .hslfi-cb__button {
        .hslfi-cb__button-primary {
            &:hover {
                background-color: #0062A1;
                color: white;
            }
        }
        .hslfi-cb__button-secondary {
            &:hover {
                color: #0074bf
            }
        }
    }
}
