@function drop_off_svg($color, $alpha: 0.9999999) {
  @return 'data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2713%27%20height%3D%2712%27%3E%3Cg%20stroke%3D%27none%27%20stroke-width%3D%271%27%20fill%3D%27none%27%20fill-rule%3D%27evenodd%27%3E%3Cpath%20fill%3D%27#{rgba($color, $alpha)}%27%20d%3D%27M6.06%2C0%20C9.38%2C0%2012.08%2C2.68%2012.08%2C6.02%20C12.08%2C9.34%209.38%2C12.02%206.06%2C12.02%20C2.74%2C12.02%200.04%2C9.34%200.04%2C6.02%20C0.04%2C2.68%202.74%2C0%206.06%2C0%20Z%20M7.2%2C9.2%20L7.2%2C5.94%20C7.2%2C5.3%206.78%2C4.8%206.14%2C4.8%20L5.04%2C4.8%20C4.5%2C4.8%204.18%2C5.16%204.18%2C5.62%20C4.18%2C6.02%204.44%2C6.44%205.28%2C6.44%20L5.28%2C9.2%20C5.28%2C9.84%205.62%2C10.34%206.24%2C10.34%20C6.88%2C10.34%207.2%2C9.84%207.2%2C9.2%20Z%20M7.36%2C2.78%20L7.36%2C2.68%20C7.36%2C2%206.8%2C1.56%206.06%2C1.56%20C5.32%2C1.56%204.76%2C2%204.76%2C2.68%20L4.76%2C2.78%20C4.76%2C3.46%205.32%2C3.92%206.06%2C3.92%20C6.8%2C3.92%207.36%2C3.46%207.36%2C2.78%20Z%27%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E';
}

$route-header-height: 65px;
$route-schedule-date-height: 36px;

/* table headers */
.route-list-header {
  border-bottom: solid 1px #eef1f3;
  @include font-narrow-medium;
  line-height: $line-height-normal;
  flex-shrink: 0;

  overflow: hidden;
  div,
  .columns.route-stop-time {
    @include font-narrow-book;
    color: $gray;
    font-size: $font-size-small;
  }
  &.route-stop {
    min-height: 0;
  }

  &.bp-large {
    &.route-stop {
      padding: 8px 10px 5px 20px;
    }

    div,
    .columns.route-stop-time {
      font-size: 16px;
    }
  }
}

.error {
  div {
    p {
      color: $gray;
    }
  }
}

.route-warning-message {
  background-color: rgba(254, 209, 0, 0.3);
  .upper {
    @include font-bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: $font-size-small;
    line-height: 1.1rem;
    padding-right: 1.5em;
    span:nth-child(1) {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1.8em;
      padding-right: $padding-small;
    }
  }
  .call-button {
    margin-bottom: 0;
  }
}

@media print {
  div.route-page-content {
    display: block;
  }
}

.route-page-content {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  flex-grow: 1;
  flex-basis: 100%;
  background: $white;
  transition: flex-grow 500ms cubic-bezier(0.215, 0.61, 0.355, 1),
    flex-basis 500ms cubic-bezier(0.215, 0.61, 0.355, 1);

  &:empty {
    flex-basis: 0;
    flex-grow: 0;
  }

  &.fullscreen-map {
    flex-grow: 0;
    flex-basis: 110px;
  }
  .route-list-header {
    display: flex;
    flex-direction: row;
    flex: 0 0 2em;
    .route-stop-now {
      padding-left: 0.5em;
      flex: 0 0 7em;
      max-width: 5.7em;
    }
    .route-stop-name {
      flex: 1 0 12em;
    }
    .route-stop-time {
      text-align: left;
      padding-right: 0.6em;
      flex: 0 1 3.5em;
    }
  }
}

// stop list
.route-stop-list {
  @include font-narrow-medium;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1 0;
  flex-basis: 0px;
  background-color: $white;
  .route-stop:last-child .route-stop-row_content-container {
    border-bottom: none;
  }
}

.mobile .route-stop-list {
  overflow-y: visible;
  flex-basis: auto;
}

.bp-medium,
.bp-large {
  &.location-details_container .route-now-content {
    & svg {
      font-size: 6em;
    }
  }
}
.bp-small {
  &.location-details_container .route-now-content {
    & svg {
      font-size: 3.8em;
    }
  }
}

.map {
  .icon.tail-icon {
    margin-top: 0.57em;
    margin-left: 0.57em;
    transform: scale(3.5);
  }
  .allVehicles {
    width: 24px;
    height: 24px;
    color: $gray-blue;
    position: absolute;
    pointer-events: none;
  }
  .large-icon {
    transform: scale(2.86);
  }
}

.location-details_container {
  max-width: 100%;
  height: 3.5em;
  display: flex;
  flex: 1 0 3.5em;
  &.passed {
    div {
      color: $gray;
    }
    span {
      color: $gray;
      svg.realtime-icon {
        display: none;
      }
    }
  }
  .route-stop-now {
    min-width: 13%;
    position: relative;
  }
  .route-now-content {
    padding-top: 10px;
    & svg {
      position: absolute;
      top: -0.3em;
      font-size: 5em;
    }
    .tail-icon {
      font-size: 3.5em;
      bottom: 0;
      left: -10px;
    }
    .selected-tail-icon {
      font-size: 5em;
      bottom: 0;
      left: -10px;
    }
  }
  .route-stop-now_circleline {
    position: relative;
    min-width: 15px;
    .route-stop-now_line {
      width: 5px;
      height: 100%;
      background-color: currentColor;
      position: absolute;
      top: 1em;
      left: 4px;
    }
    svg {
      position: absolute;
      top: 0.2em;
      z-index: 3;
    }
  }
  .route-stop-row_content-container {
    width: 100%;
    margin-left: 1em;
    display: block;
    border-bottom: 1px solid #eef1f3;
    margin-top: 0.3em;
    padding-right: 1em;
    a {
      display: flex;
      text-decoration: none;
      justify-content: space-between;
      .route-details_container {
        font-size: $font-size-normal;
        display: flex;
        flex-direction: column;
        flex: 2 0 0;
        div {
          display: flex;
          span {
            text-decoration: none;
          }
          .itinerary-stop-code {
            display: block;
            max-height: 18px;
          }
          .route-stop-address {
            font-family: $font-family-narrow;
            font-weight: 400;
            letter-spacing: 0;
            color: #666;
            display: block;
            word-break: keep-all;
            mask-image: linear-gradient(
              to left,
              transparent,
              rgba(0, 0, 0, 0.2) 5px,
              black 7px,
              black
            );
            height: 1.25rem;
            overflow: hidden;
            width: 100%;
          }
          .drop-off-container {
            color: $gray;
            font-size: $font-size-xsmall;
            font-family: $font-family-narrow;
            font-weight: 400;

            span {
              vertical-align: middle;
            }
          }
          .drop-off-stop-icon {
            margin-left: 0.5em;
            margin-right: 0.3em;
            display: inline-block;
            width: 13px;
            height: 12px;
            background: url(drop_off_svg($gray));
          }
        }
      }
      .departure-times-container {
        display: flex;
        color: $black;
        font-size: $font-size-small;
        .route-stop-time {
          span {
            margin: 0;
            &.time {
              white-space: unset;
              display: block;
              text-align: right;
            }
          }
        }
      }
    }
  }
}
// To hide the line element in the last itinerary leg
.route-stop-list
  > div:last-child
  > div.route-stop-now_circleline
  > .route-stop-now_line {
  display: none;
}
.small
  .route-stop-row_content-container
  > a
  .route-details_container
  > div
  > span
  .route-stop-address {
  max-width: 7em;
}

.nearest-route-stop {
  @include font-narrow-book;
  color: $gray;
  .walk-distance {
    font-size: $font-size-small;
  }
}

.nearest-route-stop > span > svg.icon {
  transform: translate(0px, 3px);
}

.route-header {
  margin: 0 15px;
  line-height: 1;
  flex-shrink: 0;
  border-bottom: solid 1px $light-gray;
  height: $route-header-height; // Ugly hact ko get the tabs to have fixed height
  h1 {
    @include font-narrow-book;
    font-size: 24pt;
    padding: 0.4em 0 0.2em;
    .vehicle-number {
      padding-left: 0.25em;
    }
  }
}

.route-page-header.favourite-icon {
  position: absolute;
  top: 17px;
  right: 20px;
  height: 22px;
  width: 22px;
  @media print {
    display: none;
  }
}

// Schedule list
.route-schedule-content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: $white;

  @media print {
    display: block;
  }
}

.route-schedule-list-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;

  @media print {
    display: block;
  }

  .route-schedule-header {
    min-height: 52px;

    @media print {
      margin-left: 0;
      margin-right: auto;
    }
  }
}

.route-schedule-list {
  padding-bottom: 0.7em;
  flex: 1;
  flex-basis: 0;

  @media print {
    .row {
      margin-left: 0;
    }
  }
}

.header-for-printing {
  display: none;
  @media print {
    display: block;
    h1 {
      font-size: 26px;
      font-weight: 500;
      font-family: $font-family;
    }
  }
}

.printable-stop-header {
  display: none;
  @media print {
    margin-top: 1em;
    display: flex;
    font-size: 24px;
    font-weight: 700;
    .printable-stop-header_from {
      margin-right: 1em;
      width: 8.4em;
    }
    .printable-stop-header_icon-from {
      margin-right: 0.7em;
      svg {
        fill: $from-color;
        color: $from-color;
      }
    }
    .printable-stop-header_icon-to {
      margin-right: 0.7em;
      svg {
        fill: $to-color;
        color: $to-color;
      }
    }
    .printable-stop-header_line {
      background-size: 80% auto;
      background-position-y: 0px;
      background-position-x: 7px;
      margin-right: 1em;
      margin-top: 0.6em;
      height: 6px;
      width: 6.6em;
    }
  }
}

.route-schedule-stop-select {
  select {
    border: 1px solid $light-gray;
    border-radius: 5px;
    padding: 2px 33px 2px 10px;
    background-color: #fff;
    font-size: 9pt;
    color: #333;
    height: 30px;
    line-height: 24px;
    font-weight: 500;
    appearance: none;
  }

  position: relative;

  .icon {
    width: 13px;
    height: 16px;
    color: $gray-blue;
    position: absolute;
    right: 11px;
    top: 7px;
    pointer-events: none;
  }

  .caret {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $link-color;
  }
  @media print {
    display: none;
  }
}

.trip-column {
  width: 60%;
  margin: 0 auto;
  line-height: 1.5;
  display: flex;
  @media print {
    width: 69%;
    margin-left: 28px;
    margin-right: auto;
    font-size: 21px;
  }
}

.trip-separator {
  width: 297px;
  border-top: 2px dotted $black;
  height: 1px;
  margin-top: 0.8em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
/*
.trip-separator:after {
  content: "";
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
  border-top: 1px solid $light-gray;
}
*/
.trip-from,
.trip-to {
  background: #fff;
  width: 50px;
  font-size: $font-size-small;
  text-align: left;
  min-width: 3em;
  @media print {
    font-size: 21px;
    font-weight: 400;
  }
}

.trip-from {
  margin-right: 1em;
  margin-left: 0.6em;
}

.trip-to {
  margin-left: 1em;
}

.route-page-action-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 15px;
  background-color: #eef1f3;

  .printable-date-container {
    display: none;
    @media print {
      display: flex;
    }

    .printable-date-icon {
      margin-right: 0.8em;
      svg {
        width: 47.3px;
        height: 42px;
      }
    }
    .printable-date-header {
      font-size: 14px;
    }
    .printable-date-content {
      font-size: 20px;
      font-weight: 700;
    }
  }
  .secondary-button.print {
    @media print {
      display: none;
    }
  }
  @media print {
    padding-left: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: $white;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
  }
}

.print-button-container {
  display: flex;
  button {
    margin-right: 1em;
    margin-left: auto;
    margin-bottom: $padding-medium;
  }
}

.mobile .route-page-action-bar .secondary-button {
  display: none;
}

.route-schedule-date {
  @include font-book;
  @media print {
    display: none;
  }

  min-height: $route-schedule-date-height;
  margin: 0;

  .icon {
    margin-right: 7px;
    width: 18px;
    height: 18px;
    color: $gray-blue;
    vertical-align: middle;
  }

  select {
    font-size: 9pt;
    line-height: 18px;
    height: 19px;
    background-color: $white;
    color: $primary-color;
    border-bottom: none !important;
    font-weight: 500;
    padding: 0;
    text-transform: uppercase;
    background-image: none;
    width: 7em;
    text-align: left;
    appearance: none;

    &:hover {
      background: none;
    }

    option {
      padding: 4px;
    }
  }
}

// Tabs
div.route-tabs {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;

  .tabs-navigation {
    flex-shrink: 0;
    width: calc(100% - 20px);
    margin: 0 10px;
    padding: 0 3px;
    border-bottom: 1px solid $light-gray;
    @media print {
      padding-left: 0 !important;
      margin-left: 0 !important;
      border: none;
      .route-number {
        margin-left: 0 !important;
      }
    }

    a {
      @include font-bold;
      padding: 8px 0 5px;
      border: none;
      pointer-events: auto;
      display: inline-block;
      text-decoration: none;
      font-size: $font-size-xxsmall;
      min-width: 6em;
      @media print {
        display: none;
      }

      .no-alerts span {
        color:rgb(183, 183, 183);
      }

      .route-page-tab_icon {
        &.no-alerts.icon {
          fill: rgb(183, 183, 183);
        }
        &.active-disruption-alert.icon {
          fill: $cancelation-red;
        }
        &.active-service-alert {
          &.icon {
            stroke: $primary-color;
            fill: $primary-color;
          }
      }
    }

      .active-service-alert {
        &:hover {
          .icon {
          stroke: lighten($black, 20%);
          fill: lighten($black, 20%);
        }
      }
    }
    .tab-route-disruption {
      &:hover span {
        fill: lighten($black, 20%);
        color: lighten($black, 20%);
      }
    }

      &.activeAlert,
      &.activeAlert.is-active,
      &.activeAlert:hover {
        .icon {
          fill: $cancelation-red;
        }
      }

      &.is-active {
        border-bottom: 2px solid $link-color;
        color: $black;

        .icon {
          fill: $black;
        }
        .no-alerts span {
          color: $black;
        }
        .route-page-tab_icon {
          &.no-alerts.icon {
            fill: $black;
          }
          &.active-disruption-alert.icon {
            fill: $black;
          }
          &.active-service-alert {
            &.icon {
            stroke: $black;
            fill: $black;
            }
        }
      }
        .active-service-alert {
            &:hover {
              .icon {
              stroke: lighten($black, 20%);
              fill: lighten($black, 20%);
            }
          }
        }
      }

      &:hover {
        color: lighten($black, 20%);

        .icon {
          fill: lighten($black, 20%);
        }
      }

      > div {
        border-right: 1px solid $light-gray;
        display: block;
        margin: 0 0 0 1px;
        padding: 3px 7px;
        text-decoration: none;
        text-align: center;
        line-height: 1.3em;
      }

      &:last-child > div {
        border-right: none;
      }

      .icon {
        display: block;
        width: 1.5em;
        height: 1.5em;
        fill: $link-color;
        color: $background-color;
        margin: $padding-small auto;
      }
    }
  }

  .tab-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    background: white;
    > div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

.fpccontainer > div > div > div.spinner-loader {
  top: 15%;
}

.mode-nearby {
  &.btn {
    background-color: white;
    .icon {
      color: #79919d;
    }
  }
}

.route-pattern-select {
  padding: 8px 10px 5px 10px;
  background-color: #eef1f3;
  position: relative;
  min-height: 49px;

  .route-option {
    background: $white;
    font-weight: 500;
  }
  #select-route-pattern {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
  }

  button.toggle-direction,
  button.toggle-direction:hover {
    background: $white;
    padding: 0;
    position: absolute;
    top: 0.5em;
    right: 1.3em;
    display: block;
    cursor: pointer;
    pointer-events: all;
    transform: rotate(90deg);
    font-size: 1.5em;
    .icon {
      color: $link-color;
      position: static;
    }
  }

  button.toggle-direction:hover .icon {
    color: #0062a1;
  }

  .route-option option {
    margin-top: 0.4em;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
  }

  .route-option-togglable {
    margin-top: 0.4em;
    max-height: 1.4em;
    overflow: hidden;
  }

  select,
  .route-option {
    padding: 0 35px 0 10px;
    -webkit-padding-end: 35px;
    -webkit-padding-start: 10px;
    @include font-medium;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid $light-gray;
    appearance: none;

    option {
      max-height: 1.4em;
      overflow: hidden;
    }

    &:focus {
      outline: none;
      border: 1px solid $light-gray;
    }
    @media print {
      border: 0;
      padding-left: 0;
    }
  }
  .icon {
    color: $gray-blue;
    position: absolute;
    right: 23px;
    top: 1.25rem;
    pointer-events: none;
    @media print {
      display: none;
    }
  }

  &.bp-large {
    padding: 10px 20px;
    @media print {
      padding-left: 0;
    }

    .route-option option {
      font-size: 18px;
      margin-top: 0.5em;
    }

    select,
    .route-option {
      height: 40px;
      font-size: 18px;
      padding: 0 48px 0 20px;
      -webkit-padding-end: 48px;
      -webkit-padding-start: 20px;
      @media print {
        padding-left: 0;
      }
    }

    .icon {
      right: 38px;
      top: 23px;
    }
  }
}

.route-alerts-list {
  background: $white;

  .route-alert-row {
    display: flex;
    padding: 0.8em 0.8em 0.8em 0.8em;
    position: relative;
    .route-alert-row-link {
       padding-right: 1px;
       padding-left: 1px;
    }
    + .route-alert-row {
      border-top: 1px solid $light-gray;
    }

    .subicon-caution {
      stroke: $white;
      stroke-width: 12;
    }

    .route-alert-contents {
      flex-grow: 1;
      vertical-align: bottom;

      .route-alert-top-row {
        display: flex;

        .route-alert-url {
          color: $primary-color;
          margin-left: auto;

          .external-link {
            color: $primary-color;
          }
        }
      }
    }

    .route-number {
      padding-top: 0.2em;
      padding-right: 0.8em;
      flex-shrink: 0;

      .icon {
        width: 1.5em;
        height: 1.5em;
        margin-bottom: -0.2em;
      }
      .vehicle-number {
        margin-top: -0.3em;
        font-size: $font-size-xsmall;
      }
    }

    .route-alert-body {
      color: $gray;
      font-size: $font-size-small;
      font-weight: 200;
    }

    &.expired {
      filter: grayscale(1);

      .route-number {
        filter: brightness(1.5);
      }

      .caution {
        filter: contrast(0.6) brightness(1.5);
      }
    }
  }
}

#icon-icon_caution path {
  stroke-width: inherit;
}

.no-alerts-message {
  text-align: center;
  margin-top: 50px;
}

nav.top-bar .title .route-number {
  font-size: 24px;
  .vehicle-number {
    color: $title-color;
    vertical-align: middle;
  }
  .route-number-title {
    font-size: 25px;
    span > span:nth-child(1) {
      span > svg.icon {
        //margin-top: -4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: $border-radius;
      }
    }
  }
}

.desktop {
  .route-agency {
    padding: 0 0 0 20px;
  }
}
.route-agency {
  @extend .itinerary-leg-agency;
  padding: 0 0 0 10px;
  .agency-link-container {
    max-width: calc(100% - 1em);
    white-space: nowrap;
    padding-top: 0px;
    padding-bottom: 7px;
    .agency-link {
      font-size: 10px;
      padding: 0;
      .external-link-container {
        max-width: calc(100% - 1em);
      }
      a {
        font-weight: $font-weight-bold;
        color: $link-color;
        max-width: 100%;
      }
      .icon.external-link-icon-outer {
        color: white;
      }
      .icon.external-link-icon {
        color: $link-color;
      }
    }
  }
}

.route-stop-time {
  align-items: center;
  display: flex;
  flex-direction: column;
}
