$route-header-height: 65px;
$route-schedule-date-height: 36px;

$route-header-favourite-icon-stroke-color: $light-gray;
$route-header-favourite-icon-fill-color: $background-color;
$route-header-favourite-icon-hover-stroke-color: $white;
$route-header-favourite-icon-selected-fill-color: $favourite-color;
$route-header-favourite-icon-selected-hover-stroke-color: $white;

/* table headers */
.route-list-header {
  border-bottom: solid 1px #eef1f3;
  @include font-narrow-medium;
  line-height: $line-height-normal;
  flex-shrink: 0;

  overflow: hidden;
  div, .columns.route-stop-time {
    @include font-narrow-book;
    color: $gray;
    font-size: $font-size-small;
  }
  &.route-stop {
    min-height:0;
  }

  .route-stop-now {
    white-space: nowrap;
  }

  &.bp-large {
    &.route-stop {
      padding: 8px 10px 5px 20px;
    }

    div, .columns.route-stop-time {
      font-size: 16px;
    }
  }
}

.error {
  div {
    p {
      color: $gray;
    }
  };
}

.route-page-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 100%;
  background: $white;
  transition: flex-grow 500ms cubic-bezier(0.215, 0.61, 0.355, 1), flex-basis 500ms cubic-bezier(0.215, 0.61, 0.355, 1);

  &:empty {
    flex-basis: 0;
    flex-grow: 0;
  }

  &.fullscreen-map {
    flex-grow: 0;
    flex-basis: 110px;
  }
}

// stop list
.route-stop-list {
  @include font-narrow-medium;
  flex-grow: 20;
  flex-basis: 0;
  position: relative;
}

// each stop row
.route-stop {
  padding: 6px 0 8px;
  line-height: $line-height-normal;
  position:relative;
  min-height: 43px;
  div {
    min-height: 1px;
    .route-now-content {
      padding-top: 10px;
      & svg {
        position: absolute;
      }
    }
  }

  &.bp-large {
    padding: 6px 10px 8px 20px;

    .route-stop-now {
      width: 90px;
      .tail-icon {
        font-size: 5.5em;
        left: -20px;

        &.selected-tail-icon {
          font-size: 8em;
          left: -43px;
        }
      }
    }

    .route-stop-row-divider {
      width: calc(100% - 188px);
      left: 188px;
    }

    .route-stop-schematized {
      width: 12px;
      left: -25px;
    }

    .route-stop-name {
      font-size: 18px;
      max-width: calc(100% - 90px - 60px - 70px);
    }

    .route-stop-address {
      font-size: 16px;
    }

    .itinerary-stop-code {
      font-size: 14px;
      margin-right: 6px;
    }

    .route-stop-time {
      font-size: 18px;
      width: 70px;
    }
  }
}

.route-stop-row-divider {
  position: absolute;
  height: 1px;
  width: calc(100% - 90px);
  bottom: 0px;
  left: 90px;
  background-color: $background-color;
}

.columns.route-stop-time {
  text-align: right;
  color: $dark-color;
  padding-left: 0;
  padding-top: 1px;
  width: 50px;
  font-size: $font-size-small;
  .time {
    margin-right: 0;
    padding-right: 0;
    width: 3em;
  }
}
.route-stop-now {
  min-height: 100%;
  width: 65px;
  .tail-icon {
    left: -5px;
    &.selected-tail-icon {
      left: -17px;
    }
  }
}
.route-stop-schematized {
  position: absolute;
  width: 12px;
  height: 67px;
  left: -12px;
  top: -4px;
}
.route-stop-name {
  max-width: calc(100% - 65px - 40px - 50px);
  margin-left: -10px;
  padding-left: 10px;
  font-size: $font-size-normal;
}
.route-stop-code,
.route-stop-mins {
  text-align: right;
  direction: rtl;
  color: $gray;
}
.route-stop-address {
  @include font-narrow-book;
  font-size: $font-size-small;
  color: $gray;
  white-space: nowrap;
}

.nearest-route-stop {
  @include font-narrow-book;
  color: $gray;
  .walk-distance {
    font-size: $font-size-small;
  }
}

.nearest-route-stop > span > svg.icon {
  transform: translate(0px,3px);
}

.route-header {
  margin: 0 15px;
  line-height: 1;
  flex-shrink: 0;
  border-bottom: solid 1px $light-gray;
  height: $route-header-height; // Ugly hact ko get the tabs to have fixed height
  h1 {
    @include font-narrow-book;
    font-size: 24pt;
    padding: 0.4em 0 0.2em;
    .vehicle-number {
      padding-left: 0.25em;
    }
  }
  .route-header-name {
    margin: 0;
    color: $gray;
    @include font-book;
    font-size: 10pt;
  }
  .route-header-direction {
    margin: 0.5em 0;
    color: $black;
    .icon {
      height: 0.5em;
      width: 0.5em;
    }
    .route-header-direction-switch {
      background: currentColor;
      width: 1.7em;
      height: 1.2em;
      padding: 2px;
      border-radius: 0.6em;
      fill: white;
      vertical-align: bottom;
      margin-left: 1ex;
    }
  }
  .favourite-icon {
    position: absolute;
    top: 13px;
    right: 15px;
  }
}


.route-page-header.favourite-icon {
  position: absolute;
  top: 17px;
  right: 20px;
  height: 22px;
  width: 22px;
}

// Schedule list
.route-schedule-content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: $white;
}

.route-schedule-list-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;

  .route-schedule-header {
    min-height: 52px;
  }
}

.route-schedule-list {
  padding-bottom: 0.7em;
  flex: 1
}

.route-schedule-stop-select {
  select {
    border: 1px solid $light-gray;
    border-radius: 5px;
    padding: 2px 33px 2px 10px;
    background-color: #fff;
    font-size: 9pt;
    color: #333;
    height: 30px;
    line-height: 24px;
    font-weight: 500;
    appearance: none;
  }

  position: relative;

  .icon {
    width: 13px;
    height: 16px;
    color: $gray-blue;
    position: absolute;
    right: 11px;
    top: 7px;
    pointer-events: none;
  }

  .caret {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $primary-color;
  }
}

.trip-column {
  width: 50%;
  margin: 0 auto;
  line-height: 1.5;
}

.trip-separator {
  position: relative;
}

.trip-separator:after {
  content: "";
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
  border-top: 1px solid $light-gray;
}

.trip-from, .trip-to {
  background: #fff;
  width: 50px;
  position: relative;
  z-index: 1;
  font-size: $font-size-small;
}

.trip-from {
  transform: translateX(-50%);
}

.trip-to {
  transform: translateX(50%);
}

.route-schedule-date {
  @include font-book;

  min-height: $route-schedule-date-height;
  background-color: #eef1f3;
  padding: 0 15px;
  margin: 0;

  .icon {
    margin-right: 7px;
    width: 18px;
    height: 18px;
    color: $gray-blue;
    vertical-align: middle;
  }

  select {
    font-size: 9pt;
    line-height: 18px;
    height: 19px;
    background-color: #eef1f3;
    color: #80939d;
    border-bottom: 1px dotted #80939d !important;
    font-weight: 500;
    padding: 0;
    text-transform: uppercase;
    background-image: none;
    width: 7em;
    text-align: left;
    appearance: none;

    option {
      padding: 4px;
    }
  }
}

.desktop .route-agency-name {
    font-size: $font-size-normal;
    padding-left:24px;
  }

.route-agency-name {
  padding-left:14px;
  padding-bottom: 8px;
  font-size: $font-size-small;
  color: $gray;
}

// Tabs
div.route-tabs {



  display: flex;
  flex-direction: column;
  flex: 0 0 auto;

  .tabs-navigation {
    flex-shrink: 0;
    width: calc(100% - 20px);
    margin: 0 10px;
    padding: 0 3px;
    border-bottom: 1px solid $light-gray;

    a {
      @include font-bold;
      padding: 8px 0 5px;
      border: none;
      pointer-events: auto;
      display: inline-block;
      text-decoration: none;
      font-size: $font-size-xxsmall;
      min-width: 6em;

      &.activeAlert, &.activeAlert.is-active, &.activeAlert:hover {
        .icon {
          fill: $cancelation-red;
        }
      }

      &.is-active {
        border-bottom: 2px solid $primary-color ;
        color: $black;

        .icon {
          fill: $black;
        }
      }

      &:hover {
        color: lighten($black, 20%);

        .icon {
          fill: lighten($black, 20%);
        }
      }

      > div {
        border-right: 1px solid $light-gray;
        display: block;
        margin: 0 0 0 1px;
        padding: 3px 7px;
        text-decoration: none;
        text-align: center;
        line-height: 1.3em;
      }

      &:last-child > div {
        border-right: none;
      }

      .icon {
        display: block;
        width: 1.5em;
        height: 1.5em;
        fill: $gray-blue;
        color: $background-color;
        margin: $padding-small auto;
      }
    }
  }

  .tab-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    background: white;
    > div {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

  }
}


.nearby-routes .mode-filter {
  &.btn-bar .btn {
    border-right: 1px solid $light-gray;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;

    &:first-child {
      border-top-left-radius: $border-radius-bigger;
      border-bottom-left-radius: $border-radius-bigger;
      border-left: 1px solid $light-gray;
    }
    &:last-child {
      border-top-right-radius: $border-radius-bigger;
      border-bottom-right-radius: $border-radius-bigger;
    }

    & .icon-holder {
      padding-top: 8px;
      padding-bottom: 3px;

      & .icon {
        height: 24px;
        width: 24px;
      }
    }
  }
}

.mode-nearby {
    &.btn {
      background-color: white;
      .icon{
        color: #79919D;
      }
    }
}

.route-pattern-select {
  padding: 8px 10px;
  background-color: #eef1f3;
  position: relative;
  min-height: 53px;

  select {
    padding:0 35px 0 10px;
    -webkit-padding-end: 35px;
    -webkit-padding-start: 10px;
    @include font-medium;
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid $light-gray;
    appearance: none;

    &:focus {
      outline: none;
      border: 1px solid $light-gray;
    }
  }
  .icon {
    color: $gray-blue;
    position: absolute;
    right: 23px;
    top: 1.25rem;
    pointer-events: none;
  }

  &.bp-large {
    padding: 10px 20px;

    select {
      height: 40px;
      font-size: 18px;
      padding:0 48px 0 20px;
      -webkit-padding-end: 48px;
      -webkit-padding-start: 20px;
    }

    .icon {
      right: 38px;
      top: 23px;
    }
  }
}

.route-alerts-list {
  background: $white;

  .route-alert-row {
    border-bottom: 1px solid $light-gray;
    display: flex;
    padding: 0.8em 0.8em 0.8em 0.8em;

    .icon.caution {
      fill: $cancelation-red;
      position: absolute;
      margin-left: -2.9em;
      margin-top: 1.1em;
      height: 0.8em;
      stroke: $white;
      stroke-width: 12;
    }

    .route-alert-contents {
      vertical-align: bottom;
    }

    .route-number {
      padding-top: 0.2em;
      padding-right: 0.8em;
      flex-shrink: 0;

      .icon {
        width: 1.5em;
        height: 1.5em;
        margin-bottom: -0.2em;
      }
      .vehicle-number {
        margin-top: -0.3em;
        font-size: $font-size-xsmall;
      }
    }

    .route-alert-duration {
      color: $gray;
      font-size: $font-size-xxsmall;;
      margin-bottom: 0.2em;
      font-weight: 200;
    }

    .route-alert-body {
      color: $gray;
      font-size: $font-size-small;
      font-weight: 200;
    }

    &.expired {
      filter: grayscale(1);

      .route-number {
        filter: brightness(1.5);
      }

      .caution {
        filter: contrast(0.6) brightness(1.5);
      }
    }
  }
}

#icon-icon_caution path {
  stroke-width: inherit;
}

.no-alerts-message {
  text-align: center;
  margin-top: 50px;
}

nav.top-bar .title .route-number {
  .vehicle-number {
    color: $title-color;
  }

  font-size: 24px;
  .icon {
    margin-top: -4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: $border-radius;
    height: 26px;
    width: 26px;
  }
}
