/* Calculate some extra width for typeahead results*/
$search-result-width: grid-calc($total-columns + 1, $total-columns) + 1;
$search-result-background-color: $white;
$search-result-text-font-family: $font-family;
$search-result-text-font-weight: $font-weight-book;
$search-result-text-letter-spacing: $letter-spacing;
$search-result-text-color: $black;
$search-result-text-highlight-color: $black;
$search-result-text-highlight-font-weight: $font-weight-book;
$search-result-text-highlight-background-color: darken($background-color, 5%);
$search-result-border-radius: $border-radius;
$search-result-max-height: 130px;
$search-result-icon-color: $gray;
$search-form-icon-color: $white;
$search-form-border-radius: $border-radius;
$search-form-transparency: $transparency;
$search-form-input-height: 3em;
$search-form-input-overlay-height: 27px;
$search-form-input-overlay-border-color: #e1e1e1;
$search-form-input-overlay-background-color: #eef1f3;
$search-form-location-icon-size: 18px;
$search-header-height: 45px;
$item-border-color: #eee;

.search-container {
  margin-left: 5%;
  pointer-events: none;
  position: absolute;
  width: 52.5%;
  z-index: index($zindex, search-panel);

  & .autosuggest-input-container,
  & .street-mode-selector-popup-options,
  & .street-mode-selector-popup-toggle {
    pointer-events: auto;
  }
}

.front-page {
  //for index page only
  .autosuggest-input-container {
    box-shadow: 1.5px 2.6px 10px 0 rgba(0, 0, 0, 0.2);
  }

  .origin-input-container,
  .destination-input-container,
  #origin,
  #destination {
    margin: 0;
    font-size: 1rem;
  }

  button.clear-input {
    font-size: 1rem;
  }
}

/*Placeholder selectors can't be nested and need to be put 1 at a time, these are for the
input field Placeholder texts */
#origin::placeholder {
  color: #666666;
  opacity: 1;
}
#origin::-webkit-input-placeholder {
  color: #666666;
  opacity: 1;
}
#origin:-moz-placeholder {
  color: #666666;
  opacity: 1;
}
#origin::-moz-placeholder {
  color: #666666;
  opacity: 1;
}
#origin:-ms-input-placeholder {
  color: #666666;
  opacity: 1;
}
#destination::-ms-input-placeholder {
  color: #666666;
  opacity: 1;
}
#destination::-webkit-input-placeholder {
  color: #666666;
  opacity: 1;
}
#destination:-moz-placeholder {
  color: #666666;
  opacity: 1;
}
#destination::-moz-placeholder {
  color: #666666;
  opacity: 1;
}
#destination:-ms-input-placeholder {
  color: #666666;
  opacity: 1;
}
#destination::-ms-input-placeholder {
  color: #666666;
  opacity: 1;
}
#destination::placeholder {
  color: #666666;
  opacity: 1;
}

ul.react-autowhatever__items-list {
  @extend .momentum-scroll;
  list-style-type: none;
  background: $white;
  border: 1px solid $light-gray;
  padding: 4px 11px;
  overflow-y: auto;
  width: calc(100% + 22px);
  margin: 0 -11px;

  li {
    white-space: nowrap;
    overflow: hidden;

    &:not(:last-child) {
      border-bottom: solid 1px $item-border-color;
    }
  }
}

.react-autosuggest__suggestion--highlighted {
  color: $search-result-text-highlight-color;
  font-family: $search-result-text-font-family;
  font-weight: $search-result-text-font-weight;
  letter-spacing: $search-result-text-letter-spacing;
  background-color: $search-result-text-highlight-background-color;
}

.react-autosuggest__suggestions-container {
  background-color: white;

  .suggestion-name {
    span {
      .bus,
      .tram,
      .rail,
      .subway,
      .ferry,
      .airplane {
        font-weight: $font-weight-medium;
        font-family: $font-family-narrow;
        font-size: $font-size-normal;
      }
      .suggestion-type {
        font-size: $font-size-xxsmall;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: $gray;
      }
    }
  }

  .react-autosuggest__suggestions-list {
    margin-top: -0.2em;
    margin-bottom: 0;
    padding-top: 0px;
    padding-left: 0;
    background: $white;
    li:hover {
      background: $search-result-text-highlight-background-color;
    }
  }
}

.react-autosuggest__suggestion {
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0;
  cursor: pointer;
  list-style: none;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  border-bottom: 1px solid $light-gray;
}

.react-autosuggest__suggestion .icon {
  margin-right: 4px;
  fill: #cbcbcb;
}

.autosuggestIcon {
  color: #cbcbcb;
  padding: 0 0.6em;
  font-size: $font-size-normal;

  svg.havePosition {
    vertical-align: -0.15em;
  }
}

.search-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 2em;
  overflow-x: hidden;

  &.loading:not(.CurrentLocation) {
    // These are importatn in over to override the styling for the loading phase of the search
    svg.icon {
      stroke: $medium-gray !important;
      fill: $medium-gray !important;
      background: $medium-gray !important;
    }

    .suggestion-name,
    .suggestion-type,
    .suggestion-label {
      &,
      * {
        color: $medium-gray !important;
        background: $medium-gray !important;
      }
    }
  }

  .havePosition {
    color: $current-location-color;
  }

  .noPosition {
    color: $current-location-color;
  }

  .search-position {
    color: $current-location-color;
  }

  &.favourite svg.icon {
    stroke: $favourite-color;
    fill: $favourite-color;
  }

  &.CurrentLocation svg.icon {
    color: $current-location-color;
  }

  .use-own-position,
  .suggestion-name,
  .suggestion-label {
    margin: 0;
    @include font-book;
  }

  .suggestion-name,
  .use-own-position {
    font-size: $font-size-small;
  }

  .suggestion-name {
    span {
      .bus,
      .tram,
      .rail,
      .subway,
      .ferry,
      .airplane {
        font-weight: $font-weight-medium;
        font-family: $font-family-narrow;
        font-size: $font-size-normal;
      }
      .suggestion-type {
        font-size: $font-size-xxsmall;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: $gray;
      }
    }
  }

  &.OldSearch,
  &.FavouritePlace,
  &.FavouriteStop,
  &.CurrentLocation {
    p.suggestion-name,
    span.suggestion-type {
      color: $visited-link-color;
    }
  }

  .suggestion-label {
    font-size: $font-size-xxsmall;
    color: $gray;
  }
}

.suggestion-item-stop {
  padding: 0;
  display: flex;
  flex-direction: row;
  > div {
    flex-grow: 1;
  }
  .suggestion-item-timetable {
    margin: 1px 0px 1px 0px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    border-left: 1px solid $item-border-color;
    a {
      display: flex;
      align-items: center;
    }
    span {
      //icon span
      display: inline-block;
      padding-right: $padding-small;
      color: $link-color;
    }
    div.suggestion-item-timetable-label {
      display: inline-block;
      @include font-bold;
      color: $link-color;
      text-transform: uppercase;
      font-size: $font-size-xxxsmall;
    }
    a > span > svg {
      fill: $link-color;
    }
  }
}

.small .suggestion-item-stop {
  > div {
    width: 0em;
  }
  .suggestion-item-timetable {
    width: 8em;
  }
}

.suggestion-label {
  .itinerary-stop-code {
    display: inline-block;
    margin-right: 4px;
  }
}

div.map {
  .search-modal {
    top: -40px;
    bottom: -50px;
  }
}

.autosuggest-panel {
  &.isItinerary {
    width: 100%;

    input.react-autosuggest__input {
      background: $white;
    }

    .clear-input {
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }
  }

  .dark-overlay {
    z-index: index($zindex, search-overlay);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.57);

    &.hidden {
      display: none;
    }
    &.isItinerary {
      position: fixed;
    }
  }

  .react-autosuggest__container {
    width: 100%;

    .react-autosuggest__suggestions-container--open {
      background: #fff;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      max-height: 60vh;
      overflow-x: hidden;
      overflow-y: scroll;
      position: absolute;
      width: 100%;
    }
  }

  &.small
    .react-autosuggest__container
    .react-autosuggest__suggestions-container--open {
    max-height: unset;
  }
}

.itinerary-search-control {
  align-items: center;
  color: $link-color;
  display: flex;
  justify-content: center;
  min-width: 3em;

  & + .itinerary-search-control {
    border-left: 1px solid rgba(151, 151, 151, 0.2);
  }

  *:hover {
    color: #0062a1;
  }

  .switch {
    font-size: 1.8em;
    .icon {
      transform: rotate(90deg);
    }
  }

  .addViaPointSlack {
    & > span:nth-child(2) {
      display: inline;
      position: relative;

      .super-icon {
        fill: $hilight-color;
        font-size: $font-size-xxsmall;
        position: absolute;
        right: -0.5em;
        top: -0.5em;
      }
    }
  }
}

.small.autosuggest-panel {
  &.isItinerary {
    .autosuggest-input-container {
      &.origin,
      &.destination,
      &.viapoint {
        margin: 0;
        padding: 0;
        position: static;
        width: 100%;
      }
    }
  }

  .autosuggest-input-container {
    margin: 1em 1em 0 1em;
    width: calc(100% - 2em);
  }

  .react-autosuggest__container {
    width: 100%;
    position: relative;
    margin: 0 auto;
    &.viapoint {
      width: 94%;
    }
  }
}

.autosuggest-input-icon {
  display: none;
}

.isItinerary {
  .autosuggest-input-icon {
    display: block;
    position: absolute;
    width: 1.45em;
    height: 1.45em;
    margin-top: 0.6em;
    margin-left: 0.5em;

    &.viapoint {
      display: none;
    }

    &.origin,
    &.destination {
      z-index: 1;
    }

    .icon {
      width: 100%;
      height: 100%;
    }

    &.origin:before {
      content: 'A';
      position: absolute;
      color: #fff;
      font-size: 0.5em;
      left: 1.1em;
      top: 0.4em;
    }

    &.destination:before {
      content: 'B';
      position: absolute;
      color: #fff;
      font-size: 0.5em;
      left: 1.1em;
      top: 0.4em;
    }

    &.origin .icon {
      color: #64be14;
    }

    &.destination .icon {
      color: #f092cd;
    }
  }
}

input.react-autosuggest__input {
  &.location {
    padding-left: 3em;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#{rgba($primary-color, 0.9999999)}' width='19' height='19'><path d='M16.0370 6.3742c0.0000 3.5064 -6.3234 12.6769 -6.3234 12.6769s-6.3234 -9.1706 -6.3234 -12.6769c0.0000 -3.4764 2.8171 -6.3234 6.3234 -6.3234s6.3234 2.8470 6.3234 6.3234zM12.5306 6.3442c0.0000 -1.5284 -1.2587 -2.7871 -2.8171 -2.7871c-1.5584 0.0000 -2.8171 1.2587 -2.8171 2.7871c0.0000 1.5584 1.2587 2.8171 2.8171 2.8171c1.5584 0.0000 2.8171 -1.2587 2.8171 -2.8171z'/></svg>")
      no-repeat scroll 0.7rem 0.7rem;
    background-color: white;
    background-size: 1.5rem;
  }
  &.position {
    padding-left: 3em;
    background: url("data:image/svg+xml;utf8;charset=utf-8,%3Csvg%20width%3D%2220px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2038%2038%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0D%0A%20%20%20%20%3Cdefs%3E%0D%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M23.5788538%2C26.0741036%20C23.0354072%2C26.0741036%2022.5692711%2C25.7273437%2022.4930976%2C25.2259631%20L21.8643443%2C23.5794398%20L21.5539658%2C23.5794398%20L21.5539658%2C26.1215873%20L15.7704665%2C26.1215873%20L15.7704665%2C23.5794398%20L15.460088%2C23.5794398%20L14.9235009%2C25.1873079%20C14.8075353%2C25.6886885%2014.3413991%2C26.0354484%2013.8366077%2C26.0354484%20C13.1760587%2C26.0354484%2012.6724042%2C25.4954126%2012.6724042%2C24.9565137%20C12.6724042%2C24.8018929%2012.6724042%2C24.648409%2012.7497146%2C24.4949252%20L14.0628164%2C20.6518772%20C14.4505053%2C19.5729425%2015.032607%2C19.1875275%2016.0035346%2C19.1875275%20L21.2435873%2C19.1875275%20C22.213378%2C19.1875275%2022.8341349%2C19.5729425%2023.1843055%2C20.6518772%20L24.6657469%2C24.5324435%20C24.7044021%2C24.6870642%2024.7044021%2C24.8405481%2024.7044021%2C24.9951689%20C24.7044021%2C25.5340678%2024.2382659%2C26.0741036%2023.5788538%2C26.0741036%20Z%20M18.6809753%2C18.2245583%20L18.643457%2C18.2245583%20C17.0517725%2C18.2245583%2015.7318113%2C16.9148294%2015.7318113%2C15.2969958%20C15.7318113%2C13.6791622%2017.0517725%2C12.3694332%2018.6809753%2C12.3694332%20C20.2726598%2C12.3694332%2021.592621%2C13.6791622%2021.592621%2C15.2969958%20C21.592621%2C16.9148294%2020.2726598%2C18.2245583%2018.6809753%2C18.2245583%20Z%22%20id%3D%22path-1%22%3E%3C%2Fpath%3E%0D%0A%20%20%20%20%3C%2Fdefs%3E%0D%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0D%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22l%C3%A4hell%C3%A4si%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Ccircle%20id%3D%22Oval%22%20stroke='#{rgba($current-location-color, 0.9999999)}'%20stroke-width%3D%222.197%22%20cx%3D%2218.6884032%22%20cy%3D%2219.2455103%22%20r%3D%2217.5265812%22%3E%3C%2Fcircle%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Ccircle%20id%3D%22Oval%22%20stroke='#{rgba($current-location-color, 0.9999999)}'%20stroke-width%3D%222.197%22%20cx%3D%2218.6884032%22%20cy%3D%2219.2455103%22%20r%3D%2213.3151577%22%3E%3C%2Fcircle%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Ccircle%20id%3D%22Oval%22%20stroke='#{rgba($current-location-color, 0.9999999)}'%20stroke-width%3D%226.591%22%20fill='#{rgba($current-location-color, 0.9999999)}'%20cx%3D%2218.6884032%22%20cy%3D%2219.2455103%22%20r%3D%227.32737159%22%3E%3C%2Fcircle%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22mask-2%22%20fill%3D%22white%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fmask%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20id%3D%22Mask%22%20fill%3D%22%23FFFFFF%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0D%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0D%0A%20%20%20%20%3C%2Fg%3E%0D%0A%3C%2Fsvg%3E")
      no-repeat scroll 0.7rem 0.7rem;
    background-color: white;
    background-size: 1.5rem;
  }
  &.destination {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='#{rgba(#666666, 0.9999999)}' width='19' height='19'><path d='M16.0370 6.3742c0.0000 3.5064 -6.3234 12.6769 -6.3234 12.6769s-6.3234 -9.1706 -6.3234 -12.6769c0.0000 -3.4764 2.8171 -6.3234 6.3234 -6.3234s6.3234 2.8470 6.3234 6.3234zM12.5306 6.3442c0.0000 -1.5284 -1.2587 -2.7871 -2.8171 -2.7871c-1.5584 0.0000 -2.8171 1.2587 -2.8171 2.7871c0.0000 1.5584 1.2587 2.8171 2.8171 2.8171c1.5584 0.0000 2.8171 -1.2587 2.8171 -2.8171z'/></svg>");
    background-repeat: no-repeat;
    background-position: 0.7rem 0.7rem;
    padding-left: 3em;
  }
  background-color: $white;
  @include font-medium;
  border: 1px solid #fff;
  border-radius: 4px;
  height: $search-form-input-height;
  padding: 10px;
  outline: 0;
  appearance: none;
  box-shadow: none;
}

.viapoint-container {
  display: flex;
  flex-wrap: wrap;

  &.drop-target-before::before {
    border-top: 1px solid $link-color;
    content: '';
    display: block;
    margin-top: -0.25em;
    width: 100%;
  }
}

.origin-input-container,
.viapoint-input-container,
.destination-input-container {
  display: flex;
  flex: 1 0 100%;
  margin-bottom: 0.5em;

  input[type='text'] {
    margin: 0;
  }
}

.viapoint-input-container {
  &.viapoint-1 > div.viapoint {
    z-index: index($zindex, viapoint-input-1);
  }

  &.viapoint-2 > div.viapoint {
    z-index: index($zindex, viapoint-input-2);
  }

  &.viapoint-3 > div.viapoint {
    z-index: index($zindex, viapoint-input-3);
  }

  &.viapoint-4 > div.viapoint {
    z-index: index($zindex, viapoint-input-4);
  }

  &.viapoint-5 > div.viapoint {
    z-index: index($zindex, viapoint-input-5);
  }
}

.autosuggest-input-container {
  margin-top: 1em;
  position: relative;
  width: 100%;

  &.origin {
    z-index: index($zindex, origin-input);
  }

  &.destination {
    z-index: index($zindex, destination-input);
  }
}

.isItinerary .autosuggest-input-container {
  margin: 0;

  input[type='text'] {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}

.viapoint-before {
  align-items: center;
  display: flex;

  .icon {
    color: rgb(207, 207, 207);
    font-size: 1.3em;
    transform: rotate(90deg);
  }
}

.input-viapoint-slack-container {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin: 0 6em 0.5em 0;

  span {
    font-weight: 400;
  }
  .select-wrapper {
    display: flex;
    flex-direction: row;
    color: $link-color;
    margin-left: 0.5em;
    flex: 0 1 6em;
    > span {
      margin-left: -1.4rem;
      pointer-events: none;
    }
    .fake-select-arrow {
      font-size: 0.7rem;
      color: #007ac9;
      margin-top: 1em;
    }
  }

  select {
    vertical-align: middle;
    text-align: left;
    margin: 0;
    padding: 0 1rem 0 0.9em;
    font-family: $font-family;
    font-size: $font-size-xxsmall;
    display: inline-block;
    background-color: $white;
    color: $link-color;
    border-radius: 5px;
    border: solid 1px #ddd;
    appearance: none;
    font-weight: 700;
    height: 2.6em;

    &:hover {
      background-color: $white;
      border: solid 1px #007ac9;
      //outline: none;
    }
    &:focus {
      background-color: $white;
      //outline: none;
    }
    &.text-time-selector,
    &.desktop {
      padding: 0 0.5em 0 0.5em;
      margin: 0 -0.5em 0 0;
      text-align: center;
    }
    &.arrive,
    &.select-route-modes {
      width: 100%;
    }
  }
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
  outline: none;
  border: none;
}

.react-autosuggest__container input {
  box-shadow: none;
  outline: none;
  transition: border 0s;
  &:focus {
    box-shadow: none;
    outline: none;
    border: none;
    background: $white;
  }
}

input.react-autosuggest__input::-ms-clear {
  display: none;
}

button.clear-input {
  display: flex;
  background: $white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  align-items: center;
  padding: 8px 12px 8px 12px;
  margin-left: -4px;
  font-size: 0.875rem; //for sizing the height of button
  height: 3em;
  margin-bottom: 0px;
  color: $gray;
  outline: none;
  span {
    //icon size
    font-size: 1.1rem;
  }
  &:hover {
    background: $white;
  }
  &:focus {
    background-color: $white;
  }
}

.react-autosuggest__container--open {
  button.clear-input {
    border-bottom-right-radius: 0;
  }
}

.suggestion-is-updating {
  visibility: hidden;
}
