/* Calculate some extra width for typeahead results*/
$search-result-width: grid-calc($total-columns+1, $total-columns) + 1;
$search-result-background-color: $white;
$search-result-text-font-family: $font-family;
$search-result-text-font-weight: $font-weight-book;
$search-result-text-letter-spacing: $letter-spacing;
$search-result-text-color: $black;
$search-result-text-highlight-color: $black;
$search-result-text-highlight-font-weight: $font-weight-book;
$search-result-text-highlight-background-color: $background-color;
$search-result-border-radius: $border-radius;
$search-result-max-height: 130px;
$search-result-icon-color: $gray;
$search-form-icon-color: $white;
$search-form-border-radius: $border-radius;
$search-form-transparency: $transparency;
$search-form-input-height: 3em;
$search-form-input-overlay-height: 27px;
$search-form-input-overlay-border-color: #E1E1E1;
$search-form-input-overlay-background-color: #EEF1F3;
$search-form-location-icon-size: 18px;
$search-header-height: 45px;

.search-form {
  top: 0;
  padding-top: 10px;
  button {
    width: 100%;
  }

 .postfix {
    height: calc(2rem + 15px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1.5px 2.6px 10px 0 rgba(0, 0, 0, 0.2);
    .icon {
      font-size: $font-size-normal;
    }
    span {
      line-height: 0;
    }
  }

  .input-placeholder {
    display: flex;
    align-items: center;
    background-color: $white;
    height: calc(2rem + 15px);
    border-top-left-radius: $input-border-radius;
    border-bottom-left-radius: $input-border-radius;
    box-shadow: 1.5px 2.6px 10px 0 rgba(0, 0, 0, 0.2);
  }

  .address-placeholder {
    @include font-medium;
    color: $gray;
    background-color: transparent;
    border-radius: $form-input-border-radius;
    border: 0px;
    height: $search-form-input-overlay-height;
    padding-left: calc(#{$padding-large} - 10px);
    line-height: $search-form-input-overlay-height;
  }
}

.fake-search-container.bp-large {
  padding-top: 30px;
  padding-left: 20px;
  max-width: none;
  padding-right: 400px;
  margin-left: auto;
  margin-right:auto;

  .search-modal-container {
    top: -33px;
  }

  .search-modal {
    top:0;
    padding-left: 50px;
    border-radius: $border-radius-bigger;
    bottom: auto;
    max-width:720px;
    padding: 0;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    input[type="text"].react-autowhatever__input {
      flex: 0 0 auto;
      border: 1px solid $primary-color;
      border-radius: 4px;
      height: 3em;
      width: 100%;
      padding: 10px;
      outline: 0;
      appearance: none;
      font-size:19px;
      @include font-medium;
    }

    .search-header {
      padding: 0 15px;

      .react-autowhatever__container {
        max-height: calc(85vh - 50px);
      }

      ul.react-autowhatever__items-list {
        padding: 10px 16px;
        width: calc(100% + 32px);
        margin: 0 -16px;
      }

      .search-header-width-fix {
        margin-left: 10px !important;
        margin-right: 50px !important;
        width: calc(100% - 60px) !important;
      }

      .search-header__button, .search-header__button--selected {
        font-size: 18px !important;
      }
    }

    .react-autowhatever__type-selector {
      font-size: 13px;

      a {
        padding: 10px 40px;
      }
    }

    #react-whatever-suggest{
      max-height:410px;
    }
  }
}

.search-modal-container {
  padding-left: 20px;
  left: 0;
  max-width: none;
  padding-right: 387px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 100%;
  top: -17px;
}

.onetab-search-modal-container.bp-large {
  width: 0px;
  margin-left: -13px;

  .fake-search-container.bp-large {
    position: absolute;
    padding:0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
  }

  .search-modal-container {
    top: 105px;
    position: relative;
    padding-right: 20px;
    width: 660px;
  }

  .search-modal {

    input[type="text"].react-autowhatever__input {
      width: calc(100% - 50px);
    }

    .search-header {
      padding: 15px;

      .search-header__tabs-root {
        > div:first-child {
          display: none;
          width: 0px !important;
        }
        > div:nth-child(2) {
          display: none;
        }
      }

      .react-autowhatever__container {
        max-height: calc(85vh - 150px);
      }

      .search-header__button, .search-header__button--selected {
        height: 0px !important;
      }

      .search-header__back-arrow {
          display: none;
      }
    }
  }
}

.react-autowhatever__items-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.react-autowhatever__container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search-form.bp-large {
  padding-top: 0;
  max-width: 720px;
  .address-placeholder {
    padding-left: 18px;
  }
  .postfix {
    height: 60px;
    width: 60px;
    .icon {
      font-size: 26px;
    }
  }
  .input-placeholder {
      @include form-element();
      height: 60px;
      font-size:18px;
      text-align: left;
      line-height: $search-form-input-overlay-height;
      border-top-left-radius: $input-border-radius;
      border-bottom-left-radius: $input-border-radius;
      box-shadow: 1.5px 2.6px 10px 0 rgba(0, 0, 0, 0.2);
  }
  .address-placeholder {
    padding-top: 13px;
  }
}

.react-autowhatever__type-selector {
  font-size: $font-size-xxsmall;
  line-height: 1;
  display: flex;
  flex: 0 0 auto;
  margin-bottom: -1px;
  z-index: 1;

  a {
    color: $primary-color;
    height: 100%;
    padding: 10px 10px;
    margin: 0 3px;
    border: 1px solid $light-gray;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    &:first-child {
      margin-left: 0;
    }

    &.selected {
      background: $white;
      color: $black;
    }

    .item-count {
      background-color: $primary-color;
      color: $primary-font-color;
      font-size: 0.8em;
      margin-left: 0.5em;
      padding: 0.25em 0.75em;
      border-radius: 1em;
      vertical-align: 0.1em;
    }
  }
}

ul.react-autowhatever__items-list {
  @extend .momentum-scroll;
  list-style-type: none;
  background: $white;
  border: 1px solid $light-gray;
  padding: 4px 11px;
  overflow-y: auto;
  width: calc(100% + 22px);
  margin: 0 -11px;

  li {
    white-space: nowrap;
    overflow: hidden;

    &:not(:last-child) {
      border-bottom: solid 1px #eee;
    }
  }
}

.search-no-results {
  @extend .react-autowhatever__items-list;
  height: 200px;
  li {
    text-align: center;
    font-weight: normal;
    padding-top: 35px;

    span {
      padding-top: 40px;
      display: inline-block;
      white-space: normal;
      line-height: normal;
    }
  }
}

.react-autowhatever__item {
  font-family: $search-result-text-font-family;
  font-weight: $search-result-text-font-weight;
  letter-spacing: $search-result-text-letter-spacing;
  padding: 0.2em;
}

.react-autowhatever__item--focused {
  color: $search-result-text-highlight-color;
  font-family: $search-result-text-font-family;
  font-weight: $search-result-text-font-weight;
  letter-spacing: $search-result-text-letter-spacing;
  background-color: $search-result-text-highlight-background-color;
}

.react-autosuggest__suggestion {
  padding: 0px 0 5px 0;
  margin: 0;
  cursor: pointer;
  height: 1.9em;
  overflow-x: hidden;
  white-space: nowrap;
}

.react-autosuggest__suggestion .icon {
  margin-right: 4px;
  fill: $search-result-icon-color;
}

.search-result {
  display: flex;
  align-items: center;
  line-height: 1.2;
  min-height: 2.5em;


  .havePosition {
    color: $hilight-color;
  }

  .noPosition {
    color: $medium-gray;
  }

  .search-position {
    color: $primary-color;
  }

  .autosuggestIcon {
    color: $medium-gray;
    padding: 0 0.6em;
    font-size: $font-size-large;

    svg.havePosition {
      vertical-align: -0.15em;
    }

  }

  &.favourite svg.icon {
    stroke: $favourite-color;
    fill: $favourite-color;
  }

  .use-own-position, .suggestion-name, .suggestion-label {
    margin: 0;
    @include font-book;
  }

  .suggestion-name, .use-own-position {
    font-size: $font-size-small;
  }

  .suggestion-name {
    span {
      .bus, .tram, .rail, .subway, .ferry, .airplane {
        font-weight: $font-weight-medium;
        font-family: $font-family-narrow;
        font-size: $font-size-normal;
      }
      .suggestion-type {
        font-size: $font-size-xxsmall;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        color: $gray;
      }
    }
  }

  .suggestion-label {
    font-size: $font-size-xxsmall;
    color: $gray;
  }
}


.bp-large .search-result {
  line-height: 1.25;

  .autosuggestIcon {
    font-size: 24px;
  }

  .suggestion-name, .use-own-position {
    font-size: 15px;
  }

  .suggestion-label {
    font-size: 13px;
  }
}

.search-form-map-overlay {
  z-index: 802;
}

.search-modal-overlay {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 803;
  background: rgba(0, 0, 0, 0.541176);
}

.geolocation-bar-location-icon svg.icon {
  fill: $hilight-color;
  padding-top: 2px;
}

div.search-modal {
  z-index: 1202;
  background: #EEF1F3;
  overflow: auto;
  width: 100%;
  max-width: none;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;

  input[type="text"].react-autowhatever__input {
    border: 1px solid $gray;
    border-radius: 4px;
    height: $search-form-input-height;
    padding: 10px;
    outline: 0;
    appearance: none;

    &:focus {
      box-shadow: none;
      border-color: $primary-color
    }
  }
}

div.map {
  .search-modal {
    top: -40px;
    bottom: -50px;
  }
}

div.origin-destination-bar {
  .search-modal {
    top: -40px;
  }
}

.search-header {
  overflow: hidden;

  .search-header__category-text {
    color: $gray-blue;
    font-size: $font-size-xxsmall;
    margin-left: 12px;
    margin-right: 6px;
    vertical-align: middle;
  }

  .search-header__back-arrow {
    position: absolute;
    color: $gray-blue;
    user-select: none;
    line-height: 3.5em;
  }

  .search-header__button, .search-header__button--selected {
    margin-bottom: 0;
    letter-spacing: -0.025em;
    font-size: $font-size-small !important;
    font-weight: $font-weight-bold !important;

    &:first-child {
      @extend .overflow-fade;
    }

    // Uh-oh, override material-ui style for not overflowing the beginning of the word
    > div > div {
      align-items: stretch !important;
      height: 3.5em !important;
    }
  }

  .search-header-width-fix {
    margin-left: 30px !important;
    margin-right: 5px !important;
    width: calc(100% - 35px) !important;
  }

  .search-header__tabs-root {
    height: 100%;
    > div:first-child {
      line-height: 18px !important;
      @extend .search-header-width-fix;
    }
    > div:nth-child(2) { //hack, modify tabs in material ui to fix
      @extend .search-header-width-fix;
    }
    > div:nth-child(3) {
      height: 100%;
      display: flex;
      flex-direction: column;
      > div {
        flex: 0 1 auto;
        display: flex;
        > div {
          flex: 1 0 0;
          width: 100%;
        }
      }
    }
  }

  .close-icon {
    color: $gray;
  }

  .geolocation {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    height: 2.7em;
    line-height: normal;
  }
}

.search-header-separator {
  border-left: 1px solid $light-gray;
  margin-left: 11px;
  height: 2em;
  display: inline-block;
  position: relative;
  bottom: -0.6em;
}

.search-current-origin-tip {
  @include font-book;
  font-size: $font-size-xxxsmall;
  text-transform: none;

  svg.icon {
    color: $hilight-color;
    margin-right: 0.5em;
    font-size: 8px;
  }
}

.bp-large .search-current-origin-tip {
  font-size: 13px;

  svg.icon {
    font-size: 16px;
    vertical-align: -3px;
  }
}

#close-search-button-container {
  position: absolute;
  top: 20px;
  right: 20px;
  .icon {
    color: $gray-blue;
    font-size: 24px;
  }
}
