.settings-dropdown-wrapper {
  margin-bottom: 1em;

  .inverted {
    transform: rotate(180deg);
  }
  .settings-dropdown {
    list-style-type: none;
    display: inline-block;
    padding: 0px 1em 0 1em;
    width: 100%;

    li {
        font-weight: 500;
        cursor: pointer;
        color: $primary-color;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #f4f4f5;
        padding: 0.25em 0.25em 0.25em 1em;
    }

    li.selected {
        border: 1px solid #888888;
        background-color: #ffffff;
        .selected-checkmark {
          color: $primary-color;
          float: right;
          margin: 0.6em 1em 0px 0px;
        }
        .icon-container {
          float: right;
          margin: 0px 1em 0px 0px;
        }
    }
  }

  .settings-dropdown-label {
      height: 2em;
      cursor: pointer;
      display: flex;
      padding: 0px 0px 0px 1em;
      margin: 0px 0px 1em 0px;
      outline: none !important;

      .settings-dropdown-label-text {
        float: left;
        width: 60%;
      }
      .settings-dropdown-label-value {
        float: right;
        color: $primary-color;
        width: 40%;
        padding-right: 1em;
        direction: rtl;
        font-weight: 500;
      }
  }

  .icon-container {
      float: right;
      margin: 1.1em 0px 0px 0px;
      color: $primary-color;
  }
}
