.offcanvas-layers {
  width: 400px;
  height: initial;
  max-height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1200 !important;

  &.mobile {
    position: absolute !important;
    max-height: initial;
    height: 100%;
    width: 100%;
  }

  .map-layer-header {
    font-size: 18px;
    font-weight: $font-weight-bold;
    line-height: 88px;
    padding: 0 1em;
  }

  .map-layers-content {
    overflow-y: auto;
  }

  .panel-close {
    align-self: start;
    background-color: transparent;
    color: $primary-color;
    height: 1em;
    margin: 0.25em;
    padding: 0;
    width: 1em;
    position: absolute;
    right: 20px;
    top: 12px;
  }
  .checkbox-grouping + .checkbox-grouping {
    margin-top: 2.7em;

    &::before {
      border-top: 1px solid $light-gray;
      content: '';
      margin-top: -1.92em;
      display: block;
      position: relative;
    }
  }

  .panel-maptype-title {
    padding: 0 1.875em;
  }

  .panel-maptype-container {
    display: flex;
    justify-content: space-between;
    padding: 0 1.875em 1.25em 1.875em;
  }

  .panel-maptype-button {
    display: flex;
    flex-direction: column;
    &.checked {
      color: #9fc727;
    }
  }

  .panel-maptype-image {
    width: 100px;
    margin-bottom: 5px;
    &.checked {
      border: 3px solid #9fc727;
    }
  }
}
