
#splash-wrapper {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index:802;
}
#splash {
  background-color: white;
  width: 70%;
  min-width:230px;
  max-width: 300px;


  border-radius: 3px;
  box-shadow: 0 0 9.5px 0 rgba(0, 0, 0, 0.3);

  text-align: center;

  line-height: 1.6em;
  user-select: none;
  font-size: 13px;

  @include font-book;

  h3 {
    font-size: 15px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10px;
    margin-right: 10px;
  }

  #splash-locationing-button-container {
    width:80%;
  }

  #splash-locationing-button {
    @include font-medium;
    display: inline-block;
    border-radius: 20px;
    padding: 2px 36px 5px 8px;
    background-color: $hilight-color;
    color: $primary-font-color;

    cursor: pointer;
    font-size: 13px;
    .icon {
      margin-right: 1rem;
      font-size: 17px;
      position:relative;
      top: 4px;
    }
  }

  .spinner-caption {
    padding-top: 6rem;
    padding-bottom: 1rem;
  }

  #splash-positioning-message {
    margin-left:20px;
    margin-right:20px;
  }

#splash-search-field-container {
  align-items: center;
}
  #splash-searchfield {
    display: flex;
    @include font-medium;
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
    .icon {
      margin-left: 1rem;
    }
  }

  .splash-separator {
    color: $gray;

    margin-bottom: 10px;
    margin-top: 16px;

    overflow: hidden;
    text-align: center;

    // Horizontal gray line "behind" the text
    &:before, &:after {
      content: "";
      display: inline-block;
      width: 50%;
      margin: 0 .5em 0 -55%;
      vertical-align: middle;
      border-bottom: 1px solid $light-gray;
    }
    &:after {
      margin: 0 -55% 0 .5em;
    }
  }

  ul {
    list-style: none;
    text-align: left;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;

    .icon {
      margin-left: 5px;
      margin-right: 1rem;
    }

    svg.splash-icon.icon-icon_star {
      stroke: $favourite-color;
      fill: $favourite-color;
    }

    svg.splash-icon.icon-icon_airplane {
      stroke: $airplane-color;
      fill: $airplane-color;
    }

    li {
      display:flex;
      line-height: 1.5;
      margin-bottom: 7px;
      padding-bottom: 7px;
      cursor: pointer;
      border-bottom: 1px solid $light-gray;
      > span {
        display: flex;
        align-items: center;
      }
    }

    li:last-child {
      border:none;
    }
  }
}

#splash-map {
  background-image: url('../../../static/img/background-map.png');
  background-position: center;
  background-size: cover;
  overflow: hidden;
  filter: blur(7px);
  margin: -10px;
  height: calc(100% + 20px);
  width: calc(100% + 10px);
}

.splash-icon {
  font-size:16px;
  position:relative;
  top:2px;
}

#splash-text-block {
  display:block;
  margin-bottom: 13px;
  padding-left:15px;
  padding-right: 15px;
}

#geoposition-selector {
  position: relative;
}

#splash .intro-slides .bottom {
  font-size: $font-size-xsmall;
  position: relative;
  overflow: hidden;
  transition: height 250ms ease-in;
  height: 3em;

  &.hidden {
    height: 0;
  }

  .next {
    @include font-medium;
    position: absolute;
    right: 0;
    color: $gray;
    text-transform: uppercase;
    top: -1.5em;
    padding: 1.5em;
    outline: none;
  }

  .dot {
    font-size: 2em;
    color: $medium-gray;

    &.active {
      color: $primary-color;
    }
  }
}

#splash .intro-slide {
  padding-bottom: 1em;
  display: block;
  text-align: center;

  img {
    width: 100%;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }
  h3 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  span {
    @include font-book;
    font-size: $font-size-small;
	  line-height: 1.23;
    margin: 0 1em;
    display: block;
  }

}
