.map.flex-grow {
    position: relative;
    min-height: 20rem;
}

.stops-near-you-spinner-container {
    position: relative;
    z-index: 1;
    height: 80px;
    animation: fadeIn 0.4s;
}
.citybike-content-container {
    padding: 15px 14px 22px;
    display: flex;
    height: 45px;
    box-sizing: content-box;
    .availability-container {
        padding-left: 15px;
        flex: 1;
        .sub-header-h4 {
            font-size: 0.813rem;
        }
    }
    .icon-container {
        display: flex;
        align-self: center;
        .icon {
            width: 36px;
            height: 36px;
        }
    }
}

.stops-near-you-page {
    position: relative;
    overflow: visible;
    .show-more-button {
        margin: 0 6.25em 20px;
        font-weight: 500;
        background-color: $white;
        color: $primary-color;
        border: 1px solid #ddd;
        min-height: 28px;
        border-radius: 16px;
        font-size: 0.9375rem;
    }
    display: flex;
    flex-direction: column;
    padding: 10px 3.75em 0;
    .nearest-stops-update-container {
        height: 80px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        font-weight: normal;
        font-size: 0.9375rem;
        text-align: center;
        color: #666666;
        .update-stops-button {
            border: 1px solid #ddd;
            min-height: 30px;
            padding: 0 16px;
            border-radius: 15px;
            color: $primary-color;
            font-weight: 500;
            margin: 7px 0 20px;
            background-color: $white;
            letter-spacing: -0.5px;
            display: flex;
            align-items: center;
            .icon-container {
                display: flex;
                font-size: 20px;
                padding-right: 13px;
            }
        }
    }
    .stop-near-you-container {
        border: 1px solid #d9d9d9;
        border-radius: 10px;
        width: 100%;
        margin-bottom: 10px;
        animation: fadeIn 0.7s;
        .stop-near-you-header-container {
            display: flex;
            .stop-near-you-name {
                line-height: 24px;
            }
            .stop-header-content {
                a {
                    text-decoration: none;
                    color: #333;
                }
                .bike-station-code {
                    font-size: 0.813rem;
                    font-weight: normal;
                }
            }
            padding: 14px 15px 1px 20px;
            .stop-near-you-info {
                display: flex;
                .platform-short {
                    @include font-medium;
                    font-weight: normal;
                    white-space: nowrap;
                    font-size: 0.813rem;
                    margin-right: 5px;
                    width: unset;
                }
                .stop-near-you-desc {
                    font-weight: normal;
                    font-size: 0.8125rem;
                    padding-right: 5px;
                }
                .itinerary-stop-code {
                    height: 16px;
                    padding: 0 4px;
                    align-self: center;
                    margin-top: -6px;
                }
                .zone-icon-container {
                    padding-left:3px;
                    align-self: center;
                    .circle {
                        height: 14px;
                        width: 14px;
                        font-size: 12px;
                        line-height: 14px;
                    }

                    .svg {
                        width: 14px;
                        height: 14px;
                        margin-left: 1px;
                        margin-bottom: 1px;
                      }
                }
            }
            .stop-favourite-container {
                padding-top: 8px;
                margin-left: auto;
            }
            .bike-rental-favourite-container {
                padding-top: 8px;
                margin-left: auto;
            }
        }
    }
    .near-departures-container {
        padding: 2px 15px 15px 15px;
        .departure-row {
            .platform-code {
                height: 20px;
                width: 26px;
                font-size: 0.813rem;
                align-self: center;
            }
            @include font-narrow-book;
            font-weight: normal;
            display: flex;
            .route-arrival {
                color: #333;
                @include font-medium;
                font-size: 0.75rem;
                padding-right: 8px;
                span {
                    vertical-align: sub;
                }
                &.realtime {
                    color: $realtime-color;
                }
            }
            .route-number-container {
                background-color: currentColor;
                margin-right: 10px;
                border-radius: 3px;
                width: 2.25em;
                height: 1.25em;
                text-align: center;
                .route-number {
                    color: $white;
                    line-height: 1.25;
                    min-width: unset;
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
            .route-headsign {
                font-weight: normal;
                color: #333;
                flex: 1;
            }
            .route-time {
                color: #333;
                &.realtime {
                    color: $realtime-color;
                }
            }
        }
    }
}
.scrollable-content-wrapper {
    .stops-near-you-search-container {
        margin-bottom: 22px;
    }
    .back-button.near-you-back-button {
        font-size: 1.25rem;
        margin: 50px 0 16px 0;
        line-height: 1;
        button .icon {
            height: 1.3em;
            width: 1.3em;
        }
        .arrow-icon {
            font-size: 0.75em;
            margin: 2px 1em;
        }
    }
}

.disruption-banner-container {
    @include font-medium;
    height: 60px;
    text-decoration: none;
    font-weight: 100;
    background-color: #dc0451;
    color: white;
    font-size: 0.9375rem;
    padding: 12px 14px 12px 17px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    .disruption-icon-container {
        width: 40px;
        align-self: center;
        .icon-container {
            font-size: 24px;
            display: flex;
            padding-left: 3px;
        }
    }
    .disruption-info-container {
        line-height: 1.2;
        height: 2.4em;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

.mobile {
    .stops-near-you-search-container {
        padding: 0 5px 15px;
    }
    .stops-near-you-page {
        height: calc(100% - 20rem);
        padding: 5px 0.625em 0;
        background-color: white;
        position: relative;
        .stops-near-you-container {
            padding: 0;
        }
        .disruption-banner-container {
            margin: 0 5px 15px;
        }
    }
}

.modal-desktop-container {
  font-family: 'Gotham Rounded A', 'Gotham Rounded B', Arial, Georgia, Serif;
  display: flex;
  flex-direction: column;
  .modal-desktop-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    .modal-desktop-header {
      position: relative;
      width: 100%;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.33;
      letter-spacing: -0.6px;
      color: #333333;
      margin-bottom: 9px;
      padding-left: 10px;
      top: 6px;
    }
  }
  .modal-desktop-main {
    position: relative;
    top: 16px;
    text-align: left;
    margin-bottom: 27px;
    .modal-desktop-location-search {
      position: relative;
      top: -13px;
      margin-bottom: 9px;
    }
    .modal-desktop-name {
      .modal-desktop-input {
        display: flex;
        position: relative;
        top: 3px;
        width: 100%;
        height: 44px;
        font-family: 'Gotham Rounded A', 'Gotham Rounded B', Arial, Georgia, Serif;
        border-radius: 5px;
        border: solid 1px #888888;
        background-color: #ffffff;
        padding-left: 20px;
        font-size: 15px;
        line-height: 1.2;
        letter-spacing: -0.5px;
        color: #333;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &::placeholder {
          color: #666;
        }
        &:focus {
          background: #fff;
          outline: none;
          border: solid 1px $primary-color;
          box-shadow: none;
        }
        margin-bottom: 10px;
      }
    }
  }
  .modal-desktop-text {
    position: relative;
    top: 8px;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.5px;
    color: #333333;
    margin-bottom: 32px;
    padding-left: 10px;

    &.title {
      position: relative;
      font-weight: 500;
      margin-bottom: 15px;
      top: 4px;
    }

    &.title2 {
      position: relative;
      top: -6px;
      font-size: 15px;
      font-weight: 500;
    }
  }

  .modal-desktop-icons {
    margin-bottom: 30px;
  }

  .modal-desktop-buttons {
    display: flex;
    flex-direction: column;
    .modal-desktop-button {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: -27px;
      width: 100%;
      height: 40px;
      font-size: 15px;
      font-family: 'Gotham Rounded A', 'Gotham Rounded B', Arial, Georgia, Serif;
      font-weight: 500;
      letter-spacing: -0.5px;
      background: $primary-color;
      color: #fff;
      line-height: 0;
      text-align: center;
      padding: 0;
      margin: 0;
      border-width: 0;
      transition: background-color 300ms ease-out;
      border-radius: 25px;
      cursor: pointer;
      &.save {
        &:active, &:focus {
          background: darken($primary-color, 5%);
        }
        &.disabled {
          background: #bbb;
          &:active {
            background: #bbb;
          }
        }
        svg {
          position: absolute;
          left: 13px;
          g {
            stroke: #fff;
          }
        }
      }
    }
  }
}
