.stops-near-you-container {
    display: flex;
    flex-direction: column;
    padding: 0 3.75em;
    .stop-near-you-container {
        border: 1px solid #d9d9d9;
        border-radius: 10px;
        width: 100%;
        margin-bottom: 10px;
        .stop-near-you-header-container {
            padding: 14px 15px 12px 20px;
            .stop-near-you-info {
                display: flex;
                .stop-near-you-desc {
                    font-weight: normal;
                    font-size: 0.8125rem;
                }
                .itinerary-stop-code {
                    height: 16px;
                    padding: 0 4px;
                }
                .zone-icon-container {
                    .circle {
                        height: 14px;
                        width: 14px;
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
            }
        }
    }
    .near-departures-container {
        padding: 15px;
    }
}

.near-departure-row {
    @include font-narrow-book;
    font-weight: normal;
    display: flex;
    .near-route-number-container {
        background-color: currentColor;
        margin-right: 10px;
        border-radius: 3px;
        width: 2.25em;
        height: 1.25em;
        text-align: center;
        .near-route-number {
            color: $white;
            line-height: 1.25;
        }
    }
    .near-route-headsign {
        font-weight: normal;
        color: #333;
        flex: 1;
    }
    .near-route-time {
        color: #333;
        &.realtime {
            color: $realtime-color;
        }
    }
}
