.stop-page-content-wrapper {
  min-height: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.stop-page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.stop-page.header {
  background-color: $background-color;
  @include font-bold;
}

.desktop .stop-page.header {
  .h3 {
    font-size: 24px;
  }
  .sub-header-h4 {
    font-size: 18px;
  }

  .card-code {
    font-size: 14px;
  }
}

.selected-stop-popup {
  p {
    display: inline;
  }
  .card-code {
    border: 1px solid $light-gray;
    border-radius: $border-radius;
    font-size: $font-size-xxsmall;
    color: $gray-blue;
    margin-right: 3px;
    padding: 0px 2px 0px 2px;
  }
  .description {
    color: $gray-blue;
  }
}


.stop-page-content > .departure-list {
  flex-basis: 0;
  flex-grow: 20;
  transition: flex-grow 300ms;

  &.stop-page-content-enter, &.stop-page-content-leave {
    will-change: flex-grow;
  }

  &.stop-page-content-enter.stop-page-content-enter-active {
    flex-grow: 20;
  }

  &.stop-page-content-enter, &.stop-page-content-leave.stop-page-content-leave-active {
    flex-grow: 0;
  }
}

.stop-page.departure-list {
  .departure {
    .time {
      width: 3.7em;
      padding-right: $padding-medium;
      margin-right: $padding-medium;
    }
    .route-number {
      width: 3.7em;
    }
    .route-destination {
      padding-left: $padding-medium;
    }
  }
}

.desktop .stop-page.departure-list {
  .departure {
    .time {
      margin-right: $padding-large;
    }
    .route-destination {
      padding-left: $padding-medium;
    }
  }
}

.selected-stop-header {
  color: $black;
}
