
.departure-list .date-row {
  @include font-bold;
  font-size: 10pt;
  text-transform: capitalize;
  color: $gray;
  background-color: $white;
  padding-left: 1em;

  .missing-routes {
    @include font-book;
    font-size: $font-size-small;
    margin: 0.5em 0 0;
    padding: 0;
    width: 100%;
    line-height: $line-height-normal;
    color: #999;
  }
}

/* STOP PAGE */
.stop-page  {
  overflow-y: auto;
  &.card-header  {
    padding: 0.75em 1em 0.5em;
    position: relative;
    flex: 0 0 auto;
    overflow:hidden;
    min-height: 3em;
    .link-arrow {
      display: none;
    }
  }
  .card-sub-header {
    margin-top: -0.2em;
  }
  a {
    color: $black;
    text-decoration: none;
  }
}

.header-primary {
  @include font-bold;
  font-size: $font-size-small;
  text-transform: uppercase;
  color: $primary-color;
}
