.departure-list .date-row {
  @include font-medium;

  font-size: 12pt;
  text-transform: capitalize;
  color: $black;
  background-color: $white;
  padding-left: 0.5em;
  padding-top: 1.25em;
  padding-bottom: 0.5em;

  .missing-routes {
    @include font-book;

    font-size: $font-size-small;
    margin: 0.5em 0 0;
    padding: 0;
    width: 100%;
    line-height: $line-height-normal;
    color: #999;
  }
}

/* STOP PAGE */
.stop-page {
  overflow-y: auto;

  &.card-header {
    padding: 48px 60px 0 60px;
    position: relative;
    flex: 0 0 auto;
    overflow: hidden;
    min-height: 3em;

    .link-arrow {
      display: none;
    }
  }

  .card-sub-header {
    margin-top: -7px;
    min-height: 2.75rem;

    .card-name-container {
      display: flex;
    }

    .card-sub-header-address {
      font-size: 13px;
      color: #666;
    }
  }

  a {
    color: $black;
    text-decoration: none;
  }
}

.stop-page-header_icon {
  height: 41px;
  width: 41px;
  color: $black;
  margin-right: 1.3em;
  margin-top: 10px;
}

.mobile {
  background-color: $white;

  .stop-page-header_icon-container {
    display: none;
  }

  .stop-page {
    &.card-header {
      padding: 0 16px 0 16px;
      z-index: 2;
      position: relative;
    }
  }

  .card-header-wrapper {
    h1 {
      font-family: $heading-font-family;
      margin: 0;
      padding: 0;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.03em;
    }

    .card-sub-header {
      min-height: 2.5rem;

      .card-sub-header-address {
        margin-top: 0.5em;
      }
    }
  }
}

.header-primary {
  @include font-medium;

  font-size: $font-size-small;
  text-transform: uppercase;
  color: $link-color;
}
