.street-mode-selector-container {
  background-color: #f4f4f4;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  min-height: 76px;
  display: flex;
  flex-direction: column;
  padding-left: 59.2px;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;

  .street-mode-button-row {
      display: flex;
      flex-direction: row;
      margin-top: auto;
      margin-bottom: auto;
      overflow-y: auto;
      scrollbar-width: thin; // Firefox
  }

  // make the scrollbar thinner on Webkit/Blink based browsers
  .street-mode-button-row::-webkit-scrollbar {
    height: 6px;
  }

  .street-mode-button-row::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .street-mode-button-row::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
  }

  .street-mode-button-row::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.mobile {
  .street-mode-selector-container {
    overflow-x: auto;
    padding-left: 7px;
  }
}
