.street-mode-selector-container {
  background-color: #f4f4f4;
  border: solid 1px #dddddd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
