.street-mode-selector-weather-container {
	display: flex;
    align-items: center;
    justify-content: space-between;
	padding-right: 20px;
	&.id-1 span.icon-container {
		height: 40px;
	}
	&.id-101 span.icon-container {
		height: 25px;
		width: 31px;
	}
	span.icon-container {
		height: 30px;
	}
	.street-mode-selector-panel-weather-text {
		font-size: 15px;
		font-weight: 500;
		padding-top: 51px;
		margin-left: -39px;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.5px;
		text-align: center;
		color: #333333;
	  }
}
.street-mode-selector-button-container {
	cursor: pointer;
	display: flex;
	width: 120px;
	min-width: 120px;
	height: 50px;
	border-radius: 5px;
	position: relative;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
	color: #333333;
	border: solid 1px #d9d9d9;
	background-color: #ffffff;
	align-items: center;
	padding: 5px 15px 5px 20px;
	margin-right: 10px;

	.street-mode-selector-button-content {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.street-mode-selector-button-icon {
		padding-right: 10px;
		padding-top: 8px;
		margin-left: -10px;
	}
	.street-mode-selector-button-icon.primary-icon {
		width: 23px;
	  	padding-right: 0px;
	}
	.street-mode-selector-button-icon.secondary-icon {
		margin-bottom: 15px;
		margin-left: -5px;
		padding-right: 7px;
		padding-top: 0px;
	}
	.street-mode-button-time {
	 	font-size: 15px;
		font-weight: 500;
		height: 1.2em;
		line-height: 1.5em;
	}
	.street-mode-button-length {
	  font-size: 13px;
  	  font-weight: normal;
	}
}

.mobile {
	.street-mode-selector-weather-container {
		display: block;
		width: 125px;
		height: 48px;
		padding: 4px 15px 5px 20px;
		.street-mode-selector-panel-weather-text {
			padding-left: 46px;
			font-size: 16px;
			margin-left: -41px;
			padding-top: 0;
		  }
	&.id-101 svg {
		margin-bottom: -18px;
    	margin-left: 11px;
	}
	&.id-102 svg {
		margin-bottom: -24px;
	}
	 svg {
		margin-bottom: -10px;
	 }
	}
	.street-mode-selector-button-container {
		width: 130px;
		height: 48px;
	}
}
