.street-mode-selector-weather-container {
	display: flex;
    align-items: center;
    justify-content: space-between;
	padding-right: 20px;
	&.id-1 span.icon-container {
		height: 40px;
	}
	&.id-101 span.icon-container {
		height: 25px;
		width: 31px;
	}
	span.icon-container {
		height: 30px;
	}
	.street-mode-selector-panel-weather-text {
		font-size: 15px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.5px;
		text-align: center;
		color: #333333;
	  }
}
.street-mode-selector-button-container {
	cursor: pointer;
	display: flex;
	width: 140px;
	height: 40px;
	border-radius: 5px;
	position: relative;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
	color: #333333;
	border: solid 1px #d9d9d9;
	background-color: #ffffff;
	align-items: center;
	padding: 5px 15px 5px 20px;
	margin-left: 5px;
	margin-right: 5px;

	.disabled-overlay {
		cursor: default;
		z-index: 1;
		border-radius: 5px;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		background-color: rgba(255, 255, 255, 0.7);
	}

	.street-mode-selector-button-content {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.icon-container {
		padding-right: 5px;
		padding-top: 5px;
	}

	.street-mode-selector-button-icon {
	  height: 23px;
	}
	.street-mode-button-time {
	  font-size: 13px;
		font-weight: 500;
		height: 1.2em;
		line-height: 1.2em;
	}
	.street-mode-button-length {
	  font-size: 11px;
  	  font-weight: normal;
	}
}

.mobile {
	.street-mode-selector-weather-container {
		display: block;
		.street-mode-selector-panel-weather-text {
			padding-left: 46px;
			font-size: 16px;
			margin-left: -39px;
		  }
	&.id-101 svg {
		margin-bottom: -18px;
    	margin-left: 11px;
	}
	&.id-102 svg {
		margin-bottom: -24px;
	}
	 svg {
		margin-bottom: -10px;
	 }
	}
	.street-mode-selector-button-container {
		width: 130px;
		height: 48px;
	}
}
