.street-mode-selector-container {
  background-color: #f4f4f4;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  min-height: 76px;
  display: flex;
  flex-direction: column;
  padding-left: 3.7em;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;

  .street-mode-button-row {
      display: flex;
      flex-direction: row;
      margin-top: auto;
      margin-bottom: auto;
      overflow-y: auto;
      scrollbar-width: thin; // Firefox
  }
}

.mobile {
  .street-mode-selector-container {
    overflow-x: auto;
    padding-left: 7px;
  }
}
