.street-mode-selector-container {
  background-color: #f4f4f4;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 60px;
}

.mobile {
  .street-mode-selector-container {
    height: 77px;
    min-height: 77px;
    overflow: auto;
    white-space: nowrap;
  }
}
