.street-mode-selector-container {
  background-color: #f4f4f4;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  padding-left: 3.75em;
  height: 85px;
  min-height: 85px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap
}

.mobile {
  .street-mode-selector-container {
    height: 77px;
    min-height: 77px;
    overflow: auto;
    white-space: nowrap;
    padding-left: 0.9375em;
  }
}
