@import './street-mode-selector.scss';

.street-mode-selector-popup-container {
  max-width: 100%;
  position: relative;

  & .street-mode-selector-popup-header {
    @extend %header;

    height: 3em;
    justify-content: space-between;
    padding-left: 10px;
  }

  & .street-mode-selector-popup-options {
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: 1.5px 2.6px 10px 0 rgba(0, 0, 0, 0.2);

    &.direction-up {
      margin-top: -7em;
    }
  }

  & .street-mode-selector-popup-buttons {
    @extend %buttons;

    & button {
      margin-bottom: 0.5em;
      padding: 0 0 0.5em 0;
      width: 6em;

      & .icon-holder {
        height: 3em;
        padding: 0.25em;
        width: 3em;
      }
    }
  }

  & .street-mode-selector-popup-toggle {
    background-color: $white;
    border-radius: $border-radius;
    cursor: pointer;
    height: 3em;
    padding: 6px;
    width: 3em;

    & .icon {
      color: $primary-color;
      height: auto;
      width: auto;
    }
  }
}
