.summary {
}

.desktop .summary {
  height: 100%;
  max-height: calc(100% - 164px);
}

.summary-no-route-found {
    margin: 1em;
}

.time-selectors {
  @include font-book;
  font-size: $font-size-small;
  background-color: $secondary-color;
  display: flex;
  flex-direction: row;
  align-items: center;

  input[type="date"], input[type="time"], input[type="text"], select {
    vertical-align: middle;
    text-align: left;
    width: auto;
    height: 2.6em;
    margin: 0;
    padding: 0;
    font-size: $font-size-xxsmall;
    display: inline-block;
    background-image: none;
    background-color: $primary-color;
    box-shadow: none;
    color: $secondary-font-color;
    border: none;
    border-radius: 0;
    appearance: none;
    @include font-book;

    &:hover {
      background-color: $primary-color;
      outline: none;
      box-shadow: none;
    }

    &:focus {
      background-color: $primary-color;
      outline: none;
      box-shadow: none;
    }
  }
  .select-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: $padding-xsmall;
    border-radius: $border-radius;
    background: $primary-color;
    margin-right: 1px;
  }

  .fake-select-arrow {
    font-size: 0.5rem;
    width: 2em;
    color: #fff;
  }

  .time-selector {
    @include font-book;
    text-align: left;
    font-family: $font-family !important;
    display: flex !important;
    input {
      font-size: $font-size-xxsmall !important;
    }
    hr {
      display: none;
    }
  }

  .time-mui {
    max-width: 3.5em;
    height: 2.6em !important;
    font-size: $font-size-xxsmall !important;
  }

  .arrive {
    width: auto;
    text-align: left;
 }
}

.time-selector-settings-row {
  padding: $padding-small 6px;
  overflow-x: hidden;
  background-color: $secondary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.bp-large {
    height: 50px;
  }
}

.bp-large.time-selector-settings-row {
  padding: 0 20px;

  input[type="date"], input[type="time"], input[type="text"], select, .time-mui {
    font-size: $font-size-normal !important;
    height: 35px !important;
  }

  .right-offcanvas-toggle {
      span {
        font-size: $font-size-small;
      }
  }
}

.right-offcanvas-toggle {
  span {
    @include font-bold;
    font-size: $font-size-xxxsmall;
    margin-left: $padding-xsmall;
  }
  margin: 0;
  background-color: $primary-color;
  border-radius: 2px;
  width: auto;
  text-align: center;
  text-transform:uppercase;
  color: $primary-font-color;
  padding: $padding-small;
  display: flex;
  align-items: center;
  min-height: 30px;

  .icon-holder {
    display: inline;
    position: relative;
    line-height: 0;

    .icon {
      fill: $white;
      font-size: $font-size-large;
    }

    .super-icon {
      fill: $hilight-color;
      position: absolute;
      right: 0;
      top: -2px;
      font-size: $font-size-xxsmall;
    }
  }
}

.summary-list-container {
  width: 100%;
}

.desktop .summary-list-container {
  height: calc(100% - 80px);
}


.summary-content {
  height: 100%;
  > section {
    height: 100%;
  }
}
