@import '~@hsl-fi/sass/animations/fade';

.desktop .summary {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.summary {
  background-color: $white;
}

.summary-no-route-found {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  padding: 1em;
  .external-no-route .external-link-container {
    margin-left: 0.5rem;
    a.external-link {
      color: $link-color;
    }
  }
  .no-route-icon {
    margin-right: 1em;
    margin-top: 0.5em;
    color: white;
    width: 2em;
    height: 2em;
  }
  .caution {
    fill: $disruption-color;
  }
  .info {
    fill: $gray-blue;
  }
}

.time-selectors {
  @include font-book;
  font-size: $font-size-small;
  background-color: $background-color-lighter;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-height: 2.2em;
  flex: 0 1 49.6%;

  input[type='date'],
  input[type='time'].time-selector,
  input[type='text'],
  input[type='tel'],
  select,
  .time-mui > input {
    vertical-align: middle;
    text-align: left;
    margin: 0;
    padding: 0 1rem 0 0.9em;
    font-size: $font-size-xxsmall;
    display: inline-block;
    background-image: none;
    background-color: $white;
    color: $link-color;
    border: none;
    border-radius: $border-radius;
    appearance: none;
    @include font-book;
    font-weight: $font-weight-medium;
    height: 2.6em;

    &:hover {
      background-color: $white;
      //outline: none;
    }

    &:focus {
      background-color: $white;
      //outline: none;
    }

    &.text-time-selector,
    &.desktop {
      padding: 0 0.5em 0 0.5em;
      margin: 0 -0.5em 0 0;
      text-align: center;
    }
  }
  .select-wrapper {
    display: flex;
    flex: 0 1 14.5em;

    > span {
      margin-left: -1rem;
      pointer-events: none;
    }
    select {
      border-radius: 5px;
      padding: 0 1.5rem 0 0.9em;
    }
  }
  .time-box-shadow input {
    box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.43);
    &:focus {
      box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.43);
    }
  }

  .fake-select-arrow {
    font-size: 0.7rem;
    color: $link-color;
  }

  .time-selector {
    @include font-book;
    text-align: left;
    font-family: $font-family !important;
    display: flex !important;
    border: 1px solid #ddd;

    &:hover {
      border: 1px solid #007ac9;
    }
    input {
      font-size: $font-size-xxsmall !important;
    }
    hr {
      display: none;
    }
  }

  .time-mui {
    max-width: 4.5em;
    padding-left: $padding-small;
    height: 2.6em !important;
    font-size: $font-size-xxsmall !important;
  }

  .arrive {
    width: auto;
    text-align: left;
  }

  .arrive,
  .date,
  input[type='time'].time-selector {
    border: solid 1px $light-gray;
    box-shadow: none;
  }

  select {
    &:hover {
      border: solid 1px $link-color;
    }
  }
}

.mobile .time-selectors {
  flex: 0 1 85%;
  .select-wrapper > span {
    margin-left: -1.4rem;
  }
}

.time-input-container {
  form {
    display: inherit;
    margin-bottom: 0;
  }
  display: flex;
  background: $white;
  padding: 0 0.6em 0 0.2em;
  border-radius: 5px;
  margin-right: 0.6em;
  flex: 0 0 3em;
  .time-input-field {
    width: 1.5em;
    padding-right: 0 !important;
    padding-left: 0 !important;
    box-shadow: none;
    background-color: transparent !important;
    &:focus {
      box-shadow: none !important;
      border-color: none !important;
    }
    &#inputMinutes {
      text-align: left;
      padding-bottom: 0.2em;
      color: rgb(51, 51, 51);
      font-weight: $font-weight-medium;
    }
    &#inputHours {
      text-align: right;
      padding-bottom: 0.2em;
      color: rgb(51, 51, 51);
      font-weight: $font-weight-medium;
    }
  }
  #timeinput-digit-separator {
    margin: 0.25em 1px 0 1px;
    color: rgb(51, 51, 51);
  }
}

.mobile .time-input-container {
  margin-right: 0;
}

.quicksettings-separator-line {
  display: block;
  width: auto;
  margin: 0 auto;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.3em;
  border-top: 1px solid #ddd;
  background: $background-color-lighter;
}

.mobile .quicksettings-separator-line {
  margin-left: 6px;
  margin-right: 6px;
}

.time-selector-settings-row {
  background-color: $background-color-lighter;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: initial;

  .button-container {
    position: relative;
    margin-top: -3px;
    .icon-holder {
      left: 1.4em;
      position: absolute;
      z-index: 2;
    }
  }

  button.secondary-button {
    background: none;
    border: none;
    margin-bottom: 0;
    padding: 0.6em;
    padding-right: 0.8em;
    outline: none;
    span {
      font-weight: $font-weight-medium;
      font-size: $font-size-xxsmall;
    }
    &.settings .icon {
      font-size: 1.7em;
      margin-top: -0.15em;
    }
    &.close {
      .icon {
        font-size: $font-size-small;
      }
      :first-child {
        margin-left: 0.4em;
      }
    }
  }
}
.mobile button.secondary-button.close {
  padding-right: 0.5em;
}

.summary-list-container {
  border-top: 1px solid #ddd;
  width: 100%;
  margin-bottom: -1px;
  background-color: $white;

  .show-alternatives {
    background: $background-color-lighter;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 18px 32px 18px 16px;
    .icon-container {
      padding-top: 5px;
      padding-right: 10px;
      .icon-icon_settings {
        width: 1.25em;
        height: 1.25em;
      }
    }
  }
}

.summary-list-items {
  position: relative;
  z-index: 9;

  @keyframes loadingTopAnimation {
    from {
      transform: translateY(-100px);
    }
    to {
      transform: translateY(0);
    }
  }

  &-loading-top {
    animation: loadingTopAnimation 0.4s;
  }
}

.summary-list-spinner-container {
  position: relative;
  z-index: 1;
  height: 100px;
  animation: fadeIn 0.4s;
  &.route-schedule {
    margin-top: 200px;
  }
}

.desktop .summary-list-container {
  flex: 1 1 auto;
}

@media print {
  .summary {
    display: block;
    height: auto;
    .summary-list-container {
      display: block;
      height: auto;
    }
  }
}

.summary-content {
  height: 100%;
  > section {
    height: 100%;
  }
}

.desktop .street-mode-selector-panel-container {
  padding: 0 $padding-medium;
}

.mobile .street-mode-selector-panel-container {
  padding: 0 $padding-small;
}
.mobile {
  background-color: white;
  .summary-navigation-container {
    margin: 0 9px 0 1.25em;

    .back-button {
      position: static;
      .icon-holder {
        position: absolute;
        box-shadow: none;
        font-size: 16px;
        top: 1.5em;
        border: 1px solid #ddd;
        .icon-container {
          height: inherit;
        }
      }
      h1 {
        font-family: $heading-font-family;
        width: 100%;
        text-align: center;
        margin: 1.7em 0 25px 0;
      }
    }
  }
}

.summary-navigation-container {
  background-color: #fff;
  flex: 0 0 auto;
}

.time-navigation-btn {
  height: 40px;
  width: 100%;
  color: $primary-color;
  background-color: $white;
  text-align: left;
  padding-left: 81px;
  font-weight: $font-weight-medium;
  font-size: $font-size-normal;
  letter-spacing: -0.36px;

  .icon-container {
    position: relative;
    top: 2px;
    margin-right: 1em;
  }
  .arrow-up {
    transform: rotate(180deg);
  }

  &.bottom-btn {
    border-top: 1px solid #ddd;
    height: 50px;
  }
}

.mobile .time-navigation-btn {
  padding-left: 28px;
  &.extra-whitespace {
    height: 120px;
    padding-bottom: 60px;
  }
}

.summary-list-separator {
  height: 4px;
  background-color: $gray;
  width: 100%;
  position: relative;
  top: -1px;
}
