.canceled-legs-banner {
  width: 100%;
  background: $cancelation-red;
  color: #fff;
  padding: 1em;
  .canceled-legs-container {
    display: flex;
    svg {
      fill: $white;
      color: $cancelation-red;
      font-size: 1.5em;
    }
    .canceled-legs-right-content {
      margin-left: 1em;
      .canceled-legs-text {
        margin-bottom: 0.5em;
      }
      button {
        background: $cancelation-red;
        color: $white;
        border: 1px solid $white;
        border-radius: 4px;
        padding: 0.5em;
        font-size: $font-size-xxsmall;
        margin-bottom: 0;
      }
    }
  }
}

.itinerary-summary-row {
  min-height: 50px;
  padding-left: $padding-medium;
  padding-right: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  overflow: hidden;
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  border-left: 0.3em $action-color solid;
  display: flex;
  user-select: none;
  $distance-gray: #7b7b7b;
  font-size: $font-size-normal;
  @include font-narrow-medium;
  white-space: nowrap;
  position: relative;

  &.cancelled-itinerary {
    .itinerary-first-leg-start-time {
      text-decoration: line-through;
      color: $cancelation-red;
    }
  }

  &.passive {
    border-left-color: $background-color;
    background-color: $background-color;

    .vehicle-number {
      color: $gray;
    }
  }

  h3, h4 {
    @include font-medium;
    flex-grow: 1;
    margin: 0.5em;
    line-height: 1.5;
  }

  .itinerary-timeframe {
    padding-left: 10px;
  }

  .itinerary-duration-and-distance {
    max-width: 4em;
    margin-top: $padding-small;
    margin-left: $padding-medium;
  }

  .itinerary-duration {
    white-space: nowrap;
    font-weight: $font-weight-bold;
  }

  .itinerary-biking-distance,
  .itinerary-walking-distance {
    margin-top: -2px;
    color: $distance-gray;
    font-weight: $font-weight-book;
    font-size: $font-size-small;

    .icon {
      margin-bottom: -2px;
    }
  }

  .itinerary-start-time {
    text-align: right;
    padding-left: 5px;
    min-width: 2em;
    @include font-narrow-medium;
    font-weight: $font-weight-bold;

    .itinerary-start-date {
      display: block;
      text-align: right;
      min-width: 2em;
      margin-top: -1px;
      margin-bottom: -2px;
      line-height: 1;
      @include font-narrow-book;
      font-size: $font-size-xxxsmall;
      & > span {
        line-height: 1;
        text-transform: capitalize;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        padding: $padding-xsmall $padding-small;
        color: $white;
        background-color: $gray;
        display: inline-block;
      }

      &.nobg {
        height: 0.8em;
        & > span {
          background-color: transparent;
        }
      }
    }
  }

  .itinerary-end-time-and-distance {
    max-width: 4em;
  }

  .itinerary-end-time {
    padding-left: 10px;
    width: 3em;
    margin-top: $padding-small;
    font-weight: $font-weight-bold;
  }

  .itinerary-first-leg-start-time {
    position: absolute;
    top: 3.77em;
    left: 2.3em;
    text-align: right;
    width: 3em;
    color: $distance-gray;

    &.small {
      font-size: $font-size-small;
      left: 1.2em;
      top: 2.6em;
    }
  }

  .itinerary-legs {
    padding-left: $padding-medium;
    display: flex;
    white-space: nowrap;
    min-width: 0;
    flex: 1 1 0px;

    .leg {
      padding-top: $padding-small;
      flex: 1 1 0px;
      overflow: hidden;
      justify-content: center;
      &.large {
        padding-top: 0;
      }
      .route-number {
        width: 100%;
        &.vertical {
          position: relative;
          .vehicle-number-container-v {
            overflow: visible;
          }
        }
      }
    }

    .leg.via {
      flex: 1 1 0px;
      overflow: hidden;
      justify-content: center;
      max-width: 16px;
      position: relative;

      .itinerary-icon {
        margin-left: 1px;
        fill: #000;
      }
    }

    .departure-stop {
      @include font-narrow-book;
      font-size: 13px;
      color: $gray;
      margin-bottom: 4px;
      width: 100%;
    }

    .line.walk,
    .line.bicycle,
    .line.car {
      .bar-container {
        left: 2em;
      }
    }

    .vcenter-children {
      display: flex;
      align-items: center;
      justify-content: left;
      line-height: 1;
    }

    div.bar-container {
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      display: flex;
      position: absolute;
      align-items: center;
    }

    div.bar {
      width: calc(100% - 1px);
      z-index: -1;
      background-color: currentColor;
      border: 1px solid currentColor;
      height: 6px;
      border-width: 2px;
      border-radius: $border-radius;
      &.call {
        border-color: #aaa;
      }
      .bar-inner {
        width: 100%;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.25);
      }
    }

    .line {
      white-space: nowrap;
      width: 100%;
      position: relative;
      z-index: 1;
      text-align: center;

      .icon {
        margin-left: 3px;
        font-size: 1.35em;
      }
    }

    .special-icon {
      .icon {
        padding-bottom: 1px; // fixes icon clipping in Safari on iOS
      }
      .icon-badge {
        left: 0;
        top: -0.75em;
      }
    }

    .vehicle-number {
      font-weight: $font-weight-medium;
      font-size: $font-size-small;
      padding: 0;
      min-width: 1.3em;
      margin-left: $padding-small;
      text-align: left;

      &.long {
        @extend .overflow-fade;
        display: inline-block;
        width: 100%;
        text-align: left;
        overflow: hidden;
      }
    }
  }

  .action-arrow-click-area {
    padding: 0.25em 0.3em 0.25em 0.3em;
    display: flex;
  }
  .action-arrow {
    display: flex;
    align-items: center;
    padding: $padding-xxsmall $padding-xxsmall 0px $padding-xxsmall;
    line-height: 1;

    svg {
      color: $action-color;
      transition: transform 300ms;
      transform-origin: 50% 50%;
    }
  }

  .itinerary-tab {
    width: auto;
    margin-left: 34px;
    margin-right: 10px;
    border-top: solid 1px $light-gray;
  }

  &.bp-large {
    min-height: 100px;
    border-left-width: 8px;
    padding-left: 20px;
    padding-top: 0;

    .leg.via {
      .itinerary-icon {
        margin-top: 19px;
      }
    }

    .itinerary-duration-and-distance {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 1em;
      width: 75px;
    }

    h3, h4 {
      margin-top: 10px;
    }

    .itinerary-duration {
      font-size: 18px;
      @include font-narrow-medium;
    }

    .itinerary-biking-distance,
    .itinerary-walking-distance {
      font-size: 18px;
    }

    .itinerary-start-time {
      min-width: 50px;
      font-size: 21px;
      padding-top: 17px;

      .itinerary-start-date {
        @include font-narrow-book;
        font-size: $font-size-xxsmall;
        & > span {
          border-radius: $border-radius-small;
        }

        &.nobg {
          height: 1.2rem;
        }
      }
    }

    .itinerary-legs {
      padding-top: 0;
      margin-top: 9px;

      .line .icon {
        margin-top: 0;
        margin-left: 8px;
        font-size: $font-size-large;
      }

      .vehicle-number {
        font-size: $font-size-normal;
        margin-left: 8px;
      }
    }

    .itinerary-end-time {
      font-size: 21px;
      padding-top: 8px;
      margin-top: 25px;
    }

    .action-arrow-click-area {
      padding: 0 20px 0 10px;
    }
    .action-arrow {
      font-size: 20px;
      border: 0;
    }
    .action-arrow span > svg {
      transform: rotate(90deg);
    }
    &.open {
      flex-wrap: wrap;

      .action-arrow span > svg {
        transform: rotate(-90deg);
      }

      min-height: 75px;
    }
  }

  .call {
    //text color
    color: $black;
  }
  .summary-clickable-area {
      display: flex;
      flex: auto;
      flex-wrap: wrap;
  }

  .itinerary-summary-visible {
    flex: auto;
    flex-direction: column;
  }

  .itinerary-summary-header {
      display: flex;
      flex: auto;
  }
}

.additional-canceled-itineraries {
  border-bottom: 1px solid $light-gray;
  border-top: 1px solid $light-gray;
  cursor: pointer;
  font-size: $font-size-xsmall;
  padding: 1em;

  .canceled-itineraries-button {
    color: $primary-color;
  }

  .canceled-itineraries-container {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &.centered {
      justify-content: center;
    }

    .canceled-itineraries-icon-container {
      color: $primary-color;
      margin-right: 1em;

      .icon {
        font-size: 1.4em;
      }
    }
  }
}

.mobile .itinerary-legs .leg {
  height: 3.4em;
}

.mobile {
  .subicon-caution {
    left: -0.3em;
    top: 0.5em;
  }
}

@media print {
  .itinerary-summary-row.bp-large.open {
    height: auto;
    display: block;
  }
}
