.desktop .summary {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

@media print {
  .desktop .summary {
    display: block;
    height: auto;
  }
}

.summary-no-route-found {
    padding: 1em;
}

.time-selectors {
  @include font-book;
  font-size: $font-size-small;
  background-color: $background-color-darker;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  input[type="date"], input[type="time"].time-selector, input[type="text"], input[type="tel"],select, .time-mui > input {
    vertical-align: middle;
    text-align: left;
    height: 2.6em;
    margin: 0;
    padding: 0 1rem 0 $padding-small;
    font-size: $font-size-xxsmall;
    display: inline-block;
    background-image: none;
    background-color: $white;
    color: $link-color;
    border: none;
    border-radius: $border-radius;
    appearance: none;
    @include font-book;

    &:hover {
      background-color: $white;
      //outline: none;
    }

    &:focus {
      background-color: $white;
      //outline: none;
    }

    &.text-time-selector, &.desktop {
      padding: 0 0.5em 0 0.5em;
      margin: 0 -0.5em 0 0;
      text-align: center;
    }
  }
  .select-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: $border-radius;
    background: $background-color-darker;
    margin-right: 1px;

    > span {
      margin-left: -1rem;
      pointer-events: none;
    }
  }
  .time-box-shadow input {
    box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.43);
    &:focus {
      box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.43);
    }
  }

  .fake-select-arrow {
    font-size: 0.5rem;
    width: 2em;
    color: $link-color;
  }

  .time-selector {
    @include font-book;
    text-align: left;
    font-family: $font-family !important;
    display: flex !important;
    border: solid 1px $light-gray;
    input {
      font-size: $font-size-xxsmall !important;
    }
    hr {
      display: none;
    }
  }

  .time-mui {
    max-width: 4.5em;
    padding-left: $padding-small;
    height: 2.6em !important;
    font-size: $font-size-xxsmall !important;
  }

  .arrive {
    width: auto;
    text-align: left;
  }

  .arrive, .date, input[type="time"].time-selector {
    border: solid 1px $light-gray;
    box-shadow: none;
  }

  select {
    &:hover {
      border: solid 1px $link-color;
    }
  }
}
.time-input-container {
  display: flex;
  background: $white;
  padding: 0 calc(0.7em + 1.5rem) 0 0.7em;
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.43);
  border-radius: 3px;
  .time-input-field {
    width: 1.5em;
    padding-right: 0 !important;
    padding-left: 0 !important;
    box-shadow: none;
    background-color: transparent !important;
    &:focus {
      box-shadow: none !important;
      border-color: none !important;
    }
    &#inputMinutes{
      text-align: left;
    }
    &#inputHours{
      text-align: right;
    }
  }
  .digit-separator {
    margin: 0.35em 3px;
    color: $link-color;
  }
}

.time-button-container {
  width: 10px;
  button {
    width: 12px;
    background: #fff;
    border: 1px solid #c3e1ec;
    text-align: center;
    height: 18px;
    padding: 0;
    cursor: pointer;
    font-size: 7px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
}

.time-selector-settings-row {
  padding: $padding-small 6px;
  overflow-x: hidden;
  background-color: $background-color-darker;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  &.bp-large {
    height: 50px;
  }
}

.bp-large.time-selector-settings-row {
  padding: $padding-small 20px;

  .select-wrapper {
    margin-right: 2px;
    padding-right: 0.5rem;

    > span {
      margin-left: -1.5rem;
    }
  }

  .time-mui {
    padding-left: $padding-medium;
    max-width: 6.5em;
  }

  input[type="date"], input[type="time"], input[type="text"], input[type="tel"], select, .time-mui > input {
    font-size: $font-size-normal !important;
    padding: 0 calc(#{$padding-medium} + 1.5rem) 0 $padding-medium;
    height: 35px !important;

    &.text-time-selector, &.desktop {
      padding: 0 0.5em 0 0.5em;
    }
  }

  .right-offcanvas-toggle {
      span {
        color: $link-color;
        font-size: $font-size-small;
      }
      border-radius: $border-radius;
  }
}

.right-offcanvas-toggle {

  &:hover {
    background-color: $white;
    border: solid 1px $link-color;
    //outline: none;
    box-shadow: none;
  }

  &:focus {
    background-color: $white;
    //outline: none;
    box-shadow: none;
  }

  span {
    color: $link-color;
    @include font-bold;
    font-size: $font-size-xxxsmall;
    margin-left: $padding-xsmall;
    text-align: center;
    text-transform:uppercase;
  }
  width: auto;
  margin: 0;
  background-color: $white;
  border: solid 1px $light-gray;
  border-radius: $border-radius-small;
  color: $link-color;
  display: flex;
  align-items: center;
  min-height: 30px;

  > button {
    padding: $padding-small;
    height: 100%;
    > div {
      display: flex;
    }
  }

  .icon-holder {
    display: inline;
    position: relative;
    line-height: 0;

    .icon {
      font-size: $font-size-large;
    }

    .super-icon {
      fill: $hilight-color;
      position: absolute;
      right: 0;
      top: -2px;
      font-size: $font-size-xxsmall;
    }
  }
}

.summary-list-container {
  width: 100%;
}

.desktop .summary-list-container {
  flex: 1 1 auto;
}


@media print {
  .summary {
    display:block;
    height: auto;
    .summary-list-container {
      display:block;
      height:auto;
    }
  }
}

.summary-content {
  height: 100%;
  > section {
    height: 100%;
  }
}

.via-point-bar {
  background: $black;
  color: $white;
  font-size: $font-size-small;

  &:not(:empty) {
    padding: 0.4em 10px;
  }

  .via-point {
    color: $white;
    > span {
      padding-bottom: calc(#{$padding-xsmall} + 1px);
      padding-right: $padding-large;
      line-height: normal;
    }

    .link-name {
      padding-top: 0.4em;
      margin-right: $padding-medium;
    }
  }

  &.bp-large {
    font-size: $font-size-normal;

    &:not(:empty) {
      padding: 0.4em 20px;
    }
    .icon {
      font-size: 14px;
    }
  }
}
