.timetable {
  .timetable-row {
      background-color: $white;
      border: 1px solid $light-gray;
      border-top: none;
      padding: $padding-medium $padding-large $padding-large $padding-large;
      &>span {
        width: 85px;
      	font-size: $font-size-normal;
        display: inline-block;
        overflow: hidden;
      }
      .mobile h1.title {
        font-size: $font-size-large;
      }
      h1.title {
      	font-size: $font-size-xlarge;
      }
      .line-name {
        white-space: nowrap;
      }
  @media print {
    border-bottom: 1px dotted $black;
    border-left: none;
    border-right: none;
    padding-left: 0;
    h1.title {
      font-size: 32px;
    }
    span {
      font-size: 21px;
      font-weight: 400;
    }
  }
  }
}
