.timetable {
  .timetable-row {
      background-color: $white;
      border: 1px solid $light-gray;
      border-top: none;
      padding: $padding-medium $padding-large $padding-large $padding-large;
      &>span {
        width: 85px;
      	font-size: $font-size-normal;
        display: inline-block;
      }
      h1.title {
      	font-size: $font-size-xlarge;
      }
  }
}
