@media print {
  .desktop-title {
    display: none;
  }
}
.timetable {
  .timetable-row-printing {
    @media print {
      display: flex;
      flex: 50%;
    }
  }
  .momentum-scroll {
    @media print {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 92%;
      margin: 0 auto;
    }
  }
  .timetable-row {
      background-color: $white;
      border: 1px solid $light-gray;
      border-top: none;
      padding: $padding-medium $padding-large $padding-large $padding-large;
      &>span {
        width: 85px;
      	font-size: $font-size-normal;
        display: inline-block;
        overflow: hidden;
      }
      .mobile h1.title {
        font-size: $font-size-large;
      }
      h1.title {
      	font-size: $font-size-xlarge;
      }
      .line-name {
        white-space: nowrap;
      }
  @media print {
    border-bottom: 1px dotted $black;
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0;
    width: 95%;
    .timetablerow-linetime {
      margin-right: 0.3em;
    }
    h1.title {
      font-size: 17px;
    }
    span {
      font-size: 14px;
      &.line-name {
      font-weight: 400;
      }
    }
  }
  }
}
