.passed {
  div {
    color: $dark-color;
  }
  span {
    color: $dark-color;
    svg.realtime-icon {
      visibility: hidden;
    }
  }
}

.tail-icon {
  font-size: 3.5em;
  top: -40px;
  bottom: 0;
  left: -10px;
}

.mobile .icon-with-tail-reverse {
  top: -20px;
}

.icon-with-tail-reverse {
  top: -30px;
}

.selected-tail-icon {
  font-size: 5em;
  top: -50px;
  bottom: 0;
  left: -20px;
}
