/*
  SLIDER
*/
$slider-gray: #575757;

.slider-container {
  padding: 10px 0 7px;
  h4 {
    margin: 0;
  }

  .sub-header-h5 {
    line-height: 0.75;
  }
}

/* This sets the actual clickable area. In webkit even the thumb cannot be
   clicked unless the cursor is in the input element. */
.slider {
// no height because it hides range on windows mobile  height: 21px;
  background: none;
  cursor: pointer;
}

input[type=range].slider {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  margin: 3px 0 1em;
}
input[type=range].slider:focus {
  outline: none;
}

/* Track is the line where the circle moves */
$track-box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #0d0d0d;
$track-border: 2px solid $slider-gray;

/* Mixins work, but straight nested definitions don't */
@mixin track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: #000000;
  border-radius: 3px;
  border: $track-border;
}

input[type=range].slider {
  &::-webkit-slider-runnable-track {
    @include track;
  }
  &:focus::-webkit-slider-runnable-track {
    background: #0d0d0d;
  }
  &::-moz-range-track {
    @include track;
    height: 3px;
  }
  &::-ms-track {
    @include track;
    background: transparent; /* Hides the slider so custom styles can be added */
    border-color: transparent;
    color: transparent;
    border-width: 10px;
  }
  &::-ms-fill-lower {
    background: #000000;
    border: $track-border;
    border-radius: 6px;
  }
  &::-ms-fill-upper {
    background: #000000;
    border: $track-border;
    border-radius: 6px;
  }
  &:focus::-ms-fill-lower {
    background: #000000;
  }
  &:focus::-ms-fill-upper {
    background: #0d0d0d;
  }
}

/* Thumb is the circle on the track */

@mixin thumb {
  box-shadow: 0px 1.3px 0.2px #000000, 0px 0px 1px #c1c1c1;
  border: 3px solid #ffffff;
  height: 24px;
  width: 24px;
  border-radius: 15px;
  background: $slider-gray;
  box-sizing: border-box; /* Default in webkit, not in Gecko */
  cursor: ew-resize;
}

input[type=range].slider {
  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none;
    /* You need to specify a margin in Chrome,
       but in Firefox and IE it is automatic */
    margin-top: -10.5px;
  }
  &::-moz-range-thumb {
    @include thumb;
  }
  /* Prevent Firefox from drawing an ugly dotted line over the thumb */
  &::-moz-focus-outer {
    border: 0;
  }
  &::-ms-thumb {
    @include thumb;
    height: 24px;
  }
}

$thumb-color-pink: $favourite-color;

.slider-container.active, .slider-container.modified {
  input[type=range].slider::-webkit-slider-thumb {
    background-color: $thumb-color-pink !important;
  }
  input[type=range].slider::-moz-range-thumb  {
    background-color: $thumb-color-pink !important;
  }
  input[type=range].slider::-ms-thumb {
    background-color: $thumb-color-pink !important;
  }
}


/*
  TOGGLE BUTTON
*/
$btn-highlight-opacity: 0.9;

$btn-inactive-background-color: $dark-gray;
$btn-bus-active-background-color: $bus-color;
$btn-tram-active-background-color: $tram-color;
$btn-rail-active-background-color: $rail-color;
$btn-subway-active-background-color: $metro-color;
$btn-ferry-active-background-color: $ferry-color;
$btn-air-active-background-color: $airplane-color;
$btn-citybike-active-background-color: $citybike-color;
$btn-radio-checked-background-color: $white;

$btn-icon-color-inactive: $medium-gray;
$btn-icon-color-active: $white;
$btn-icon-color-checked: $black;

$btn-width: 17px;
$btn-heigth: 17px;

.btn {
  background-color: $btn-inactive-background-color;
  text-align: center;
  background-color: #575757;
  display: inline-block;
  cursor: pointer;

  &:hover {
    opacity: $btn-highlight-opacity;
  }
  &.bus {
    background-color: $btn-bus-active-background-color;
  }
  &.tram {
    background-color: $btn-tram-active-background-color;
  }
  &.rail {
    background-color: $btn-rail-active-background-color;
  }
  &.subway {
    background-color: $btn-subway-active-background-color;
  }
  &.ferry {
    background-color: $btn-ferry-active-background-color;
  }
  &.airplane {
    background-color: $btn-air-active-background-color;
  }
  &.citybike {
    background-color: $btn-citybike-active-background-color;
  }
  &.walk, &.bicycle, &.car, &.car_park  {
    background-color: $btn-radio-checked-background-color;
    .icon {
      color: $btn-icon-color-checked;
    }
  }
  &.bus, &.tram, &.rail, &.subway, &.ferry, &.airplane, &.citybike {
    .icon{
      color:$btn-icon-color-active;
    }
  }

  .icon-holder {
    padding-top: 9pt;
    padding-bottom: 5pt;
  }
  .icon {
    color: $btn-icon-color-inactive;
  }
}
.btn-bar  {
  .btn{
    border-right: 1px solid $offcanvas-background;
    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }
    &:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
  [class*="column"] + [class*="column"]:last-child {
    border-right: none;
  }
}

.standalone-btn {
  background-color: $standalone-btn-color;
  padding: $padding-small $padding-medium;
  border-radius: 20px;
  .icon-holder  {
    padding: 0;
    margin: 0;
    margin-bottom: -4px;
  }
  &:hover {
    background-color: $standalone-btn-hover-color;
  }
}

.first-btn {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}
.last-btn {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.mode-filter {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0px;
  height: 53px;
  text-align: center;
}

select {
  -moz-appearance: none;
}


.split-bars {
  display: flex;
  align-items: stretch;
  .split-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}

.split-bar--bar {
  border-left: 1px solid #ddd;
  margin-left: 0.7em;
  width: 0.7em;
}

.labeled {
  display: inline-block;
  width: inherit;
  height: inherit;
  line-height: 1;
  &:hover .labeled-label {
    color: lighten($black, 20%);
  }
}

.labeled-item {
  text-align: center;
}

.labeled-label {
  display: inline-block;
  min-width: 60px;
  color: $gray-blue;
  @include font-bold;
  font-size: $font-size-small;
  text-transform: uppercase;
  text-align: center;
}

.centered {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
