.weather-details-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: calc(min(90vw, 335px)); // sass complains without the extra calc
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  &:focus {
    /* The modal itself does not need a focus style*/
    outline: none;
  }
}

.weather-details-content {
  background: white;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .weather-title {
    font-size: 18px;
    font-weight: $font-weight-medium;
    line-height: 1.17;
    letter-spacing: -0.6px;
    color: #333333;
    text-align: center;
    max-width: 250px;
  }
  .weather-icon-row {
    display: flex;
    margin: 25px 0 15px 0;
    .icon {
      width: 41px;
      height: 41px;
    }
    .weather-temperature {
      font-size: 24px;
      font-weight: $font-weight-medium;
      letter-spacing: -0.8px;
      text-align: center;
      margin: 5px 3px 0 25px;
    }
  }
  .weather-description {
    margin: 0 10px 27px 0;
    font-size: 15px;
    letter-spacing: -0.5px;
    line-height: 1.2;
    text-align: center;
    color: #333333;
    flex-grow: 1;
  }
  .weather-data-source {
    font-size: 13px;
    letter-spacing: -0.43px;
    line-height: 1.38;
    text-align: center;
    color: #666666;
    margin: 0;
    font-weight: normal;
  }
}
.weather-modal-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: index($zindex, click-prevent-overlay);
}
