.zone-icon-container {
  .circle {
    display: flex;
    justify-content: center;
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0;
    padding: 0px 2px 0px 2px;
    line-height: 1.2;
    background: $primary-color;
    font-weight: $font-weight-medium;
    &.multi-letter {
      border-radius: 10px;
      width: max-content;
    }
  }
  .unknown {
    text-align: center;
  }
}
