.zone-icon-container {
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    font-size: 0.8rem;
    border-radius: 50%;
    color: #fff;
    letter-spacing: 0;
    padding: 0 2px 0 2px;
    background: $theme-primary-color;
    font-weight: $font-weight-medium;

    &.multi-letter {
      border-radius: 10px;
      width: max-content;
    }
  }

  .unknown {
    text-align: center;
  }
}
