.offcanvas {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.offcanvas-mobile {
  width: 100%;
  height: 100%;
  background: $background-color-lighter;

  .settings-option-container {
    padding: 8px 16px 0 16px;

    h2 {
      text-align: center;
      padding: 24px 12px 24px 12px;
      font-size: $font-size-large;
    }

    .mode-option-container {
      .mode-icon {
        margin-left: 0;
      }
    }

    .settings-dropdown-wrapper {
      .settings-dropdown-label {
        padding: 0;
      }
    }

    .settings-header {
      padding-left: 0;
    }

    .avoid-transfers-container {
      padding: 0;
      height: 3.5em;
    }

    .accessibility-container {
      padding: 0;
      height: 3.5em;
    }

    .settings-mode-option-label {
      padding: 0;
    }
  }

  .customize-search {
    box-shadow: none;

    .close-offcanvas {
      top: 1.5em;
      left: 0.9375em;
      border: solid 1px #ddd;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      padding-top: 4px;
      padding-right: 2px;

      .close-icon {
        width: 1.3em;
        height: 1.3em;
      }
    }

    .toggle-container {
      .settings-header {
        padding-top: 0.5em;
      }

      span {
        padding-top: 0.5em;
      }
    }
  }
}

.settings-dropdown-wrapper {
  line-height: 1em;

  .settings-dropdown li {
    line-height: 2em;
  }

  .fake-select-arrow {
    height: 0.5em;
  }
}

.customize-search > .settings-option-container {
  border-bottom: 1px solid #e3e3e3;
}

.desktop {
  .customize-search {
    height: 100%;

    .scrollable-content-wrapper {
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-basis: 0;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
      background: $background-color-lighter;
    }
  }
}

.customize-search {
  height: auto;
  display: flex;
  flex-direction: column;
  background: #fff;
  color: $black;
  line-height: 35px;
  position: relative;
  box-shadow: inset 5px 0 5px 0 $background-color-lighter;
  margin: unset;

  fieldset {
    border: unset;
    padding: unset;
    margin: unset;

    legend {
      margin: unset;
    }
  }

  .close-offcanvas {
    position: absolute;
    background-color: transparent;
    color: $primary-color;
    right: 1em;
    top: 1em;
    padding: 0;
  }

  .react-autosuggest__suggestions-container--open {
    position: absolute;
    width: 100%;
    top: 4rem;
    z-index: index($zindex, autosuggest-suggestion-container);
  }

  .toggle-container {
    .settings-header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-top: 0.5em;
    }

    .icon-container {
      width: auto;
      margin: 0 1em 0 0;
    }
  }

  .walk-options-container {
    font-weight: $font-weight-medium;

    .walk-option-inner {
      min-height: 51px;
      padding: 0 16px 0 16px;
    }

    .settings-dropdown-wrapper {
      border-bottom: 1px solid #e3e3e3;
    }

    label.toggle-label {
      display: flex;
      justify-content: space-between;

      .toggle-label-text {
        padding-top: 5px;
      }
    }
  }

  .restore-settings-button-text {
    color: $link-color;
    text-decoration: none;
    font-weight: $font-weight-medium;
    text-align: center;
    display: block;
    width: fit-content;
    padding: 8px;
    margin: 0 auto;
  }
}

.settings-section {
  border-bottom: 10px solid $background-color-lighter;
  background: #fff;
  padding-bottom: 0.5em;

  .settings-option-container:last-child {
    border-bottom: 0;
  }

  .settings-option-container:not(:last-child) {
    border-bottom: 1px solid #e3e3e3;
  }

  &.compact-settings-section {
    padding-bottom: 0;
  }

  &.background {
    background: $background-color-lighter;
  }
}

.settings-option-container {
  padding: 8px 16px 0 16px;
  font-weight: $font-weight-medium;

  h2 {
    text-transform: none;
    font-size: $font-size-xlarge;
    letter-spacing: -0.6pt;
    font-weight: $font-weight-medium;
    font-family: $heading-font-family;
    padding: 36px 12px 12px 12px;
    margin: 0;
  }

  .option-checkbox-container > span {
    margin-top: -0.4em;
  }

  .mode-option-container:last-child {
    border: none;
  }
}

.transport-mode-header {
  h1 {
    text-transform: uppercase;
    letter-spacing: -0.6pt;
    font-size: $font-size-normal;
    font-weight: $font-weight-medium;
    font-family: $heading-font-family;
  }
}

.settings-header {
  font-size: $font-size-normal;
  color: $gray;
  font-weight: normal;
  padding: 0 0 0 1em;
}

.mode-option-container {
  border-bottom: 1px solid #e3e3e3;
  font-size: $font-size-small;
  flex-wrap: wrap;

  .icon-container {
    width: auto;
  }

  .car-icon {
    width: 0.8em;
    height: 0.8em;
  }

  .option-checkbox {
    margin-top: 1em;
  }

  label.toggle-label {
    font-size: 0.92rem;
    font-weight: $font-weight-medium;
    align-items: center;
  }

  .mode-option-block {
    min-height: 51.5156px;
    margin-bottom: 0.1em;
    display: flex;
    cursor: pointer;

    span {
      color: #000;
    }

    .icon {
      font-size: 2.5em;
      margin-top: 0.2em;
    }

    .mode-icon {
      margin-left: 14.72px;
      margin-right: 14.72px;

      .subicon-caution .icon {
        width: 16px;
        height: 16px;
        margin-left: 0.1em;
        margin-top: -0.8em;
      }
    }

    label.mode-name {
      display: flex;
      justify-content: space-between;
      font-weight: $font-weight-medium;
      font-size: $font-size-small;
    }

    .mode-name {
      width: 100%;

      > span {
        line-height: 1.1em;
        margin-top: 1.2em;
      }

      .span-bike-not-allowed {
        font-size: $font-size-xxsmall;
      }
    }

    &.subway svg.SUBWAY-icon {
      fill: $metro-color;
    }
  }
}

.option-container {
  h1 {
    text-transform: none;
    font-size: $font-size-normal;
    letter-spacing: -0.6pt;
    font-weight: $font-weight-medium;
    font-family: $heading-font-family;
  }

  h4 {
    display: none;
  }

  .select-container {
    position: relative;

    .icon.fake-select-arrow {
      position: absolute;
      right: 0.7em;
      top: 0.7em;
      font-size: 1.5em;
      color: $primary-color;
      pointer-events: none;
    }

    select {
      border-radius: 4px;
      height: 3.5em;
      font-size: $font-size-normal;
      font-weight: $font-weight-medium;
      border: 1px solid rgb(221, 221, 221);
      cursor: pointer;

      &:hover {
        border: solid 1px #007ac9;
      }
    }
  }
}

.avoid-transfers-container {
  padding: 0 0 0 1em;
  height: 3.5em;
  display: flex;
  justify-content: space-between;

  .settings-header {
    padding-left: 0;
    line-height: inherit;
  }
}

.accessibility-container {
  padding: 0 0 0 1em;
  height: 3.5em;

  label.toggle-label {
    display: flex;
    justify-content: space-between;
    line-height: 35px;
    color: #333;

    .accessibility-label {
      flex-grow: 1;
    }
  }
}

.street-mode-selector-panel.customized-settings {
  flex-direction: column;

  .street-mode-selector-panel-header {
    margin-bottom: 0.5em;
    padding-left: 0;

    span {
      color: rgb(51, 51, 51);
      text-transform: uppercase;
      letter-spacing: -0.6pt;
      font-size: $font-size-normal;
      font-weight: $font-weight-medium;
      font-family: $font-family;
    }
  }

  .street-mode-selector-panel-buttons button {
    flex-grow: 1;
    margin-bottom: 0;
  }

  .toggle-button-title {
    margin-bottom: 1.5em;
  }
}

.street-modes-container {
  > div {
    border-bottom: 1px solid #e3e3e3;
  }

  :last-child {
    border: none;
  }

  .transport-mode-subheader {
    border: none;
  }

  .settings-dropdown-wrapper {
    margin-left: 3.2em;
  }
}

.settings-mode-option-container {
  min-height: 51px;
  border-bottom: 1px solid #e3e3e3;
  margin-left: 3.2em;

  .settings-mode-option-label {
    min-height: 48px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    background: unset;
    width: 100%;
    font-size: unset;
    letter-spacing: inherit;
    line-height: 16px;
    padding: 0 0 0 16px;

    .settings-mode-option-label-text-container {
      display: flex;
    }

    .settings-mode-option-label-text {
      font-size: $font-size-normal;
      color: $gray;
      float: left;
      text-align: start;
      margin: 16px 0;
    }

    .settings-mode-option-label-value {
      font-size: $font-size-small;
      float: right;
      color: $primary-color;
      width: 100%;
      padding-right: 14.72px;
      margin: 14.72px 0;
      font-weight: $font-weight-medium;
      text-align: end;
    }
  }
}

.e-scooter-disclaimer {
  min-height: 120px;
  border-radius: 8px;
  background-color: #e5f2fa;
  padding: 16px;
  width: fit-content;
  margin-left: 14.72px;
  margin-top: 12px;
  margin-bottom: 17px;
  font-family: $font-family;
  font-size: $font-size-small;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: -0.03em;

  .disclaimer-header {
    display: flex;
    font-size: $font-size-normal;
    font-weight: $font-weight-medium;
    line-height: 22px;
    margin: 0 0 4px;
    color: #333;
  }

  .disclaimer-content {
    display: flex;
    font-size: $font-size-normal;
    margin-bottom: 8px;
    color: #666;
    line-height: 18px;
    letter-spacing: -0.03em;
  }

  .external-link {
    color: $link-color;
    text-decoration: none;
    font-weight: $font-weight-medium;

    .icon-container {
      padding-left: 8px;
      vertical-align: text-bottom;
    }
  }

  .disclaimer-close-button-container {
    margin-left: 10px;
    background-color: $primary-color;
    width: fit-content;
    height: fit-content;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    padding: 3px 25px 3px 25px;
  }

  .disclaimer-close-button {
    font-weight: $font-weight-medium;
  }

  .disclaimer-close {
    margin-left: auto;
    cursor: pointer;
    font-weight: $font-weight-medium;
  }
}
