.itinerary-summary-subtitle-container {
  background-color: $background-color-lighter;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #666;
  min-height: 47px;
  padding: 22px 0 22px 3.75em;
  border-bottom: 1px solid #ddd;
}

.with-bike-info {
  border-radius: 5px;
  border: solid 1px #ddd;
  margin: 8px 60px 8px 0;
  background-color: #e5f2fa;
  display: flex;

  .with-bike-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
    margin: 4px 0 8px 8px;

    .inline-icon {
      margin-left: 0;
    }
  }

  .with-bike-info-notification {
    flex: 1;
    color: #333;
    margin: 5px 4px 4px 8px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.39px;
  }
}

.with-car-info {
  border-radius: 5px;
  border: solid 1px #ddd;
  margin: 8px 60px 8px 0;
  background-color: #e5f2fa;
  display: flex;

  .with-car-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
    margin: 4px 0 8px 8px;

    .inline-icon {
      margin-left: 0;
    }
  }

  .with-car-info-notification {
    flex: 1;
    color: #333;
    margin: 5px 4px 4px 8px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.39px;
  }
}

.mobile {
  .itinerary-summary-subtitle-container {
    padding: 22px 0 22px 25px;
  }
}
