@import '../../../node_modules/slick-carousel/slick/slick';

@charset "UTF-8";

$itinerary-summary-height: 2.5em;
$itinerary-bottom-navigation-height: 2em;
$itinerary-tabs-height: 3em;
$itinerary-navigate-icon-size: 50px;

.itinerary-tabs {
  height: calc(100% - #{$itinerary-bottom-navigation-height} - 40px);
  .tabs-navigation ul li a {
    line-height: 1;
  }
  article.tab-panel {
    height: 100%;
    padding-bottom: $itinerary-bottom-navigation-height;
    > div {
      height: calc(100vh - #{$itinerary-bottom-navigation-height} - #{$itinerary-tabs-height} - #{$itinerary-summary-height} - 40px);
      overflow-y: auto;
      background: $white;
    }
  }
}

.itinerary-summary {
  color: $gray;
  font-weight: $font-weight-light;
  font-size: 10pt;
  padding: 0.5em 1em;
  height: $itinerary-summary-height;
  border-bottom: solid 1px $light-gray;
  .itinerary-summary-duration {
    font-weight: $font-weight-bold;
  }
}

.itinerary-summary--onmap-black {
  border-radius: 5px;
  color: $white;
  background: rgba(0, 0, 0, 0.4);
  z-index: 802;
}

.itinerary-ticket-information {
  color: $gray;
  font-weight: $font-weight-light;
  font-size: 10pt;
  margin: 0.5em;
  padding: 0.3em 0.5em;
  border: solid 1px $light-gray;
  border-radius: $border-radius;
  .itinerary-ticket-information-price {
    color: $black;
  }
  .itinerary-ticket-information-buy {
    font-weight: $font-weight-normal;
    color: white;
    float: right;
    background: linear-gradient(#{$light-gray}, #{$gray});
    vertical-align: middle;
    border-radius: 1.5em;
    margin-top: 0.25em;
    padding: 0.5em 1.5em;
  }

  .itinerary-ticket-information-buy a {
    text-decoration: none;
    color: white;
  }
}

.row.itinerary-row {
  position:relative;
  margin-bottom: 0.5em;
  line-height: 1.1;
  color: $medium-gray;
  .itinerary-time-column {
    font-family: $font-family-narrow;
    font-weight: $font-weight-bold;
    font-size: 10pt;
    text-align: center;
    color: $black;
    .itinerary-time-column-time {
      margin-bottom: 0.3em;
    }
    .icon {
      &.walk {
        color: $gray;
      }
      font-size: 13pt;
    }
  }
  .itinerary-instruction-column::before {
    content: "•";
    font-size: 19px;
    position: absolute;
    left: 0;
    top: -2px;
  }
  .itinerary-instruction-column:not(.to)::after {
    content: "";
    position: absolute;
    top: 0.7em;
    bottom: -0.8em;
    left:3px;
    border-left: solid 3.5px;
  }
  .itinerary-instruction-column.from::after {
    color: $medium-gray;
    top: 0.9em;
  }
  .itinerary-instruction-column {
    font-size: 10pt;
    font-weight: $font-weight-light;
    padding-left: 1.5em;
    div {
      color: $gray;
    }
    div:nth-child(1) {
      color: $black;
      font-weight: $font-weight-normal;
    }
  }
}

.row.itinerary-bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 1em;
  right: 1em;
  width: calc(100% - 2em);
  height: $itinerary-bottom-navigation-height;
  padding: 0.25em 0;
  margin: 0 auto;
  font-size: 10pt;
  color: $gray-blue;
  border-top: solid 1px $light-gray;
  div {
    border-right: solid 1px $light-gray;
    text-align: center;
    &.navigate {
      border-right: none;
      color: $action-color;
      a {
        color: inherit;
        text-decoration: inherit;
      }
    }
  }
}

.itinerary-bottom-navigation__icon {
  font-size: $itinerary-navigate-icon-size/2;
  padding: $itinerary-navigate-icon-size/4;
  height: $itinerary-navigate-icon-size;
  width: $itinerary-navigate-icon-size;
  position: absolute;
  bottom: 20px;
}

/* Slick */

// Default Variables

$slick-font-family: $font-family;
$slick-arrow-color: $gray;
$slick-dots-height: 20px;
$slick-dot-color: $gray;
$slick-dot-color-active: $action-color;
$slick-prev-character: "←" !default;
$slick-next-character: "→" !default;
$slick-dot-character: "•" !default;
$slick-dot-size: 24px;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

/* Slider */


div.slick-slider {
    // Uncomment to get arrow navigation
    left: 0; //30px;
    width: 100%; // calc(100% - 60px);
    height: calc(100% - #{$slick-dots-height} - #{$itinerary-bottom-navigation-height});
}

.slick-list {
    width: 100%;
    height: 100%;
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    bottom: -#{$slick-dots-height};
    margin-bottom: 0;
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
}

.slick-prev:before, .slick-next:before {
    font-family: $slick-font-family;
    font-size: 20px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 25px;
    [dir="rtl"] & {
        left: auto;
        right: 25px;
    }
    &:before {
        content: $slick-prev-character;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: 25px;
    [dir="rtl"] & {
        left: 25px;
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

/* Dots */

.slick-dots {
    position: absolute;
    bottom: -#{$slick-dots-height};
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin-bottom: -10px;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 0;
            margin-bottom: 0;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}
