@import '../../../node_modules/slick-carousel/slick/slick';

@charset "UTF-8";

$itinerary-summary-height: 2.5em;
$itinerary-bottom-navigation-height: 2em;
$itinerary-tabs-height: 3em;
$itinerary-tab-switch-height: 28px;
$summary-bar-height: 33px;
$itinerary-route-max-width: 500px;

.itinerary-tabs {
  height: calc(100% - #{$itinerary-bottom-navigation-height} - #{$top-navigation-height});
  article.tab-panel {
    height: 100%;
//    padding-bottom: calc(2*#{$itinerary-bottom-navigation-height});
    .itinerary-tabs__scroll {
      overflow-y: auto;
    }
  }
  .tabs-navigation {
    height: 0px;
    padding: 0;
  }
}

// hacketihack, instead of all this we should have more generic measures for pages somewhere else...
@media #{$small-only} {
  .itinerary-tabs {
    .itinerary-tabs__scroll {
      height: calc(100vh - #{$itinerary-bottom-navigation-height} - #{$top-navigation-height} - #{$itinerary-tab-switch-height} - #{$small-map-height} - #{$summary-bar-height});
    }
  }
}

@media #{$medium-only} {
  .itinerary-tabs {
    .itinerary-tabs__scroll {
     height: calc(100vh - #{$itinerary-bottom-navigation-height} - #{$top-navigation-height} - #{$itinerary-tab-switch-height} - #{$medium-map-height} - #{$summary-bar-height}) ;
    }
  }
}

@media #{$large-up} {
  .itinerary-tabs {
    .itinerary-tabs__scroll {
      height: calc(100vh - #{$itinerary-bottom-navigation-height} - #{$top-navigation-height} - #{$itinerary-tab-switch-height} - #{$large-map-height} - #{$summary-bar-height}) ;
    }
  }
}

.slick-track {
  height:100%;
}

.itinerary-main {
  padding-top: 20px;
  background: $white;
}

.itinerary-summary {
  color: $gray;
  font-weight: $font-weight-book;
  font-size: 10pt;
  padding: 0.5em 1em;
  height: $itinerary-summary-height;
  border-top: solid 1px $light-gray;
  border-bottom: solid 1px $light-gray;
  background: transparent;
}

.itinerary-icon {
  position: absolute;
  margin-left: -22px;
  margin-top: 2px;
  fill: currentColor;
  z-index: 800;
}

.itinerary-search-icon {
  position: absolute;
  right: 15px;
  top: 0px;
  color: $medium-gray;
}

.itinerary-wait-message {
  display: block;
  width: 90%;
}

.duration {
  font-weight: $font-weight-bold;
}

.duration--itinerary-summary,
.timeframe--itinerary-summary {
  padding-right: 10px;
}

.itinerary-summary--onmap-black {
  border-radius: $border-radius;
  color: $white;
  background: rgba(0, 0, 0, 0.4);
  z-index: 802;

  .walk-distance,
  .duration {
    @include font-narrow-book;
    font-size: $font-size-normal;
    display: inline-block;
  }
}

.itinerary-ticket-information {
  color: $gray;
  font-weight: $font-weight-book;
  font-size: 10pt;
  margin: 0.5em;
  padding: 0.3em 0.5em;
  border: 0px;
  text-align: center;
  .itinerary-ticket-information-class {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: $font-weight-book;
    background: $gray;
    vertical-align: middle;
    border-radius: 1.5em;
    margin-top: 0.25em;
    padding: 0.1em 0.5em;
    display: inline;
    margin-left: 10px;
  }
  .itinerary-ticket-information-buy {
    color: white;
    font-weight: $font-weight-bold;
    background: linear-gradient(#80D016, #45AA0D);
    vertical-align: middle;
    border-radius: 2em;
    margin-top: 0.5em;
    padding: 1em 1.5em;
    width: 100%;
  }

  .itinerary-ticket-information-buy a {
    text-decoration: none;
    color: white;
    align: center;
  }
}

.row.itinerary-row {
  position:relative;
  margin-bottom: 0.5em;
  line-height: 1.1;
  color: $medium-gray;
  max-width: $itinerary-route-max-width;
  .itinerary-time-column {
    @include font-narrow-medium;
    font-size: 10pt;
    text-align: center;
    color: $black;
    .itinerary-time-column-time {
      margin-bottom: 0.3em;
    }
    .icon {
      &.realtime-icon.realtime {
        margin-top: -0.35em;
      }
      font-size: 14pt;
    }
    .original-time {
      text-decoration: line-through;
      color: $gray;
    }
    .route-number {
      padding-top: 0.25em;
    }
  }
  .itinerary-instruction-column::before {
    content: "•";
    font-size: 19px;
    position: absolute;
    left: 0;
    top: -2px;
  }
  .itinerary-instruction-column.to::before {
    content: "";
  }
  .itinerary-instruction-column:not(.to)::after {
    content: "";
    position: absolute;
    top: 0.7em;
    bottom: -0.8em;
    left:3px;
    border-left: solid 3.5px;
  }
  .itinerary-instruction-column.walk:not(.to)::after{
    border-left-style: dotted;
  }
  .itinerary-instruction-column {
    cursor: pointer;
    @include font-book;
    font-size: 10pt;
    padding-left: 1.5em;
    min-height: 4em;
    div {
      color: $gray;
    }
    div:nth-child(1) {
      color: $black;
      font-weight: $font-weight-medium;
    }
  }
}

.row.itinerary-route-information {
  text-align: center;
  left: 2em;
  right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: solid 1px $light-gray;
  border-bottom: solid 1px $light-gray;
  width: calc(100% - 2em);
  max-width: $itinerary-route-max-width;
  div {
    border-right: solid 1px $light-gray;

    &.noborder {
      border-right: none;
    }
  }
}

span.itinerary-stop-code {
  color: $black;
  border: solid 1px $light-gray;
  border-radius: 2px;
  padding: 1px 4px;
  margin-right: 5px;
  font-size: 70%;
}

.row.itinerary-bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 1em;
  right: 1em;
  width: calc(100% - 2em);
  height: $itinerary-bottom-navigation-height;
  padding: 0.25em 0;
  margin: 0 auto;
  font-size: 10pt;
  color: $gray-blue;
  border-top: solid 1px $light-gray;
  div {
    border-right: solid 1px $light-gray;
    text-align: center;
    &.noborder {
      border-right: none;
      color: $action-color;
      a {
        color: inherit;
        text-decoration: inherit;
      }
    }
  }
}

/* Slick */

// Default Variables

$slick-font-family: $font-family;
$slick-font-weight: $font-weight-medium;
$slick-letter-spacing: $letter-spacing;
$slick-arrow-color: $gray;
$slick-dots-height: 20px;
$slick-dot-color: $gray;
$slick-dot-color-active: $action-color;
$slick-prev-character: "←" !default;
$slick-next-character: "→" !default;
$slick-dot-character: "•" !default;
$slick-dot-size: 24px;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

/* Slider */


div.slick-slider {
    // Uncomment to get arrow navigation
    left: 0; //30px;
    width: 100%; // calc(100% - 60px);
    height: calc(100% - #{$slick-dots-height} - #{$itinerary-bottom-navigation-height});
}

.slick-list {
    width: 100%;
    height: 100%;
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    bottom: -#{$slick-dots-height};
    margin-bottom: 0;
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
}

.slick-prev:before, .slick-next:before {
    font-family: $slick-font-family;
    font-weight: $slick-font-weight;
    letter-spacing: $slick-letter-spacing;
    font-size: 20px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: 25px;
    [dir="rtl"] & {
        left: auto;
        right: 25px;
    }
    &:before {
        content: $slick-prev-character;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: 25px;
    [dir="rtl"] & {
        left: 25px;
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

/* Dots */

.slick-dots {
    position: absolute;
    bottom: -#{$slick-dots-height};
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin-bottom: 0px;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 0;
            margin-bottom: 0;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-weight: $slick-font-weight;
                letter-spacing: $slick-letter-spacing;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}
