@charset "UTF-8";

$itinerary-summary-height: 2.5em;
$itinerary-bottom-navigation-height: 30px;
$itinerary-tab-switch-height: 34px;
$itinerary-route-max-width: 500px;

// hacketihack, instead of all this we should have more generic measures for pages somewhere else...

.itinerary-swipe-views-root {
  height: calc(100% - #{$small-map-height} - #{$itinerary-bottom-navigation-height} - 18px);
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  > div {
    flex-grow: 1;
  }

  > div > div {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
  }
}

.itinerary-tabs__scroll {
  height: calc(100% - #{$itinerary-tab-switch-height});
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  background: $white;
}

.itinerary-main {
  height: 100%;
  flex-grow: 1;
  padding-top: 20px;

  display: flex;
  flex-direction: column;

  div {
    flex-grow: 1;
  }

  div.itinerary-ticket-information {
    flex-grow: 0;
  }
}

.itinerary-summary {
  flex-grow: 0;
  color: $gray;
  font-weight: $font-weight-book;
  font-size: 10pt;
  padding: 0.5em 1em;
  height: $itinerary-summary-height;
  border-top: solid 1px $light-gray;
  border-bottom: solid 1px $light-gray;
  background: transparent;
}

.itinerary-icon {
  position: absolute;
  margin-left: -21px;
  margin-top: 2px;
  fill: currentColor;
  z-index: 800;
  font-size: 11px;
}

.itinerary-search-icon {
  position: absolute;
  right: 15px;
  top: 0px;
  color: $medium-gray;
}

.duration {
  font-weight: $font-weight-bold;
}

.duration--itinerary-summary,
.timeframe--itinerary-summary {
  padding-right: 10px;
}

.itinerary-ticket-information {
  color: $gray;
  font-weight: $font-weight-book;
  font-size: 10pt;
  margin: 0 auto;
  padding: 0 1.3em 1em 1.3em;
  border: 0px;
  max-width: 500px;
  .itinerary-ticket-information-class {
    font-weight: $font-weight-bold;
    color: $black;
    display: inline;
    margin-left: 0.3em;
  }
  .itinerary-ticket-information-buy {
    font-weight: $font-weight-bold;
    margin-top: 0.5em;
    a {
      color: $primary-color;
      text-decoration: none;
    }
  }
}

.row.itinerary-row {
  position:relative;
  margin-bottom: 0.5em;
  line-height: 1.1;
  color: $medium-gray;
  max-width: $itinerary-route-max-width;
  .itinerary-time-column {
    @include font-narrow-medium;
    font-size: 10pt;
    text-align: center;
    color: $black;
    .itinerary-time-column-time {
      margin-bottom: 0.3em;
    }
    .icon {
      &.realtime-icon.realtime {
        margin-top: -0.35em;
      }
      font-size: 14pt;
    }
    .original-time {
      text-decoration: line-through;
      color: $gray;
    }
    .route-number {
      padding-top: 0.25em;
    }
  }
  .itinerary-instruction-column::before {
    content: "•";
    font-size: 19px;
    position: absolute;
    left: 0;
    top: -2px;
  }
  .itinerary-instruction-column.to::before {
    content: "";
  }
  .itinerary-instruction-column:not(.to)::after {
    content: "";
    position: absolute;
    top: 0.7em;
    bottom: -0.8em;
    left:3px;
    border-left: solid 3.5px;
  }
  .itinerary-instruction-column.walk:not(.to)::after{
    border-left-style: dotted;
  }
  .itinerary-instruction-column.bicycle_walk:not(.to)::after{
    border-left-style: dotted;
  }
  .itinerary-instruction-column {
    cursor: pointer;
    @include font-book;
    font-size: 10pt;
    padding-left: 1.5em;
    min-height: 4em;

    .itinerary-leg-first-row {
      display: block;
      width: 90%;
      color: $black;
      @include font-medium;

      .itinerary-leg-first-row__arrow {
        @include font-medium;
        font-size: 6px;
      }

    }

    .itinerary-leg-text-gray {
      @include font-book;
      color: $gray;
    }

    .itinerary-transit-leg-route {
      @extend .itinerary-leg-text-gray;
      margin-top: 1px;
    }

    .itinerary-leg-action {
      margin-top: 12px;
      @extend .itinerary-leg-text-gray;
    }

    .itinerary-leg-intermediate-stops {
      margin-top: 12px;
      padding-bottom: 10px;
      @extend .itinerary-leg-text-gray

    }

  }
}

.row.itinerary-route-information {
  text-align: center;
  left: 2em;
  right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: solid 1px $light-gray;
  border-bottom: solid 1px $light-gray;
  width: calc(100% - 2em);
  max-width: $itinerary-route-max-width;
  div {
    border-right: solid 1px $light-gray;

    &.noborder {
      border-right: none;
    }
  }
}

span.itinerary-stop-code {
  color: $black;
  border: solid 1px $light-gray;
  border-radius: 2px;
  padding: 1px 4px;
  margin-right: 2px;
  margin-left: 3px;
  font-size: 70%;
}

div.itinerary-container-content {
  height: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.row.itinerary-bottom-navigation {
  left: 1em;
  right: 1em;
  width: calc(100% - 2em);
  height: $itinerary-bottom-navigation-height;
  padding: 0.25em 0;
  margin: 0 auto;
  font-size: 10pt;
  color: $gray-blue;
  border-top: solid 1px $light-gray;
  div {
    border-right: solid 1px $light-gray;
    text-align: center;
    &.noborder {
      border-right: none;
      color: $action-color;
      a {
        color: inherit;
        text-decoration: inherit;
      }
    }
  }
}

.itinerary-slide-container {
  height: 100%;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.itinerary-tabs-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.itinerary-tab-root {
  margin: 0px;
  opacity: 1.0;
}

.itinerary-tab-root--selected {
  @extend .itinerary-tab-root;
  opacity: 0.75;
}

.itinerary-no-route-found {
    margin: 1em;
}
