@import '~@hsl-fi/sass/animations/fade';

.canceled-legs-banner {
  width: 100%;
  background: $cancelation-red;
  color: #fff;
  padding: 1em;

  .canceled-legs-container {
    display: flex;

    svg {
      fill: $white;
      color: $cancelation-red;
      font-size: 1.5em;
    }

    .canceled-legs-right-content {
      margin-left: 1em;

      .canceled-legs-text {
        margin-bottom: 0.5em;
      }

      button {
        background: $cancelation-red;
        color: $white;
        border: 1px solid $white;
        border-radius: 4px;
        padding: 0.5em;
        font-size: $font-size-xxsmall;
        margin-bottom: 0;
      }
    }
  }
}

.desktop .itinerary-summary-row::before {
  content: '';
  position: absolute;
  left: 0;
  top: 15px;
  height: 80px;
  border-left: 8px solid $primary-color;
}

.desktop .itinerary-summary-row.passive::before {
  content: '';
  position: absolute;
  left: 0;
  top: 15px;
  height: 80px;
  border-left: 8px solid transparent;
}

.itinerary-summary-row {
  min-height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  background-color: $white;
  display: flex;
  user-select: none;
  font-size: $font-size-normal;
  white-space: nowrap;
  position: relative;
  animation: fadeIn 0.7s;

  &.no-border::before {
    border-left: none;
  }

  &.cancelled-itinerary {
    .itinerary-first-leg-start-time {
      text-decoration: line-through;
      color: $cancelation-red;
    }
  }

  &.passive {
    .summary-clickable-area {
      border-bottom: 1px solid $light-gray;
    }
  }

  h3,
  h4 {
    @include font-medium;

    flex-grow: 1;
    margin: 0.5em;
    line-height: 1.5;
  }

  .itinerary-duration-container {
    width: 100%;
    overflow: hidden;
    text-align: right;
    min-width: 2em;
    font-size: 18px;
    font-stretch: normal;
    letter-spacing: -0.5px;
    line-height: normal;
    font-style: normal;
    padding-top: 17px;
    display: flex;

    .itinerary-start-date {
      padding-right: 5px;
      text-transform: capitalize;

      .tomorrow {
        text-transform: capitalize;
        padding-right: 5px;
      }

      & > span {
        text-transform: lowercase;
      }
    }

    .itinerary-total-distance {
      flex-grow: 1;
      margin-right: 20px;
    }

    .itinerary-co2-value-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 2px 4px;
      gap: 4px;
      margin-right: 6.38px;
      min-width: 37px;
      height: 20px;
      right: 82.38px;
      top: 416px;
      overflow: visible;
      background: rgba(100, 190, 30, 0.15);
      border-radius: 4px;

      .icon-container {
        .icon {
          &.co2-leaf {
            width: 11px;
            height: 11px;
            margin-left: 2px;
          }
        }
      }

      .itinerary-co2-value {
        min-width: 29px;
        height: 16px;
        font-family: $font-family;
        font-style: normal;
        font-weight: $itinerary-co2-font-weight;
        font-size: 13px;
        line-height: 16px;
        color: #3b7f00;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        letter-spacing: -0.03em;
      }
    }
  }

  .itinerary-end-time-and-distance {
    width: 100%;
  }

  .citybike-duration-info-short {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 4px;
    padding: 6px 10px 2px 4px;
    background: #e5f2fa;
    border-radius: 5px;
    font-weight: normal;
    font-size: 13px;
    color: #333;
    line-height: 16px;
    white-space: normal;

    .icon-container {
      padding: 0 4px 4px 2px;
    }
  }

  .itinerary-first-leg-start-time-container {
    top: 3.77em;
    left: 2.3em;

    @include font-book;

    padding-top: 8px;
    width: 100%;
    max-width: 100%;
    color: #333;

    .itinerary-first-leg-start-time {
      font-size: 13px;
      overflow: auto;
      white-space: normal;

      .platform-or-track {
        text-transform: lowercase;
      }

      .start-time {
        font-weight: $font-weight-medium;
      }
    }

    &.small {
      font-size: $font-size-small;
      left: 1.2em;
      top: 2.6em;
    }
  }

  .legs-container {
    width: 100%;
    position: relative;

    .overflow-icon-container {
      position: absolute;
      background: $white;
      top: 0;
      right: 0;
      padding-top: 0;
      margin-top: 7px;

      .overflow-icon {
        font-size: 24px;
      }
    }
  }

  .itinerary-legs {
    display: flex;
    white-space: nowrap;

    .leg:last-child {
      margin: 0;
    }

    .leg {
      min-width: max-content; // forces the leg block to fit all the icons
      width: calc(var(--width) - (var(--minus)) - 2px + var(--plus));
      margin: 0 2px 0 0;
      justify-content: center;

      &.fit-route-number {
        min-width: max-content;

        .vcenter-children {
          min-width: max-content !important; // forces the leg to fit the route number in it
        }

        .route-number {
          .vehicle-number-container-v {
            padding-right: 10px;
          }
        }
      }

      &.bike_park,
      &.car_park {
        overflow: hidden;
        justify-content: center;
        min-width: 24px;
        width: 24px;
        position: relative;
        height: 1.5rem;
        border: 1px solid #ddd;
        border-radius: 3px;
        background-color: #f9af1f;

        .itinerary-icon {
          margin-left: -2px;
          margin-top: 0;
          fill: #000;
          font-size: 20px;
        }

        .icon-container {
          margin-left: 2px;

          .icon {
            width: 100%;
            height: 100%;
          }
        }
      }

      &.car_park {
        background-color: #007ac9;
      }

      &.walk,
      &.wait {
        min-width: 1px;

        &.render-icon {
          min-width: 22px;
        }
      }

      &.via {
        min-width: 24px;
        max-width: 24px;
        height: 1.5rem;
        border: 1px solid #ddd;
        border-radius: 3px;

        .itinerary-icon {
          margin-left: 1px;
          margin-top: 3px;
          fill: #000;
        }

        .icon-container {
          margin-left: 2px;

          .icon {
            width: 16px;
            height: 16px;
          }
        }
      }

      &.large {
        padding-top: 0;
      }

      .route-number {
        display: flex;
        min-width: 0;
        height: 1.5rem;

        .occupancy-icon-container {
          color: white;
          margin-left: auto;
          padding-right: 8px;
        }

        .vcenter-children {
          .empty {
            float: left;
            height: 100%;
            min-width: 1px;
          }

          display: block;
          align-items: center;
          line-height: 1;
          overflow: hidden;
          min-width: unset;
          justify-content: space-between;

          .special-icon {
            float: left;
          }

          .vehicle-number-container-v {
            float: left;
            display: flex;
            height: 100%;
            margin-left: 6px;

            .vehicle-number {
              align-self: center;
            }
          }

          &.walk,
          &.citybike,
          &.bicycle,
          &.wait,
          &.bicycle_walk,
          &.car,
          &.scooter {
            display: block;
            overflow: hidden;
            min-width: unset;

            .icon {
              width: 16px;

              &.walk,
              &.citybike,
              &.bicycle,
              &.wait,
              &.bicycle_walk,
              &.car,
              &.scooter {
                float: left;
                display: flex;
                justify-content: center;
                max-width: 100%;
              }

              &.car {
                width: 1em;

                .car {
                  color: $white;
                }
              }
            }

            .leg-duration-container {
              float: left;
              display: flex;
              height: 110%;
              padding-left: 5px;
              padding-right: 3px;

              &.wait {
                height: 100%;
              }

              .leg-duration {
                align-self: center;
              }
            }
          }

          &.wait {
            .icon {
              margin-left: 1px;
              width: 18px;
              height: 18px;
            }
          }

          &.bicycle {
            .icon {
              width: 18px;
              margin-left: 1px;
            }
          }

          &.scooter {
            .icon {
              width: 20px;
              margin-left: 1px;
            }
          }

          .phone-icon {
            .icon {
              color: black;
              height: 16px;
            }
          }

          &.citybike {
            .icon {
              width: 24px;
            }

            .secondary {
              .icon {
                width: 18px;
                margin-left: 2px;
                padding-bottom: 2px;

                @include min-width(tablet) {
                  padding-bottom: 0;
                }
              }
            }
          }
        }

        .ferry-external .itinerary-icon_with-bicycle {
          color: black;
          height: 20px;
          width: 20px;
          padding-bottom: 4px;
        }

        .itinerary-icon_with-bicycle {
          color: white;
          height: 20px;
          width: 20px;
          padding-bottom: 4px;
        }

        .itinerary-icon_with-car {
          color: white;
          height: 20px;
          width: 20px;
          padding-bottom: 4px;
        }

        .special-icon {
          height: 1.5rem;
        }

        .vehicle-number-container-v {
          padding-right: 5px;

          .long {
            left: 24px;
            top: 4px;
            text-align: left;
          }

          .vehicle-number {
            @include font-narrow-medium;

            color: $white;
            font-size: 15px;
            padding: 1px 0 0 0;
          }

          .vehicle-number.ferry-external {
            color: $black;
          }
        }

        .leg-duration-container {
          .leg-duration {
            font-size: 13px;
            color: $black;
          }

          &.citybike {
            .leg-duration {
              padding-left: 1px;
            }
          }

          &.bicycle {
            .leg-duration {
              padding-bottom: 2px;
              padding-left: 5px;
            }
          }

          &.car {
            .leg-duration {
              color: $white;
            }
          }
        }
      }
    }

    .vcenter-children {
      display: flex;
      align-items: center;
      justify-content: left;
      line-height: 1;
      max-width: 100%;

      .vehicle-number-container-v {
        max-width: 100%;
        overflow: hidden;
      }
    }

    div.bar-container {
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
    }

    div.bar {
      width: 100%;
      background-color: currentcolor;
      height: 1.5rem;
      border-radius: $border-radius;

      &.call {
        border-color: #aaa;
      }

      &.wait {
        background-color: white;
        border: 1px solid $light-gray;
      }

      &.walk,
      &.bicycle_walk {
        background-color: $light-gray;
      }

      &.bicycle {
        color: #f4f4f5; // Override default bike color
        border: solid 1px rgba(0, 0, 0, 0.3);
      }
    }

    .line {
      text-align: center;

      .icon {
        font-size: 24px;
      }
    }

    .special-icon,
    .icon {
      &.car {
        .icon {
          height: 0.67em;
          width: 0.67em;
        }
      }

      &.bicycle,
      &.bicycle_walk {
        margin-bottom: 1px;

        .icon {
          height: 0.67em;
          width: 0.67em;
          margin-bottom: 1px;
          color: #333;
        }
      }

      .icon-badge {
        width: 0.75em;
        height: 0.75em;
        left: 0.5em;
        top: -0.25em;
      }
    }
  }

  .action-arrow-click-area {
    padding: 0.25em 0.3em 0.25em 0.3em;
    display: flex;
  }

  .action-arrow {
    display: flex;
    align-items: center;
    padding: $padding-xxsmall $padding-xxsmall 0 $padding-xxsmall;
    line-height: 1;

    svg {
      color: $action-color;
      transition: transform 300ms;
      transform-origin: 50% 50%;
    }
  }

  .itinerary-tab {
    width: auto;
    margin-left: 34px;
    margin-right: 10px;
    border-top: solid 1px $light-gray;
  }

  &.bp-large {
    min-height: 100px;
    border-left-width: 8px;
    padding: 0 0 0 60px;

    .summary-clickable-area {
      max-width: calc(100% - 70px);
    }

    h3,
    h4 {
      margin-top: 10px;
    }

    .itinerary-duration-container {
      min-width: 50px;
    }

    .itinerary-legs {
      padding-top: 0;
      margin-top: 7px;
      overflow-x: clip;

      .vehicle-number {
        font-size: $font-size-small;
      }
    }

    .action-arrow-click-area {
      padding: 0 15px 0 20px;
      margin-left: 5px;
    }

    .action-arrow {
      font-size: 20px;
      border: 0;
    }

    &.open {
      flex-wrap: wrap;

      .action-arrow span > svg {
        transform: rotate(-90deg);
      }

      min-height: 75px;
    }
  }

  .summary-clickable-area {
    border-bottom: 1px solid #ddd;
    padding-bottom: 13px;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    transition: border 0.4s ease;
  }

  .itinerary-summary-visible {
    flex: auto;
    flex-direction: column;
    max-width: 100%;
  }

  .itinerary-summary-header {
    display: flex;
    flex: auto;
  }
}

.additional-canceled-itineraries {
  border-bottom: 1px solid $light-gray;
  border-top: 1px solid $light-gray;
  cursor: pointer;
  font-size: $font-size-xsmall;
  padding: 1em;

  .canceled-itineraries-button {
    color: $primary-color;
  }

  .canceled-itineraries-container {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &.centered {
      justify-content: center;
    }

    .canceled-itineraries-icon-container {
      color: $primary-color;
      margin-right: 1em;

      .icon {
        font-size: 1.4em;
      }
    }
  }
}

.mobile .itinerary-legs {
  padding-top: 7px;
  overflow-x: clip;
}

.mobile .legs-container {
  position: relative;

  .overflow-icon-container {
    position: absolute;
    background: $white;
    top: 0;
    right: 0;
    padding-top: 0;
    margin-top: 7px;

    .overflow-icon {
      font-size: 24px;
    }
  }
}

.mobile {
  .subicon-caution {
    left: -0.3em;
  }

  .summary-clickable-area {
    border-bottom: 1px solid #ddd !important;
  }

  .itinerary-summary-header {
    display: block;
  }
}

@media print {
  .itinerary-summary-row.bp-large.open {
    height: auto;
    display: block;
  }
}
