.itinerary-ticket-information-purchase {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  background-color: $theme-primary-color;
  font-weight: $font-weight-book;
  font-size: $font-size-small;
  margin: 0 10px;
  border-radius: 10px;
  line-height: 1.1;

  .ticket-container {
    margin: 11px 6px 9px 15px;
    max-width: 50%;

    @include min-width(tablet) {
      margin-right: 15px;
    }

    .ticket-type-zone {
      @include font-medium;

      align-items: center;
      font-size: 1.125rem;

      .ticket-description {
        white-space: nowrap;
        font-weight: $font-weight-book;
      }
    }
  }

  .app-link {
    line-height: 30px;
    padding: 0 10px;
    font-size: 16px;
    color: $theme-primary-color;
    border: 0;
    position: absolute;
    right: 24px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    min-width: 140px;
    height: 40px;
    background: #fff;
    font-weight: $font-weight-medium;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;

    a {
      display: inline-block;
      text-decoration: none;
    }
  }
}
