.navi-start-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  flex-direction: row;
  background-color: #e5f2fa;
  color: $black;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 16px;
  border-radius: 10px;
}

.navi-start-leftgroup {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-left: 10px;
  font-size: $font-size-xsmall;
  font-weight: $font-weight-book;
}

.navi-start-icon {
  margin-right: 12px;
  margin-left: 5px;
}

.navi-start-button {
  margin-right: 16px;
  background-color: $primary-color;
  color: $white;

  &:hover {
    background-color: $standalone-btn-hover-color;
    color: $white;
  }

  font-size: $font-size-normal;
  border-radius: 20px;
  width: 140px;
  height: 40px;
  text-align: center;
}

.navitop {
  margin-bottom: 5px;
  position: fixed;
  top: 80px;
  width: 92%;
  margin-left: 4%;
  border-radius: 15px;
  height: 100px;
  color: black;
  background-color: white !important;
  display: flex;
  align-items: center;

  .navitop-arrow {
    .inverted {
      transform: rotate(180deg);
    }

    position: absolute;
    right: 20px;
  }

  .notifier {
    margin: 15px 20px 0 20px;
    width: 100%;
    color: red;
  }

  .content {
    margin: 15px 20px 0 20px;

    .navileg-goto {
      display: flex;
      flex-direction: row;
      height: 100%;
      color: black;

      .navileg-divider {
        height: 70px;
        margin-left: 15px;
      }

      .navileg-mode {
        width: 40px;
        height: 40px;
        margin-top: 10px;
        color: black;
      }
    }

    .navileg-destination {
      display: flex;
      flex-direction: column;
      width: 100%;
      font-size: $font-size-normal;
      font-weight: $font-weight-medium;

      .destination-header {
        font-size: $font-size-normal;
        font-weight: $font-weight-medium;
        display: flex;
      }

      .wait-leg {
        display: flex;
        align-items: center;
        margin-top: 3px;

        .headsign {
          margin-left: 10px;
          font-size: $font-size-small;
          font-weight: $font-weight-book;
          max-width: 120px;
        }

        .icon {
          margin-top: 2px;
          height: 25px;
          width: 25px;
        }

        .route-number {
          min-width: 55px;

          .vcenter-children {
            .vehicle-number {
              color: white;
              font-size: $font-size-large;
              margin-top: 4px;
            }

            display: flex;
          }
        }
      }

      .navileg-destination-details {
        .duration {
          &.fade-out {
            animation: fadeOut 3s forwards;
          }

          font-size: $font-size-xsmall;
          font-weight: $font-weight-book;
          display: flex;
        }

        display: flex;
      }
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.info-stack {
  position: fixed;
  top: 180px;
  height: 69px;
  margin-left: 5%;
  width: 90%;

  &.slide-out {
    animation: slideOut 0.5s ease-out forwards;
    pointer-events: none;
  }

  &.slide-in {
    animation: slideIn 0.5s ease-out forwards;
  }

  .info-stack-item {
    position: relative;
    border-radius: 15px;
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 5px;

    &.info {
      background-color: #e5f2fa;
    }

    &.warning {
      background-color: #fff8e8;
    }

    &.alert {
      background-color: #fdf3f6;
    }

    &.slide-out-right {
      animation: slideOutRight 0.5s ease-out forwards;
      pointer-events: none;
    }

    .info-close {
      position: absolute;
      top: 7px;
      right: 9px;
    }

    .info-icon {
      margin-top: 10px;
      margin-left: 20px;
    }

    &.slide-in {
      animation: slideIn 0.5s ease-out forwards;
    }

    .navi-info {
      display: flex;
      flex-direction: column;
      margin-left: 25px;

      span:first-child {
        font-weight: $font-weight-medium;
        font-size: $font-size-normal;
      }

      span:last-child {
        font-size: $font-size-xsmall;
      }
    }

    .navi-info-content {
      display: flex;
      flex-direction: column;
      margin-left: 15px;

      span:first-child {
        font-weight: $font-weight-medium;
        font-size: $font-size-normal;
      }

      span:last-child {
        font-size: $font-size-xsmall;
      }
    }
  }
}

.navibottomsheet {
  .divider {
    width: 100%;
    height: 1px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
  }

  .navi-bottom-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: $font-size-normal;
    text-align: center;
    margin: 20px 24px 10px 24px;

    .navi-close-button {
      border-style: solid;
      border-width: 1px;
      border-radius: 20px;
      width: 100px;
      height: 40px;
      text-align: center;
      background-color: white;
      border-color: red;
      color: red;
    }

    .navi-time {
      display: flex;
      flex-direction: column;

      .navi-daytime {
        font-size: $font-size-xsmall;
        font-weight: $font-weight-book;
      }
    }

    .navi-ticket-button {
      border-radius: 20px;
      width: 100px;
      height: 40px;
      text-align: center;
      margin-left: 16px;
      background-color: $primary-color;
      color: white;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
