.navi-start-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  flex-direction: row;
  background-color: #e5f2fa;
  color: $black;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 16px;
  border-radius: 10px;
}

.navi-start-leftgroup {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-left: 10px;
  font-size: $font-size-xsmall;
  font-weight: $font-weight-book;
}

.navi-start-icon {
  margin-right: 12px;
  margin-left: 5px;
}

.navi-start-button {
  margin-right: 16px;
  background-color: $primary-color;
  color: $white;

  &:hover {
    background-color: $standalone-btn-hover-color;
    color: $white;
  }

  font-size: $font-size-normal;
  border-radius: 20px;
  width: 140px;
  height: 40px;
  text-align: center;
}

.navigator-top-label {
  position: absolute;
  z-index: 3;
  top: 17px;
  border: 1px solid #007ac9;
  width: 90%;
  margin-left: 5%;
  border-radius: 15px;
  height: 70px;
  color: white;
  background-color: #007ac9;

  .navigator {
    margin-bottom: 5px;

    .navigator-top-section {
      font-size: $font-size-xsmall;
      text-align: center;
      margin-top: 10px;

      .close-navigator {
        position: absolute;
        right: 0;
        padding-right: 20px;
        color: $secondary-color;
      }
    }

    .divider {
      width: 100%;
      height: 1px;
      border-top: 1px solid #ddd;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .info {
      margin: 15px 20px 0 20px;

      .navileg-goto {
        display: flex;
        flex-direction: row;
        height: 100%;
        color: white;

        .navileg-divider {
          border: 1px solid #d3d3d3;
          margin-bottom: 10px;
        }

        .navileg-mode {
          width: 32px;
          height: 32px;
          margin-right: 40px;
          margin-top: 5px;
          color: white;
        }
      }

      .navileg-destination {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: $font-size-xsmall;
        font-weight: $font-weight-book;

        .destination-header {
          font-size: $font-size-normal;
          font-weight: $font-weight-medium;
        }

        .navileg-destination-details {
          display: flex;
        }
      }
    }
  }
}
