.navi-start-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  flex-direction: row;
  background-color: #e5f2fa;
  color: $black;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 16px;
  border-radius: 10px;
}

.navi-start-leftgroup {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-left: 10px;
  font-size: $font-size-xsmall;
  font-weight: $font-weight-book;
}

.navi-start-icon {
  margin-right: 12px;
  margin-left: 5px;
}

.navi-start-button {
  margin-right: 16px;
  background-color: $primary-color;
  color: $white;

  &:hover {
    background-color: $standalone-btn-hover-color;
    color: $white;
  }

  font-size: $font-size-normal;
  border-radius: 20px;
  width: 140px;
  height: 40px;
  text-align: center;
}

.navigator {
  .navigator-top-section {
    font-size: $font-size-xsmall;
    text-align: center;
    margin-top: 10px;

    .close-navigator {
      position: absolute;
      right: 0;
      padding-right: 20px;
      color: $secondary-color;
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .notifier {
    margin: 15px 20px 0 20px;
    width: 100%;
    color: red;
  }

  .info {
    margin: 15px 20px 0 20px;
    width: 100%;

    .navileg-goto {
      display: flex;
      flex-direction: row;
      align-items: center;

      .navileg-mode {
        width: 32px;
        height: 32px;
        margin-right: 12px;
      }
    }

    .navileg-destination {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 10px;
      font-size: $font-size-xsmall;
      font-weight: $font-weight-book;

      .navi-left-bar {
        margin-left: 10px;
        margin-right: 10px;
        width: 8px;
        height: 80px;
        border-radius: 4px;
        background-color: #e5f2fa;
      }

      .navileg-destination-details {
        display: flex;
        flex-direction: column;

        .navi-destination-icon {
          width: 24px;
          height: 24px;
        }

        .navileg-focus {
          font-weight: $font-weight-medium;
          color: $primary-color;
          margin-top: 8px;
        }
      }
    }
  }
}
