.searchsettings-container {
  display: block;
  background-color: $white;
  margin: 0 68px 0 60px;
}

.mobile .searchsettings-container {
  margin: 0 auto;
}

.open-embed-container {
  display: flex;
  width: 100%;

  .open-embed {
    margin: 0 0 8px auto;
  }
}

.open-advanced-settings-window-button {
  display: inline-flex;
  align-items: center;
  padding: 6px;
  border-radius: 8px;
  background: #fff;
  position: relative;
}

.right-offcanvas-toggle {
  .settings-button-text {
    margin-left: 12px;
    margin-top: 3px;
  }

  span {
    color: $link-button-color;
    letter-spacing: -0.5px;
    font-weight: $font-weight-medium;
    text-align: center;
  }

  width: auto;
  margin: 0;
  color: $link-button-color;
  display: flex;
  align-items: center;
  line-height: 1;
  min-width: 110px;

  .icon-holder {
    display: inline;
    position: relative;
    line-height: 0;

    .icon {
      font-size: 20px;
    }

    .super-icon {
      fill: $highlight-color;
      position: absolute;
      right: 0;
      top: -2px;
      font-size: $font-size-xxsmall;
    }

    .customized-settings-indicator {
      position: absolute;
      top: -6px;
      right: -10px;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;

      .icon-container {
        .icon {
          color: $attention-color;
          width: 16px;
          height: 16px;
          border: solid 1px #fff;
          border-radius: 999px;
        }
      }
    }
  }
}
