<div class="map">
  <div class="search">
  </div>
  <div class="fullscreen-toggle">
  </div>
</div>

<ul class="tabs">
  <li class="selected">Lähimmät</li>
  <li>Edelliset</li>
  <li><i class="icon favourite"></i> Suosikit</li>
</ul>

<div class="cards">
  <div class="card">
    <span class="favourite"><i class="icon favourite"></i></span>
    <h3>Ratamestarinkatu ›</h3>
    <p class="location">Asemapäällikönk. 8 // 2166 // 88m</p>
    <p class="transport">
      <span class="time">14:44</span>
      <span class="next-time">15:04</span>
      <i class="icon bus"></i>
      <span class="vehicle-number bus">504</span>
      <i class="icon right-arrow"></i>
      <span class="destination">Kivenlahti</span>
    </p>
  </div>

  <div class="card">
    <span class="favourite"><i class="icon favourite"></i></span>
    <h3>Asemapäällikönkatu ›</h3>
    <p class="location">Ratamestarinkatu // 0662 // 120m</p>
    <p class="transport">
      <span class="time">3 min</span>
      <span class="next-time">10 min</span>
      <i class="icon tram"></i>
      <span class="vehicle-number tram">9</span>
      <i class="icon right-arrow"></i>
      <span class="destination">Pasila</span>
    </p>
  </div>

  <div class="card">
    <span class="favourite"><i class="icon favourite"></i></span>
    <h3>Pyöräilystadion ›</h3>
    <p class="location">Ratamestarinkatu // 2430 // 560m</p>
    <p class="transport">
      <span class="time">0 min</span>
      <span class="next-time">10 min</span>
      <i class="icon bus"></i>
      <span class="vehicle-number bus">615</span>
      <i class="icon right-arrow"></i>
      <span class="destination">Rautatientori</span>
    </p>
    <p class="transport">
      <span class="time">0 min</span>
      <span class="next-time">9 min</span>
      <i class="icon bus"></i>
      <span class="vehicle-number bus">620</span>
      <i class="icon right-arrow"></i>
      <span class="destination">Rautatientori</span>
    </p>
    <p class="transport">
      <span class="time">14:31</span>
      <span class="next-time">15:31</span>
      <i class="icon bus"></i>
      <span class="vehicle-number bus">15</span>
      <i class="icon right-arrow"></i>
      <span class="destination">Pasila</span>
    </p>
  </div>
</div>