.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
  font-size: 32px; // works because "width" & "height" were set using em units
  color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */
.fill-color1 {
  fill: #50671c;
}
.fill-color2 {
  fill: #00669b;
}
.fill-color3 {
  fill: #6a8925;
}
.fill-color4 {
  fill: #0046ad;
}
.fill-color5 {
  fill: #b26900;
}
.fill-color6 {
  fill: #288886;
}
.fill-color7 {
  fill: #0088ce;
}
.fill-color8 {
  fill: #35b5b3;
}
.fill-color9 {
  fill: #ed8c00;
}
.fill-color10 {
  fill: #836a8d;
}
.fill-color11 {
  fill: #fbb800;
}
.fill-color12 {
  fill: #3db7e4;
}
.fill-color13 {
  fill: #af8dbc;
}
.fill-color14 {
  fill: #fff;
}
