@import '../../base/waltti';

/* main theme colors */
$primary-color: #008161;
$secondary-color: #00BF6F;
$hilight-color: $primary-color;
$action-color: $primary-color;
$bus-color: $primary-color;
$viewpoint-marker-color: $primary-color;
$current-location-color: $primary-color;

$standalone-btn-color: $primary-color;
$link-color: $primary-color;

/* Component palette */
$standalone-btn-color: #ffffff;
$desktop-title-color: $primary-color;
$desktop-title-arrow-icon-color: $white;
$link-color: $primary-color;
$top-bar-color: #008061;
