{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current", "browsers": [] }}],
    "@babel/preset-stage-3",
    "@babel/preset-react"
  ],
  "plugins": [
    "dynamic-import-node",
    ["relay", { "compat": true, "schema": "build/schema.json" }]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
