.git
.gitignore
.*swp
LICENSE*
VERSION
README.md
Changelog.md
Makefile
docker-compose.yml
win-launch-scripts/
docs/
/test

/Dockerfile

node_modules
/.yarn
!/.yarn/plugins
!/.yarn/releases
!/.yarn/versions

_static
/app/__generated__
/app/**/__generated__
