{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "import/no-unresolved": 0
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "plugins": [
    "react"
  ]
}
