.DS_Store
_static
npm-debug.log
node_modules
filesizes.html
stats.json
test/credentials.json
test/binaries
*.swp
.idea
*.iml
*~
test_output
test/flow/binaries
selenium-debug.log
gemini-report
sass/themes/*
!sass/themes/default
!sass/themes/hsl

app/config.*.coffee
!app/config.client.coffee
!app/config.default.coffee
!app/config.hsl.coffee

static/img/*icons
!static/img/hsl-icons
!static/img/default-icons

static/svg-sprite.*.svg
!static/svg-sprite.hsl.svg
!static/svg-sprite.default.svg

static/manifest.*.json
!static/manifest.hsl.json
!static/manifest.default.json

static/browserconfig.*.xml
!static/browserconfig.hsl.xml
!static/browserconfig.default.xml
