sudo: required

dist: bionic

branches:
  only:
    - master
    - next
    - next-prod
    - /20(1[7-9]|2[0-9])[0-1][0-9][0-3][0-9]/

cache: yarn

language: node_js

deploy:
  provider: npm
  # After your tests ran and before the release, Travis CI will clean up any additional files and changes you made.
  # This will skip the cleanup
  skip_cleanup: true
  email: "digitransit@hsl.fi"
  api_key:
    secure: Dh5oyrUOIR/KB4CuYtNFu4xKywkSKAqMkd+HkD8LQM5dutknpqJJ4NRftU+dCzPX/iFaTO4w3gpFzv67S6q5eUxcQt8NDuCNbU0p9yYK9JC9sj73hZRHuGcK3ChCc3Kv1W9ORnHs4/ZQtSownYfrcwd7z2+L6WTWBcy7bCrmMiQ=
  on:
    branch: next

before_install:
  - export TZ=Europe/Helsinki

install: true

services:
  - docker

jobs:
  include:
    # - stage: test
    #   env: LINT=1
    #   node_js: '10'
    #   script:
    #     - rm -rf node_modules
    #     - yarn setup
    #     - yarn lint
    # Temporarely disabled for development in next branch
    # - stage: test
    #   env: FLOW=1
    #   node_js: '10'
    #   script:
    #     - yarn setup
    #     - test/flow.sh
    # - stage: test
    #   env: UNIT=1
    #   node_js: '10'
    #   script:
    #     - rm -rf node_modules
    #     - yarn setup
    #     - yarn relay
    #    - yarn run test-coverage
    #    - yarn run test-report

    - stage: build and deploy container
      node_js: '10'
      script: test/deploy.sh
