.customize-search-wrapper {
  height:100%;

  .offcanvas-close {
    float: left;
    margin-top: 10px;

    width: 35px;
    padding: 30px 8px;
    background: #333;

    .action-arrow {
      font-size: 25px;

      svg {
        color: #ffffff;
      }
    }
  }

  .customize-search {
    background: #333;
    padding-top: 10px;
    padding-bottom: 20px;
    color: $offcanvas-link-color;
    height:100%;
    overflow-y: auto;

    h4, .sub-header-h5 {
      color: $medium-gray;
    }

    hr {
      opacity: 0.1;
      color: #ffffff;
    }
  }
}
