.icon.no-route-found-icon {
  width: 100%;
  height: 10em;
}

.no-route-found {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    @include font-medium;
    font-size: $font-size-normal;
    text-align: center;
  }

  a {
    @include font-book;
    text-decoration: none;
    text-transform: uppercase;
  }
}
