.origin-destination-bar {
  background-color: $primary-color;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .field-link, .switch {
    @include font-book;
    font-size: $font-size-smallish;
    cursor: pointer;
    color: $primary-font-color;
    display: inline-block;
  }


  .field-link {
    width: 45%;
    padding-left: 20px;

    &.from-link span:first-child::before {
        content: "A";
    }

    &.to-link span:first-child::before {
        content: "B";
    }

    span:first-child {
      text-size: 20px;

      &::before {
        position: absolute;
        margin-top: 2px;
        margin-left: -17px;
        z-index: 1;
        font-size: $font-size-xxsmall;
        color: $white;
      }
    }

    .icon.itinerary-icon {
      font-size: 22px;
      margin-left: -24px;
    }

    span:last-child {
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      height: 23px;
      line-height: 23px;
      width: 100%;

    }
  }

  .switch {
    padding: 0 10px;

    .icon {
      width: 1.6em;
      height: 1.6em;
      margin-top: -10px;
      position: relative;
      top: 5px;
    }
  }

}
