.origin-destination-bar {
  background-color: $primary-color;
  height: 40px;
  width: 100%;
  @include font-narrow-book;
  font-size: $font-size-smallish;
  padding: 10px;

  .field-link {
    color: $primary-font-color;
    border-bottom: 1px dotted $gray-blue-light;
    display: inline-block;
    width: 43%;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
  }

  .switch {
    color: $primary-font-color;
    height: 20px;
    width: 14%;
    display: inline-block;
    text-align: center;

    .icon {
      height: 1.6em;
      width: 1.6em;
    }
  }


}
