.itinerary-summary-row {
  height: 50px;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 3px;
  padding-bottom: 0;
  overflow: hidden;
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  border-left: 0.3em $action-color solid;
  display: flex;
  user-select: none;
  $distance-gray: #999999;
  font-size: $font-size-normal;
  font-weight: $font-weight-medium;
  @include font-narrow-book;

  &.passive {
    border-left-color: $background-color;
    background-color: $background-color;

    .vehicle-number {
      color: $gray;
    }
  }

  &.passive {
    border-left-color: $background-color;
    background-color: $background-color;
  }

  & .itinerary-duration-and-distance {
    width: 150px;
    margin-top: 4px;
  }

  & .itinerary-duration {
    white-space: nowrap;
  }

  & .itinerary-walking-distance {
    margin-top: -4px;
    color: $distance-gray;
    font-weight: $font-weight-book;
    font-size: $font-size-smallish;
  }

  & .itinerary-start-time {
    text-align: right;
    padding-right: 10px;
    width: 75px;
    margin-top: 4px;
  }

  & .realtime-available {
    color: #00985f;
  }

  & .itinerary-end-time {
    padding-left: 8px;
    padding-right: 20px;
    width: 60px;
    margin-top: 4px;
  }

  & .itinerary-legs {
    width: 100%;
    display: flex;
    white-space: nowrap;

    .line.walk {
      &:after {
        left: 2em;
      }
    }

    .line {
      white-space: nowrap;
      width: 100%;
      position: relative;
      z-index: 1;
      text-align: center;

      &:after {
        content:"";
        position: absolute;
        z-index: -1;
        right: 1px;
        left: 0;
        top: 0.875em;

        border: 2px solid;
        border-radius: 2px;
      }

      .icon {
        margin-top: 0.25em;
        margin-left: 3px;
        width: 20px;
        height: 20px;
        float: left;
      }
    }

    .vehicle-number {
      clear: left;
      float: left;
      padding: 0;
      width: 20px;
      margin-left: 3px;
      margin-top:-2px;

      span {
        font-weight: $font-weight-book;
        font-size: $font-size-smallish;
      }
    }
  }

  .action-arrow {
    line-height: 50px;
    padding-left: 10px;

    & svg {
      color: $action-color;
    }
  }
}

/*
  Customize Search
*/

.customize-search {
  select  {
    background-color: $dark-gray;
    color:$white;
    &:hover {
      background-color: $dark-gray;
    }
  }
  h4 {
    font-size: 14px;  // larger than normal
    margin: 10px 0 5px 0;
  }
  input[type="text"] {
    background-color: transparent;
    border: 1px solid #575757;
    border-radius: $border-radius;
    color: $white;
    display: block;
    margin: 0;
    width: 100%;
    appearance: none;
    box-shadow: none;
    border-radius: none;
  }
  input[type="text"]:focus {
    color: $black;
    outline: none;
  }

}

.arrow-link--summary-row {
  position: absolute;
  z-index: 803;
  bottom: 10px;
  right: 12px;
}
