.itinerary-summary-row {
  padding-left: 1em;
  padding-right: 0.5em;
  padding-top: 0.4em;
  padding-bottom: 0;
  overflow: hidden;
  font-size: 12pt;
  background-color: $white;
  border-bottom: 1px solid $light-gray;

  border-left: 0.3em $action-color solid;
  display: flex;

  .action-arrow svg {
    color: $action-color;
    width: 1.2em;
    height: 3em;
    margin-left: 1em;
  }

  &.passive {
    border-left-color: $background-color;
    background-color: $background-color;
  }

  & .itinerary-duration-and-distance {
    white-space: nowrap;
    display: inline-block;
    margin-right: 1em;
    width: 5em;
  }

  & .itinerary-duration {
    margin-right: 1em;
    line-height: 2;
    font-weight: 600;
  }

  & .itinerary-walking-distance {
    color: $gray;
  }

  & .itinerary-start-time {
    font-weight: 600;
    padding-right: 0.5em;
    line-height: 2;
    width: 4em;
  }

  & .itinerary-end-time {
    padding-left: 0.5em;
    line-height: 2;
    width: 4em;
  }

  & .itinerary-legs {
    //position: relative;
    width: 200px;
    display: flex;

    white-space: nowrap;

    .line.walk {
      &:after {
        left: 2em;
      }
    }

    .line {
      white-space: nowrap;
      width: 40%;
      padding: 2px;
      //margin: 10px auto;
      position: relative;
      z-index: 1;
      text-align: center;

      &:after {
        content:"";
        position: absolute;
        z-index: -1;
        right: 1px;
        left: 0;
        top: 0.875em;

        border: 2px solid;
        border-radius: 2px;
      }

      &:first-child:nth-last-child(1) {
        width: 100%;
      }

      &:first-child:nth-last-child(2) ~ .line {
        width: 50%;
      }

      &:first-child:nth-last-child(2) {
        width: 50%;
      }

      .icon {
        width: 1.75em;
        height: 1.75em;
        float: left;
      }
    }

    .vehicle-number {
      color: $gray;
      clear: left;
      float: left;
      padding: 0;
      width: 1.75em;

      span {
        font-size: 14px;
      }
    }
  }
}

/*
  Customize Search
*/

.customize-search {
  select  {
    background-color: $dark-gray;
    color:$white;
    &:hover {
      background-color: $dark-gray;
    }
  }
  h4 {
    font-size: 14px;  // larger than normal
    margin: 10px 0 5px 0;
  }
  input[type="text"] {
    background-color: transparent;
    border: 1px solid #575757;
    border-radius: $border-radius;
    color: $white;
    display: block;
    margin: 0;
    width: 100%;
    appearance: none;
    box-shadow: none;
    border-radius: none;
  }
  input[type="text"]:focus {
    color: $black;
    outline: none;
  }

}

/*
  Duration and link components
*/

.itinerary-summary--summary-row {
  position: absolute;
  bottom: 6px;
  right: 12px;
}

.arrow-link--summary-row {
  position: absolute;
  z-index: 803;
  bottom: 33px;
  right: 12px;
}
