.itinerary-summary-row {
  height: 50px;
  padding-left: 0.8em;
  padding-right: 0.3em;
  padding-top: 0.25em;
  padding-bottom: 0;
  overflow: hidden;
  font-size: 10pt;
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  border-left: 0.3em $action-color solid;
  display: flex;
  $distance-gray: #999999;

  &.passive {
    border-left-color: $background-color;
    background-color: $background-color;

    .vehicle-number {
      color: $gray;
    }
  }

  &.passive {
    border-left-color: $background-color;
    background-color: $background-color;
  }

  & .itinerary-duration-and-distance {
    white-space: nowrap;
    display: inline-block;
    min-width: 5em;
    padding-top: 4px;
  }

  & .itinerary-duration {
    font-weight: 600;
  }

  & .itinerary-walking-distance {
    color: $distance-gray;
    font-size: 12px;
    padding-top: 1px;
  }

  & .itinerary-start-time {
    font-weight: 600;
    margin-left: 0.3em;
    margin-top: 4px;
  }

  & .itinerary-end-time {
    margin-left: 0.3em;
    margin-top: 4px;
    width: 4em;
  }

  & .itinerary-legs {
    width: 100%;
    display: flex;
    margin-left: 0.6em;
    white-space: nowrap;

    .line.walk {
      &:after {
        left: 2em;
      }
    }

    .line {
      white-space: nowrap;
      width: 100%;
      //margin: 10px auto;
      position: relative;
      z-index: 1;
      text-align: center;

      &:after {
        content:"";
        position: absolute;
        z-index: -1;
        right: 1px;
        left: 0;
        top: 0.875em;

        border: 2px solid;
        border-radius: 2px;
      }

      .icon {
        margin-top: 0.25em;
        margin-left: 3px;
        width: 20px;
        height: 20px;
        float: left;
      }
    }

    .vehicle-number {
      clear: left;
      float: left;
      padding: 0;
      width: 20px;
      margin-left: 3px;

      span {
        font-size: 12px;
      }
    }
  }

  .action-arrow svg {
    color: $action-color;
    width: 1.2em;
    height: 3em;
    margin-left: 1em;
  }
}

/*
  Customize Search
*/

.customize-search {
  select  {
    background-color: $dark-gray;
    color:$white;
    &:hover {
      background-color: $dark-gray;
    }
  }
  h4 {
    font-size: 14px;  // larger than normal
    margin: 10px 0 5px 0;
  }
  input[type="text"] {
    background-color: transparent;
    border: 1px solid #575757;
    border-radius: $border-radius;
    color: $white;
    display: block;
    margin: 0;
    width: 100%;
    appearance: none;
    box-shadow: none;
    border-radius: none;
  }
  input[type="text"]:focus {
    color: $black;
    outline: none;
  }

}

.arrow-link--summary-row {
  position: absolute;
  z-index: 803;
  bottom: 10px;
  right: 12px;
}
