.summary {
    display: flex;
    flex-direction: column;
}

.summary-no-route-found {
    margin: 1em;
}

.time-selectors {
  @include font-book;

  height: 32px;
  margin: 4px 0;
  background-color: $secondary-color;
  padding: 0 10px;

  input[type="date"], input[type="time"], input[type="text"], select {
    vertical-align: middle;
    text-align: left;
    height: 19px;
    width: auto;
    padding: 0;
    margin: 0;
    margin-right: 7px;
    display: inline-block;
    background-image: none;
    background-color: $secondary-color;
    box-shadow: none;
    color: $secondary-font-color !important;
    border: none;
    border-bottom: 2px dotted $gray-blue-light !important;
    border-radius: 0;
    appearance: none;

    &:focus, &:hover {
      border-color: $gray-blue-light;
      background-color: $secondary-color;
      outline: none;
      box-shadow: none;
    }
  }

  .time {
    @include font-book;
    height: 19px !important;
    text-align: left;
    font-family: $font-family !important;
    input {
      font-size: 14px !important;
    }
    hr {
      display: none;
    }
  }

  .time-mui {
    max-width: 5em;
  }

  .arrive {
    width: auto;
    text-align: left;
 }
}

.right-offcanvas-toggle {
  margin: 4px 0;
  background-color: #333;
  border-radius: 5px 0 0 5px;
  width: 36px;
  height: 32px;
  text-align: center;

  .icon-holder {
    margin-top: 7px;
    vertical-align: middle;
    position: relative;

    .icon {
      fill: $white;
    }

    .super-icon {
      fill: $hilight-color;
      position: absolute;
      right: 4px;
      top: -2px;
      height: 12px;
    }
  }
}

.summary-list-container {
  width: 100%;
}

.summary-content {
  height: 100%;
  > section {
    height: 100%;
  }
}
