.itinerary-summary-row {
  min-height: 46px;
  padding-left: 10px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 0;
  overflow: hidden;
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  border-left: 0.3em $action-color solid;
  display: flex;
  user-select: none;
  $distance-gray: #999999;
  font-size: $font-size-normal;
  font-weight: $font-weight-medium;
  @include font-narrow-book;
  white-space: nowrap;

  &.passive {
    border-left-color: $background-color;
    background-color: $background-color;

    .vehicle-number {
      color: $gray;
    }
  }

  &.passive {
    border-left-color: $background-color;
    background-color: $background-color;
  }

  .itinerary-duration-and-distance {
    width: 150px;
    margin-top: 4px;
  }

  .itinerary-duration {
    white-space: nowrap;
  }

  .itinerary-walking-distance {
    margin-top: -1px;
    color: $distance-gray;
    font-weight: $font-weight-book;
    font-size: $font-size-smallish;

    .icon {
      margin-bottom: -2px;
    }
  }

  .itinerary-start-time {
    text-align: right;
    padding-right: 10px;
    padding-left: 5px;
    width: 75px;
    margin-top: 4px;

    .itinerary-first-leg-start-time {
      color: $distance-gray;
      font-size: small;
      margin-top: -1px;
      margin-right: -7px;
      font-weight: 100;
    }
  }

  .realtime-available {
    color: $realtime-color;
  }

  .itinerary-end-time {
    padding-left: 10px;
    width: 60px;
    margin-top: 4px;
  }

  .itinerary-legs {
    width: 100%;
    display: flex;
    white-space: nowrap;

    .line.walk, .line.bicycle, .line.car {
      &:after {
        left: 2em;
      }
    }

    .line {
      white-space: nowrap;
      width: 100%;
      position: relative;
      z-index: 1;
      text-align: center;

      &:after {
        content:"";
        position: absolute;
        z-index: -1;
        right: 1px;
        left: 0;
        top: 0.875em;

        border: 2px solid;
        border-radius: 2px;
      }

      .icon {
        margin-top: 0.25em;
        margin-left: 3px;
        font-size: 20px;
        float: left;
      }
    }

    .vehicle-number {
      font-weight: $font-weight-medium;
      font-size: $font-size-smallish;
      clear: left;
      float: left;
      padding: 0;
      width: 20px;
      margin-left: 3px;
      margin-top: 1px;
    }
  }

  .action-arrow {
    line-height: 46px;
    padding-left: 15px;

    svg {
      color: $action-color;
    }
  }

  .itinerary-tab {
    width: 100%;
  }
}

/*
  Customize Search
*/

.customize-search {
  select  {
    background-color: $dark-gray;
    color:$white;
    &:hover {
      background-color: $dark-gray;
    }
  }
  h4 {
    font-size: 14px;  // larger than normal
    margin: 10px 0 5px 0;
  }
  input[type="text"] {
    background-color: transparent;
    border: 1px solid #575757;
    border-radius: $border-radius;
    color: $white;
    display: block;
    margin: 0;
    width: 100%;
    appearance: none;
    box-shadow: none;
    border-radius: none;
  }
  input[type="text"]:focus {
    color: $black;
    outline: none;
  }
}

.breakpoint-large .itinerary-summary-row {
  min-height: 100px;
  border-left-width: 8px;
  padding-left: 20px;
  padding-right: 16px;
  padding-top: 20px;

  .itinerary-duration-and-distance {
    width: 100px;
    margin-top: 2px;
  }

  .itinerary-duration {
    font-size: 21px;
    @include font-narrow-medium;
  }

  .itinerary-walking-distance {
    font-size: 18px;
  }

  .itinerary-start-time {
    font-size: 21px;
    padding-top: 7px;
    padding-left: 16px;
    @include font-narrow-medium;

    .itinerary-first-leg-start-time {
      font-size: $font-size-normal;
    }
  }

  .itinerary-legs {
    padding-top: 14px;

    .line:after {
      top: 10px;
      border-width: 3px;
      border-radius: 3px;
    }

    .line .icon {
      margin-top: 0;
      margin-left: 5px;
      font-size: 24px;
    }

    .vehicle-number {
      font-size: $font-size-normal;
      margin-left: 6px;
      margin-top: 3.5px;
    }
  }

  .itinerary-end-time {
    font-size: 21px;
    padding-top: 8px;
  }

  .action-arrow {
    padding-left: 30px;
    font-size: 20px;
    padding-top: 8px;
  }
}
