.time-navigation-buttons {
  display: flex;
  margin: 5px 10px;
  flex-shrink: 0;

  button {
    font-size: $font-size-smallish;
    width: 100%;
    height: 30px;
    margin-right: 0.4em;
    margin-bottom: 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
  &.bp-large {
    margin: 20px;

    button {
      font-size: 18px;
      height: 40px;
    }
  }
}
