/* Override foundation base */
$column-gutter: 20px;

body {
  background: $background-color;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
}

#main {
  background-color: $background-color;
}

.bus {
  color: $bus-color;
}

.tram {
  color: $tram-color;
}

.metro {
  color: $metro-color;
}

.cursor-pointer {
  cursor: pointer;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}