.navigator-modal-content {
  .intro-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    gap: var(--space-m);

    &.slide-in {
      animation: slideUpFromBottom 0.5s ease-in-out;
    }

    h2,
    p {
      margin: unset;
      align-self: center;
    }

    .login-tip {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      gap: var(--space-xs);
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      align-items: stretch;
      gap: var(--space-m);

      .feature {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-s);

        .right-column {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: var(--space-xxs);
        }
      }
    }
  }

  .intro-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--space-s);
  }

  .navi-geolocation-purpose {
    display: flex;
    align-items: flex-start;
    gap: var(--space-s);

    .info-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--space-xs);

      p {
        margin: unset;
        font-weight: 325;
        color: #333;
        line-height: $line-height-normal;
      }
    }
  }
}
