@import '~@hsl-fi/sass/colors';
@import '~@hsl-fi/sass/mixins/screen';
@import '~@hsl-fi/sass/mixins/text';

@mixin default-focus-outline {
  /* First apply outline that is used in Edge and Firefox */
  outline: 1px dotted #212121;
  /* Then override outline for webkit browsers like Chrome, this has no effect on other browsers */
  outline: 5px auto -webkit-focus-ring-color; /* stylelint-disable-line declaration-block-no-duplicate-properties */
}

$zindex: base, map-container, map-gradient, map-fullscreen-toggle,
  map-buttons, context-panel, search-panel, search-overlay, stop-route-station-input, destination-input,
  viapoint-input-5, viapoint-input-4, viapoint-input-3, viapoint-input-2,
  viapoint-input-1, origin-input, search-input-focus, search-input-icon, autosuggest-suggestion-container, front;

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.dt-datetimepicker {
  border: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: var(--font-weight-medium);

  button, label {
    font-size: 1em;
    font-weight: inherit;
  }

  label button {
    cursor: pointer;
    font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'Roboto', Arial, Georgia, Serif;
  }

  .hidden {
    display: none;
  }

  .datetimepicker-open-container {
    background-color: #f4f4f5;
    border-radius: 5px;
    padding: 15px;
  }

  .top-row-container {
    display: flex;
    flex-wrap: wrap;
    &.closed {
      margin: 11px 0 6px 18px;
    }

    @include max-width(mobile-small) {
      margin-left: 14px;
    }

    .time-icon {
      svg {
        width: 18px;
        height: 19px;
      }
    }
    .dropdown-icon {
      margin-left: 9px;
      position: relative;
      top: 1px;
      svg {
        width: 14px;
        height: 10px;
      }
    }
    .close-icon {
      svg {
        width: 12px;
        height: 12px;
        border-radius: 1px;
        path {
          stroke-width: 30;
        }
      }
    }
    label {
      cursor: pointer;
      &.label-open {
        align-items: flex-start;
        display: flex;
      }
    }
    button, label {
      font-size: 1em;
      letter-spacing: -0.5px;
      line-height: 1;
    }
  }
  .textbutton {
    margin-left: 9px;
    margin-top: 1px;
    background: none;
    border: none;
    color: #666666;
    padding: 0;
    @include min-width(tablet)  {
      margin-left: 14px;
    }

    &.active {
      color: var(--color);
    }
  }

  .combobox-left {
    position: relative;
    margin-right: 4px;
    width: 63%;
  }

  .combobox-right {
    position: relative;
    margin-left: 4px;
    width: 37%;
  }

  .departure-or-arrival-container {
    height: calc(1rem + 20px);
    background-color: #dddddd;
    border-radius: 8px;
    display: flex;
    width: calc(5px + 13em);
  }
  .radio-textbutton-label {
    color: #333333;
    margin: 2px;
    background: none;
    border-radius: 6px;
    padding: 9px 0;
    width: 50%;
    cursor: pointer;
    height: calc(1rem + 16px);
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.03em;
    &.active {
      font-weight: 500;
      background: white;
    }
    &:focus-within {
      @include default-focus-outline;
    }
    &.first-radio {
      margin: 0;
      display: flex;
      align-items: flex-start;

    }
  }

  .radio-textbutton {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .departure-now-button {
    font-family: inherit;
    letter-spacing: -0.02em;
    height: calc(1rem + 18px);
    color: var(--color);
    padding: 8px 0;
    width: 6.6875rem;
    background: white;
    border: 1px solid #888888;
    border-radius: 30px;
    margin-left: 11px;
  }

  .open-button {
    display: flex;
    margin-bottom: 0;
    margin-top: -1px;
    padding: 2px 0 2px 0;
  }
  button.close-button {
    width: 26px;
    height: 30px;
    transition: transform 0.2s;
    position: relative;
    top: -8px;
    right: -8px;
    border: 0;
    font-weight: normal;
    background: none;
    color: var(--color);
    padding: 0;
    line-height: normal;
    &:hover {
      transform: scale(1.2);
    }
  }

  .right-edge {
    margin-left: auto;
    margin-right: 0;
    position: relative;
    top: -2px;
  }

  .combobox-container {
    cursor: pointer;
  }

  .combobox-icon {
    color: var(--color);
    height: 40px;
    position: absolute;
    z-index: index($zindex, 'search-panel');
    pointer-events: none;

    &.date-input-icon {
      display: flex;
      align-items: center;
      padding: 0;
      margin-left: 14px;
      svg {
        width: 20px;
        height: 18px;
      }
    }

    &.time-input-icon {
      display: flex;
      align-items: center;
      padding: 0;
      margin-left: 8px;
      svg {
        margin-top: 1px;
        width: 22px;
        height: 22px;
      }
    }
  }
  .datetimepicker-select-container {
    position: relative;
    height: 40px;
    // use global scope because react-select is not quite compatible with csss module local scoping
    :global .datetimepicker-select__control {
      cursor: inherit;
      height: 40px;
      border: 1px solid #888888;
    }
    :global .datetimepicker-select__value-container {
      padding: 0;
    }
    :global .datetimepicker-select__single-value {
      margin: 0 0 0 47px;
    }
    :global .datetimepicker-select__input {
      background: inherit;
      position: relative;
      margin-left: 40px;
      input {
        opacity: 1 !important; // TODO
        background: inherit;
        box-shadow: none;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: -0.5px;
        color: #333333;
        font-family: inherit;
        font-size: 15px;
        font-weight: var(--font-weight-medium);
        &:focus {
          box-shadow: none;
          outline: none;
          border: none;
        }
      }
    }
    :global .datetimepicker-select__menu {
      z-index: index($zindex, 'autosuggest-suggestion-container');
      padding: 0;
      background: #fff;
      max-height: 250px;
      border-radius: 5px;
      box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
      border: 1px rgba(0,0,0,0.1) solid;
      :global .datetimepicker-select__menu-list {
        max-height: 250px;
        padding: 0;
        :global .datetimepicker-select__option {
          height: 50px;
          border-top: 1px solid #dddddd;
          padding: 13px 0 0 12px;
          letter-spacing: -0.6px;
          color: #333333;
          &--is-selected {
            background: inherit;
          }
          &--is-focused {
            background: #dfe5e8;
          }
        }
      }
    }
  }
  .picker-container {
    margin: 14px 0 0 0;
    display: flex;
  }

  .combobox-mobile-container {
    flex-grow: 1;
  }
}

.mobile-modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
.mobile-modal-content {
  font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'Roboto', Arial, Georgia, Serif;
  background: white;
  width: 89%;
  position: absolute;
  left: 5.5%;
  padding: 31px 20px 33px 20px;
  top: 80px;
  border-radius: 5px;
  .top-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
    .modal-title {
      font-weight: var(--font-weight-medium);
      font-size: 20px;
      line-height: 18px;
      letter-spacing: -0.5px;
      color: #333333;
      padding: 6px 0 0 8px;
    }
    .departure-now-button {
      background-color: white;
      font-family: inherit;
      padding: 5px 15px;
      border: 1px solid #888888;
      border-radius: 50px;
      font-weight: var(--font-weight-medium);
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.02em;
      color: var(--color);
    }
  }
  .tab-row {
    display: flex;
    border: 2px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 16px;
    background-color: #dddddd;
    .radio-tab-label {
      padding: 9px 0;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.5px;
      border-radius: 3px;
      font-weight: normal;
      width: 50%;
      text-align: center;
      color: #333333;
      &.active {
        font-weight: var(--font-weight-medium);
        background-color: #ffffff;
      }
    }
    .radio-textbutton {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
  }
  .input-row {
    display: flex;
    margin-bottom: 25px;

    label:first-child {
      flex-basis: 60%;
      margin-right: 10px;
    }
    label:nth-child(2) {
      flex-basis: 40%;
    }
    .input-container {
      border: 1px solid #888888;
      border-radius: 5px;
      display: flex;
      align-items: center;
      height: 40px;
      line-height: 1.5;
      font-size: 100%;

      &:focus-within {
        background: rgba(0, 122, 201, 0.06);
        border: 2px solid var(--color);
      }

      .combobox-icon {
        height: 18px;
        font-size: 18px;
        padding: 0 0 0 10px;
        border: none;
        position: relative;
        top: 3px;
        &.time-input-icon>svg {
          height: 20px;
        }
      }
      .time-input-mobile {
        font-family: inherit;
        box-shadow: none;
        font-size: 18px;
        letter-spacing: -0.5px;
        line-height: 20px;
        font-weight: var(--font-weight-medium);
        border: none;
        outline: none;
        background: none;
        width: 50px;
        margin-left: 10px;
        color: #333333;
        height: 1.5265rem;
      }
      .mobile-input-display {
        position: relative;
        left: 10px;
        border: none;
        &:focus {
          outline: none;
          box-shadow: none;
          background: none;
        }
        background: inherit;
        box-shadow: none;
        font-family: inherit;
        font-weight: var(--font-weight-medium);
        font-stretch: normal;
        font-style: normal;
        font-size: 16px;
        line-height: 1.33;
        letter-spacing: -0.5px;
        color: #333333;
      }
      .mobile-input-hidden {
        font-size: 16px;
        margin-bottom: 12px;
        height: 0px;
        width: 0;
        background: inherit;
        color: transparent;
        outline: none;
        box-shadow: none;
        border: none;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      .container  {
        position: absolute;
        width: calc((100% - 50px) * 0.6);
        height: 25px;
        font-size: 15px;

        .suggestion {
          list-style: none;
          font-size: 16px;
          font-style: normal;
          font-weight: normal;
          line-height: 49px;
          height: 50px;
          margin: 0;
          padding: 0 0 0 16px;
          // letter-spacing: -0.6px;
          color: rgba(0,0, 0, 0.87);
          background: white;
        }
        .suggestionHighlighted {
          background: #dfe5e8;
        }

        .suggestionsContainerOpen {
          position: absolute;
          z-index: index($zindex, 'autosuggest-suggestion-container');
          max-height: 250px;
          overflow-x: hidden;
          overflow-y: scroll;
          border-radius: 5px;
          box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.06);
          border: 1px rgba(0,0,0,0.1) solid;
          top: 42px;
          left: -2px;
          width: 100%;
          font-size: 16px;
          line-height: 1;
          color: rgba(0, 0, 0, 0.87);
          ul {
            padding: 0;
            margin: 0;
          }
        }
        // autosuggest
        .input {
          box-shadow: none;
          border: none;
          background: none;
          font-size: 16px;
          font-weight: var(--font-weight-medium);
          height: 25px;
          display: inline-block;
          font-family: inherit;
          line-height: 1.33;
          color: #333333;
          padding-left: 46px;
          &:focus {
            outline: none;
            border: none;
            background: none;
          }
        }
      }
    }
  }
  .buttons-row {
    display:flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    button {
      background-color: white;
      font-family: inherit;
      font-weight: var(--font-weight-medium);
      font-size: 16px;
      letter-spacing: -0.02em;
      width: 100%;
      border-radius: 50px;
      height: 40px;
      color: var(--color);
      border: 1px solid #888888;
      &.ready-button {
        color: white;
        background-color: var(--color);
        border: none;
        margin-bottom: 10px;
      }
    }
  }
}
