$score-column-border-color: #E1E0E0;
$score-column-border-radius: 5px;

$selected-score-font-color: $white;
$not-selected-score-font-color: $gray-blue;

$selected-score-background-color: $dark-gray;
$not-selected-score-background-color: $white;

.score-table-column {
  background: $not-selected-score-background-color;
  float: left;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
  @include font-medium;
  font-size: $font-size-small;
  border-top: solid 1px $score-column-border-color;
  border-bottom: solid 1px $score-column-border-color;
  border-right: solid 1px $score-column-border-color;
  color: $not-selected-score-font-color;
}

.score-table-column:active {
  background: $selected-score-background-color;
  color: $selected-score-font-color;
}

.feedback-content-container {

  .score-table-column:first-child {
    border-left: solid 1px $score-column-border-color;
    border-top-left-radius: $score-column-border-radius;
    border-bottom-left-radius: $score-column-border-radius;

  }

  .score-table-column:last-child {
    border-top-right-radius: $score-column-border-radius;
    border-bottom-right-radius: $score-column-border-radius;

  }

  .selected-score {
    background: $selected-score-background-color;
    color: $selected-score-font-color;
  }

}
