
@font-face {
    font-family: The Mix;
    src: url(../../../static/assets/fonts/aachen/TheMix_900.woff) format('woff');
    font-weight: 500 900;
    font-style: normal
}

@font-face {
    font-family: The Mix;
    src: url(../../../static/assets/fonts/aachen/TheMix_300.woff) format('woff');
    font-weight: 300 400;
    font-style: normal
}
