.add-favourite-container {
  padding-top: 12px;
  padding-left: 17px;
  padding-right: 17px;

  #add-favourite-close-icon {
    fill: $gray;
    width: 1em;
    height: 1em;
    font-size: 14px;
  }
}
