.add-favourite-container {
  padding-top: 12px;
  padding-left: 17px;
  padding-right: 17px;

  #add-favourite-close-icon {
    fill: $gray;
    width: 1em;
    height: 1em;
    font-size: 14px;
  }
  .add-favourite-container__header {
    margin-top: 38px;
    max-width: 420px;
  }

  @media (min-width: 490px) {
    .add-favourite-container__header-text {
      padding-top: 4px;
    }
  }
  .add-favourite-star {
    padding-left: 0px !important;
    padding-top: 4px !important;
  }

  @media (min-width: 380px) {
    .add-favourite-star {
      padding-top: 0px !important;
    }
  }

  .add-favourite-star__icon {
    height: 24px;
    width: 24px;
    fill: $favourite-color;
    vertical-align: middle;
  }

}
