.favourite-button-shared {
  height: 94px;
  text-align: center;
  border-radius: $border-radius;
  border: 1px solid $medium-gray;
  cursor: pointer;
  max-width: 320px;
}

.favourite-location-content {
  @extend .favourite-button-shared;
  background: $white;
  .favourite-location-header {
    padding-top: 3px;
    padding-bottom: 3px;
    color: $gray-blue;
    font-size: 12px;
  }
  .time--small {
    font-size: $font-size-small;
   }
  .favourite-location-icon {
    color: $gray-blue;
    vertical-align: middle;
  }
  .favourite-location-departure-icon {
    color: $gray-blue;
  }
  .favourite-location-departure-time {
    vertical-align: top;
    font-size: 12px;
  }
  .favourite-location-departure-time--realtime {
    @extend .favourite-location-departure-time;
    color: $realtime-color;
  }
  .favourite-location-arrival-time {
    vertical-align: top;
    color: $black;
  }
}

.new-favourite-button-content {
  @extend .favourite-button-shared;
  background: $background-color;

  .add-new-favourite-icon {
    color: $gray-blue;
    margin-top: 23px;
  }

  .add-location-text {
    @include font-medium;
    color: $gray-blue;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.favourite-locations-container {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.favourite-location-container {
  padding-right: 7px;
  padding-left: 7px;
}

.favourite-location-container--first {
  @extend .favourite-location-container;
  padding-left: 15px;
  padding-right: 0px;
}

.favourite-location-container--last {
  @extend .favourite-location-container;
  padding-left: 0px;
  padding-right: 15px;
}


.favourite-location-content-placeholder {
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;
  width: 2.5em;
  line-height: 1em;
  color: #eee;
  background-color: #eee;
  border-radius: 1px;
}