$font-size-supersmall: 12px;

.favourite-button-shared {
  text-align: center;
  border-radius: $border-radius;
  border: 1px solid $medium-gray;
  cursor: pointer;
  max-width: 320px;
  padding-top: 8px;
  padding-bottom: 3px;
}

.favourite-edit-icon-click-area {
  //background-color: rgb(10,80,190);
  border-bottom: 1px solid $light-gray;
  border-left: 1px solid $light-gray;
  border-bottom-left-radius: $border-radius;
  width: 1.4em;
  height: 1.4em;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;

  .favourite-edit-icon {
    color: $light-gray;
    font-size: 12px;
    margin-left: 5px;
  }
}

.favourite-location-content {
  @extend .favourite-button-shared;
  background: $white;
  height: 80px;


  .favourite-edit-button {
    background-color: rgb(200,128,128);
    color: $gray-blue;
    font-size: 11px;
    width: 2.5em;
    height: 2.5em;
  }
  .time {
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-right: 0;
    width: auto;
  }
  .time--small {
    padding: 0;
    padding-right: 0.25em;
    margin: 0;
    font-size: $font-size-supersmall;
  }
  .vehicle-number {
    padding: 0;
    padding-left: 0.25em;
  }
  .favourite-location-icon {
    color: $gray-blue;
    vertical-align: middle;
    font-size: 1.2em;
  }

  .favourite-location-name {
    color: $gray-blue;
    vertical-align: middle;
    font-size: 0.75em;
  }
  .favourite-location-departure {
    vertical-align: middle;
    & > span {
      vertical-align: middle;
      padding-top: 3px;
    }
    .route-number {
      width: auto;
      display: inline-block;
      font-size: $font-size-supersmall;
      & > span:first-of-type {
        vertical-align: middle;
      }
    }
  }
  .favourite-location-departure-time {
    vertical-align: top;
    font-size: 12px;
  }
  .favourite-location-departure-time--realtime {
    @extend .favourite-location-departure-time;
    color: $realtime-color;
  }
  .favourite-location-arrival-time {
    margin: 0;
    vertical-align: top;
    color: $black;
  }
}

.new-favourite-button-content {
  @extend .favourite-button-shared;
  background: $background-color;
  height: 80px;

  .add-new-favourite-icon {
    color: $gray-blue;
    margin-top: 14px;
  }

  .add-location-text {
    @include font-medium;
    color: $gray-blue;
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.favourite-locations-container {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.favourite-location-container {
  padding-right: 7px;
  padding-left: 7px;
}

.favourite-location-container--first {
  @extend .favourite-location-container;
  padding-left: 15px;
  padding-right: 0px;
}

.favourite-location-container--last {
  @extend .favourite-location-container;
  padding-left: 0px;
  padding-right: 15px;
}


.favourite-location-content-placeholder {
  margin-left: 0.25em;
  margin-right: 0.25em;
  display: inline-block;
  width: 2.5em;
  line-height: 1em;
  color: #eee;
  background-color: #eee;
  border-radius: 1px;
  &.time--small {
    padding: 0;
    margin-right: 0.5em;
  }
}
