<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Reittiopas</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" type="text/css" href="css/bundle.css" charset="utf-8">
</head>
  <body>

    <nav id="offcanvas-left" class="offcanvas-menu">
      <header class="offcanvas-header offcanvas-section">
        <p class="offcanvas-lead">
            Kirjautumalla palveluun saat suosikit talteen ja voit hyödyntää niitä muillakin laitteillasi
        </p>
        <div>
            <img src="#">
            <button>Luo tunnus</button>
            <a href="#">Kirjaudu sisään</a>
        </div> 
      </header>
      
      <section class="offcanvas-section">
        <ul class="offcanvas-list">
          <li><a href="#">You got option 1</a></li>
          <li><a href="#">You got option 2</a></li>
          <li><a href="#">You got option 3</a></li>
          <li><a href="#">You got option 4</a></li>
        </ul>
      </section>
    </nav>

    <div class="slideout-wrapper">
      <main id="main" class="panel">
        <header>
          <nav class="top-navigation">
            <div class="left">
              <span id="reveal-left-offcanvas" class="cursor-pointer">
                <i class="icon icon-hamburger"></i>
              </span>
              <i class="icon icon-disruption-info"></i>
            </div>
            <div class="right">
              Nyt
            </div>
            <div class="center">
              <i class="icon icon-hsl-logo"></i>
              <span class="title">Reittiopas</span>
            </div>
          </nav>
        </header>
        <section class="content">
          {{{ yield }}}
        </section>
      </main>
    </div>

    <!-- Livereload. TODO Remove before production usage -->
    <script src="//localhost:9000"></script> 
    <script src="/js/bundle.js"></script>
  </body>
</html>