@import '../../base/waltti';

/* main theme colors */
$primary-color: #7DC02D;
$secondary-color: #489227;
$hilight-color: $primary-color;
$action-color: $primary-color;
$bus-color: $primary-color;
$viewpoint-marker-color: $primary-color;
$current-location-color: $primary-color;

$standalone-btn-color: $secondary-color;
$link-color: $secondary-color;

/* Navbar logo dimensions */
$nav-logo-width: 4em;
$nav-logo-height: 3em;
