@import '../../base/waltti';

/* main theme colors */
$theme-primary-color: #7dc02d;
$theme-secondary-color: #489227;
$highlight-color: $theme-primary-color;
$action-color: $theme-primary-color;
$bus-color: $theme-primary-color;
$viewpoint-marker-color: $theme-primary-color;
$current-location-color: $theme-primary-color;
$standalone-btn-color: $theme-secondary-color;
$link-color: $theme-primary-color;

/* Component palette */
$desktop-title-color: $theme-primary-color;
$desktop-title-arrow-icon-color: $theme-secondary-color;
$top-bar-color: $theme-primary-color;
