.bird {
  --operatorbg: #00D4F1;
  --operatorfg: #fff;
}

.bolt {
  --operatorbg: #30D287;
  --operatorfg: #fff;
}

.callabike {
  --operatorbg: #E30009;
  --operatorfg: #fff;
}

.deer {
  --operatorbg: #3C8325;
  --operatorfg: #fff;
}

.donkey {
  --operatorbg: #F47521;
  --operatorfg: #fff;
}

.lime {
  --operatorbg: #00DD00;
  --operatorfg: #fff;
}

.other {
  --operatorbg: #C84674;
  --operatorfg: #fff;
}

.regiorad {
  --operatorbg: #009fe4;
  --operatorfg: #fff;
}

.stadtmobil {
  --operatorbg: #FF8A36;
  --operatorfg: #fff;
}

.tier {
  --operatorbg: #0E1A50;
  --operatorfg: #69D2AA;
}

.voi {
  --operatorbg: #F26961;
  --operatorfg: #fff;
}
