#splash {
  position: absolute;
  background-color: white;
  z-index:1100;
  width: 70%;
  margin: auto;
  min-width:230px;
  max-width: 300px;
  max-height: 400px;

  top: 0; left: 0; bottom: 0; right: 0;

  border-radius: 3px;
  box-shadow: 0 0 9.5px 0 rgba(0, 0, 0, 0.3);

  text-align: center;

  line-height: 1.6em;
  user-select: none;
  font-size: 13px;

  @include font-book;

  h3 {
    font-size: 15px;
    margin-top: 24px;
    margin-bottom: 11px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #splash-locationing-button {
    @include font-medium;
    display: inline-block;
    border-radius: 20px;
    padding: 2px 36px 5px 8px;
    background-color: $hilight-color;
    color: $primary-font-color;

    cursor: pointer;

    .icon {
      margin-right: 1rem;
      font-size: 17px;
      position:relative;
      top: 4px;
    }
  }

  .spinner-caption {
    padding-top: 6rem;
    padding-bottom: 2rem;
  }

  #splash-searchfield {
    @include font-medium;
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
    margin-bottom: 20px;
    .icon {
      margin-left: 1rem;
    }
  }

  .splash-separator {
    color: $gray;

    margin-bottom: 10px;
    margin-top: 16px;

    overflow: hidden;
    text-align: center;

    // Horizontal gray line "behind" the text
    &:before, &:after {
      content: "";
      display: inline-block;
      width: 50%;
      margin: 0 .5em 0 -55%;
      vertical-align: middle;
      border-bottom: 1px solid $light-gray;
    }
    &:after {
      margin: 0 -55% 0 .5em;
    }
  }

  ul {
    list-style: none;
    text-align: left;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;

    .icon {
      margin-left: 5px;
      margin-right: 1rem;
    }

    svg.splash-icon.icon-icon_star {
      stroke: $favourite-color;
      fill: $favourite-color;
    }

    svg.splash-icon.icon-icon_airplane {
      stroke: $airplane-color;
      fill: $airplane-color;
    }

    li {
      line-height: 1.5;
      margin-bottom: 7px;
      padding-bottom: 7px;
      cursor: pointer;
      border-bottom: 1px solid $light-gray;
    }

    li:last-child {
      border:none;
    }
  }
}

#splash-map {
  background-image: url('/img/map.9.opti.png');
  background-position: center;
  background-size: cover;
  filter: blur(5px);
}

.splash-icon {
  font-size:16px;
  position:relative;
  top:2px;
}

#splash-text-block {
  display:block;
  margin-bottom: 13px;
}
