.splash {
  position: absolute;
  width: 100%;
  top: 40px;
  background-color: rgba(0,0,0,0.64);
  line-height: 2em;
  height: calc(100% - 40px);

  h2 {
    color: $primary-font-color;
    line-height: 0em;
  }

  > .top {
    height:35%;
  }
  > .mid {
    height: 100px;
    display: block;
  }
  > .bottom {
    color: $primary-font-color;
    text-align: center;
    height: calc(65% - 100px - 40px);
  }
}

.splash-map {
  background-image: url('/img/map.9.opti.png');
  background-attachment: fixed;
  background-position: center;
  filter: blur(5px);
}