/*
  SLIDER
*/
$slider-gray: #575757;
/* Track is the line where the circle moves */
$track-box-shadow: 0.9px 0.9px 1px #000000, 0px 0px 0.9px #0d0d0d;
$track-border: 2px solid $slider-gray;

/* Thumb is the circle on the track */
$thumb-color-pink: $favourite-color;
$thumb-box-shadow: 0px 1.3px 0.2px #000000, 0px 0px 1px #c1c1c1;
$thumb-border: 3px solid #ffffff;
$thumb-size: 24px;

.slider-container {
  padding: 10px 0;
  h4 {
    margin: 0;
  }
}

input[type=range].slider {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  margin: 8.5px 0;
}
input[type=range].slider:focus {
  outline: none;
}

input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: $track-box-shadow;
  background: #000000;
  border-radius: 3px;
  border: $track-border;
}

input[type=range].slider::-webkit-slider-thumb {
  box-shadow: $thumb-box-shadow;
  border: $thumb-border;
  height: $thumb-size;
  width: $thumb-size;
  border-radius: 15px;
  background: $slider-gray;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #0d0d0d;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: $track-box-shadow;
  background: #000000;
  border-radius: 3px;
  border: $track-border;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: $thumb-box-shadow;
  border: $thumb-border;
  height: $thumb-size;
  width: $thumb-size;
  border-radius: 15px;
  background: $slider-gray;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #000000;
  border: $track-border;
  border-radius: 6px;
  box-shadow: $track-box-shadow;
}
input[type=range].slider::-ms-fill-upper {
  background: #000000;
  border: $track-border;
  border-radius: 6px;
  box-shadow: $track-box-shadow;
}
input[type=range].slider::-ms-thumb {
  box-shadow: $thumb-box-shadow;
  border: $thumb-border;
  height: $thumb-size;
  width: $thumb-size;
  border-radius: 15px;
  background: $slider-gray;
  cursor: pointer;
  height: 7px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #0d0d0d;
}



.slider-container.active  {
  input[type=range].slider::-webkit-slider-thumb {
    background-color: $thumb-color-pink !important;
  }
  input[type=range].slider::-moz-range-thumb  {
    background-color: $thumb-color-pink !important;
  }
  input[type=range].slider::-ms-thumb {
    background-color: $thumb-color-pink !important;
  }

}






/*
  TOGGLE BUTTON
*/
$btn-highlight-opacity: 0.9;

$btn-inactive-background-color: $dark-gray;
$btn-bus-active-background-color: $bus-color;
$btn-tram-active-background-color: $tram-color;
$btn-rail-active-background-color: $rail-color;
$btn-subway-active-background-color: $metro-color;
$btn-ferry-active-background-color: $ferry-color;
$btn-radio-checked-background-color: $white;

$btn-icon-color-inactive: $medium-gray;
$btn-icon-color-active: $white;
$btn-icon-color-checked: $black;

$btn-width: 17px;
$btn-heigth: 17px;

.btn {
  background-color: $btn-inactive-background-color;
  text-align: center;
  background-color: #575757;
  float:left;
  cursor: pointer;

  &:hover {
    opacity: $btn-highlight-opacity;
  }
  &.bus {
    background-color: $btn-bus-active-background-color;
  }
  &.tram {
    background-color: $btn-tram-active-background-color;
  }
  &.rail {
    background-color: $btn-rail-active-background-color;
  }
  &.subway {
    background-color: $btn-subway-active-background-color;
  }
  &.ferry {
    background-color: $btn-ferry-active-background-color;
  }
  &.walk, &.cycle, &.car  {
    background-color: $btn-radio-checked-background-color;
    .icon {
      color: $btn-icon-color-checked;
    }
  }
  &.bus, &.tram, &.rail, &.subway, &.ferry {
    .icon{
      color:$btn-icon-color-active;
    }
  }

  .icon-holder {
    padding-top: 9pt;
    padding-bottom: 5pt;
  }
  .icon {
    color: $btn-icon-color-inactive;
    width: $btn-width;
    height: $btn-heigth;
  }
}
.btn-bar  {
  .btn{
    border-right: 1px solid $offcanvas-background;
  }
  [class*="column"] + [class*="column"]:last-child {
    border-right: none;
  }
}

.standalone-btn {
  padding: 6px 15px;
  border-radius: 20px;
  .icon-holder  {
    padding: 0;
    margin: 0;
    margin-bottom: -4px;
  }
}

.first-btn {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}
.last-btn {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
