$offcanvas-width: 256px;
$offcanvas-background-color: #333333;
$offcanvas-profile-icon-size: 60px;
$offcanvas-profile-icon-color: $white;
$offcanvas-lead-text-color: $gray;
$offcanvas-lead-text-font-family: $font-family;
$offcanvas-lead-text-font-size: 15px;
$offcanvas-link-color: $white;
$offcanvas-login-text-font-family: $font-family;
$offcanvas-login-text-font-size: 14px;
$offcanvas-login-arrow-icon-size: 14px;
$offcanvas-link-text-font-family: $font-family;
$offcanvas-link-text-font-size: 15px;
$offcanvas-link-arrow-icon-size: 30px;

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: $offcanvas-width;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  background-color: $offcanvas-background-color;
}

.slideout-panel {
  position:relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.offcanvas-menu {
  padding-top: 20px;
  color: $offcanvas-link-color;
}

.offcanvas-menu i.icon-profile {
  font-size: $offcanvas-profile-icon-size;
  color: $offcanvas-profile-icon-color;
}

.offcanvas-login i.icon-arrow-right {
  font-size: $offcanvas-login-arrow-icon-size;
}

.offcanvas-menu a {
  color: $offcanvas-link-color;
  text-decoration: none;
}

.offcanvas-section {
  padding-left: 20px;
}

ul.offcanvas-list {
  list-style: none;
  padding-left: 10px;
}

ul.offcanvas-list li {
  border-bottom: 1px solid #262626;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: $offcanvas-link-text-font-size;
}

.offcanvas-lead {
  color: $offcanvas-lead-text-color;
  font-family: $offcanvas-lead-text-font-family;
  font-size: $offcanvas-lead-text-font-size;
}

.offcanvas-login {
  font-family: $offcanvas-login-text-font-family;
  font-size: $offcanvas-login-text-font-size;
}

.offcanvas-menu .icon.small {
  fill: $offcanvas-link-color;   
  width: 10px;
  height: 10px;
}

.offcanvas-menu .icon.medium {
  fill: $offcanvas-link-color;   
  width: 12px;
  height: 12px;
}

.offcanvas-menu .icon.large {
  fill: $offcanvas-link-color;   
  width: 36px;
  height: 36px;
}