$trip-route-header-height: 90px;
$trip-small-map-height: 100px;
$trip-medium-map-height: 200px;
$trip-large-map-height: 300px;


.trip {
  // Small map
  @media #{$small-only} {
    .map.map-small, .map.map-small div.leaflet-container {
      height: $trip-small-map-height;
    }
    div.background-gradient {
      height: $trip-small-map-height * 0.7;
    }
    .map.map-small:not(.fullscreen) div.leaflet-container div.leaflet-control-container div div.leaflet-control-attribution {
      display: none;
    }
    div.below-map {
      height: calc(100% - #{$trip-small-map-height} - #{$trip-route-header-height} - #{$route-list-header-height});
    }
  }

  @media #{$medium-only} {
    .map.map-small, .map.map-small div.leaflet-container {
      height: $trip-medium-map-height;
    }
    div.background-gradient {
      height: $trip-medium-map-height * 0.5;
    }
    div.below-map {
      height: calc(100% - #{$trip-medium-map-height} - #{$trip-route-header-height} - #{$route-list-header-height});
    }
  }

  @media #{$large-up} {
    .map.map-small, .map.map-small div.leaflet-container {
      height: $trip-large-map-height;
    }
    div.background-gradient {
      height: $trip-large-map-height * 0.3;
    }
    div.below-map {
      height: calc(100% - #{$trip-large-map-height} - #{$trip-route-header-height} - #{$route-list-header-height});
    }
  }
}
.route-header.trip-header {
  height:$trip-route-header-height;
  .route-header-direction {
    @include font-medium;
    font-size: $font-size-small;
    color: $dark-color;
  }
}

.passed div {
  color: $dark-color;

  &.route-stop-name  {
    &.bus::after,
    &.tram::after,
    &.rail::after,
    &.subway::after,
    &.ferry::after,
    &.citybike::after  {
      content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><circle stroke-width='2.5' stroke='#{rgba($dark-color, 0.9999999)}' fill='white' cx='6' cy='6' r='2.5'/></svg>");
    }
  }
}

.trip-map {
  .map.fullscreen {
    height: calc(100% - #{$trip-route-header-height});
  }
}
