@import '~@hsl-fi/sass/colors';
@import '~@hsl-fi/sass/mixins/screen';
@import '~@hsl-fi/sass/mixins/text';

$zindex: base, map-container, map-gradient, map-fullscreen-toggle, map-buttons,
  context-panel, search-panel, search-overlay, stop-route-station-input,
  destination-input, viapoint-input-5, viapoint-input-4, viapoint-input-3,
  viapoint-input-2, viapoint-input-1, origin-input, search-input-focus,
  search-input-icon, rectangle, autosuggest-suggestion-container, front;
$favourite-highlight-background-color: #f2f5f7;

.button-shared {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

.shimmer-shared {
  display: flex;
  align-items: center;
  overflow: hidden;

  .shimmer {
    border-radius: 5px;
  }
}

.favourite-container {
  display: flex;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 50px;
  flex-shrink: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .favourite-content {
    @extend .button-shared;

    width: auto;
    min-width: 0;
    flex: 1;
    flex-grow: 1;
    height: 100%;
    position: relative;
    padding: 0;
    margin-right: 8px;
    overflow: hidden;

    & > div {
      @extend .shimmer-shared;
    }

    .icon {
      display: flex;
      width: 50px;
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-shrink: 1;

      @media screen and (min-width: 375px) {
        flex-shrink: 0;
      }

      svg {
        width: 20px;
        height: 20px;
        position: relative;
        left: 2px;
      }

      &.place {
        svg {
          width: 24px;
          height: 24px;
        }
      }

      &.home,
      &.school,
      &.sport,
      &.shopping {
        svg {
          width: 18px;
          height: 18px;
        }
      }

      &.work {
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    .favourite-location {
      white-space: nowrap;
      overflow: hidden;
      text-align: start;
      width: 100%;
      flex-direction: row;

      .name {
        font-family: 'Gotham Rounded A', 'Gotham Rounded B', Roboto, Arial,
          Georgia, serif;
        font-size: 15px;
        margin-right: 6px;
        font-weight: var(--font-weight-medium);
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: -0.6px;
        color: #333;
        margin-top: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:empty {
          margin-top: 0;
        }
      }

      .address {
        font-family: 'Gotham Rounded A', 'Gotham Rounded B', Roboto, Arial,
          Georgia, serif;
        font-size: 12px;
        margin-right: 6px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: -0.48px;
        color: #666;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .expandButton {
    @extend .button-shared;

    height: 100%;
    width: 42px;
    flex-shrink: 0;
    overflow: hidden;
    padding: 0;

    & > div {
      @extend .shimmer-shared;

      justify-content: center;
    }

    &.plus {
      svg {
        width: 16px;
        height: 16px;
      }
    }

    &.arrow {
      svg {
        width: 19px;
        height: 19px;
        transform: rotate(90deg);
      }

      &.rotate {
        svg {
          transform: rotate(-90deg);
        }
      }
    }
  }
}

.favourite-suggestion-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 9px;

  .divider {
    display: block;
    height: 6px;
    background-color: #f2f5f7;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .favourite-suggestion-list {
    max-height: 30vh;
    list-style-type: none;
    padding: 0;
    position: absolute;
    z-index: index($zindex, autosuggest-suggestion-container);
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .favourite-suggestion-item {
    &.custom {
      font-size: 15px;
      font-weight: var(--font-weight-medium);
      letter-spacing: -0.5;
    }
  }

  .favourite-suggestion-item:hover {
    background-color: $favourite-highlight-background-color;
  }
}
