@import '~@hsl-fi/sass/colors';
@import '~@hsl-fi/sass/mixins/screen';
@import '~@hsl-fi/sass/mixins/text';

$favourite-icon-column-border-color: #d9d9d9;
$favourite-icon-border-radius: 5px;

$selected-icon-font-color: #fff;

$selected-icon-background-color: #333;
$not-selected-icon-background-color: #fff;

.generic-table > .row {
  display: flex;
}

.generic-table__label-container{
  font-size: 0.8rem;
  margin-top: 3px;
  color: #666;
  height: 16px;
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto;
}

.favourite-icon-table-column {
  cursor: pointer;
  flex: 1;
  align-items: center;
  padding: 0;
  background: $not-selected-icon-background-color;
  float: left;
  height: 50px;
  margin: 0;
  line-height: 1;
  text-align: center;
  font-size: 17px;
  border-top: solid 1px $favourite-icon-column-border-color;
  border-bottom: solid 1px $favourite-icon-column-border-color;
  border-right: solid 1px $favourite-icon-column-border-color;
  border-left: none;

  &.place {
    svg {
      width: 24px;
      height: 24px;
    }
  }
  &.work {
    svg {
      width: 20px;
      height: 20px;
    }
  }
  &.home, &.school, &.sport, &.shopping {
    svg {
      width: 18px;
      height: 18px;
    }
  }

  &:active, &:hover, &:focus, .selected-icon {
    background: $selected-icon-background-color;
    color: $selected-icon-font-color;
  }
}

.favourite-icon-table-column:first-child {
  border-left: solid 1px $favourite-icon-column-border-color;
  border-top-left-radius: $favourite-icon-border-radius;
  border-bottom-left-radius: $favourite-icon-border-radius;
}

.favourite-icon-table-column:last-child {
  border-top-right-radius: $favourite-icon-border-radius;
  border-bottom-right-radius: $favourite-icon-border-radius;
}

.favourite-icon-table-column.selected-icon {
  background: $selected-icon-background-color;
  color: $selected-icon-font-color;
}
