@font-face {
  font-family: 'Heebo Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Heebo Regular'), url('../../../static/assets/fonts/Heebo-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Heebo Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Heebo Thin'), url('../../../static/assets/fonts/Heebo-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Heebo Light';
  font-style: normal;
  font-weight: normal;
  src: local('Heebo Light'), url('../../../static/assets/fonts/Heebo-Light.woff') format('woff');
}

@font-face {
  font-family: 'Heebo Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Heebo Medium'), url('../../../static/assets/fonts/Heebo-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Heebo Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Heebo Bold'), url('../../../static/assets/fonts/Heebo-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Heebo ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Heebo ExtraBold'), url('../../../static/assets/fonts/Heebo-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Heebo Black';
  font-style: normal;
  font-weight: normal;
  src: local('Heebo Black'), url('../../../static/assets/fonts/Heebo-Black.woff') format('woff');
}
