.klaro {
  position: sticky;
  z-index: 9999;
}

.klaro .cookie-modal {
  bottom: 0;
  height: auto;
  margin: 0 auto;
  max-width: 1240px;
  right: 0;
  top: unset;
  width: 100%;
}

.klaro .cookie-modal .cm-bg {
  display: none;
}

.klaro .cookie-modal .cm-modal.cm-klaro {
  border: 1px solid #e0e0e0;
  border-radius: 0;
  box-shadow: none;
  transform: none;
  margin: 0 0 0 auto;
  max-height: 100vh;
  max-width: 600px;
  position: relative;
}

.klaro .cookie-modal .cm-modal .cm-header {
  border-bottom: none;
}

.klaro .cookie-modal .cm-modal .cm-footer {
  border-top: none;
}

.klaro .cookie-modal .cm-modal .cm-header h1.title {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  hyphens: auto;
  line-height: 48px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.klaro .cookie-modal a {
  color: $primary-color;
}

.klaro .cookie-modal .cm-modal .cm-body ul.cm-purposes li.cm-purpose span.cm-list-title {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.klaro .cookie-modal .cm-list-description {
  color: #000;
  font-size: 1rem;
}

.klaro .cookie-modal .cm-services .cm-caret a {
  color: $primary-color;

  &::after {
    content: url('data:image/svg+xml;utf8,<svg style="fill: rgb(218, 27, 27);" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path class="path1" d="M845.224 212.621 512.003 545.856 178.779 212.621c-40.901-40.901-107.212-40.901-148.113 0-40.901 40.901-40.897 107.212 0 148.109l481.333 481.326L993.332 360.73c40.901-40.901 40.901-107.212 0-148.109-40.897-40.904-107.212-40.901-148.109 0z"></path></svg>');
    display: inline-block;
    height: 10px;
    left: 5px;
    position: relative;
    top: 1px;
    width: 10px;
  }
}

.klaro .cookie-modal .cm-services .cm-caret a > span,
.klaro .cookie-modal .cm-modal .cm-body ul.cm-purposes li.cm-purpose p.purposes,
.klaro .cookie-modal .cm-list-label .cm-switch,
.klaro .cookie-modal .cm-footer .cm-powered-by {
  display: none !important;
}

.klaro .cookie-modal .cm-list-input {
  opacity: 0.5;
  width: 24px;
  height: 30px;
}

.klaro .cookie-modal .cm-modal .cm-body ul.cm-purposes li.cm-purpose,
.klaro .cookie-modal .cm-modal .cm-body ul.cm-purposes li.cm-service {
  padding-left: 34px;
}

.cm-modal .cm-body ul.cm-purposes li.cm-purpose .cm-services .cm-content.expanded {
  padding-left: 40px;
  padding-right: 40px;
}

.cm-modal .cm-body ul.cm-purposes li.cm-purpose .cm-services .cm-content.expanded span.cm-list-title {
  font-weight: 600;
  line-height: 32px;
}

.klaro input[type="checkbox"] + label {
  margin: 0;
}

.klaro .cookie-modal .cm-btn.cm-btn-success,
.klaro .context-notice .cm-btn.cm-btn-success,
.klaro .cookie-notice .cm-btn.cm-btn-success {
  background: none;
  border-color: #757575;
  border-radius: 24px;
  border-style: solid;
  border-width: 1px;
  color: #757575;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .75px;
  line-height: 16px;
  margin: 0 0 40px;
  padding: 16px 64px;
  transition: all .5s ease-in-out;

  &:hover {
    border-color: #000;
    color: #000;
  }
}

.klaro .cookie-modal .cm-modal .cm-footer-buttons {
  justify-content: center;
}
