$primary-color: #007ac9;

.favourite-edit-modal-mobile-container {
  display: flex;
  flex-direction: column;
  .favourite-edit-modal-mobile-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 31px;
    .favourite-edit-modal-mobile-header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: inherit;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: -0.6px;
      text-align: center;
      color: #333333;
      margin-bottom: 34px;
    }
  }
}
