@import '../../base/waltti';

/* main theme colors */
$primary-color: #003580;
$secondary-color: darken($primary-color, 20%);
$hilight-color: rgb(253, 185, 19);
$action-color: $primary-color;
$bus-color: $primary-color;
$viewpoint-marker-color: $primary-color;
$current-location-color: $primary-color;

$standalone-btn-color: $primary-color;
$link-color: $primary-color;

/*Component palette*/
$desktop-title-color: $primary-color;
$desktop-title-arrow-icon-color: $secondary-color;
$top-bar-color:  #003580;
