@import '../../base/waltti';

/* main theme colors */
$ouluColor: #c40065;

$primary-color: $ouluColor;
$secondary-color: darken($primary-color, 20%);
$hilight-color: $ouluColor;
$action-color: $ouluColor;
$bus-color: $ouluColor;
$viewpoint-marker-color: $ouluColor;

$standalone-btn-color: $primary-color;

/* Navbar logo */
$nav-logo: url('oulu-logo.png');
