@import '../default/theme';

/* main theme colors */
$ouluColor: #c40065;

$primary-color: $ouluColor;
$secondary-color: darken($primary-color, 20%);
$hilight-color: $ouluColor;
$action-color: $ouluColor;
$bus-color: $ouluColor;
$viewpoint-marker-color: $ouluColor;
/* Navbar logo */
$nav-logo: url(oulu-logo.png);
