@import '../default/theme';

/* main theme colors */
$primary-color: #c40065;
$secondary-color: #9b004b;
$hilight-color: #c40065;
$action-color: #f08c00;
/* Navbar logo */
$nav-logo: url(oulu-logo.png);
