@import '../../base/waltti';

/* main theme colors */
$ouluColor: #e10069;

$primary-color: $ouluColor;
$secondary-color: darken($primary-color, 20%);
$hilight-color: $ouluColor;
$action-color: $ouluColor;
$bus-color: $ouluColor;
$viewpoint-marker-color: $ouluColor;
$current-location-color: $primary-color;

$standalone-btn-color: $primary-color;
$link-color: $primary-color;

/*Component palette*/
$desktop-title-color: $primary-color;
$desktop-title-arrow-icon-color: $secondary-color;
$top-bar-color: $primary-color;
