/* Override foundation base */
$column-gutter: 20px;

/* Transparency settings */
$transparency: 0.5;
$transparent-color: $white;

/* Disable touch delay on ms-devices */
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  background-color: $background-color !important;
  font-family: $font-family;
  font-weight: $font-weight-normal;
  -webkit-font-smoothing: antialiased;
}

#main {
  background-color: $background-color;
}

.bus {
  color: $bus-color;
  fill: $bus-color;
}

.tram {
  color: $tram-color;
  fill: $tram-color;
}

.subway {
  color: $metro-color;
  fill: $metro-color;
}

.rail {
  color: $train-color;
  fill: $train-color;
}

.ferry {
  color: $ferry-color;
  fill: $ferry-color;
}

.cursor-pointer {
  cursor: pointer;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.transparent {
  background:rgba(0,0,0, $transparency) !important;
  color: $transparent-color !important;
}
