/* Override foundation base */
$column-gutter: 20px;

/* Transparency settings */
$transparency: 0.5;
$transparent-color: $white;

$spinner-size: 136px;

/* Disable touch delay on ms-devices */
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
body {
  background-color: $background-color !important;
  font-family: $font-family;
  font-weight: $font-weight-normal;
  -webkit-font-smoothing: antialiased;
}
#main {
  background-color: $background-color;
}
p {
  font-size: $font-size-normal;
  font-family: $body-font-family;
  font-weight: $font-weight-light;
  color: $black;
}
a {
  color: $link-color;
}

/* HEADINGS */
h1,
.h1 {
  font-family: $font-family-narrow;
  font-size: $font-size-xlarge;
  padding: 0.4em 0 0.2em;
  margin: 0;
  color:$black;
  font-weight: $font-weight-bold;
}
h2,
.h2 {
  font-family: $body-font-family;
  font-size: $font-size-large;
  color:$black;
  font-weight: $font-weight-bold;
  text-transform:none;
}

h3,
.h3 {
  color:$black;
  font-weight: $font-weight-normal;
  font-size: $font-size-normal;
  font-family: $body-font-family;
  line-height: $line-height-normal;
  margin: 0;
  text-transform: none;
}
h4,
.h4  {
  font-family: $body-font-family;
  font-weight: $font-weight-bold;
  font-size: 12px;
  text-transform: uppercase;
  line-height: $line-height-normal;
  color: $gray;
}
a h4,
a .h4 {
  color: $link-color;
}
h1 a {
  color: inherit;
  text-decoration: none;
}

/* SUB HEADERS */
.sub-header-h4 {
  font-family: $body-font-family;
  font-size: $font-size-small;
  font-weight: $font-weight-light;
  line-height: 1;
  margin: 0 !important;
  color: $dark-color;
}
.sub-header-h5  {
  font-family: $body-font-family;
  font-size: $font-size-xsmall;
  font-weight: $font-weight-light;
  margin: 0;
  color: $gray;
}

.route-list {
  padding: 0em 1em 0.25em;
  div {
    font-family: $font-family-narrow;
    font-size: 12pt;
    font-weight: $font-weight-bold;
    line-height: $line-height-normal;
  }
}

.transparent {
  background:rgba(0,0,0, $transparency) !important;
  color: $transparent-color !important;
}

div.spinner-loader {
  position: absolute;
  left: 50%;
  margin: $spinner-size*0.25 0 0 $spinner-size*-0.5;
  width: $spinner-size;
	height: $spinner-size;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIgAAACICAMAAAALZFNgAAAAw1BMVEUAAAD////xls/+9fv++fz////////////////xmdD1tN361u30rdr62u7////2u+D3wePzqNf////////yndL////////4yeb////////3xuX////////////yoNTzo9X////////////////////////5zun74/L86fX////////////////////////////////////////////////////////////97ff////////////////////////////wks2WEDdiAAAAQHRSTlMAs/y5t7KAGU354srnx6zd2Os2AfWwH9KnktVpDw3y8CikhXpjIs/Dv5ZxMQdRoJyLdDoECl5BLrwmFW5FmFtK7AF8pAAABplJREFUeNrE1+l6mlAQBuD5OAcQQVAUwX3fkhjjkj1tuf+ramubPhlAExXo+zMx8WPOzAB0ru1ks2yNhotBYAN2MFgMR63lZrKlHG37hfXCQyJvsS4855JGL2g2fpubTceqdA1FCUNFMboVy2mac/xmawWdMlX/vthnmBZ7SphI6RWn+zSL73XKSKfQACCmRSP8hFGcCgCNQofSN7myAeFXwi+q+AKwryaUrushgJIVnsQqARheU3oe7wDZrIUnqzUlcPeYVocOAeEo4VkURwDDNPq23fJYjLOieK02XehhAPhKeBGlCQwe6BIvGlDqhhfrlgDthc62CSCKYSqKAsGGznPzCphGmBLDBF5v6Ax6A/JoOWqW45uzJyEAIZ5mpu9YtaNFkWjoZ6ywAPOD3aFUyiWJBLJUrigHO2WO4OT19ubBVA7dScx9iFttXHD7emdHtOvofbcw1m73YcxDdyPFhPdGp6jeA+UwkWUCUBtjt00J2u64oQIwrTBRGbivnpCjBRQTi1EWgKe9temI9pvmAaJsJDYK0Kp+OccVpJXUnb7k9/bjTwzSryVVVOKq+vUclYRq+BLqqE9f1B+pkH5CVSosyfFzkb0wxhFQ1zqdQF+rEE4Y05NfO537pHr0ZoBWpxPVNWDWS6rJPX3qB1BJavaVS2e4XgHlpCQ/Pv1LNT4vtRnU8Q2d5WasYlaLz473SEfpQfwCLIFVn87WX0FY8RIH+tH8DZgJxzLa0QV2o4TjMdE4VuNXzJWQUaZQl1W6SHWpYhr9v3O80kEbyG7k8yXYLl3MtVGKJOlKbOiAlwDFWI7BhFLwGMSSFBG8UDINZizHrU6pqN/GkpjQKNEDhJFmDk6PJTEEHihBexA9mCkGOqVGH2AaPZxBm+JaKEXn1p5Qiup2dIpLaCV8TAVfgBZUl1LlqrD4yoZap6ghmvxDAktK2RKCX2wTw9h8QfBWmmFUpZRVR5jxcRB4JO4OTqRBVjtK3W4VaRMHd8RcRwrSg9qnDPRV9CIluY50iBM5mDFlYhw5HId3yQRS4b9e3VAmblb8khWJjzviCs3IznMpI25kfzdxRf90bL5DfGiUGQ0+3yV2h94V+FKtSbVOmamrssbXa4HeNWDxgqwpQ2teEguNfxn57BpS1SlDuioNPsHv9b/nEcsYUaZGKPMD+E5/fEOFJ+xTpvr8BCr4Rns6RPTMshTvSQH978xMo12cpfiUTv9+o8aezAx4HcpYx4PBntQ0+mVrx36asfi121siesacP1s/UOYe+PvCHM+xFlGk2qbMtVWpxJpkzcpUwR3l4I5tjOJ+lS/QY9tsTDkYs53Ww4Jo60Fhw+tSDlw2wAq8LU14r0q0KQdtSN6tE9qwBq7hlnJxixob1Q0t0WT7XaNcaGzLN7GkFhz2sDqmXIwjX9uiEYvmo0C5KMBnBzGiIZtoEy7lwoXJtteQFuiy95lnysUze7/pYkEDdst7gk650PHEbnsDCtg+E+hQLjoQbKMFZEeC7CgXO0gWxCYg/ACgfMS+9z8GUT5WBP/vaH42cz69CQJBFGcsoEkbLy0WsYVKw0HBBjWoxVr7/T9VezDRHZb/sK+/M4dNFpadmfceebe/3zHuZSXn9oi3cZ8v6e5NO3yOO9CIDu5lHQeiBe6I/0N3vMHAc3Qi8nE/PZF33DVAZIa7GImscFdFkQ3s8swIYOWEiLUFFVgJiSxwJafIGlaEk8gI1pZgfMIaNSLjLax1JWLKm3lnrWfOxBjB2puMIarhyzjBWuCM7+tQ4EfpUIAYE9SYhDFFDY6IMUKN0hjjV9BwkbNEjVs5AWgAzfFRI3lOCBIpcOJy2ca6e9nGmjLsMUKWDD5I2sMxJtXETuyx1mKnDDOM/CvD/KWyIC7VOiL9oCw7iEQwi6leNPlmUxY7rScjDTuRkUrYIIS1Eo4AqbGMaaRefC3DHjaSo1vN5egWyTD25VWYLhfohw0F+nLOyi0LcpJ2Jo5lPRPH0qAcZo9qbS051DPYtDf6FKxDkfVpZ1rEYPvSnRksTvLMYElsUCHJY1/2uEjToqs9rgTrS4VhsBw77NFCWWNF02G/ptLL8KeUY9S/zdY9lG/LRonx2NWpGDNtbcV2Klmxn6mI+U6ZOd2jXJg5vSlBNbv+gHLxgw4DDO6cp4YL4QEG7SMd7h/qbg2PdFAScuEQRxJyoSD2g3++Xcd+8CCUEwtCyT3QTgVBKH1Fw7Ajvs9oGB6Ws/oHYTlifFB8jQ+K28UH/QKTdq7XK/KR+AAAAABJRU5ErkJggg==');
  animation: spin 4s linear infinite;
}

.spinner-loader.small {
  background-size: cover;
  left: 60%;
  width: $spinner-size*0.58;
  height: $spinner-size*0.58;
}

@keyframes spin {
  100% { transform:rotate(360deg); }
}
hr  {
  clear:both;
}

body select  {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='9' height='9' viewBox='0 0 1024 1024'><path stroke='#{rgba($primary-font-color, 1)}' fill='#{rgba($primary-font-color, 1)}' class='path1' d='M845.224 212.621l-333.221 333.235-333.224-333.235c-40.901-40.901-107.212-40.901-148.113 0v0c-40.901 40.901-40.897 107.212 0 148.109l481.333 481.326 481.333-481.326c40.901-40.901 40.901-107.212 0-148.109v0c-40.897-40.904-107.212-40.901-148.109 0z'></path></svg>");
  background-position: right 10px top 50%;
  margin-bottom: 0;
}

.no-select {
  user-select: none;
}

/*
  Style Guidelines Page
*/
.code {
  font-family: monospace;
  color: crimson;
  font-weight: 400;
  padding: 0 10px;
  font-size: 16px;
}
.color-code {
    display: inline-block;
    padding-bottom: 20px;
}
.color-palette  {
  margin-bottom:-20px;
}
.sub-header {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
}
