$border-radius-rounded: 30px;

.card {
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: $border-radius;
  margin-bottom: 5px;
}

.card-header {
  background-color: $white;
  margin-bottom: 0.3em;
  h3 {
   margin: 0;
 }
}


.show-more {
  text-align: center;
  text-transform: uppercase;
  border-radius: $border-radius-rounded;
  background: $gray-blue-light;
  color: $white;
  font-family: $body-font-family;
  font-size: $font-size-small;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 0;
  &:hover,
  &:focus {
    background-color: $gray-blue-light;
    outline: 0;
  }
}
