/* Using these avoids making mistakes when some font settings are inherited
   from a parent using different font-family. */

@mixin font-book {
  font-family: $font-family;
  font-weight: $font-weight-book;
  letter-spacing: $letter-spacing;
}

@mixin font-medium {
  font-family: $font-family;
  font-weight: $font-weight-medium;
  letter-spacing: $letter-spacing;
}

@mixin font-bold {
  font-family: $font-family;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing;
}

@mixin font-map-container {
  font-family: $font-family;
  font-weight: $font-weight-map-container;
  letter-spacing: $letter-spacing;
}

@mixin font-narrow-book {
  font-family: $font-family-narrow;
  font-weight: $font-narrow-weight-book;
  letter-spacing: $narrow-letter-spacing;
}

@mixin font-narrow-medium {
  font-family: $font-family-narrow;
  font-weight: $font-narrow-weight-medium;
  letter-spacing: $narrow-letter-spacing;
}
