/*
  Helper Classes
  These classes may be used through out the application on any DOM-element
*/

/* COLOR */
.airplane {
  color: $airplane-color;
}
.bus {
  color: $bus-color;
}
.tram {
  color: $tram-color;
}
.subway {
  color: $metro-color;
}
.rail {
  color: $rail-color;
}
.ferry {
  color: $ferry-color;
}
.citybike {
  color: $citybike-color;
}
.citybike_walk {
  color: $citybike-color;
}
.walk {
  color: $walk-color;
}
.bicycle {
  color: $bicycle-color;
}
.bicycle_walk {
  color: $bicycle-color;
}
.from {
  color: $from-color;
}
.realtime {
    color: $realtime-color;
}
.to {
  color: $to-color;
}
.gray {
  color: $dark-color;
  p {
    color: $dark-color;
  }
}

/* Positioning */
.left {
  float: left;
}
.right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.inline-block {
  display: inline-block;
}
.clear  {
  float:none;
  clear:both;
}
// parent DOM-element requires overflow:hidden; height: x;
.scrollable {
  overflow: auto;
  height: 100%;
  padding-bottom: 20px;
}
.fullscreen {
  height: 100%;
}
.padding-small  {
  padding: 0.45em 1em;
}
.padding-normal  {
  padding: 0.7em 1em;
}
.padding-vertical-small {
  padding: 0.45em 0;
}
.padding-vertical-normal  {
  padding: 0.7em 0;
}
.padding-horizontal  {
  padding: 0 1em;
}
.no-padding  {
  padding: 0 !important;
}
.no-margin  {
  margin: 0 !important;
}
/* Appearance */
.cursor-pointer {
  cursor: pointer;
}
.dashed-underline {
  border-bottom: 1px dashed $dark-color;
}
.bold {
  font-weight: $font-weight-bold;
}
.no-decoration  {
  text-decoration: none;
}
.large-text {
  font-size: 1.1em;
}
.uppercase  {
  text-transform: uppercase;
}
.hover  {
  &:hover {
    opacity:0.8;
    transition: 0.1s ease-in-out;
  }
}
.hide-dropdown  {
  background-image: none;
}
.large-icon {
  width: 20px;
  height: 20px;
}
body .large {
  //font-size: 23px;
  & .icon {
    width: 20px;
    height: 20px;
  }
}
.border-bottom  {
  border-bottom: 1px solid $light-gray;
}
.border-dashed  {
  border: 1px dashed $light-gray;
}
