/*
  Helper Classes
  These classes may be used through out the application on any DOM-element
  Foundation css is loaded before this
*/

@media #{$small-up} {
  // https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/
  .momentum-scroll {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

@media #{$large-up} {
  .momentum-scroll {
    overflow-y: auto;
  }
}

@media #{$small-only} {
  #app .modal  {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  @-ms-viewport {
    width: 330px;
  }
}


button.modest {
  position:relative;
  display: inline;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-size: small;
  display: flex;
  justify-content: center;
  text-align: initial;
  background: none;
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: inherit;
  position: relative;
  background-color: inherit;
  transition: none;
  color:inherit;

  &:focus {
    background-color: inherit;
    color:inherit;
  }
  &:active {
    background-color: inherit;
    color:inherit;
  }
}
