/* This might come in handy: 
 * https://mothereff.in/html-entities
 */

.icon-vehicle-font-family {
  font-family: $icon-font-family-1;
} 

.icon-other-font-family {
  font-family: $icon-font-family-2;
} 

i.icon {
  font-style: normal;
  vertical-align: middle;
}

i.icon.icon-hsl-logo:before {
  @extend .icon-other-font-family;
  content: '1';
}

i.icon.icon-hamburger:before {
  @extend .icon-other-font-family;
  content: ')';
}

i.icon.icon-favourite:before {
  @extend .icon-other-font-family;
  content: '(';
}

i.icon.icon-arrow-right:before {
  @extend .icon-other-font-family;
  content: 'D';
}

i.icon.icon-disruption-info:before {
  @extend .icon-other-font-family;
  content: 'S';
}

i.icon.icon-profile:before {
  @extend .icon-other-font-family;
  content: 'H';
}

i.icon.icon-search:before {
  @extend .icon-other-font-family;
  content: '`';
}

i.icon.icon-clear:before {
  @extend .icon-other-font-family;
  content: '|';
}

i.icon.icon-location:before {
  @extend .icon-other-font-family;
  content: '1';
}

/* Vehicle icons */

i.icon.icon-bus:before {
  @extend .icon-vehicle-font-family;
  content: '2';
}

i.icon.icon-tram:before {
  @extend .icon-vehicle-font-family;
  content: '3';
}

i.icon.icon-train:before {
  @extend .icon-vehicle-font-family;
  content: '4';
}

i.icon.icon-metro:before {
  @extend .icon-vehicle-font-family;
  content: '5';
}

i.icon.icon-ferry:before {
  @extend .icon-vehicle-font-family;
  content: '6';
}