$zindex: base, map-container, map-gradient, map-fullscreen-toggle,
  map-buttons, mobile-drawer, mobile-drawer-drag-line, context-panel, search-panel, search-overlay, stop-route-station-input, destination-input,
  viapoint-input-5, viapoint-input-4, viapoint-input-3, viapoint-input-2,
  viapoint-input-1, origin-input, search-input-focus, search-input-icon, autosuggest-suggestion-container, click-prevent-overlay, front;
$leaflet-overlay: 800;
