// ============================================================================
// TrafficNow Shared Components
// ============================================================================

// Validity status component
.disruption-status {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-xxs);

  .separator.vertical {
    align-self: stretch;
  }
}

.badge-container {
  position: relative;
  display: inline-flex;

  .fav-icon {
    position: absolute;
    top: -8px;
    right: -4px;
  }

  a {
    display: flex;
    flex-direction: row;
    gap: var(--space-xxs);
    align-items: center;
    background-color: color-mix(in srgb, currentcolor, white 90%);
    border-radius: var(--radius-s);
    padding: var(--space-xs) var(--space-xs);
    text-decoration: none;
    height: $badge-height;
    min-width: $badge-height;
    justify-content: center;

    &.highlight {
      border: 1px solid $standalone-btn-active-color;
    }

    &:hover {
      background-color: color-mix(in srgb, currentcolor, white 80%);
    }
  }
}

// Route badges, departure badges, badge groups
.badges {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-fixed-xs);

  &__group {
    display: flex;
    flex-direction: row;
    gap: var(--space-xxs);

    .icon.stop {
      margin: 0 calc(-1 * var(--space-xxs));
    }
  }

  &__headsign-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-xxs);
    align-items: center;

    &--route {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--space-xxs);
    }
  }

  &__departure-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);

    &.inline {
      flex-direction: row;
      gap: var(--space-xxs);
    }

    &__date-group {
      display: flex;
      flex-direction: column;
      gap: var(--space-xs);

      &.inline {
        flex-direction: row;
        gap: var(--space-xxs);
      }

      .departures-date-badge {
        background-color: #f2f5f7;
        border-radius: var(--radius-s);
        padding: var(--space-xxs) var(--space-xs);
        display: flex;
        flex-direction: row;
        gap: var(--space-xxs);
        width: fit-content;
      }

      .departuretimes {
        display: flex;
        flex-direction: row;
        gap: 4px;
      }
    }
  }

  &__departure-date {
    padding: var(--space-xxs) var(--space-xs);
    justify-content: center;
  }

  &__departure-time {
    padding: var(--space-xxs) var(--space-fixed-xs);
    color: $cancelation-red;
    text-decoration: line-through;
    border-radius: var(--radius-s);
    border: 1px solid $light-gray;
    background: $white;

    > span {
      color: $gray;
    }
  }
}
