@import '../../base/waltti';

/* main theme colors */
$primary-color: #61ABC7;
$secondary-color: darken($primary-color, 20%);
$hilight-color: $primary-color;
$action-color: $primary-color;
$bus-color: $primary-color;
$viewpoint-marker-color: $primary-color;

$standalone-btn-color: $primary-color;

$nav-logo: url('logo.png'); /* Navbar logo */
$splash-background-img: url('../kuopio/background-map-kuopio.png');
