@import '../../base/waltti';

/* main theme colors */
$primary-color: #0ab1c8;
$secondary-color: #724f9f;
$hilight-color: $primary-color;
$action-color: $primary-color;
$bus-color: $secondary-color;
$viewpoint-marker-color: $primary-color;
$current-location-color: $secondary-color;

$standalone-btn-color: $primary-color;
$link-color: $primary-color;

/*Component palette*/
$desktop-title-color: $primary-color;
$desktop-title-arrow-icon-color: $secondary-color;
$top-bar-color: $primary-color;
