@import '../../base/waltti';

/* main theme colors */
$primary-color: #ea4097;
$secondary-color: #3c974c;
$hilight-color: $primary-color;
$action-color: $primary-color;
$bus-color: $primary-color;
$viewpoint-marker-color: $primary-color;
$current-location-color: $primary-color;

$standalone-btn-color: $primary-color;
$standalone-btn-hover-color: $secondary-color;
$standalone-btn-active-color: $secondary-color;
$link-color: $primary-color;

/*Component palette*/
$desktop-title-color: $primary-color;
$desktop-title-arrow-icon-color: $secondary-color;
$top-bar-color: $primary-color;

/* Navbar logo dimensions */
$nav-logo-width: 240px;
$nav-logo-height: 60px;
