@import '../../base/waltti';

/* main theme colors */
$primary-color: #7AB92A;
$secondary-color: #609020;
$hilight-color: $primary-color;
$action-color: $primary-color;
$bus-color: $primary-color;
$viewpoint-marker-color: $primary-color;

$standalone-btn-color: $primary-color;

