/* stylelint-disable */
@import '~@hsl-fi/sass/colors';
@import '~@hsl-fi/sass/mixins/screen';
@import '~@hsl-fi/sass/mixins/text';

$primary-color: #007ac9;

$zindex: base, map-container, footer, map-gradient, map-fullscreen-toggle,
  map-buttons, context-panel, search-panel, search-overlay, preferred-input, destination-input,
  viapoint-input-5, viapoint-input-4, viapoint-input-3, viapoint-input-2,
  viapoint-input-1, origin-input, search-input-focus, search-input-icon, rectangle, autosuggest-suggestion-container, front;

.autosuggest-panel {
  width: 100%;
}

.autosuggest-searchpanel-text {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.8px;
  color: #333333;
  margin-bottom: 17px;

  @include min-width(tablet) {
    letter-spacing: -0.8px;
    line-height: 27px;
    margin-bottom: 21px;
  }
}

.origin-input-container,
.destination-input-container {
  display: flex;
  flex: 1 0 100%;
  input[type='text'] {
    margin: 0;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.viapoints-container {
  display: flex;
  flex-direction: column;

  .viapoint-container {
    display: flex;
    flex: 1 0 100%;
    margin-top: 6px;
    min-height: 50px;
    .light-gray-background {
      display: flex;
      padding: 3px 0;
      flex-direction: column;
      background: #f4f4f5;
      border-radius: 5px;
      width: 100%;

      .viapoint-before {
        display: flex;
        min-width: 27px;
        justify-content: center;
        align-items: center;
      }

      .viapoint-input-container {
        display: flex;
        align-items: center;
        width: 100%;
        input[type='text'] {
          margin: 0;
        }
        &.viapoint-1 > div.viapoint {
          z-index: index($zindex, viapoint-input-1);
        }

        &.viapoint-2 > div.viapoint {
          z-index: index($zindex, viapoint-input-2);
        }

        &.viapoint-3 > div.viapoint {
          z-index: index($zindex, viapoint-input-3);
        }

        &.viapoint-4 > div.viapoint {
          z-index: index($zindex, viapoint-input-4);
        }

        &.viapoint-5 > div.viapoint {
          z-index: index($zindex, viapoint-input-5);
        }
      }
    }
  }
}

.viapoint-slack-time {
  font-size: 13px;
  font-weight: normal;
  letter-spacing: -0.36px;
  color: #333333;
  padding-left: 27px;
  padding-top: 12px;
  padding-bottom: 10px;
}

.select-wrapper {
  display: flex;
  height: 50px;
  margin-top: 9px;
  padding-left: 27px;
  padding-right: 47px;
}

.via-point-button-container {
  display: flex;

  & > div:nth-child(1) {
    order: 1;
    border-left: none;
  }
  & > div:nth-child(2) {
    order: 2;
    border-left: 1px solid rgba(151, 151, 151, 0.2);
  }
}

.input-viapoint-slack-container {
  display: flex;
  flex-direction: column;
}

.itinerary-search-control {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-height: 50px;
  cursor: pointer;
  & + .itinerary-search-control {
    border-left: 1px solid rgba(151, 151, 151, 0.2);
  }
  .opposite {
    height: 17px;
    min-width: 40px;
    svg {
      font-size: 16px;
    }
  }
  .add-via-point {
    height: 22px;
    min-width: 40px;
    svg {
      font-size: 16px;
    }
  }
  .add-via-point-slack {
    height: 19px;
    min-width: 47px;
  }
  .remove-via-point {
    min-width: 40px;
  }
}

.combobox-icon {
  color: $primary-color;
  border-left: solid #888888 1px;
  height: 35px;

  &.time-input-icon {
    padding: 9px 13px 0 13px;
      svg {
      width: 18px;
      height: 19px;
    }
  }
}

.rectangle-container {
  display: block;
  position: relative;
  height: 9px;
  z-index: index($zindex, 'rectangle');
  .rectangle {
    position: absolute;
    width: 4px;
    height: 21px;
    border-radius: 2px;
    background-color: #dddddd;
    margin-left: 25px;
    margin-top: -5px;
  }
}