$tab-color: $gray-blue;
$tab-selected-color: $black;
$tab-separator-color: $light-gray;
$tab-min-width: 100px;
$close-color: #79919D;
$heading-color: #858585;

.frontpage-panel-wrapper {
  position: absolute;
  top: 0;
  height: calc(100% - 48px);
  z-index: 1200;
  width: 100%;
  overflow: hidden;
  background-color: $background-color;

  .frontpage-panel {
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
  }

  .panel-top {
    display: flex;
    margin: 0.5em 1em 0 1em;

    .panel-heading {
      display: inline-block;
      h2 {
        margin: 0;
        color: $heading-color;
        text-transform: uppercase;
        font-size: $font-size-large;
      }
    }
    .close-icon {
      margin-left: auto;
      color: $close-color;
      display: inline-block;
      line-height: 2;
      cursor: pointer;
    }
  }
}

.content-marker > div:nth-child(3) {
    height:100%;
    > div {
      height:100%;
    }
    #scrollable-routes {
      min-height: 200px;
      height:calc(100% - 110px);
    }
}

.fpccontainer {
  position:absolute;
  top: 30px;
  right: 30px;
  z-index: 802;
  height: 100%;
  max-height: calc(100% - 60px);
  width: 340px;
}

.fpcfloat {
    height: 100%;

  .frontpage-panel.nearby-routes {
    background: #fff;
  }

  .frontpage-panel {
    border-radius: 8px;
    height: calc(100% - 60px);
    background: #eef1f3;
    .row {
      padding-top:10px;
      background: #eef1f3;
    }
    .next-departures-list-header {
      background: #eef1f3;
      padding:14px;
    }
    .next-departure-row {
      padding-left:20px;
      padding-right:20px;
    }
    .scrollable.nearby::before {
      background-image: linear-gradient(0deg, white, rgba(255, 255, 255, 0));
      content: '';
      width: 100%;
      height: 0.5em;
      position: absolute;
      right:0;
      bottom: 5px;
      z-index:1
    }
    .scrollable.nearby {
      height: calc(100% - 113px);
    }

    .scrollable.favourites {
      height: calc(100% - 152px);
      position: relative;
    }
  }

  > ul > li.selected {
    color: $primary-color;
  }
}

.frontpage-panel-container .tabs-row {
  z-index: 1201;
  width: 100%;
  position: relative;
  height:50px;
  background: $light-gray;
}


.tabs-row.bp-large {
  height: 49px;
  li {
    font-size: 15px;
  }

.selected::before {
  background: $primary-color;
  content: '';
  width: 140px;
  height: 2px;
  position: absolute;
  bottom: 50px;
  right:15px;
  z-index:1;
}

  li:nth-child(1) {
    border-top-left-radius: 8px;
  }

  li:nth-child(2) {
    border-top-right-radius: 8px;
  }

  li.favourites.selected {

    svg.favourites-icon {
      color: $primary-color;
    }
  }

}

.frontpage-panel-wrapper-enter {
  top: 100%;
  height: 0;
}

.frontpage-panel-wrapper-enter.frontpage-panel-wrapper-enter-active {
  top: 0;
  height: 100%;
  transition: top 300ms, height 300ms;
}

.frontpage-panel-wrapper-leave {
  top: 0;
  height: 100%;
}

.frontpage-panel-wrapper-leave.frontpage-panel-wrapper-leave-active {
  top: 100%;
  height: 0;
  transition: top 300ms, height 300ms;
}

.front-page { //small, mid
  display: flex;
  flex-direction: column;
}

.map-container {
    display: flex;
    flexBasis: 50%;
}

// <Tab> component
.tabs-navigation {
   width:100%;
   overflow:hidden;
   position:relative;
   text-transform: uppercase;
   padding: 10px 0;
}
.tabs-navigation ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
.tabs-navigation ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
   border-right: 1px solid $tab-separator-color;
   min-width: $tab-min-width;
   @include font-medium;
   font-size: 9pt;
}

.tabs-navigation li:last-child {
  border-right: none;
}

.tabs-navigation ul li a {
   color: $tab-color;
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   text-decoration:none;
   line-height:1.3em;
}

.tabs-navigation ul li a:hover {
   color: $tab-selected-color;
}
.tabs-navigation ul li.is-active a,
.tabs-navigation ul li a.selected:hover {
  color: $tab-selected-color;
}

div.route-tabs .tabs-navigation.bp-large {
  display: flex;
  margin: 0 20px;
  width: calc(100% - 40px);

  .route-number {
    flex: 1;
    width: auto;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 10px;

    .icon {
      font-size: 48px;
    }

    .vehicle-number {
      vertical-align: text-bottom;
      padding-left: 0.4em;
    }
  }

  a {
    font-size: 13px;
    min-width: 100px;
    padding: 20px 0 10px;

    .icon {
      width: 2em;
      height: 2em;
    }
  }

  a.is-active {
    border-bottom-width: 4px;
  }

  .route-page-header.favourite-icon {
    position: relative;
    width: auto;
    height: 30px;
    right: 0;
    top: 0;
    padding: 30px 10px 25px 20px;

    .icon {
      width: 30px;
      height: 30px;
    }
  }

}

li.favourites.selected {
  svg.favourites-icon {
    color: $favourite-color;
  }
}


.flex-grow {
  flex-grow: 1;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}
