$tab-color: $gray-blue;
$tab-selected-color: $black;
$tab-separator-color: $light-gray;
$tab-min-width: 100px;
$close-color: #79919D;
$heading-color: #858585;

.frontpage-panel-wrapper {
  position: absolute;
  top: 0;
  height: calc(100% - 48px);
  z-index: 1000;
  width: 100%;
  overflow: hidden;
  background-color: $background-color;

  .frontpage-panel {
    height: 100%;
    padding-bottom: 15px;
  }

  .panel-top {
    display: flex;
    margin: 0.5em 1em 0 1em;

    .panel-heading {
      display: inline-block;
      h2 {
        margin: 0;
        color: $heading-color;
        text-transform: uppercase;
        font-size: 18px;
      }
    }
    .close-icon {
      margin-left: auto;
      color: $close-color;
      display: inline-block;
      line-height: 2;
    }
  }
}

.frontpage-panel-container .tabs-row {
  position: fixed;
  z-index: 1001;
  bottom: 0;
}

.frontpage-panel-wrapper-enter {
  top: 100%;
  height: 0;
}

.frontpage-panel-wrapper-enter.frontpage-panel-wrapper-enter-active {
  top: 52px;
  height: calc(100% - 52px);
  transition: top 300ms, height 300ms;
}

.frontpage-panel-wrapper-leave {
  top: 52px;
  height: calc(100% - 52px);
}

.frontpage-panel-wrapper-leave.frontpage-panel-wrapper-leave-active {
  top: 100%;
  height: 0;
  transition: top 300ms, height 300ms;
}

.front-page {
  .map.fullscreen {
    height: calc(100% - 50px);
  }
}

// <Tab> component
.tabs-navigation {
   width:100%;
   overflow:hidden;
   position:relative;
   text-transform: uppercase;
   padding: 10px 0;
}
.tabs-navigation ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
.tabs-navigation ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
   border-right: 1px solid $tab-separator-color;
   min-width: $tab-min-width;
   @include font-medium;
   font-size: 9pt;
}

.tabs-navigation li:last-child {
  border-right: none;
}

.tabs-navigation ul li a {
   color: $tab-color;
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   text-decoration:none;
   line-height:1.3em;
}

.tabs-navigation ul li a:hover {
   color: $tab-selected-color;
}
.tabs-navigation ul li.is-active a,
.tabs-navigation ul li a.selected:hover {
  color: $tab-selected-color;
}

.scroll-extra-padding-bottom > div {
  padding-bottom: 5em;
}
