
  /* stylelint-disable */ 
  .text {
    display: flex;
    line-height: 1;
    font-size: 18px;
    padding-left: 13px;
    font-weight: 500;
    letter-spacing: -0.67px;
    color: #333333;
    margin-top: 0;


  }

  .banner {
    cursor: pointer;
    display: flex;
    margin-top: 0;
    padding: 9px 13px 9px 15px;
    justify-content: space-between;
  }

  .caution {
    margin-top: 0;

      display: flex;
  }
  