/* Calculate some extra width for typeahead results*/
$search-result-width: grid-calc($total-columns+1, $total-columns) + 1;
$search-result-background-color: $white;
$search-result-text-color: $black;
$search-result-text-font-weight: 300;
$search-result-text-highlight-color: $black;
$search-result-text-highlight-font-weight: 300;
$search-result-text-highlight-background-color: $background-color;
$search-result-border-radius: $border-radius;
$search-result-max-height: 130px;
$search-result-font-family: $font-family;
$search-result-icon-color: $gray;
$search-form-icon-color: $white;
$search-form-border-radius: $border-radius;
$search-form-transparency: $transparency;
$search-form-input-height: 35px;
$search-form-input-overlay-height: 27px;
$search-form-input-overlay-border-color: #E1E1E1;
$search-form-input-overlay-background-color: #EEF1F3;
$search-form-location-icon-size: 18px;

.search-form .icon {
  fill: $search-form-icon-color;
  vertical-align: middle;
}

.search-form {
  .navigate-or-input-messages {
    color: $gray-blue;
    border-bottom: 1px dotted;
    border-color: $gray-blue;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
  .navigate-or-input--or {
    color: $gray;
  }
  .navigate-or-input-icon--offline {
    fill: $gray-blue;
    font-size: $search-form-location-icon-size;
    margin-left: 5px;
    cursor: pointer;
  }
}

.abs-top {
  position:absolute;
  top: 0px;
}

.hidden {
  visibility:hidden;
}
.search-form .location .dashed {
  border-bottom: 1px dashed $search-form-icon-color;
}

.search-form .location .address {
  font-weight: 300;
}

.search-form {
  padding-top: 10px;
}

.search-form input, .search-form input:focus {
  margin-bottom: 0px;
  height: $search-form-input-height;
  border-top-left-radius: $search-form-border-radius;
  border-bottom-left-radius: $search-form-border-radius;
  padding-left: 15px;
  box-shadow: 1px 4px 5px rgba(0,0,0,0.2);
  transition: none;
}

.search-form > :not(.upper-search-form) > div input {
  /* These two will disable right border radius for Firefox f*/
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.search-form .upper-search-form input, .search-form .upper-search-form .input-placeholder {
  border-top-right-radius: $search-form-border-radius;
  border-bottom-right-radius: $search-form-border-radius;
}

.search-form .postfix {
  height: $search-form-input-height;
  line-height: $search-form-input-height;
  box-shadow: 1px 4px 5px rgba(0,0,0,0.2);
  .icon {
    font-size: 15px;
    margin-top: -4px;
  }
}

.search-form .switch-from-to {
  height: $search-form-input-height;
  line-height: $search-form-input-height;
  border-radius: $border-radius;
  background-color: rgba($dark-gray, 0.6);
  display: block;
  margin-left: 0.3em;
  font-size: 17px;
  .icon {
    margin-top: -4px;
  }
}

.search-form .input-placeholder {
    @include form-element();
    height: $search-form-input-height;
    line-height: $search-form-input-overlay-height;
    border-top-left-radius: $input-border-radius;
    border-bottom-left-radius: $input-border-radius;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.2);
}

.search-form .address-box {
    background-color: $search-form-input-overlay-background-color;
    border-radius: $form-input-border-radius;
    border: 1px solid $search-form-input-overlay-border-color;
    height: $search-form-input-overlay-height;
    padding-left: 5px;
    padding-right: 3px;
    font-weight: $font-weight-light;
    line-height: 23px;

    .icon {
      fill: $gray;
      vertical-align: sub;
      width: 1em;
      height: 1em;
      margin-right: 5px;
    }
}


.search-form .react-autosuggest__suggestions {
  background-color: $search-result-background-color;
  color: $search-result-text-color;
  font-weight: $search-result-text-font-weight;
  width: $search-result-width;
  font-family: $search-result-font-family;
  border-radius: $search-result-border-radius;
  list-style-type: none;
  padding: 5px;
  margin: 5px 0 0 0;
  max-height: $search-result-max-height;
  overflow: auto;
  box-shadow: 0px 1px 10px gray;
  z-index: 1100;
  position: relative;
}

.search-form .react-autosuggest {
  margin-bottom: 8px;
}

.search-form .react-autosuggest__suggestion--focused {
  color: $search-result-text-highlight-color;
  font-weight: $search-result-text-highlight-font-weight;
  background-color: $search-result-text-highlight-background-color;
}

.search-form .react-autosuggest__suggestion {
  padding: 0px 0 5px 0;
  margin: 0;
  cursor: pointer;
  height: 1.9em;
  overflow-x: hidden;
  white-space: nowrap;
}

.search-form .react-autosuggest__suggestion .icon {
  margin-right: 4px;
  fill: $search-result-icon-color;
}

.search-form .arrow-down {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid rgba(0,0,0,$search-form-transparency);
  position: absolute;
  left: 47%;
  z-index: 1;
}

.search-form-map-overlay {
  z-index: 802;
}

.navigate-or-input {
  background-color: $search-form-input-overlay-background-color;
}

.geolocation-bar-location-icon {
  font-size: $search-form-location-icon-size;
}

.address-box .geolocation-bar-location-icon svg.icon {
  fill: $hilight-color;
}
