/* Calculate some extra width for typeahead results*/
$search-result-width: grid-calc($total-columns+1, $total-columns) + 1;
$search-result-background-color: $white;
$search-result-text-font-family: $font-family;
$search-result-text-font-weight: $font-weight-book;
$search-result-text-letter-spacing: $letter-spacing;
$search-result-text-color: $black;
$search-result-text-highlight-color: $black;
$search-result-text-highlight-font-weight: $font-weight-book;
$search-result-text-highlight-background-color: $background-color;
$search-result-border-radius: $border-radius;
$search-result-max-height: 130px;
$search-result-icon-color: $gray;
$search-form-icon-color: $white;
$search-form-border-radius: $border-radius;
$search-form-transparency: $transparency;
$search-form-input-height: 35px;
$search-form-input-overlay-height: 27px;
$search-form-input-overlay-border-color: #E1E1E1;
$search-form-input-overlay-background-color: #EEF1F3;
$search-form-location-icon-size: 18px;
$search-header-height: 45px;

.search-form {
  padding-top: 10px;

 .postfix {
    height: $search-form-input-height;
    line-height: $search-form-input-height;
    box-shadow: 1px 4px 5px rgba(0,0,0,0.2);
    .icon {
      font-size: 15px;
      margin-top: 10px;
    }
  }

  .input-placeholder {
      @include form-element();
      height: $search-form-input-height;
      line-height: $search-form-input-overlay-height;
      border-top-left-radius: $input-border-radius;
      border-bottom-left-radius: $input-border-radius;
      box-shadow: 2px 4px 5px rgba(0,0,0,0.2);
  }

  .address-placeholder {
    color: $gray;
    background-color: transparent;
    border-radius: $form-input-border-radius;
    border: 0px;
    height: $search-form-input-overlay-height;
    padding-left: 5px;
    padding-right: 3px;
    line-height: $search-form-input-overlay-height;
  }
}

ul#react-whatever-suggest {
  @extend .momentum-scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  list-style-type: none;
  background: $white;
  border: 1px solid $white;
  border-radius: 4px;
  padding: 4px;
  z-index:1000;
  max-height: 9em;
  overflow-y: auto;
  margin-top: 10px;
  max-height: calc(100% - 20px);

  li {

    white-space: nowrap;
    overflow: hidden;

    & .search-result {
      display: block;
      height: 2.1em;
      line-height: 2.1em;
    }

    & .OldSearch {
      /* TODO add somehow border */
    }

    & .Favourite svg.icon {
      stroke: $favourite-color;
      fill: $favourite-color;
    }
  }

  .react-autowhatever__item {
    font-family: $search-result-text-font-family;
    font-weight: $search-result-text-font-weight;
    letter-spacing: $search-result-text-letter-spacing;
    padding:0.1em;
  }

  .react-autowhatever__item--focused {
    color: $search-result-text-highlight-color;
    font-family: $search-result-text-font-family;
    font-weight: $search-result-text-font-weight;
    letter-spacing: $search-result-text-letter-spacing;
    background-color: $search-result-text-highlight-background-color;
  }

  .react-autosuggest__suggestion {
    padding: 0px 0 5px 0;
    margin: 0;
    cursor: pointer;
    height: 1.9em;
    overflow-x: hidden;
    white-space: nowrap;
  }

  .react-autosuggest__suggestion .icon {
    margin-right: 4px;
    fill: $search-result-icon-color;
  }

  .autosuggestIcon {
    color: $medium-gray;
    padding-left: 3px;
    padding-right: 10px;
  }

}

.search-form-map-overlay {
  z-index: 802;
}

.geolocation-bar-location-icon {
  //height:16px;
//  margin-right: 10px;
}

.geolocation-bar-location-icon svg.icon {
  fill: $hilight-color;
  padding-top: 2px;
}

div.search-modal {
  z-index:10000;
  background:#EEF1F3;
  overflow: auto;
  width: 100%;
  height:100%;
  max-width: none;
  position: fixed;
  top: 0px;
  left: 0px;

  input[type="text"].react-autowhatever__input {
    border: 1px solid $gray;
    border-radius: 4px;
    height: $search-form-input-height;
    padding: 10px;
    outline: 0;
    appearance: none;
  }

}

.search-header {
  height: $search-header-height;
  line-height: $search-header-height;
  height: 100%;

  .search-header__category-text {
    color: $gray-blue;
    font-size: 11px;
    margin-left: 12px;
    margin-right: 6px;
    vertical-align: middle;
  }

  .search-header__back-arrow {
    position: absolute;
    color: $gray-blue;
    width: 30px;
    user-select: none;
  }

  .search-header__button {
    margin-bottom: 0;
    letter-spacing: -0.025em;
    font-size: 11px !important;
    font-weight: $font-weight-bold !important;
    font-family: $font-family !important;
    color: $gray-blue !important;
    height: $search-header-height !important;
  }

  .search-header__button--selected {
    @extend .search-header__button;
    color: $black !important;
  }

  .search-header-width-fix {
    margin-left: 30px !important;
    width: calc(100% - 30px) !important;
  }

  .search-header__tabs-root {
    > div:first-child {
      background-color: $background-color !important;
      line-height: 18px !important;
      @extend .search-header-width-fix;
    }
    > div:nth-child(2) { //hack, modify tabs in material ui to fix
      @extend .search-header-width-fix;
    }
    height: calc(100% - 30px)
  }


  .geolocation-selected {
    background-color: $background-color;
    padding: 4px;
    padding-bottom: 1px;
    border-radius: 2px;
    vertical-align: text-top;
    @include font-book
    > span:nth-child(1) {  //icon
      vertical-align: middle;
      margin-right: 10px;
      margin-left: 1px;
      color: $hilight-color;
    }
    > span:nth-child(2) {  //text
      vertical-align: top;
    }
    > span:nth-child(3) {  //close
      vertical-align: middle;
    }
  }

  .close-icon {
    color: $gray;
    > span {
      > svg {
        width: 14px;
      }
    }
  }

  .clear-icon {
    position: absolute;
    top: -3px;
    right: 0px;
    width: 25px;
    @extend .close-icon;
  }

  .geolocation {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    height: 27px;
    line-height: normal;
  }
}

.search-header-separator {
  border-left: 1px solid $light-gray;
  margin-left: 11px;
  height: 23px;
  display: inline-block;
  position: relative;
  bottom: -4px;
}
