/* Calculate some extra width for typeahead results*/
$search-result-width: grid-calc($total-columns+1, $total-columns) + 1;
$search-result-background-color: $white;
$search-result-text-color: $black;
$search-result-text-city-color: $gray;
$search-result-text-font-weight: 300;
$search-result-text-highlight-color: $black;
$search-result-text-highlight-font-weight: 300;
$search-result-text-highlight-background-color: $light-gray;
$search-result-text-match-color: $black;
$search-result-text-match-font-weight: 600;
$search-result-border-radius: $border-radius;
$search-result-max-height: 130px;
$search-result-font-family: $font-family;
$search-result-icon-color: $black;
$search-form-icon-color: $white;
$search-form-border-radius: $border-radius;
$search-form-transparency: $transparency;
$search-form-input-height: 40px;
$search-form-input-overlay-height: 30px;
$search-form-input-overlay-border-color: #E1E1E1;

.search-form .icon {
  fill: $search-form-icon-color;
  vertical-align: middle;
  width: 17px;
  height: 17px;
}

.search-form .location .dashed {
  border-bottom: 1px dashed $search-form-icon-color;
}

.search-form .location .address {
  font-weight: 300;
}

.search-form {
  padding-top: 15px;
}

.search-form input {
  margin-bottom: 0px;
  height: $search-form-input-height;
  border-top-left-radius: $search-form-border-radius;
  border-bottom-left-radius: $search-form-border-radius;
  /* These two will disable right border radius for Firefox f*/
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  padding-left: 15px;
}

.search-form .postfix {
  height: $search-form-input-height;
  line-height: $search-form-input-height;
}

.search-form .input-placeholder {
    @include form-element();
    height: $search-form-input-height;
    line-height: $search-form-input-overlay-height;
    padding-top: 5px;
}

.search-form .address-box {
    background-color: $secondary-color;
    border-radius: $form-input-border-radius;
    border: 1px solid $search-form-input-overlay-border-color;
    height: $search-form-input-overlay-height;
    padding-left: 5px;
    padding-right: 3px;

    .icon {
      fill: $gray;
      vertical-align: middle;
      width: 15px;
      height: 15px;
      margin-right: 5px;
    }
}


.search-form .react-autosuggest__suggestions {
  background-color: $search-result-background-color;
  color: $search-result-text-color;
  font-weight: $search-result-text-font-weight;
  width: $search-result-width;
  font-family: $search-result-font-family;
  border-radius: $search-result-border-radius;
  list-style-type: none;
  padding: 5px;
  margin: 5px 0 0 0;
  max-height: $search-result-max-height;
  overflow: auto;
  box-shadow: 0px 1px 10px gray;
  z-index: 1000;
  position: relative;
}

.search-form .react-autosuggest__suggestion--focused {
  color: $search-result-text-highlight-color;
  font-weight: $search-result-text-highlight-font-weight;
  background-color: $search-result-text-highlight-background-color;
}

.search-form .react-autosuggest__suggestion {
  padding: 0px 0 5px 0;
  margin: 0;
  cursor: pointer;
  height: 1.9em;
}

.search-form .react-autosuggest__suggestion .icon {
  margin-right: 4px;
  fill: $search-result-icon-color;
}

.search-form .react-autosuggest__suggestion strong {
  font-weight: $search-result-text-match-font-weight;
  color: $search-result-text-match-color;
}

.search-form .react-autosuggest__suggestion .city {
  color: $search-result-text-city-color;
}

/* Don't highlight city name */
.search-form .react-autosuggest__suggestion .city strong {
  color: $search-result-text-city-color;
  font-weight: $search-result-text-font-weight;
}

.search-form .arrow-down {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid rgba(0,0,0,$search-form-transparency);
  position: absolute;
  left: 47%;
  z-index: 1;
}

.search-form-map-overlay {
  z-index: 802;
}
