.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* ================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works because "fill" was set to "currentColor"
}
================================================================================ */

#icon-icon_bus .path1 {
	fill: rgb(255, 255, 255);
}
#icon-icon_bus .path2 {
	fill: rgb(0, 122, 201);
}

#icon-icon_ferry .path1 {
	fill: rgb(255, 255, 255);
}
#icon-icon_ferry .path2 {
	fill: rgb(0, 185, 228);
}

#icon-icon_mapMarker-location .path4 {
	fill: rgb(0, 185, 228);
}

#icon-icon_rail .path1 {
	fill: rgb(255, 255, 255);
}
#icon-icon_rail .path2 {
	fill: rgb(140, 71, 153);
}

#icon-icon_subway .path1 {
	fill: rgb(255, 255, 255);
}
#icon-icon_subway .path2 {
	fill: rgb(255, 99, 25);
}

#icon-icon_tram .path1 {
	fill: rgb(255, 255, 255);
}
#icon-icon_tram .path2 {
	fill: rgb(0, 152, 95);
}

