@import 'theme';
@import '../../main';

.external-link-container {
  position: relative;
  display: inline-block;
  line-height: 22px;
  font-size: 18px;
  margin: 0px;
  padding: 0px 6px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  a.external-link {
    display: inline-block;
    vertical-align: text-top;
    color: $white;
    font-size: $font-size-xxsmall;
    text-decoration: none;
  }
}

.carpool-offer-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-sub-header {
  display: block !important;
}

.carpool {
  color: $carpool-color;
}

.fg_icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.carpool-offer {
  white-space: initial;

  h2 {
    margin-left: 0px;
    color: black;
  }

  p {
    color: black;
  }
}

.carparks-exclude-container {
  display: flex;
  justify-content: center;

  .carparks-exclude-btn {
    margin: 10px 0;
    font-size: 0.9375rem;
  }
}

.sidePanelText {
  font-family: $font-family;
  margin: 30px;
  color: black;
}

.sidePanel-btn:hover {
  background-color: #666;
}

.sidePanel-btn {
  background-color: #9fc727;
  padding-top: 0.4em;
  padding-right: 0.7em;
  padding-bottom: 0.4em;
  padding-left: 0.7em;
  border-radius: 20px !important;
  color: white;
  border-style: solid;
  border-width: 0px;
  width: 120px;
}

input[type='radio'] {
  margin-right: 10px;
  width: 20px;
  height: 1.15em;
}

.radio-label {
  span {
    position: relative;
    top: -3px;
  }

  display: flex;
  align-items: center;

  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 32px;
    width: 32px;
    border: 2px solid #999;
    border-radius: 50%;
    transition: 0.2s all linear;
    margin-right: 15px;
  }

  input[type="radio"]:checked {
    border: 10px solid #000f94;
  }
}

.radio-label,
.phone-label {
  font-family: $font-family;
  font-size: inherit;
  color: inherit;
}

.phone-label {
  margin-bottom: 20px;
}

.carpool-checkbox {
  margin: 10px 0;
  div {
    .option-checkbox-container {
      .option-checkbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

#phone {
  width: 60%;
  height: 30px;
  border-radius: 5px;
  border: solid 1px #888888;
  background-color: #ffffff;
}

.gdpr-checkbox {
  & span {
    font-weight: bold;
    position: relative;
  }

  & label {
    top: 8px;
  }
}

#phone,
.phone-label {
  display: inline-block;
}

.delivery-takeaway {
  font-size: $font-size-normal;
}

.citybike {
  p.card-sub-header-address {
    margin: 3px 0;
  }
}

.last-updated {
  font-size: $font-size-xsmall;
  font-style: italic;
  color: $gray;
  padding-top: 5px;
}

.component-list {
  list-style: none;
  padding: 0;
  margin: $padding-medium 0;
  font-size: $font-size-small;
  color: $gray;

  td {
    vertical-align: top;

    &:first-child {
      color: lighten($gray, 10%);
      padding-right: 10px;
      white-space: nowrap;
    }
  }
}

.vehicle-popup {
  .direction {
    margin: -15px 0.5em 20px 5em;
  }
  .occupancy {
    padding: 0.5em;
    margin: -4px 0 10px 0;
    font-size: 14px;
  }
  .occupancy-icon {
    float: left;
    margin: 0 26px 0 10px;
  }

  .position-disclaimer {
    padding: 0.3em 1.3em 0.5em 1.3em;
  }
}

.charging-station-popup .content {
  font-size: 16px;
  margin: 10px 0;
}

.sidebar-info-container {
  padding: 0 26px 0 26px;
  display: flex;
  flex-direction: row;

  .icon-container {
    display: flex;
    align-self: center;
  }
}

.sidebar-info-icon {
  width: 16px;
  height: 16px;
}

.card-header-back-to-results {
  display: flex;
  flex-direction: row;
  padding: 16px;
  margin-bottom: 20px;

  .card-header-back-to-results-text {
    padding-left: 40px;
    padding-top: 4px;
    font-size: 16px;
    color: #666666;
  }
}

.card-header-image {
  position: relative;
  height: 200px;
  width: 100%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;

  img {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
  }
}

.divider {
  width: 100%;
  border-top: 1px solid #ccc;
  margin: 10px 0 10px 0;
}

.text-light {
  div {
    font-size: 13px;
  }

  .icon-container {
    display: flex;
    align-self: center;
  }

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 13px;
  color: #666666;
  margin: 5px 0 5px 0;
}

.text-alignment {
  align-self: center;
  padding-left: 10px;
}

.opening-times-container {
  padding-left: 58px;
}

.ticket-info-container.small {
  font-size: 12px;
}
