.opening-times-container {
  padding-left: 40px;
}

.booking-link{
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 0;

  .icon-container{
    display: flex;
    align-self: center;
  }
}
