/* stylelint-disable */ 
@import '~@hsl-fi/sass/colors';
@import '~@hsl-fi/sass/mixins/screen';
@import '~@hsl-fi/sass/mixins/text';

.suggestion-item-container {
  display: flex;
}

.mobile {
  height: 59px;
  margin: 0 10px;
  &.CurrentLocation {
    height: 50px;
  }
  &.SelectFromMap {
    height: 50px;
  }
}

li:not(:first-child) > div.suggestion-item-container {
  border-top: 1px solid #ddd;
}

li:last-child > div.suggestion-item-container.mobile {
  border-top: none;
}


.search-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 49px;

  .suggestion-result {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: absolute;
    padding-left: 49px;
    padding-right: 27px;
    .suggestion-name {
      margin: 0;
      font-weight: 500;
      color: #333333;
      font-size: 15px !important;
      letter-spacing: -0.5px;
      line-height: 1.5;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include min-width(tablet) {
        font-size: 13px !important;
        letter-spacing: -0.43px;
        line-height: 1;
      }

      &.favouriteCustom {
        color: #007ac9;
        font-size: 15px;
      }
    }

    .suggestion-name-normal {
      margin: 0;
      font-weight: normal;
      color: #333333;
      font-size: 15px !important;
      letter-spacing: -0.5px;
      line-height: 1.5;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include min-width(tablet) {
        font-size: 13px !important;
        letter-spacing: -0.43px;
        line-height: 1;
      }

      &.favouriteCustom {
        color: #007ac9;
        font-size: 15px;
      }
    }

    .suggestion-label {
      margin: 0;
      color: #666666;
      font-size: 13px !important;
      font-weight: 400;
      letter-spacing: -0.43px;
      line-height: 1.38;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include min-width(tablet) {
        font-size: 11px !important;
        letter-spacing: -0.37px;
        line-height: 1.64;
      }
    }
  }

  .arrow-icon {
    display: flex;
    width: 27px;
    align-items: center;
    position: absolute;
    right: 0;
    svg {
      width: 17px;
      height: 17px;
    }
    &.mobile {
      svg {
        width: 12px;
        height: 21px;
      }
    }
  }
}

.suggestion-icon {
  width: 49px;
  text-align: center;
  padding-top: 6px;
  // Default size
  svg {
    width: 22px;
    height: 22px;
  }
  .place, .busstop, .select-from-map {
    svg {
      width: 24px;
      height: 24px;
    }
  }
  .locate, .edit {
    svg {
      width: 22px;
      height: 22px;
    }
  }
  .star, .work {
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .school, .sport, .shopping {
    svg {
      width: 18px;
      height: 18px;
    }
  }
  .arrow {
    svg {
      width: 17px;
      height: 17px;
      transform: rotate(180deg);
    }
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
