$primary-color: #007ac9;

.favourite-modal-desktop-container {
  display: flex;
  flex-direction: column;
  .favourite-modal-desktop-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    .favourite-modal-desktop-header {
      width: 100%;
      padding: 46px 0 0 43px;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.33;
      letter-spacing: -0.6px;
      color: #333333;
    }
    .favourite-modal-desktop-close {
      cursor: pointer;
      height: 16px;
      margin: 20px 20px 0 0;
      text-align: right;
      svg {
        fill: $primary-color;
        width: 16px;
        height: 16px;
      }
    }
  }
  .favourite-modal-desktop-main {
    text-align: left;
    .favourite-modal-desktop-location-search {
      padding: 25px 44px 0 43px;
    }
    .favourite-modal-desktop-name {
      padding: 9px 44px 0 43px;

      .favourite-modal-desktop-input {
        display: flex;
        width: 100%;
        height: 44px;
        border-radius: 5px;
        border: solid 1px #888888;
        background-color: #ffffff;
        appearance: none;
        padding-left: 20px;
        font-size: 15px;
        line-height: 1.2;
        letter-spacing: -0.5px;
        color: #666666;
        &:focus {
          background: #fff;
          outline: none;
          border: solid 1px $primary-color;
          box-shadow: none;
        }
      }
    }
  }
  .favourite-modal-desktop-text {
    padding: 27px 0 0 44px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.53px;
    color: #333333;
  }
  .favourite-modal-desktop-icons {
    padding: 11px 44px 0 43px;
  }

  .favourite-modal-desktop-buttons {
    display: flex;
    flex-direction: column;
    padding: 31px 44px 0 43px;
    .favourite-modal-desktop-button {
      position: relative;
      width: 100%;
      height: 50px;
      font-size: 18px;
      font-weight: 500;
      line-height: 0;
      letter-spacing: -0.5px;
      border-radius: 25px;
      text-align: center;
      padding: 0;
      margin: 0;
      color: #fff;
      border-width: 0;
      transition: background-color 300ms ease-out;
      &.save {
        margin-bottom: 9px;
        &:active {
          background: $primary-color;
        }
        &.disabled {
          background: #bbb;
          &:active {
            background: #bbb;
          }
        }
      }
      &.edit {
        background: #fff;
        margin-bottom: 48px;
        border: solid 1px #888888;
        color: $primary-color;
        &:active {
          background: #fff;
        }
      }
    }
  }
}
