$primary-color: #007ac9;

.favourite-modal-mobile-container {
  display: flex;
  flex-direction: column;
  .favourite-modal-mobile-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 87px;
    border-bottom: 1px solid #ddd;
    .favourite-modal-mobile-back {
      z-index: 1;
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: center;
      text-align: left;
      margin: 0 0 0 20px;
      padding: 0;
      right: 0px;
      width: 40px;
      height: 40px;
      outline: none;
      border: 1px solid #ddd;
      border-radius: 20px;
      background: none;
      cursor: pointer;
      font-family: inherit;
      background-color: transparent;
      transition: none;
      svg {
        fill: $primary-color;
        width: 14px;
        height: 21px;
        transform: rotate(-180deg);
      }
      &:focus {
        background-color: transparent;
        color: inherit;
      }
      &:active {
        background-color: transparent;
        color: inherit;
      }
      &:hover {
        background-color: transparent;
        color: inherit;
      }
    }
    .favourite-modal-mobile-header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: inherit;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: -0.6px;
      text-align: center;
      color: #333333;
    }
  }
  .favourite-modal-mobile-main {
    text-align: left;
    .favourite-modal-mobile-location-search {
      padding: 30px 20px 0 20px;
    }
    .favourite-modal-mobile-name {
      padding: 9px 20px 0 20px;

      .favourite-modal-mobile-input {
        display: flex;
        width: 100%;
        height: 44px;
        border-radius: 5px;
        border: solid 1px #888888;
        background-color: #ffffff;
        padding-left: 20px;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: -0.5px;
        color: #666666;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &:focus {
          background: #fff;
          outline: none;
          border: solid 1px $primary-color;
          box-shadow: none;
        }
        &::placeholder {
          color: #666666;
          font-size: 15px;
        }
      }
    }
  }
  .favourite-modal-mobile-text {
    padding: 28px 0 0 20px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.53px;
    color: #333333;
  }
  .favourite-modal-mobile-icons {
    padding: 18px 20px 0 20px;
  }

  .favourite-modal-mobile-save {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 20px;
    .favourite-modal-mobile-button {
      position: relative;
      width: 100%;
      height: 50px;
      font-size: 18px;
      font-weight: 500;
      line-height: 0;
      letter-spacing: -0.5px;
      border-radius: 25px;
      text-align: center;
      padding: 0;
      margin: 0 0 30px 0;
      color: #fff;
      border-width: 0;
      transition: background-color 300ms ease-out;
      &:active {
        background: #0062a1;
      }
      &.disabled {
        background: #bbb;
        &:active {
          background: #bbb;
        }
      }
    }
  }
}
