div.overlay-with-spinner {
  background-color:rgba(255,255,255, 0.6);
  z-index: 2001;
  width:100%;
  height:100%;
  position: absolute;
  top: 0px;
  right: 0px;
  justify-content: center;
  display:flex;
  flex-direction: column;
  div {
    display:flex;
    height: 68px;
    justify-content: center;
    margin-bottom:20px;
  }
  span {
    text-align: center;
  }
}
