@import '~@hsl-fi/sass/colors';
@import '~@hsl-fi/sass/mixins/screen';
@import '~@hsl-fi/sass/mixins/text';
/* stylelint-disable */
.text {
  display: flex;
  line-height: 1;
  font-size: 18px;
  padding-left: 15px;
  font-weight: var(--font-weight-medium);
  letter-spacing: -0.67px;
  color: #333333;
  margin-left: -1px;

  @include min-width(tablet) {
    font-size: 20px;
  }

}

.banner {
  font-size: 16px;
  cursor: pointer;
  display: flex;
  margin-top: 0;
  @include min-width(tablet) {
    padding: 7px 13px 6px 16px;
  }
  padding: 6px 13px 6px 16px;
  justify-content: space-between;
}

.caution {
  margin-top: 0;
  display: flex;
}

.container {
  margin: 0;
}
