.stop-page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.stop-page.header {
  line-height: 1.67;
  background-color: $background-color;
  @include font-bold;
}

.desktop .stop-page.header {
  & > .h3 {
    font-size: 24px;
  }
  & .sub-header-h4 {
    font-size: 18px;
  }
}

.stop-page-content > .departure-list {
  flex-basis: 0;
  flex-grow: 20;
  transition: flex-grow 300ms;

  &.stop-page-content-enter, &.stop-page-content-leave {
    will-change: flex-grow;
  }

  &.stop-page-content-enter.stop-page-content-enter-active {
    flex-grow: 20;
  }

  &.stop-page-content-enter, &.stop-page-content-leave.stop-page-content-leave-active {
    flex-grow: 0;
  }
}

.stop-page.departure-list {
  & .departure {
    & .vehicle-number {
      width: 5em;
    }
  }
}