.departure-list .date-row {
  @include font-medium;

  font-size: 12pt;
  text-transform: capitalize;
  color: $black;
  background-color: $white;
  padding-left: 0.5em;
  padding-top: 1.25em;
  padding-bottom: 0.5em;
}

/* STOP PAGE */
.stop-page {
  overflow-y: auto;

  &.card-header {
    padding: 48px 48px 8px 48px;
    position: relative;
    flex: 0 0 auto;
    overflow: hidden;
    min-height: 3em;

    .link-arrow {
      display: none;
    }
  }

  .card-sub-header {
    margin-top: 8px;
    min-height: 18px;

    .card-name-container {
      display: flex;
    }
  }

  a {
    color: $black;
    text-decoration: none;
  }
}

.mobile {
  background-color: $white;

  .stop-page {
    &.card-header {
      padding: 0 16px 0 16px;
      z-index: 2;
      position: relative;
    }
  }

  .card-header-wrapper {
    h1 {
      margin: 0;
      padding: 0;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.03em;
    }
  }
}
