.sidebar-card {
  border: none;
  font-weight: initial;
}

.sidebar-card-desktop {
  padding-top: 2.6em;
}

.sidebar-card-header {
  .card-header-content {
    align-items: initial;
    div:last-child {
      align-self: center;
    }
  }
}

.padding-new-layout {
  padding: 0 18px 0 18px;
}
