@import '../../base/waltti';

/* main theme colors */
$theme-primary-color: #1c57cf;
$theme-secondary-color: darken($theme-primary-color, 20%);
$highlight-color: $theme-primary-color;
$action-color: $theme-primary-color;
$bus-color: #1a4a8f;
$tram-color: #da2128;
$rail-color: #0e7f3c;
$viewpoint-marker-color: $theme-primary-color;
$current-location-color: $theme-primary-color;
$selected-lang-background: #1a4a8f;

/* Component palette */

$standalone-btn-color: $theme-primary-color;
$link-color: $theme-primary-color;
$desktop-title-color: #40ba54;
$desktop-title-arrow-icon-color: $white;
$caution-icon-color: #ec5e47;
$caution-icon-font-color: $white;
$top-bar-color: $theme-primary-color;

/* Navbar dimensions */
$nav-logo-height: 2.5em;
