/* Turku theme */

/* Base theme */
@import '../../base/waltti';

/* General palette */
$gray-blue: #7f929c;

/* Operator palette */
$turku-light-yellow: #e8aa27;
$turku-dark-yellow: #a07415;
$turku-blue: #45CBCB;
$turku-dark-blue: #6BA3AF;
$turku-red: #EA4C58;
$turku-light-gray: #c9ccce;
$turku-dark: #555555;
$turku-rail-color: #8c4799;
$turku-ferry-color: rgb(53, 181, 179);

/* Application palette */
$primary-color: $turku-light-yellow;
$secondary-color: $turku-dark-yellow;
$favourite-color: $turku-light-yellow;
$hilight-color: $turku-dark;
$action-color: $turku-dark-yellow;
$current-location-color: $primary-color;

/* Component palette */
$standalone-btn-color: $turku-dark-yellow;
$standalone-btn-hover-color: $turku-light-gray;
$standalone-btn-active-color: $turku-light-gray;
$viewpoint-marker-color: $turku-light-yellow;
$link-color: $turku-dark-yellow;
$from-color: $turku-blue;
$to-color: $turku-red;
$slider-warning-color: $turku-red;
$slider-ok-color: $turku-blue;
$desktop-title-color: $primary-color;
$desktop-title-arrow-icon-color: $secondary-color;
$top-bar-color: $primary-color;

/* Vehicle palette */
$bus-color: $turku-light-yellow;
$rail-color: $turku-rail-color;
$ferry-color: $turku-ferry-color;
$walk-color: $turku-dark-blue;

/* Spinner */
$spinner-image: url('foli-spinner.png');
