/* Turku theme */

/* Base theme */
@import '../../base/waltti';

/* General palette */
$gray-blue: #7f929c;

/* Operator palette */
$turku-light-yellow: #e8aa27;
$turku-dark-yellow: #a07415;
$turku-blue: #45cbcb;
$turku-dark-blue: #6ba3af;
$turku-red: #ea4c58;
$turku-light-gray: #c9ccce;
$turku-dark: #555;
$turku-rail-color: #8c4799;
$turku-ferry-color: #0064f0;
$turku-funicular-color: #f0f;

/* Application palette */
$theme-primary-color: $turku-light-yellow;
$theme-secondary-color: $turku-dark-yellow;
$highlight-color: $turku-dark;
$action-color: $turku-dark-yellow;
$current-location-color: $theme-primary-color;

/* Component palette */
$standalone-btn-color: $turku-dark-yellow;
$standalone-btn-hover-color: $turku-light-gray;
$standalone-btn-active-color: $turku-light-gray;
$viewpoint-marker-color: $turku-light-yellow;
$link-color: $theme-primary-color;
$slider-warning-color: $turku-red;
$slider-ok-color: $turku-blue;
$desktop-title-color: $theme-primary-color;
$desktop-title-arrow-icon-color: $theme-secondary-color;
$top-bar-color: $theme-primary-color;

/* Vehicle palette */
$bus-color: $turku-light-yellow;
$rail-color: $turku-rail-color;
$ferry-color: $turku-ferry-color;
$funicular-color: $turku-funicular-color;

// $walk-color: $turku-dark-blue;

/* Spinner */
$spinner-image: url('foli-spinner.png');
