@import '~@hsl-fi/sass/colors';
@import '~@hsl-fi/sass/mixins/screen';
@import '~@hsl-fi/sass/mixins/text';

.input {
  width: 200px;
}

.main-left {
  display: flex;
  order: 1;
  flex-direction: column;
  align-items: stretch;
  background-color: ffffff;
  height: 100%;
  width: calc(100% - 2em);
  max-width: 399px;
  z-index: 20;
  margin: 0 auto;
}

.main-bottom {
  background-color: #fff;
  width: calc(100% - 40px);
  margin: 0 20px;
  padding-bottom: 32px;
}

.separator-div {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding-bottom: 21px;

  @include min-width(tablet) {
    padding-bottom: 31px;
    margin-bottom: 20px;
  }
}

.separator-div2 {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 21px;

  @include min-width(tablet) {
    margin-bottom: 26px;
    padding-bottom: 21px;
  }
}

.separator-line {
  background-color: #ccc;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  bottom: 0;
  right: -5px;
  left: -5px;

  @include min-width(tablet) {
    right: -10px;
    left: -10px;
  }
}

.near-you-container {
  font-size: 16px;

  .near-you-title {
    font-family: 'Gotham Rounded A', 'Gotham Rounded B', Roboto, Arial, Georgia,
      serif;
    font-weight: var(--font-weight-medium);
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.67px;
    color: #333;
    margin: 0 0 15px 0;
    font-size: 1.125em;

    @include min-width(tablet) {
      letter-spacing: -0.6px;
      font-size: 1.25em;
      margin: 0 0 18px 0;
    }
  }

  .near-you-buttons-container {
    display: flex;

    & > a:not(:last-child),
    & > div:not(:last-child) {
      margin-right: 7px;

      @include min-width(tablet) {
        margin-right: 8px;
      }
    }

    & > a:last-child,
    & > div:last-child {
      margin-bottom: 32px;
    }

    & > a,
    & > div {
      display: flex;
      flex: 1;
      width: 100%;
      height: 42px;

      @include min-width(tablet) {
        min-width: 50px;
        max-width: 72px;
        height: 50px;
      }
    }

    .sr-only:not(:focus, :active) {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    .transport-mode-icon-container {
      cursor: pointer;
      border-radius: 10px;
      border: solid 1px #d9d9d9;
      background-color: white;
      display: flex;
      flex: 1;
      width: 100%;
      justify-content: center;
      max-width: 72px;
      height: 100%;

      .transport-mode-icon-with-icon {
        display: flex;
        position: relative;
      }

      span.transport-mode-alert-icon {
        position: absolute;
        bottom: -4px;
        right: -5px;

        svg {
          height: 15px !important;
          width: 15px !important;

          @include min-width(tablet) {
            width: 18px !important;
            height: 18px !important;
          }
        }
      }

      svg {
        width: 30px;
        height: 30px;
        margin: auto;

        @include min-width(tablet) {
          width: 34px;
          height: 34px;
        }
      }

      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .near-you-buttons-container-wide {
    & > a:not(:last-child),
    & > div:not(:last-child) {
      margin-right: 9px;

      @include min-width(tablet) {
        margin-right: 10px;
      }
    }

    & > a:last-child,
    & > div:last-child {
      margin-bottom: 24px;
    }

    & > a,
    & > div {
      width: 100%;
      height: 48px;

      @include min-width(tablet) {
        margin-bottom: 8px;
      }
    }

    .sr-only:not(:focus, :active) {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    .transport-mode-icon-container {
      cursor: pointer;
      position: relative;
      display: flex;
      border-radius: 5px;
      border: solid 1px #ddd;
      background-color: white;
      flex: 1;
      min-width: 100%;
      height: 48px;

      .transport-mode-icon-with-icon {
        cursor: pointer;
        display: flex;
        position: relative;
        left: 17px;
        border-radius: var(--borderRadius);
        background-color: var(--bckColor);
        height: 30px;
        width: 30px;
        align-items: center;
        align-self: center;
        justify-content: center;

        span.transport-mode-alert-icon {
          position: absolute;
          bottom: -7px;
          right: -8px;

          svg {
            height: 15px !important;
            width: 15px !important;

            @include min-width(tablet) {
              width: 18px !important;
              height: 18px !important;
            }
          }
        }
      }

      .transport-mode-title {
        cursor: pointer;
        position: relative;
        font-style: normal;
        font-weight: var(--font-weight-medium);
        font-size: 15px;
        line-height: 18px;
        align-self: center;
        left: 26px;
        width: calc(100% - 58px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.nearby-stops-bubble-dialog {
  position: relative;
  width: 100%;
  z-index: 23;
  margin-bottom: 10px;

  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(-15px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  opacity: 0;

  &.visible {
    opacity: 1;
    animation: appear 0.5s;
  }

  @include min-width(tablet) {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
  }

  .nearby-stops-bubble-dialog-container {
    display: flex;
    position: relative;
    border-radius: 5px;
    background: #ffefe8;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.03em;
    padding: 15px 0 17px 0;

    @include min-width(tablet) {
      position: absolute;
      padding: 12px 0 11px 0;
      min-height: 80px;
      width: 300px;
      left: 230px;
      transform: translateY(-100%);
      top: -6px;
    }

    .nearby-stops-bubble-dialog-header {
      font-weight: var(--font-weight-medium);
      padding: 0 49px 4px 20px;

      &.fi {
        min-height: 19.2px;
      }

      &.sv,
      &.en {
        min-height: 39.2px;
      }

      @include min-width(tablet) {
        padding: 0 44px 3px 20px;
      }
    }

    .nearby-stops-bubble-dialog-content {
      font-weight: 400;
      padding: 0 49px 0 20px;
      min-height: 35.2px;

      @include min-width(tablet) {
        padding: 0 57px 0 20px;
      }
    }

    .nearby-stops-bubble-dialog-close {
      display: flex;
      position: absolute;
      right: 15px;
      top: 14px;
      padding: 0;
      margin: 0;
      cursor: pointer;
      border: none;
      background: transparent;

      @include min-width(tablet) {
        top: 16px;
      }

      svg {
        fill: #333;
        width: 16px;
        height: 16px;
      }
    }

    .nearby-stops-bubble-dialog-tip-container {
      position: absolute;
      height: 42px;
      overflow: hidden;
      width: 42px;
      background-color: #ffefe8;
      transform: rotate(45deg);
      z-index: -1;
      bottom: -4px;
      left: 52px;

      @include min-width(tablet) {
        left: 18px;
      }
    }
  }
}
