@import '~@hsl-fi/sass/colors';
@import '~@hsl-fi/sass/mixins/screen';
@import '~@hsl-fi/sass/mixins/text';

.input {
  width: 200px;
}

.main-left {
  display: flex;
  order: 1;
  flex-direction: column;
  align-items: stretch;
  background-color: ffffff;
  height: 100%;
  width: calc(100% - 2em);
  max-width: 399px;
  z-index: 20;
  margin: 0 auto;
}

.main-bottom {
  background-color: #ffffff;
  width: calc(100% - 40px);
  margin: 0 20px;
  padding-bottom: 32px,
}

.separator-div {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding-bottom: 21px;
  @include min-width(tablet)  {
    padding-bottom: 31px;
    margin-bottom: 20px;
  }
}

.separator-div2 {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 21px;
  @include min-width(tablet)  {
    margin-bottom: 26px;
    padding-bottom: 21px;
  }
}

.separator-line {
  background-color: #ccc;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  bottom: 0;
  right: -5px;
  left: -5px;
  @include min-width(tablet)  {
    right: -10px;
    left: -10px;
  }
}

.near-you-container {
  font-size: 16px;
  .near-you-title {
    font-family: 'Gotham Rounded A', 'Gotham Rounded B', Arial, Georgia, Serif;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.67px;
    color: #333333;
    margin: 0 0 15px 0;
    font-size: 1.125em;
    @include min-width(tablet)  {
      letter-spacing: -0.6px;
      font-size: 1.25em;
      margin: 0px 0 18px 0;
    }
  }

  .near-you-buttons-container {
    display: flex;
    & > a:not(:last-child), & > div:not(:last-child) {
      margin-right: 7px;
      @include min-width(tablet)  {
        margin-right: 8px;
      }
    }
    & > a:last-child, & > div:last-child {
      margin-bottom: 32px;
    }
    & > a, & > div {
      display: flex;
      flex: 1;
      width: 100%;
      height: 42px;
      @include min-width(tablet)  {
        min-width: 50px;
        max-width: 72px;
        height: 50px;
      }
    }

    .sr-only:not(:focus):not(:active) {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
    .transport-mode-icon-container {
      border-radius: 10px;
      border: solid 1px #d9d9d9;
      background-color: white;
      display: flex;
      flex: 1;
      width: 100%;
      justify-content: center;
      max-width: 72px;
      height: 100%;
      .transport-mode-icon-with-icon {
        display: flex;
        position: relative;
      }
      .transport-mode-alert-icon {
        position: absolute;
        bottom: -4px;
        right: -5px;
        svg {
          height: 15px;
          width: 15px;
          @include min-width(tablet)  {
            width: 18px;
            height: 18px;
          }
        }
      }
      svg {
        width: 30px;
        height: 30px;
        margin: auto;
        @include min-width(tablet)  {
          width: 34px;
          height: 34px;
        }
      }
      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .near-you-buttons-container-wide {

    & > a:not(:last-child), & > div:not(:last-child) {
      margin-right: 9px;
      @include min-width(tablet)  {
        margin-right: 10px;
      }
    }
    & > a:last-child, & > div:last-child {
      margin-bottom: 24px;
    }
    & > a, & > div {
      width: 100%;
      height: 48px;
      @include min-width(tablet)  {
        margin-bottom: 8px;
      }
    }

    .sr-only:not(:focus):not(:active) {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }

    .transport-mode-icon-container {
      position: relative;
      display: flex;
      border-radius: 5px;
      border: solid 1px #dddddd;
      background-color: white;
      flex: 1;
      min-width: 100%;
      height: 48px;
      .transport-mode-icon-with-icon {
        display: flex;
        position: relative;
        left: 17px;
        border-radius: var(--borderRadius);
        background-color: var(--bckColor);
        height: 30px;
        width: 30px;
        align-items: center;
        align-self: center;
        justify-content: center;
      }
      .transport-mode-alert-icon {
        position: absolute;
        bottom: -7px;
        right: -8px;
        svg {
          height: 15px;
          width: 15px;
          @include min-width(tablet)  {
            width: 18px;
            height: 18px;
          }
        }
      }
      .transport-mode-title {
        position: relative;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        align-self: center;
        left: 26px;
        width: calc(100% - 58px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
