@import '~@hsl-fi/sass/colors';
@import '~@hsl-fi/sass/mixins/screen';
@import '~@hsl-fi/sass/mixins/text';

.input {
  width: 200px;
}

.main-left {
  display: flex;
  order: 1;
  flex-direction: column;
  align-items: stretch;
  background-color: ffffff;
  height: 100%;
  width: calc(100% - 2em);
  max-width: 400px;
  z-index: 20;
  margin: 0 auto;
}

.main-bottom {
  background-color: #ffffff;
  width: calc(100% - 40px);
  margin: 0 20px;
  padding-bottom: 32px,
}

.separator-div {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 21px;
  padding-bottom: 31px;
}

.separator-div2 {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 26px;
  padding-bottom: 21px;
}

.separator-line {
  background-color: #ccc;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  bottom: 0;
  right: -10px;
  left: -10px;
}

.near-you-container {
  .near-you-title {
    font-family: 'Gotham Rounded A', 'Gotham Rounded B', Arial, Georgia, Serif;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #333333;
    margin: 0 0 16px 0;
    @include min-width(tablet)  {
      margin: 0px 0 18px 0;
    }
  }

  .near-you-buttons-container {
    display: flex;
    justify-content: space-between;
    & > a:not(:last-child) {
      margin-right: 9px;
      @include min-width(tablet)  {
        margin-right: 10px;
      }
    }
    & > a {
      display: flex;
      flex: 1;
      width: 100%;
      height: 48px;
      @include min-width(tablet)  {
        min-width: 60px;
        max-width: 72px;
        height: 60px;
      }
    }

    .sr-only:not(:focus):not(:active) {
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap;
      width: 1px;
    }
    .transport-mode-icon-container {
      border-radius: 10px;
      border: solid 1px #d9d9d9;
      background-color: white;
      display: flex;
      flex: 1;
      width: 100%;
      justify-content: center;
      max-width: 72px;
      height: 100%;
      .transport-mode-icon-with-icon {
        display: flex;
        position: relative;
      }
      .transport-mode-alert-icon {
        position: absolute;
        bottom: -4px;
        right: -5px;
        svg {
          height: 15px;
          width: 15px;
          @include min-width(tablet)  {
            width: 18px;
            height: 18px;
          }
        }
      }
      svg {
        width: 32px;
        height: 32px;
        margin: auto;
        @include min-width(tablet)  {
          width: 40px;
          height: 40px;
        }
      }
      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
