/* Calculate some extra width for typeahead results*/
$search-result-width: grid-calc($total-columns+1, $total-columns) + 1;
$search-result-background-color: $white;
$search-result-text-color: $black;
$search-result-text-city-color: $gray;
$search-result-text-font-weight: 300;
$search-result-text-highlight-color: $black;
$search-result-text-highlight-font-weight: 300;
$search-result-text-highlight-background-color: $light-gray;
$search-result-text-match-color: $black;
$search-result-text-match-font-weight: 600;
$search-result-border-radius: $border-radius;
$search-result-max-height: 130px;
$search-result-font-family: $font-family;
$search-result-icon-color: $black;
$search-form-icon-color: $white;
$search-form-border-radius: $border-radius;
$search-form-transparency: $transparency;

.search-form .location {
  height: 35px;  
  margin-bottom: 5px;
  padding-left: 5px;
  border-radius: $search-form-border-radius;
  line-height: 35px;
  position: relative;
  font-size: 11pt;
}

.search-form .icon {
  fill: $search-form-icon-color;
  vertical-align: middle;
  width: 17px;
  height: 17px;
}

.search-form .location .icon {
  margin-right: 10px;
  width: 1.5em;
  height: 1.5em;
}

.search-form .location .right .icon {
  margin-right: 10px;
  width: 0.8em;
  height: 0.8em;
}

.search-form .location .dashed {
  border-bottom: 1px dashed $search-form-icon-color;
}

.search-form .location .address {
  font-weight: 300;
}

.search-form {
  padding-top: 10px;
}

.search-form input.tt-input {
  margin-bottom: 5px;
}

.search-form input {
  margin-bottom: 5px !important;
}

.search-form .tt-menu {
  background-color: $search-result-background-color;
  color: $search-result-text-color;
  font-weight: $search-result-text-font-weight;
  width: $search-result-width;
  font-family: $search-result-font-family;
  border-radius: $search-result-border-radius;
}

.search-form .tt-cursor {
  color: $search-result-text-highlight-color;
  font-weight: $search-result-text-highlight-font-weight;
  background-color: $search-result-text-highlight-background-color;
}

.search-form .tt-suggestion {
  padding: 0px 0 5px 0;
  margin: 0;
  cursor: pointer;
}

.search-form .tt-suggestion .icon {
  margin-right: 4px;
  fill: $search-result-icon-color;
}

.search-form .tt-suggestion strong {
  font-weight: $search-result-text-match-font-weight;
  color: $search-result-text-match-color;
}

.search-form .tt-suggestion .city {
  color: $search-result-text-city-color;
}

/* Don't highlight city name */
.search-form .tt-suggestion .city strong {
  color: $search-result-text-city-color;
  font-weight: $search-result-text-font-weight;
}

.search-form .tt-dataset-geodata {
  width: 100%;
  padding: 5px;
  max-height: $search-result-max-height;
  overflow: auto;
  box-shadow: 0px 2px 15px gray;
  border-radius: $search-result-border-radius;
}

.search-form .twitter-typeahead {
  width: 100%;
}

.search-form .arrow-down {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid rgba(0,0,0,$search-form-transparency);
  position: absolute;
  left: 47%;
  z-index: 1;
}