
// --> later: ListHeader component
.departure-list .date-row {
  font-size: 10pt;
  text-transform: uppercase;
  color: $gray;
  padding-left: 1em;
  font-weight:  $font-weight-bold;
  .missing-routes {
    font-family: $font-family;
    font-size: 13px;
    font-weight: $font-weight-light;
    margin: 0.5em 0 0;
    padding: 0px;
    width: 100%;
    line-height: $line-height-normal;
    color: #999;
  }
}

/* STOP PAGE */
.stop-page  {
  overflow-y: auto;
  &.card-header  {
    padding: 0.7em 1em;
    position: relative;
    z-index: 802;
  }
  .favourite-icon {
    margin-top: 0.3em;
    border-left: 1px solid #ddd;
    margin-right: 0.7em;
    padding-left: 0.7em;
  }
  .info {
    margin-right: 0.7em;
    margin-top: 0.3em;
  }
  a {
    color: $black;
    text-decoration: none;
  }
}
