$stop-card-background-color: $white;
$stop-card-border-color: $light-gray;
$stop-card-title-font-family: $font-family;
$stop-card-title-font-size: 12px;
$stop-card-title-color: $gray-blue;
$stop-card-location-font-family: $font-family;
$stop-card-location-font-size: 13px;
$stop-card-location-color: $gray;
$stop-card-next-departure-font-family: $font-family-narrow;
$stop-card-next-departure-font-size: 15px;
$stop-card-next-departure-color: $gray;
$stop-card-normal-font-family: $font-family;
$stop-card-normal-font-size: 13px;
$stop-card-normal-line-height: 1.2;
$stop-card-favourite-icon-stroke-color: $light-gray;
$stop-card-favourite-icon-fill-color: $white;
$stop-card-favourite-icon-hover-fill-color: $favourite-color;
$stop-card-favourite-icon-selected-fill-color: $favourite-color;
$stop-card-favourite-icon-selected-hover-fill-color: $white;
$stop-card-show-more-font-family: $font-family;
$stop-card-show-more-font-size: 13px;
$stop-card-show-more-background-color: $gray-blue-light;
$stop-card-show-more-color: $white;
$stop-card-show-more-width: 10em;
$stop-card-show-more-border-radius: 30px;

.stop-cards div div a {
  color: inherit;
  text-decoration: inherit;
}

.stop-card {
  background-color: $stop-card-background-color;
  border: 1px solid $stop-card-border-color;
  border-radius: $border-radius;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 5px;
}

.stop-card-header.stop-page {
  padding: 0.7em 1em;
  background-color: $stop-card-background-color;
  position: relative;
  z-index: 802;
}

.stop-card-header.stop-page h3 {
  color: $black;
  font-size: 12pt;
  font-weight: $font-weight-normal;
  text-transform: none;
}

.stop-card-header.stop-page .info {
  float: right;
  color: $gray-blue;
  padding: 0;
  margin-top: 0.3em;
  padding-right: 0.7em;
  height: 24px;
  width: calc(24px + 0.7em);
}

.stop-card-header.stop-page .favourite-icon {
  float: right;
  padding: 0;
  margin-top: 0.3em;
  padding-left: 0.7em;
  border-left: solid 1px $light-gray;
  height: 24px;
  width: calc(24px + 0.7em);
  stroke: $stop-card-favourite-icon-stroke-color;
  stroke-width: 50px;
  fill: $stop-card-favourite-icon-fill-color;
}

.stop-card-header {
  margin-bottom: 0.3em;
}

.stop-card-header h3 {
  text-transform: uppercase;
  color: $stop-card-title-color;
  font-family: $stop-card-title-font-family;
  font-size: $stop-card-title-font-size;
  font-weight: $font-weight-bold;
  line-height: $stop-card-normal-line-height;
  margin: 0px;
}

.stop-card-header p.location {
  font-family: $stop-card-location-font-family;
  font-size: $stop-card-location-font-size;
  font-weight: $font-weight-light;
  line-height: $stop-card-normal-line-height;
  color: $stop-card-location-color;
  margin: 0px;
}

.stop-card-header .favourite-icon {
  float: right;
  padding: 0;
  height: 24px;
  width: 24px;
}

.stop-card-header .icon.favourite {
  height: 24px;
  width: 24px;
  stroke: $stop-card-favourite-icon-stroke-color;
  stroke-width: 50px;
  fill: $stop-card-favourite-icon-fill-color;
}

.stop-card-header .icon.favourite:hover {
  fill: $stop-card-favourite-icon-hover-fill-color;
}

.stop-card-header .icon.favourite.selected {
  fill: $stop-card-favourite-icon-selected-fill-color;
}

.stop-card-header .icon.favourite.selected:hover {
  fill: $stop-card-favourite-icon-selected-hover-fill-color;
}

.departure-list.stop-page {
  overflow-y: auto;
}

.departure-list p.transport {
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: $stop-card-normal-line-height;
}

.departure-list.stop-page p.transport {
  margin: 0.1em 0em;
  padding: 0.45em 1em;
  background: $white;
}

.departure-list.stop-page a {
  color: $black;
  text-decoration: none;
}

.departure-list .transport span.next-departure {
  display: inline-block;
  width: 3em;
  margin-right: 1em;
  text-align: right;
  font-family: $stop-card-next-departure-font-family;
  font-size: $stop-card-next-departure-font-size;
  font-weight: $font-weight-bold;
}

.departure-list .transport span.vehicle-number {
  display: inline-block;
  width: 2.5em;
  font-family: $stop-card-next-departure-font-family;
  font-size: $stop-card-next-departure-font-size;
  font-weight: $font-weight-bold;
}

.departure-list .transport span.destination {
  font-family: $stop-card-next-departure-font-family;
  font-size: $stop-card-next-departure-font-size;
  font-weight: $font-weight-light;
}

.departure-list p.transport .icon {
  height: 12px;
  width: 12px;
  vertical-align: inherit;
}

.departure-list .date-row {
  font-size: 10pt;
  text-transform: uppercase;
  color: $gray;
  padding-left: 1em;
  font-weight:  $font-weight-bold;
}

.departure-list.stop-page .date-row{
  border-bottom: solid 1px $light-gray;
  border-top: solid 1px $light-gray;
}

.departure-list p.missing-routes {
  font-family: $stop-card-normal-font-family;
  font-size: $stop-card-location-font-size;
  font-weight: $font-weight-light;
  margin: 0.5em 0 0;
  padding: 0px;
  width: 100%;
  line-height: $stop-card-normal-line-height;
  color: #999;
}

.stop-cards button.show-more {
  text-align: center;
  text-transform: uppercase;
  width: $stop-card-show-more-width;
  border-radius: $stop-card-show-more-border-radius;
  background: $stop-card-show-more-background-color;
  color: $stop-card-show-more-color;
  font-family: $stop-card-show-more-font-family;
  font-size: $stop-card-show-more-font-size;
  width: 100%;
  height: 40px;
  margin-top: 20px;
}

.stop-cards button.show-more:focus {
  outline: 0;
}
