@import '../../base/waltti';

/* main theme colors */
$primary-color: #F16522;
$secondary-color: #FFC439;
$hilight-color: $primary-color;
$action-color: $primary-color;
$bus-color: $primary-color;
$viewpoint-marker-color: $primary-color;
$current-location-color: $primary-color;

$standalone-btn-color: $primary-color;
$link-color: $primary-color;

/* Component palette */
$desktop-title-color: $primary-color;
$desktop-title-arrow-icon-color: $secondary-color;
$top-bar-color: $secondary-color;

/* Navbar dimensions */
$nav-logo-height: 4em;
