@import '../../base/waltti';

/* main theme colors */
$primary-color: rgb(196, 40, 31);
$secondary-color: darken($primary-color, 20%);
$highlight-color: $primary-color;
$action-color: $primary-color;
$bus-color: $primary-color;
$viewpoint-marker-color: $primary-color;
$current-location-color: $primary-color;
$standalone-btn-color: $primary-color;

/* Component palette */
$desktop-title-color: $primary-color;
$desktop-title-arrow-icon-color: $secondary-color;
$link-color: $primary-color;
$top-bar-color: rgb(236, 236, 236);

/* Navbar dimensions */
$nav-logo-height: 3em;
