@import '../../base/waltti';

/* main theme colors */
$primary-color: #F76013;
$secondary-color: darken($primary-color, 20%);
$hilight-color: $primary-color;
$action-color: $primary-color;
$bus-color: $primary-color;
$viewpoint-marker-color: $primary-color;
$current-location-color: $primary-color;

$standalone-btn-color: $primary-color;

/* Navbar dimensions */
$nav-logo-width: 7.5em;
$nav-logo-height: 3.3em;

/* Component palette */
$desktop-title-color: $primary-color;
$desktop-title-arrow-icon-color: $secondary-color;
$top-bar-color: $primary-color;
