$route-header-height: 115px;
$route-list-header-height: 26px;

$route-header-favourite-icon-stroke-color: $light-gray;
$route-header-favourite-icon-fill-color: $background-color;
$route-header-favourite-icon-hover-fill-color: $favourite-color;
$route-header-favourite-icon-selected-fill-color: $favourite-color;
$route-header-favourite-icon-selected-hover-fill-color: $background-color;

/* table headers */
.route-list-header {
  border-bottom: solid 1px #eef1f3;
  font-weight: $font-weight-bold;
  font-family: $font-family-narrow;
  line-height: $line-height-normal;
  height: $route-list-header-height;
  overflow: hidden;
  div {
    color: $black;
    font-size: $font-size-small;
  }
  &.route-stop {
    min-height:0;
  }
}

.departure-list-header {
  border-bottom: 1px solid $light-gray;
  font-weight: $font-weight-bold;
  line-height: $line-height-normal;
  height: $route-list-header-height;
  overflow: hidden;
  color: $gray;
  font-size: $font-size-small;
  margin-left: 0;
  padding-left: 1em;
  &:first-of-type {
      border-top: 1px solid $light-gray;
  }

  & .right {
    font-weight: $font-weight-normal;
    padding-right: 1em;
  }
}

// stop list
.route-stop-list {
  font-family: $font-family-narrow;
  font-weight: $font-weight-bold;
  .route-stop-name  {
    height: 38px;
    // vertical line
    &::before {
      content: "";
      position: absolute;
      top: 17px;
      bottom: -7px;
      left: -9px;
      border-left: solid 3px;
    }
    &::after {
      width:12px;
      height:12px;
      position: absolute;
      top: 0px;
      left: -13px;
    }
    &.bus::after{
      content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><circle stroke-width='2.5' stroke='#{rgba($bus-color, 0.9999999)}' fill='white' cx='6' cy='6' r='2.5'/></svg>");
    }
    &.tram::after{
      content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><circle stroke-width='2.5' stroke='#{rgba($tram-color, 0.9999999)}' fill='white' cx='6' cy='6' r='2.5'/></svg>");
    }
    &.rail::after{
      content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><circle stroke-width='2.5' stroke='#{rgba($rail-color, 0.9999999)}' fill='white' cx='6' cy='6' r='2.5'/></svg>");
    }
    &.subway::after{
      content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><circle stroke-width='2.5' stroke='#{rgba($metro-color, 0.9999999)}' fill='white' cx='6' cy='6' r='2.5'/></svg>");
    }
    &.ferry::after{
      content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><circle stroke-width='2.5' stroke='#{rgba($ferry-color, 0.9999999)}' fill='white' cx='6' cy='6' r='2.5'/></svg>");
    }
    &.citybike::after{
      content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><circle stroke-width='2.5' stroke='#{rgba($citybike-color, 0.9999999)}' fill='white' cx='6' cy='6' r='2.5'/></svg>");
    }
  }
  > :nth-last-child(1) {
    .route-stop-name::before {
      border:none;
    }
  }
}

// each stop row
.route-stop {
  border-bottom: solid 1px $background-color;
  background-color: $white;
  padding-bottom: 4px;
  line-height: $line-height-normal;
  position:relative;
  min-height: 43px;
  div {
    min-height: 1px;
    .route-now-content {
      padding-top: 10px;
    }
  }
}
.columns.route-stop-time {
  text-align: right;
  color: $dark-color;
  padding-right: 36px;
  padding-top: 1px;
}
.route-stop-name {
  margin-left: -1em;
  padding-left: 1em;
  font-size: $font-size-normal;
}
.route-stop-code,
.route-stop-mins {
  text-align: right;
  direction: rtl;
  color: $gray;
}
.route-stop-address {
  font-size: $font-size-normal;
  font-weight: $font-weight-light;
  color: $gray;
}

.nearest-route-stop {
  font-weight: $font-weight-light;
  color: $gray;
}

.nearest-route-stop > span > svg.icon {
  transform: translate(0px,3px);
}

.route-stop-now-icon {
  position: relative;
  svg {
    position: absolute;
    top: -40px;
    right: -22px;
    z-index: 1;
  }
}

.route-header {
  margin: 0 15px;
  line-height: 1;
  height: $route-header-height; // Ugly hact ko get the tabs to have fixed height
  border-bottom: solid 1px $light-gray;
  h1 {
    font-family: $font-family-narrow;
    font-size: 24pt;
    padding: 0.4em 0 0.2em;
    margin: 0;
    svg {
      height: 0.8em;
      width: 0.8em;
    }
    .vehicle-number {
      padding-left: 0.25em;
    }
  }
  .route-header-name {
    margin: 0;
    font-size: 10pt;
    color: $gray;
    font-weight: $font-weight-light;
  }
  .route-header-direction {
    margin: 0.5em 0;
    color: $black;
    .icon {
      height: 0.5em;
      width: 0.5em;
    }
    .route-header-direction-switch {
      background: currentColor;
      width: 1.7em;
      height: 1.2em;
      padding: 2px;
      border-radius: 0.6em;
      fill: white;
      vertical-align: bottom;
      margin-left: 1ex;
    }
  }
  .favourite-icon {
    position: absolute;
    top: 13px;
    right: 15px;
    padding: 0;
    height: 24px;
    width: 24px;

    .icon.favourite {
      height: 24px;
      width: 24px;
      stroke: $route-header-favourite-icon-stroke-color;
      stroke-width: 50px;
      fill: $route-header-favourite-icon-fill-color;
    }

    .icon.favourite:hover {
      fill: $route-header-favourite-icon-hover-fill-color;
    }

    .icon.favourite.selected {
      fill: $route-header-favourite-icon-selected-fill-color;
    }

    .icon.favourite.selected:hover {
      fill: $route-header-favourite-icon-selected-hover-fill-color;
    }
  }
}

// Tabs
div.route-tabs {
  .tab-panel {
    background: white;
    height: calc(100% - 1.2em - 8px);
    > div {
      height: 100%;
      overflow: auto;
    }
  }
  height: calc(100% - #{$route-header-height} - 14px);
}

.nearby-routes {
  overflow: hidden;
  .transport {
    margin: 0.1em 0;
  }
  .mode-filter {
    margin-bottom: 1em;
  }
  .underline {
      border-bottom: 1px solid $light-gray;
  }
}

.mode-filter {
  width: 160px;
  float: right;
}
