$route-header-height: 65px;
$route-list-header-height: 26px;
$route-schedule-date-height: 36px;

$route-header-favourite-icon-stroke-color: $light-gray;
$route-header-favourite-icon-fill-color: $background-color;
$route-header-favourite-icon-hover-stroke-color: $white;
$route-header-favourite-icon-selected-fill-color: $favourite-color;
$route-header-favourite-icon-selected-hover-stroke-color: $white;

/* table headers */
.route-list-header {
  border-bottom: solid 1px #eef1f3;
  @include font-narrow-medium;
  line-height: $line-height-normal;
  height: $route-list-header-height;
  flex-shrink: 0;

  overflow: hidden;
  div {
    @include font-narrow-book;
    color: $gray;
    font-size: $font-size-small;
  }
  &.route-stop {
    min-height:0;
  }
}

.departure-list-header {
  border-bottom: 1px solid $light-gray;
  @include font-bold;
  font-size: $font-size-small;
  line-height: $line-height-normal;
  height: $route-list-header-height;
  overflow: hidden;
  color: $gray;
  margin-left: 0;
  padding-left: 1em;
  &:first-of-type {
      border-top: 1px solid $light-gray;
  }

  & .right {
    font-weight: $font-weight-medium;
    padding-right: 1em;
  }
}

// stop list
.route-stop-list {
  @include font-narrow-medium;
  flex-grow: 20;
  flex-basis: 0;

  &.route-page-content-enter, &.route-page-content-leave {
    will-change: flex-grow;
  }

  &.route-page-content-leave, &.route-page-content-enter.route-page-content-enter-active {
    transition: flex-grow 300ms;
  }

  &.route-page-content-enter, &.route-page-content-leave.route-page-content-leave-active {
    flex-grow: 0;
  }

  &.route-page-content-enter.route-page-content-enter-active {
    flex-grow: 20;
  }
}

// each stop row
.route-stop {
  border-bottom: solid 1px $background-color;
  background-color: $white;
  padding-bottom: 4px;
  line-height: $line-height-normal;
  position:relative;
  min-height: 43px;
  div {
    min-height: 1px;
    .route-now-content {
      padding-top: 10px;

      & svg {
        position: absolute;
        z-index: 1;
        &.tail {
          left: -7px;
          top: -17px;
          z-index: 0;
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
.columns.route-stop-time {
  text-align: right;
  color: $dark-color;
  padding-left: 0;
  padding-top: 1px;
  .time {
    margin-right: 0;
    padding-right: 0;
    width: 3em;
  }
}
.route-stop-name {
  margin-left: -10px;
  padding-left: 10px;
  font-size: $font-size-normal;
}
.route-stop-code,
.route-stop-mins {
  text-align: right;
  direction: rtl;
  color: $gray;
}
.route-stop-address {
  @include font-narrow-book;
  font-size: $font-size-normal;
  color: $gray;
  white-space: nowrap;
}

.nearest-route-stop {
  @include font-narrow-book;
  color: $gray;
}

.nearest-route-stop > span > svg.icon {
  transform: translate(0px,3px);
}

.route-stop-now-icon {
  position: relative;
  svg {
    position: absolute;
    top: -40px;
    right: -22px;
    z-index: 1;
    &.tail {
      position: absolute;
      width: 50px;
      height: 50px;
      top: -57px;
      right: -39px;
      z-index: 0;
    }
  }
}

.route-header {
  margin: 0 15px;
  line-height: 1;
  flex-shrink: 0;
  border-bottom: solid 1px $light-gray;
  height: $route-header-height; // Ugly hact ko get the tabs to have fixed height
  h1 {
    @include font-narrow-book;
    font-size: 24pt;
    padding: 0.4em 0 0.2em;
    .vehicle-number {
      padding-left: 0.25em;
    }
  }
  .route-header-name {
    margin: 0;
    color: $gray;
    @include font-book;
    font-size: 10pt;
  }
  .route-header-direction {
    margin: 0.5em 0;
    color: $black;
    .icon {
      height: 0.5em;
      width: 0.5em;
    }
    .route-header-direction-switch {
      background: currentColor;
      width: 1.7em;
      height: 1.2em;
      padding: 2px;
      border-radius: 0.6em;
      fill: white;
      vertical-align: bottom;
      margin-left: 1ex;
    }
  }
  .favourite-icon {
    position: absolute;
    top: 13px;
    right: 15px;
    padding: 0;
    height: 24px;
    width: 24px;

    .icon.favourite {
      height: 24px;
      width: 24px;
      stroke: $route-header-favourite-icon-stroke-color;
      stroke-width: 50px;
      fill: $route-header-favourite-icon-fill-color;
    }

    .icon.favourite:hover {
      stroke: $route-header-favourite-icon-hover-stroke-color;
    }

    .icon.favourite.selected {
      fill: $route-header-favourite-icon-selected-fill-color;
    }

    .icon.favourite.selected:hover {
      stroke: $route-header-favourite-icon-selected-hover-stroke-color;
    }
  }
}

// Schedule list
.route-schedule-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.route-schedule-list-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;

  .route-schedule-header {
    min-height: 52px;
  }
}

.route-schedule-list {
  padding-bottom: 0.7em;
  flex: 1
}

.route-schedule-stop-select {
  select {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2px 33px 2px 10px;
    background-color: #fff;
    font-size: 9pt;
    color: #333;
    height: 30px;
    line-height: 24px;
    font-weight: 500;
    appearance: none;
  }

  position: relative;

  .icon {
    width: 13px;
    height: 16px;
    color: $gray-blue;
    position: absolute;
    right: 11px;
    top: 7px;
    pointer-events: none;
  }

  .caret {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $primary-color;
  }
}

.trip-column {
  width: 50%;
  margin: 0 auto;
  line-height: 1.5;
}

.trip-separator {
  position: relative;
}

.trip-separator:after {
  content: "";
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
  border-top: 1px solid $light-gray;
  z-index: 0;
}

.trip-from, .trip-to {
  background: #fff;
  width: 50px;
  position: relative;
  z-index: 1;
  font-size: 14px;
}

.trip-from {
  transform: translateX(-50%);
}

.trip-to {
  transform: translateX(50%);
}

.route-schedule-date {
  @include font-book;

  min-height: $route-schedule-date-height;
  background-color: #eef1f3;
  padding: 0 15px;
  margin: 0;

  .icon {
    margin-right: 7px;
    width: 18px;
    height: 18px;
    color: $gray-blue;
    vertical-align: middle;
  }

  select {
    font-size: 9pt;
    line-height: 18px;
    height: 19px;
    background-color: #eef1f3;
    color: #80939d;
    border-bottom: 1px dotted #80939d !important;
    font-weight: 500;
    padding: 0;
    text-transform: uppercase;
    background-image: none;
    width: 7em;
    text-align: left;
    appearance: none;

    option {
      padding: 4px;
    }
  }
}

// Tabs
div.route-tabs {
  display: flex;
  flex-direction: column;

  .tabs-navigation {
    flex-shrink: 0;
    position: absolute;
    top: 40px;
    right: 10px;
    width: initial;
    min-width: 240px;
    max-width: 300px;
    padding: 0;

    .icon {
      display: block;
      width: 16px;
      height: 16px;
      margin: 5px auto;
    }

    .tabs-menu-item {
      padding: 9px 0;
      border: none;
    }

    li a {
      border-right: 1px solid $light-gray;
    }
    li:last-child a{
      border-right: none;
    }

    .tabs-menu-item.is-active {
      border-bottom: 2px solid $primary-color ;
    }

    ul li {
      font-size: 7pt;
      min-width: 60px;
    }
  }

  .tab-panel {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    background: white;
    height: calc(100% - 1.2em - 8px);
    > div {
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      @extend .momentum-scroll;
      height: 100%;
      overflow: auto;
    }

  }
  height: calc(100% - #{$route-header-height});
}


.nearby-routes .mode-filter {
  &.btn-bar .btn {
    border-right: 1px solid white;

    & .icon-holder {
      padding-top: 8px;
      padding-bottom: 3px;

      & .icon {
        height: 24px;
        width: 24px;
      }
    }
  }
}

.route-pattern-select {
  padding: 10px;
  background-color: #eef1f3;
  position: relative;
  min-height: 60px;

  select {
    padding: 10px;
    height: 40px;
    border-radius: $border-radius;
    border: 1px solid $light-gray;
    font-weight: bold;
    appearance: none;
  }
  .icon {
    color: $gray-blue;
    position: absolute;
    right: 25px;
    top: 24px;
    pointer-events: none;
  }
}

.route-alerts-list {

  .route-alert-row {
    border-bottom: 1px solid $light-gray;
    display: flex;
    padding: 0.8em 0.8em 0.8em 0.8em;

    .icon.caution {
      fill: $cancelation-red;
      position: absolute;
      margin-left: -2.9em;
      margin-top: 1.1em;
      height: 0.8em;
      stroke: $white;
      stroke-width: 12;
    }

    .route-alert-contents {
      vertical-align: bottom;
    }

    .route-number {
      padding-top: 0.2em;
      padding-right: 0.8em;

      .icon {
        width: 1.5em;
        height: 1.5em;
        margin-bottom: -0.2em;
      }
      .vehicle-number {
        margin-top: -0.3em;
        font-size: $font-size-xsmall;
      }
    }

    .route-alert-duration {
      color: $gray;
      font-size: 11px;
      margin-bottom: 0.2em;
      font-weight: 200;
    }

    .route-alert-body {
      color: $gray;
      font-size: $font-size-small;
      font-weight: 200;
    }

    &.expired {
      filter: grayscale(1);

      .route-number {
        filter: brightness(1.5);
      }

      .caution {
        filter: contrast(0.6) brightness(1.5);
      }
    }
  }
}

#icon-icon_caution path {
  stroke-width: inherit;
}

.no-alerts-message {
  text-align: center;
  margin-top: 50px;
}
