.top-bar {
  background-color: white;

  .navi-languages {
    button {
      color: $primary-color;

      &.selected {
        background-color: #bfdef2 !important;
      }
    }
  }

  .navi-icons {
    .icon {
      color: white;
      fill: $primary-color;
    }
  }

  .external-link-container {
    .external-link,
    .external-link-icon,
    .external-link-icon-outer {
      color: $primary-color;
    }
  }

  .main-menu-toggle {
    .icon {
      fill: $primary-color;
    }
  }

  .navi-logo {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;

    .logo-title,
    .logo-sub-title {
      @include font-medium;
      color: $primary-color;
      margin-left: 3.5rem;
    }

    .logo-title {
      font-size: $font-size-xxsmall;
      text-transform: uppercase;
    }

    .logo-sub-title {
      font-size: $font-size-xlarge;
    }
  }
}
