/* HSL theme */

/* Base theme */
@import '../default/theme';

/* Operator palette */
$hsl-blue: #007ac9;
$hsl-dark-blue: #0062a1;
$hsl-pink: #f092cd;
$hsl-alert: #dc0451;
$hsl-tram-green: #008151;
$hsl-metro-orange: #ca4000;
$hsl-bus-express: #ca4000;
$hsl-rail-red: #8c4799;
$hsl-ferry-blue: #007a97;
$hsl-blue-accessible: #0074bf;

/* Application palette */
$primary-color: $hsl-blue;
$secondary-color: $hsl-dark-blue;
$favourite-color: $hsl-pink;
$hilight-color: $hsl-pink;
$action-color: $hsl-blue;
$current-location-color: #f653b9;

/* Component palette */
$standalone-btn-color: $primary-color;
$standalone-btn-hover-color: $secondary-color;
$standalone-btn-active-color: $secondary-color;
$viewpoint-marker-color: $hsl-blue;
$link-color: $primary-color;
$desktop-title-color: #007ac9;
$desktop-title-arrow-icon-color: $secondary-color;
$top-bar-color: $primary-color;
$disclaimer-background-color: #e5f2fa;
$disclaimer-border-color: #e5f2fa;
$link-color-accessible: $hsl-blue-accessible;

/* Vehicle palette */
$airplane-color: #0046ad;
$bus-color: $hsl-blue;
$bus-express-color: $hsl-bus-express;
$speedtram-color: #007e79;
$tram-color: $hsl-tram-green;
$metro-color: $hsl-metro-orange;
$rail-color: $hsl-rail-red;
$ferry-color: $hsl-ferry-blue;
$wait-color: #aaa;

/* Fonts */
$font-family: 'Gotham Rounded A', 'Gotham Rounded B', arial, georgia, serif;
$heading-font-family: $font-family;
$button-font-family: $font-family;
$font-weight-medium: 500;
$font-narrow-weight-medium: 500;
$letter-spacing: -0.025em;
$font-size-medium-large: 1rem;
$font-family-narrow: 'Gotham XNarrow SSm A', 'Gotham XNarrow SSm B',
  'Gotham Rounded A', 'Gotham Rounded B', arial, georgia, serif;

/* Spinner */
$spinner-image: url('hsl-spinner.png');
$font-weight-disclaimer: 400 !important;

/* Borders */
$border-radius-disclaimer: 8px;
