/* General palette */
$white: #ffffff;
$black: #333;
$gray-blue: #7f929c;
$gray-blue-light: rgb(182, 193, 199);
$light-gray: #ddd;
$medium-gray: #ccc;
$gray: #999;

/* Palette */
$hsl-blue: #007ac9;
$hsl-dark-blue: #0062a1;
$hsl-tram-green: #00985f;
$hsl-metro-orange: #ff6319;
$hsl-train-red: #8c4799;
$hsl-ferry-blue: #00b9e4;
$hsl-pink: #f092cd;
$hsl-alert: #dc0451;
$hsl-disruption: rgb(254, 209, 3);

$primary-color: $hsl-blue;
$primary-font-color: $white;
$secondary-color: $hsl-dark-blue;
$secondary-font-color: $white;
$title-color: $white;
$favourite-color: $hsl-pink;
$hilight-color: $hsl-pink;
$action-color: $hsl-blue;
$disruption-color: $hsl-disruption;
$disruption-passive-color: rgb(77, 162, 217);

/* Fonts */
$font-family: Nunito, Arial, Georgia, Serif;
$font-family-narrow: 'Open Sans Condensed', 'Arial Condensed', Arial, Georgia, Serif;

$body-font-family: $font-family;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 900;

/* Application base colors */
$background-color: #eef1f3;
$dark-color: $gray;

/* Vehicle colors */
$bus-color: $hsl-blue;
$tram-color: $hsl-tram-green;
$metro-color: $hsl-metro-orange;
$train-color: $hsl-train-red;
$ferry-color: $hsl-ferry-blue;
$from-color: #64be14;
$to-color: #f092cd;
$walk-color: $gray;

/* Borders */
$border-radius: 3px;
