/* HSL theme */

/* General palette */
$white: #ffffff;
$light-gray: #ddd;
$medium-gray: #ccc;
$gray: #888;
$dark-gray: #575757;
$black: #333;
$gray-blue: #78909c;
$gray-blue-light: rgb(182, 193, 199);

/* Operator palette */
$hsl-blue: #007ac9;
$hsl-dark-blue: #0062a1;
$hsl-pink: #f092cd;
$hsl-alert: #dc0451;
$hsl-tram-green: #00985f;
$hsl-metro-orange: #ff6319;
$hsl-rail-red: #8c4799;
$hsl-ferry-blue: #00b9e4;

/* Application palette */
$background-color: #eef1f3;
$primary-color: $hsl-blue;
$primary-font-color: $white;
$secondary-color: $hsl-dark-blue;
$secondary-font-color: $white;
$favourite-color: $hsl-pink;
$hilight-color: $hsl-pink;
$action-color: $hsl-blue;
$cancelation-red: #dc0451;
$cancelation-black: #666;
$cancelation-background: #fbe0ea;
$disruption-color: $cancelation-red;
$realtime-color: #46b32a;
$dark-color: $gray;

/* Component palette */
$title-color: $white;
$standalone-btn-color: $primary-color;
$standalone-btn-hover-color: $secondary-color;
$standalone-btn-active-color: $secondary-color;
$viewpoint-marker-color: $hsl-blue;
$link-color: $gray-blue;
$from-color: #64be14;
$to-color: #f092cd;
$slider-warning-color: #FC7C08;
$slider-ok-color: #55B511;

/* Vehicle palette */
$airplane-color: black;
$bus-color: $hsl-blue;
$tram-color: $hsl-tram-green;
$metro-color: $hsl-metro-orange;
$rail-color: $hsl-rail-red;
$ferry-color: $hsl-ferry-blue;
$citybike-color: #FBB800;
$walk-color: #6ba3af;
$wait-color: #979797;
$bicycle-color: #64be14;
$car-color: #333;

/* Fonts */
$font-family: "Gotham Rounded SSm A","Gotham Rounded SSm B", Arial, Georgia, Serif;
$font-weight-book: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-map-container: $font-weight-book;
$letter-spacing: -0.025em;

$font-family-narrow: "Gotham XNarrow SSm A","Gotham XNarrow SSm B", Arial, Georgia, Serif;
$font-narrow-weight-book: 400;
$font-narrow-weight-medium: 500;
$narrow-letter-spacing: 0;

$line-height-normal: 1.2;

$font-size-xsmall: 12px;
$font-size-small: 13px;
$font-size-smallish: 14px;
$font-size-normal: 15px;
$font-size-large: 24px;
$font-size-xlarge: 32px;

/* Borders */
$border-radius: 3px;
$border-radius-bigger: 8px;

/* Navbar logo */
$nav-logo: url('/img/hsl-logo.png');

/* Spinner */
div.spinner-loader {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIgAAACICAMAAAALZFNgAAAAw1BMVEUAAAD////xls/+9fv++fz////////////////xmdD1tN361u30rdr62u7////2u+D3wePzqNf////////yndL////////4yeb////////3xuX////////////yoNTzo9X////////////////////////5zun74/L86fX////////////////////////////////////////////////////////////97ff////////////////////////////wks2WEDdiAAAAQHRSTlMAs/y5t7KAGU354srnx6zd2Os2AfWwH9KnktVpDw3y8CikhXpjIs/Dv5ZxMQdRoJyLdDoECl5BLrwmFW5FmFtK7AF8pAAABplJREFUeNrE1+l6mlAQBuD5OAcQQVAUwX3fkhjjkj1tuf+ramubPhlAExXo+zMx8WPOzAB0ru1ks2yNhotBYAN2MFgMR63lZrKlHG37hfXCQyJvsS4855JGL2g2fpubTceqdA1FCUNFMboVy2mac/xmawWdMlX/vthnmBZ7SphI6RWn+zSL73XKSKfQACCmRSP8hFGcCgCNQofSN7myAeFXwi+q+AKwryaUrushgJIVnsQqARheU3oe7wDZrIUnqzUlcPeYVocOAeEo4VkURwDDNPq23fJYjLOieK02XehhAPhKeBGlCQwe6BIvGlDqhhfrlgDthc62CSCKYSqKAsGGznPzCphGmBLDBF5v6Ax6A/JoOWqW45uzJyEAIZ5mpu9YtaNFkWjoZ6ywAPOD3aFUyiWJBLJUrigHO2WO4OT19ubBVA7dScx9iFttXHD7emdHtOvofbcw1m73YcxDdyPFhPdGp6jeA+UwkWUCUBtjt00J2u64oQIwrTBRGbivnpCjBRQTi1EWgKe9temI9pvmAaJsJDYK0Kp+OccVpJXUnb7k9/bjTwzSryVVVOKq+vUclYRq+BLqqE9f1B+pkH5CVSosyfFzkb0wxhFQ1zqdQF+rEE4Y05NfO537pHr0ZoBWpxPVNWDWS6rJPX3qB1BJavaVS2e4XgHlpCQ/Pv1LNT4vtRnU8Q2d5WasYlaLz473SEfpQfwCLIFVn87WX0FY8RIH+tH8DZgJxzLa0QV2o4TjMdE4VuNXzJWQUaZQl1W6SHWpYhr9v3O80kEbyG7k8yXYLl3MtVGKJOlKbOiAlwDFWI7BhFLwGMSSFBG8UDINZizHrU6pqN/GkpjQKNEDhJFmDk6PJTEEHihBexA9mCkGOqVGH2AaPZxBm+JaKEXn1p5Qiup2dIpLaCV8TAVfgBZUl1LlqrD4yoZap6ghmvxDAktK2RKCX2wTw9h8QfBWmmFUpZRVR5jxcRB4JO4OTqRBVjtK3W4VaRMHd8RcRwrSg9qnDPRV9CIluY50iBM5mDFlYhw5HId3yQRS4b9e3VAmblb8khWJjzviCs3IznMpI25kfzdxRf90bL5DfGiUGQ0+3yV2h94V+FKtSbVOmamrssbXa4HeNWDxgqwpQ2teEguNfxn57BpS1SlDuioNPsHv9b/nEcsYUaZGKPMD+E5/fEOFJ+xTpvr8BCr4Rns6RPTMshTvSQH978xMo12cpfiUTv9+o8aezAx4HcpYx4PBntQ0+mVrx36asfi121siesacP1s/UOYe+PvCHM+xFlGk2qbMtVWpxJpkzcpUwR3l4I5tjOJ+lS/QY9tsTDkYs53Ww4Jo60Fhw+tSDlw2wAq8LU14r0q0KQdtSN6tE9qwBq7hlnJxixob1Q0t0WT7XaNcaGzLN7GkFhz2sDqmXIwjX9uiEYvmo0C5KMBnBzGiIZtoEy7lwoXJtteQFuiy95lnysUze7/pYkEDdst7gk650PHEbnsDCtg+E+hQLjoQbKMFZEeC7CgXO0gWxCYg/ACgfMS+9z8GUT5WBP/vaH42cz69CQJBFGcsoEkbLy0WsYVKw0HBBjWoxVr7/T9VezDRHZb/sK+/M4dNFpadmfceebe/3zHuZSXn9oi3cZ8v6e5NO3yOO9CIDu5lHQeiBe6I/0N3vMHAc3Qi8nE/PZF33DVAZIa7GImscFdFkQ3s8swIYOWEiLUFFVgJiSxwJafIGlaEk8gI1pZgfMIaNSLjLax1JWLKm3lnrWfOxBjB2puMIarhyzjBWuCM7+tQ4EfpUIAYE9SYhDFFDY6IMUKN0hjjV9BwkbNEjVs5AWgAzfFRI3lOCBIpcOJy2ca6e9nGmjLsMUKWDD5I2sMxJtXETuyx1mKnDDOM/CvD/KWyIC7VOiL9oCw7iEQwi6leNPlmUxY7rScjDTuRkUrYIIS1Eo4AqbGMaaRefC3DHjaSo1vN5egWyTD25VWYLhfohw0F+nLOyi0LcpJ2Jo5lPRPH0qAcZo9qbS051DPYtDf6FKxDkfVpZ1rEYPvSnRksTvLMYElsUCHJY1/2uEjToqs9rgTrS4VhsBw77NFCWWNF02G/ptLL8KeUY9S/zdY9lG/LRonx2NWpGDNtbcV2Klmxn6mI+U6ZOd2jXJg5vSlBNbv+gHLxgw4DDO6cp4YL4QEG7SMd7h/qbg2PdFAScuEQRxJyoSD2g3++Xcd+8CCUEwtCyT3QTgVBKH1Fw7Ajvs9oGB6Ws/oHYTlifFB8jQ+K28UH/QKTdq7XK/KR+AAAAABJRU5ErkJggg==');
}
