/* HSL theme */

/* General palette */
$white: #ffffff;
$black: #333;
$gray-blue: #7f929c;
$gray-blue-light: rgb(182, 193, 199);
$light-gray: #ddd;
$medium-gray: #ccc;
$dark-gray: #575757;
$gray: #888;

/* Palette */
$hsl-blue: #007ac9;
$hsl-dark-blue: #0062a1;
$hsl-tram-green: #00985f;
$hsl-metro-orange: #ff6319;
$hsl-rail-red: #8c4799;
$hsl-ferry-blue: #00b9e4;
$hsl-pink: #f092cd;
$hsl-alert: #dc0451;
$hsl-disruption: #fed100;

$primary-color: $hsl-blue;
$primary-font-color: $white;
$secondary-color: $hsl-dark-blue;
$secondary-font-color: $white;
$title-color: $white;
$favourite-color: $hsl-pink;
$hilight-color: $hsl-pink;
$action-color: $hsl-blue;
$disruption-color: $hsl-disruption;
$disruption-passive-color: rgb(77, 162, 217);
$cancelation-red: #dc0451;
$cancelation-black: #666;
$cancelation-background: #fbe0ea;

/* Markers */
$viewpoint-marker-color: $hsl-blue;

/* Fonts */
$font-family: "Gotham Rounded SSm A","Gotham Rounded SSm B", Arial, Georgia, Serif;
$font-weight-book: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$letter-spacing: -0.025em;

$font-family-narrow: "Gotham XNarrow SSm A","Gotham XNarrow SSm B", Arial, Georgia, Serif;
$font-narrow-weight-book: 400;
$font-narrow-weight-medium: 500;
$narrow-letter-spacing: 0;

$line-height-normal: 1.2;

$font-size-xsmall: 12px;
$font-size-small: 13px;
$font-size-smallish: 14px;
$font-size-normal: 16px;
$font-size-large: 24px;
$font-size-xlarge: 32px;

/* Application base colors */
$background-color: #eef1f3;
$dark-color: $gray;

$link-color: $gray-blue;
$realtime-color: #46b32a;

/* Vehicle colors */
$airplane-color: black;
$bus-color: $hsl-blue;
$tram-color: $hsl-tram-green;
$metro-color: $hsl-metro-orange;
$rail-color: $hsl-rail-red;
$ferry-color: $hsl-ferry-blue;
$citybike-color: #FBB800;
$from-color: #64be14;
$to-color: #f092cd;
$walk-color: #6ba3af;
$wait-color: #979797;
$bicycle-color: #64be14;
$car-color: #333;

/* Borders */
$border-radius: 3px;

/* Slider colors */
$slider-warning-color: #FC7C08;
$slider-ok-color: #55B511;