$primary-color: #007ac9;

.favourite-edit-modal-desktop-container {
  display: flex;
  flex-direction: column;
  .favourite-edit-modal-desktop-top {
    display: flex;
    flex-direction: row;
    width: 100%;
    .favourite-edit-modal-desktop-header {
      width: 100%;
      padding: 46px 0 0 43px;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.33;
      letter-spacing: -0.6px;
      color: #333333;
    }
    .favourite-edit-modal-desktop-close {
      cursor: pointer;
      height: 16px;
      margin: 20px 20px 0 0;
      text-align: right;
      svg {
        fill: $primary-color;
        width: 16px;
        height: 16px;
      }
    }
  }
  .favourite-modal-desktop-main {
    padding: 0 43px 0 44px;
    margin-top: 26px;
  }
}
